<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>驾驶证记分查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
	<script type="text/javascript" src="/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" language="javascript">
		var randomKey = "<%= locals.randomKey %>"
				,licenseNo = ""
				,fileNo = ""
				,userID = "<%= locals.userID%>"
				,clientID = "<%= locals.clientID %>",
				cityID = "<%= locals.cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				local_x = "<%= locals.local_x %>"
				,local_y = "<%= locals.local_y %>"
				,sfCode = "<%= locals.sfCode %>",
            	localFrom = "<%= locals.localFrom %>";
	</script>
    <script type="text/javascript" src="/js/deduction/deduction.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--头部-->
		<!--<header>-->
			<!--<ul>-->
				<!--<li><a href="javascript:;"><img src="../images/logo.png" class="img-logo"></a></li>-->
				<!--<li class="active"><a href="javascript:;">公共服务</a></li>-->
				<!--<li><a href="javascript:;">推荐</a></li>-->
				<!--<li><a href="javascript:;">现场云</a></li>-->
				<!--<li><a href="javascript:;">北京</a></li>-->
				<!--<li><a href="javascript:;"><img src="../images/icon-add.png" class="img-add"></a></li>-->
			<!--</ul>-->
		<!--</header>-->
		<!--banner图-->
		<% include ../header.html %>
		<!--驾驶证记分查询-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<!--<h1 class="p-q-tit"><img src="../images/icon-return.png" class="icon-return"/>驾驶证记分查询</h1>-->
				<h1 class="p-q-tit">驾驶证记分查询</h1>
				<div class="text-list-div">
					<label>驾驶证号码</label>
					<input id="driver_data1" type="text" placeholder="请输入驾驶证号码" />
				</div>
				<div class="text-list-div">
					<label>档案编号</label>
					<!--<span class="car-num">京</span>-->
					<input id="driver_data2" type="text" placeholder="请输入档案编号" />
				</div>
				<div class="text-list-div text-list-code">
					<label>验证码</label>
					<input id="driver_data3" type="text" placeholder="请输入验证码" />
					<img id="driver_image" src="" class="img-code">
				</div>
				<div class="btn-box">
					<input id="driver_submit" type="button" value="查询" />
				</div>
			</div>
		</div>
		<div class="queryResult" id="driver_result" style="display: none">
			<h2 class="q-r-tit"><span></span>查询结果</h2>
			<div id="driver_line1" class="drivingfraction"></div>
			<p id="driver_line3" class="drivingDescribe">说明：<span  id="driver_line2">驾驶证累计记分满12分的，应当在十五日内到驾驶证核发地或者违法行为地公安机关交通管理部门参加为期七日的道路交通安全法律、法规和相关知识学习并参加考试。</span></p>
		</div>
		<!-- 查询动画提示开始-->
		<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- 查询动画提示结束-->
		<div class="masktime" id="masktime" style="display:none;"></div>
		<div style="height:1.5rem"></div>
		<div class="data-sources">服务来源：公安部交通安全综合服务管理平台</div>
		<!--<footer>-->
			<!--<img src="../images/footer.png">-->
		<!--</footer>-->
	</div>
</body>
</html>