<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>选择科室</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
    <script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script  type="text/javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";

  </script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox" id="userAvatarBox">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
			</div>
		</div>
		<!--选择科室-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" id="back"/>选择科室</h1>
				<hr class="hrLine">
				<div class="peccancyQuery userInfor onlyStyle departList" id="hosList">
					<!--<dl class="hosList">-->
						<!--<dt><a href="javascript:;"><img src="/images/hospital/hotImg1.png"></a></dt>-->
						<!--<dd class="title">北京协和医院</dd>-->
						<!--<dd class="time"><span>三级甲等</span><span>每天08:30放号</span></dd>-->
						<!--<dd class="tel">医院总机查号台：69156114</dd>-->
						<!--<dd class="getAddress">-->
							<!--<i class="icon-address"></i>-->
							<!--[东院]北京市东城区帅府园一号 [西院]北京市西城区大木仓胡同41号-->
						<!--</dd>-->
					<!--</dl>-->
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle clearfix">
				<div class="tabTitle">
					<ul id="hospitalCategory">
						<!--<li class="active firstOn"><a href="javascript:;">知名专家团队</a></li>-->
						<!--<li><a href="javascript:;">专病专症门诊</a></li>-->
						<!--<li><a href="javascript:;">眼科</a></li>-->
						<!--<li><a href="javascript:;">眼科特需</a></li>-->
						<!--<li><a href="javascript:;">耳鼻喉头颈外科</a></li>-->
						<!--<li><a href="javascript:;">鼻过敏科</a></li>-->
						<!--<li><a href="javascript:;">内科</a></li>-->
						<!--<li><a href="javascript:;">外科</a></li>-->
						<!--<li><a href="javascript:;">心血管中心</a></li>-->
						<!--<li><a href="javascript:;">传统医学科</a></li>-->
						<!--<li><a href="javascript:;">妇产科</a></li>-->
					</ul>
				</div>
				<div class="depar-tabCon" id="hospitalCategoryInfo">
					<!--<div class="tabConBox">-->
						<!--<p>付晶斜弱视、视光及儿童眼病知名  视光及儿童眼病知名</p>-->
						<!--<p>李永新人工耳蜗、中耳炎、耳聋知</p>-->
						<!--<p>李云川难治性鼻窦炎和鼻整形知名</p>-->
						<!--<p>栗光明肝胆胰脾疾病及腹膜后肿瘤</p>-->
						<!--<p>卢海复杂眼外伤及疑难小儿眼底病</p>-->
						<!--<p>彭晓燕眼底病知名专家团队</p>-->
						<!--<p>唐析青光眼知名专家团队</p>-->
						<!--<p>王佳伟神经免疫感染知名专家团队</p>-->
						<!--<p>王宁利疑难青光眼及白内障、高度</p>-->
						<!--<p>魏文斌疑难眼底病及眼内肿瘤知名</p>-->
						<!--<p>杨金奎糖尿病、甲状腺等内分泌疾</p>-->
					<!--</div>-->
					<!--<div class="tabConBox" style="display: none;">-->
						<!--<p>2</p>-->
					<!--</div>-->
					<!--<div class="tabConBox" style="display: none;">-->
						<!--<p>3</p>-->
					<!--</div>-->
					<!--<div class="tabConBox" style="display: none;">-->
						<!--<p>4</p>-->
					<!--</div>-->
					<!--<div class="tabConBox" style="display: none;">-->
						<!--<p>5</p>-->
					<!--</div>-->
					<!--<div class="tabConBox" style="display: none;">-->
						<!--<p>6</p>-->
					<!--</div>-->
					<!--<div class="tabConBox" style="display: none;">-->
						<!--<p>7</p>-->
					<!--</div>-->
					<!--<div class="tabConBox" style="display: none;">-->
						<!--<p>8</p>-->
					<!--</div>-->
					<!--<div class="tabConBox" style="display: none;">-->
						<!--<p>9</p>-->
					<!--</div>-->
					<!--<div class="tabConBox" style="display: none;">-->
						<!--<p>10</p>-->
					<!--</div>-->
					<!--<div class="tabConBox" style="display: none;">-->
						<!--<p>11</p>-->
					<!--</div>-->
				</div>
				<div id="errorConent"></div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<!-- 查询动画提示开始-->
		<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- 查询动画提示结束-->
		<div class="data-sources">服务来源：北京市预约挂号统一平台</div>
	</div>
	<script src="/js/hospital/department.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>