<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>登录</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/hospital/hospital.css" />
    <script type="text/javascript" src="/lib/jquery.min.js" ></script>
    <script type="text/javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>"
            ,comeFrom = "<%= comeFrom %>",
            localFrom = "<%= locals.localFrom %>";
  </script>
	<script type="text/javascript" src="/js/hospital/sha1.js"></script>
	<script src="/js/hospital/login.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--登录-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img id="back" src="/images/icon-return.png" class="icon-return"/>登录</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>手机号码</label>
					<input id="username" type="text" placeholder="已注册手机号码 " />
				</div>
				<div class="text-list-div">
					<label>登录密码</label>
					<input id="password" type="password" placeholder="登录密码" />
				</div>
				<div id="velidateox" class="text-list-div phone-list-code" style="display:none;">
					<label>验证码</label>
					<input id="verifycode" type="text" placeholder="请输入验证码" />
					<img id="veriCodeImg" src="" class="img-code">
				</div>
				<div class="btn-box">
					<input id="login" type="button" value="登录" />
				</div>
				<!--<div id="resigter" class="regBox"><a href="javascript:;">立即注册</a></div>-->
			</div>
		</div>
		<div class="masktime" id="masktime" style="display: none"></div>
		<div class="data-sources">服务来源：北京市预约挂号统一平台</div>
		<!--正在登录..-->
		<div id="loadMask" class="loadMask" style="display: none"></div>
		<div id="mainTips" class="mainTips" style="display: none">
			<div><img src="images/loading.gif"></div>
			<p>正在自动登录</p>
		</div>
	</div>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
<script type="text/javascript">
	if(localFrom == "xinhuashe_app"){
		var USERNAME = sessionStorage.getItem('hospital_USERNAME'),
				PASSWORD = sessionStorage.getItem('hospital_PASSWORD');
		document.getElementById('username').value = USERNAME;
		document.getElementById('password').value = PASSWORD;
	}
</script>
</html>