<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>北京市预约挂号</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/hospital/hospital.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>

    <script  type="text/javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
  </script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox" id="userAvatarBox">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
			</div>
		</div>
		<!--北京市预约挂号-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" id="back"/>北京市预约挂号</h1>
				<div class="query-date-title reserve-title">
					<span id="medicine">北京大学第三医</span>
					<span id="outpatient">中医科门诊</span>
				</div>
				<!--日历-->
				<div class="calenTable" id="calenTable">
					<table class="table" border="0" cellpadding="0" cellspacing="0" id="tabRili">
					</table>
				</div>
				<div class="dateConInfor">
					<p class="title">预约规则：</p>
					<div id="outpatientTime">
					<!--<p>更新时间：每日09:30更新</p>
					<p>预约周期：7天</p>
					<p>停挂时间： 15:00:00</p>
					<p>退号时间： 就诊前一工作日15:00前取消</p>-->
					</div>
					<!--<p class="title">特殊规则：</p>-->
					<!--<p>①无就医卡的患者取号前须先到我院门诊发卡中心办理我院就医卡，医保患者须在办卡的同时提供社保卡进行关联；</p>-->
					<!--<p>②目前【生殖医学中心】只预约女性患者；【男科】只预约男性患者；</p>-->
					<!--<p>③我院的预约取号地点有多个，请按照预约成功短信提示或者预约须知里注明的地点取号就诊；周末本部号源取号地点为门诊楼一层。</p>-->
					<!--<p>④ 16周岁以下患者(含16周岁)只能预约口腔科门诊-正畸专业及儿科门诊、耳鼻喉科门诊、眼科门诊、成形科门诊、皮肤科门诊相关专业号源；</p>-->
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>

		<!-- 查询动画提示开始-->
		<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- 查询动画提示结束-->

		<div class="data-sources">服务来源：北京市预约挂号统一平台</div>
	</div>
	<script src="/js/hospital/reserveDate.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>