<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>预约详情</title>
  <link type="text/css" rel="stylesheet" href="/css/news.css" />
  <link rel="stylesheet" href="/css/hospital/hospital.css">
  <script type="text/javascript" src="/lib/zepto.min.js" ></script>
  <script  type="text/javascript">
      var randomKey = "<%= randomKey %>"
          ,userID = "<%= userID%>"
          ,clientID = "<%= clientID %>",
          cityID = "<%= cityID %>",
              citySRC = "<%= cityInfo.citySRC %>",
          local_x = "<%= local_x %>"
          ,local_y = "<%= local_y %>",
          localFrom = "<%= locals.localFrom %>";
  </script>
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
<div class="max">
  <!--banner图-->
  <div class="banner">
      <% include ../header.html %>
      <div id="userAvatarBox" class="userAvatarBox">
          <a href="javascript:;">
              <p><img src="/images/hospital/userAvatar.png"></p>
              <p>个人中心</p>
          </a>
      </div>
  </div>
  <!--挂号预约个人中心-->
  <div class="warpBox">
    <div class="peccancyQuery XLQuery-home">
        <h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" id="back"/>预约详情</h1>

    </div>
    <div class="peccancyQuery userInfor onlyStyle doctor-info">
      <div class="doctorTitle"><h3>您已成功预约<span id="hosDoc"><%= locals.hospitalName %></span>&nbsp;&nbsp;<span id="hoskeshi"><%= locals.departmentName %></span></h3></div>

      <div class="tab-content gjj-list ">
        <!--就诊信息-->
        <div class="doctor-Details" id="Detail">
         <ul>
            <li><img src="/images/hospital/radio.png" alt=""><span class="w125">就诊医院：</span><%= locals.hospitalName %></li>
            <li><img src="/images/hospital/radio.png" alt=""><span class="w125">就诊科室：</span><%= locals.departmentName %></li>
            <!--<li><img src="/images/hospital/radio.png" alt=""><span class="w125">医生职称：</span></li>-->
            <li><img src="/images/hospital/radio.png" alt=""><span class="w125">候诊时间：</span><span class="timeColor"><%= locals.ampm %></span></li>
            <li><img src="/images/hospital/radio.png" alt=""><span class="w125">取号时间：</span><span><%= locals.offerTime %></span></li>
            <li><img src="/images/hospital/radio.png" alt=""><span class="w125">识别码：</span><span><%= locals.recognitionCode %></span></li>
            <li><img src="/images/hospital/radio.png" alt=""><span class="w125">患者姓名：</span><%= locals.patientName %></li>
            <li><img src="/images/hospital/radio.png" alt=""><span class="w125">证件类型：</span><span><%= locals.idTypeName %></span></li>
            <!--<li><img src="/images/hospital/radio.png" alt=""><span class="w125">医事服务费：</span>￥<span class="colorTxt"></span>元</li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 1.3rem;"></div>
  <div class="data-sources">服务来源：北京市预约挂号统一平台</div>
  <script src="/js/hospital/reserveDetails.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
</div>
</body>
</html>