<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>申报信息填写</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/jxzwfww/jxzwfww.css"/>
	<script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" src="/lib/axios.js"></script>
	<script  type="text/javascript">
		var randomKey = sessionStorage.getItem('randomKey'),
				userID = sessionStorage.getItem('userID'),
				clientID = sessionStorage.getItem('clientID'),
				cityID = sessionStorage.getItem('cityID'),
				local_x = sessionStorage.getItem('local_x'),
				local_y = sessionStorage.getItem('local_y'),
				localFrom = sessionStorage.getItem('localFrom');
	</script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="infoFill">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
			<div class="address linmu"><span>林木种子生产经营许可在线办理</span></div>
		</div>
		<!--申报结果-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home heNanReg">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" @click="render('readNotice')"/>申报信息填写</h1>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<div class="jxSltj marBotNot">
					<label>基本信息：</label>
					<span>您所填写的个人信息仅供系统使用，不对外公开。</span>
				</div>
				<table class="jxzwTable tableBorTop">
					<tr>
						<td>姓名*</td>
						<td>{{realname}}</td>
					</tr>
					<tr>
						<td>证件类型*</td>
						<td>身份证</td>
					</tr>
					<tr>
						<td>证件号码*</td>
						<td>{{idcard}}</td>
					</tr>
					<tr>
						<td>联系电话*</td>
						<td>{{phoneNumber}}</td>
					</tr>
					<tr>
						<td>联系地址*</td>
						<td><input type="text" placeholder="联系地址" v-model="address"></td>
					</tr>
					<tr>
						<td>邮箱</td>
						<td><input type="text" placeholder="邮箱" v-model="email"></td>
					</tr>
					<tr>
						<td>项目名称*</td>
						<td><input type="text" placeholder="项目名称" v-model="xmmc"></td>
					</tr>
					<tr>
						<td>备注</td>
						<td><textarea value="备注"></textarea></td>
					</tr>
				</table>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<div class="jxSltj marBotNot">
					<label>申报材料：</label>
				</div>
				<div class="sbclTips">
					<p>1、为必要材料，您必须提交才能申报。</p>
					<p>2、为容缺后补材料，您可以在网上预受理后在窗口提交。</p>
					<p>3、为非必要材料，根据您实际情况选择提交。</p>
				</div>
				<table class="jxzwTable infoFillTab">
					<tr>
						<th width="15%">序号</th>
						<th width="40%">申报材料名称</th>
						<th width="45%">操作</th>
					</tr>
					<tr>
						<td>1</td>
						<td>林木种子生产经营许可证申请表</td>
						<td>
							<div class="btnSelectBox"><a href="javascript:;" @click="radioClick($event)">窗口提交</a></div>
							<div class="btnSelectBox" style="position: relative;">
								<a href="javascript:;">浏览</a>
								<input type="file" name="file" value="" @change="imgChange($event,'tableFileName','uploadTableFile')"
									   style="width:50%;height:100%;position: absolute;top: 0;opacity:0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=0)'"/>
								<div v-if="tableFileName" class="btnUploadFile">{{tableFileName}}</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>营业执照或者法人证书（经营范围和方式应覆盖申报的种类）</td>
						<td>
							<div class="btnSelectBox"><a href="javascript:;" @click="radioClick($event)">窗口提交</a></div>
							<div class="btnSelectBox" style="position: relative;">
								<a href="javascript:;">浏览</a>
								<input type="file" name="file" value="" @change="imgChange($event,'certificateFileName','uploadCertificateFile')"
									   style="width:50%;height:100%;position: absolute;top: 0;opacity:0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=0)'"/>
								<div v-if="certificateFileName" class="btnUploadFile">{{certificateFileName}}</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>身份证件</td>
						<td>
							<div class="btnSelectBox"><a href="javascript:;" @click="radioClick($event)">窗口提交</a></div>
							<div class="btnSelectBox" style="position: relative;">
								<a href="javascript:;">浏览</a>
								<input type="file" name="file" value="" @change="imgChange($event,'idcardFileName','uploadIdcardFile')"
									   style="width:50%;height:100%;position: absolute;top: 0;opacity:0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=0)'"/>
								<div v-if="idcardFileName" class="btnUploadFile">{{idcardFileName}}</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>4</td>
						<td>单位章程（须加盖企业公章）</td>
						<td>
							<div class="btnSelectBox"><a href="javascript:;" @click="radioClick($event)">窗口提交</a></div>
							<div class="btnSelectBox" style="position: relative;">
								<a href="javascript:;">浏览</a>
								<input type="file" name="file" value="" @change="imgChange($event,'unitcharterFileName','uploadUnitcharterFile')"
									   style="width:50%;height:100%;position: absolute;top: 0;opacity:0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=0)'"/>
								<div v-if="unitcharterFileName" class="btnUploadFile">{{unitcharterFileName}}</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>5</td>
						<td>林木种子生产、加工、检验、储藏等设施和仪器设备的所有权或者使用权说明材料以及照片</td>
						<td>
							<div class="btnSelectBox"><a href="javascript:;" @click="radioClick($event)">窗口提交</a></div>
							<div class="btnSelectBox" style="position: relative;">
								<a href="javascript:;">浏览</a>
								<input type="file" name="file" value="" @change="imgChange($event,'equipmentFileName','uploadEquipmentFile')"
									   style="width:50%;height:100%;position: absolute;top: 0;opacity:0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=0)'"/>
								<div v-if="equipmentFileName" class="btnUploadFile">{{equipmentFileName}}</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>6</td>
						<td>林木种子生产、加工、检验、储藏等技术人员基本情况的说明材料以及劳动合同</td>
						<td>
							<div class="btnSelectBox"><a href="javascript:;" @click="radioClick($event)">窗口提交</a></div>
							<div class="btnSelectBox" style="position: relative;">
								<a href="javascript:;">浏览</a>
								<input type="file" name="file" value="" @change="imgChange($event,'employeeFileName','uploadEmployeeFile')"
									   style="width:50%;height:100%;position: absolute;top: 0;opacity:0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=0)'"/>
								<div v-if="employeeFileName" class="btnUploadFile">{{employeeFileName}}</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>7</td>
						<td>从事林木种子生产的，还应当提供生产地点无检疫性有害生物证明。其中从事籽粒、果实等有性繁殖材料生产的，还应当提供具有安全隔离条件的说明材料、县级以上人民政府林业主管部门确定的采种林分证明以及照片</td>
						<td>
							<div class="btnSelectBox"><a href="javascript:;" @click="radioClick($event)">窗口提交</a></div>
							<div class="btnSelectBox" style="position: relative;">
								<a href="javascript:;">浏览</a>
								<input type="file" name="file" value="" @change="imgChange($event,'hygieneFileName','uploadHygieneFile')"
									   style="width:50%;height:100%;position: absolute;top: 0;opacity:0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=0)'"/>
								<div v-if="hygieneFileName" class="btnUploadFile">{{hygieneFileName}}</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>8</td>
						<td>经营场所、生产用地权属证明材料以及生产用地的用途证明材料</td>
						<td>
							<div class="btnSelectBox"><a href="javascript:;" @click="radioClick($event)">窗口提交</a></div>
							<div class="btnSelectBox" style="position: relative;">
								<a href="javascript:;">浏览</a>
								<input type="file" name="file" value="" @change="imgChange($event,'landFileName','uploadLandFile')"
									   style="width:50%;height:100%;position: absolute;top: 0;opacity:0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=0)'"/>
								<div v-if="landFileName" class="btnUploadFile">{{landFileName}}</div>
							</div>
						</td>
					</tr>
				</table>
				<div class="btn-box btnInfoBox clearfix">
					<input type="button" value="上一步" class="fl" @click="render('readNotice')" />
					<input type="button" value="提交" class="fr" @click="submit" />
				</div>
			</div>
		</div>
		<div class="masktime" v-if="masktime">{{masktime}}</div>
		<!-- ---------------------------------------查询动画提示开始--------------------------------------------- -->
		<div class="mask" style="opacity: 0;" id="dialogMask" v-if="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;" id="dialog" v-if="dialogMask">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>请求中</p>
		</div>
		<!-- ---------------------------------------查询动画提示结束--------------------------------------------- -->
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：江西政务服务网</div>
	</div>
</body>
<script type="text/javascript" src="/js/jxzwfww/infoFill.js"></script>
</html>