<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>小客车摇号结果查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/parkingLot.css" />
	<script type="text/javascript" language="javascript">
		var randomKey = "<%= randomKey %>"
				,userID = "<%= userID%>"
				,clientID = "<%= clientID %>",
				cityID = "<%= cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				cityName = "<%= cityInfo.cityName %>",
				local_x = "<%= local_x %>"
				,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" src="/lib/axios.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<style>
		.accounts-all span {
    font-size: 0.38rem;
    color: #474747;
    margin-right: 0.69rem;
	}
	.accounts-all span i.icon-check{
		width: .34rem;
		height: .34rem;
		display:inline-block;
	}
	.accounts-all span i.icon-check{
		background: url("/assets/images/yaohao/icon-yh-default.png") no-repeat ;
		background-size: 0.34rem 0.34rem;
	}
	.accounts-all span .icon-check.check-true{
		background: url("/assets/images/yaohao/icon-yh-check.png") no-repeat ;
		background-size: 0.34rem 0.34rem;
	}
	.masktime{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 231px;
		height: 49px;
		background: #000;
		color: #fff;
		font-size: 14px;
		text-align: center;
		line-height: 50px;
		border-radius: 4px;
		margin: auto;
	}
	</style>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max" >
		<!--banner图-->
		<% include ../header.html %>
		<!--北京市小客车摇号结果查询-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit">小客车摇号结果查询</h1>
				<hr class="hrLine">
				<div id="gz_check" class="text-list-div" v-if='cityID=="520100"'>
					<label>选择区域</label>
					<div class="accounts-all">
						<span><i class="icon-check"  @click='selecte()' :class="{'check-true':selectes}"></i><em style="padding-left: 6px;font-style: normal;">贵阳</em></span>
				    	<span><i class="icon-check" @click='selected()' :class="{'check-true':select}"></i><em style="padding-left: 6px;font-style: normal;">孟关</em></span>
					</div>
				</div>
				<div class="text-list-div">
					<label>申请编号</label>
					<input id="yaohao_id" type="number" placeholder="请输入摇号申请编码" v-model='placeholder' @focus="focus()"/>
				</div>
				<div class="btn-box">
					<input id="yaohao_search" type="button" value="查询" @click='getQuery'/>
				</div>
			</div>
		</div>

		<!--摇号中签-->
		<div id="yaohao_result" class="numResult-box" v-if='Correctcode=="000000"'>
				<div class="queryResult parkingQuery">
					<h2 class="q-r-tit"><span></span>查询结果</h2>
					<div id="yaohao_result_data" class="parkingResult">{{Correctmgs}}</div>
				</div>
				<div style="height: 1.3rem;"></div>
		</div>
		<!--摇号未中签-->
		<div class="numResult-box" v-if='errormgs'>
				<div class="queryResult parkingQuery">
					<h2 class="q-r-tit"><span></span>查询结果</h2>
					<div id="" class="parkingResult">{{errormgs}}</div>
				</div>
				<div style="height: 1.3rem;"></div>
		</div>

		<!--查询结果-->
		<div class="peccancyQuery userInfor onlyStyle" v-if='this.GzShow==true'>
			<h2 class="q-r-tit"><span></span>查询结果<small class="success">该编号已中签</small></h2>
			<hr class="hrLine">
			<div class="tab-content" v-for="item in GzCorrectcode" v-bind:key='item.id' style="margin-bottom: 2rem;">
				<div class="text-list-div clearfix">
					<label>区域:</label>
					<span>{{item.area}}</span>
				</div>
				<div class="text-list-div clearfix">
					<label>期号：</label>
					<span>{{item.No}}</span>
				</div>
				<div class="text-list-div clearfix">
					<label>申请编码：</label>
					<span>{{item.code}}</span>
				</div>
				<div class="text-list-div clearfix">
					<label>姓名或单位名称：</label>
					<span>{{item.name}}</span>
				</div>
				<div class="text-list-div clearfix">
					<label>摇号编码：</label>
					<span>{{item.number}}</span>
				</div>
			</div>
		</div>
		<!--默认提示-->
		<div class="login-tips XL-query" v-if="gzNo">
			<p><img src="../images/icon-tips.png">注意:</p>
			<p>1、摇号申请编码有效期为6个月，到期自动延长有效期6个月</p>
			<p>2、更新数据：2018-08-26，下次摇号：2018-10-26。</p>
			<p>3、目前仅支持个人用户的中签查询。</p>
		</div>
		<div class="login-tips XL-query" style="display: none;">
			<p><img src="../images/icon-tips.png">注意：目前只支持个人用户的中签查询</p>
		</div>
		<!--服务来源：北京-->
		<div class="data-sources">服务来源：{{citymessage}}</div>
		<!--服务来源：贵阳
		<div class="data-sources">服务来源：贵阳市小客车专段号牌管理信息系统</div>
		-->
		<!-- ---------------------------------------查询动画提示开始--------------------------------------------- -->
		<div class="mask" style="opacity: 0;" id="dialogMask" v-if="this.dialogMask==true"></div>
		<div class="dialog-tel timeM" style="text-align: center;" id="dialog" v-if="this.dialogMask==true">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
		</div>
		<!-- ---------------------------------------查询动画提示结束--------------------------------------------- -->
		<div class="masktime" id="masktime" v-if="masktime">{{masktime}}</div>
	</div>
	<script type="text/javascript" src="/js/caryaohao/newcaryaohao.js"></script>
</body>
</html>