<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>研究生考试查询结果</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/postgraduate/postgraduate.css">
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--研究生考试查询结果-->
		<div class="warpBox">
			<div class="peccancyQuery userInfor">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"  id="back"/><em id="time"> 2018</em>年部分考生初试成绩查询</h1>
				<hr class="hrLine">
				<div class="notFound">
					<div class="img-box"><img src="/images/notFound.png"></div>
					<div class="notF-infor">无查询结果!</div>
				</div>
				<div class="login-tips XL-query notF-tips">
					<p>注意：请检查您报考的招生单位是否已开通初试成绩查询功能</p>
				</div>
				<div class="btn-box">
					<input type="button" value="重新查询" id="backFn"/>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国研究生招生信息网</div>
	</div>
	<script>
        var time=new Date().getFullYear();
        $('#time').html(time);
        //根据当前城市显示banner图
        if (citySRC) {
            $('#noQuery_citySRC').attr("src", citySRC)
        } else {
            $('#noQuery_citySRC').attr("src", "/images/beijing.png")
        };
        $('#back,#backFn').on("click",function(){
            var url="/postgraduate?page=postgraduate&randomKey="+randomKey+"&userID="+userID.trim()+"&clientID="+clientID.trim()+"&cityID="+cityID.trim()+"&local_x="+local_x+"&local_y="+local_y;
            window.location.href=url;
		})
	</script>
</body>
</html>