<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>研究生考试查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css"/>
    <link rel="stylesheet" href="/css/postgraduate/postgraduate.css">
    <link rel="stylesheet" href="/css/mobileSelect.css"/>
    <script type="text/javascript" src="/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script type="text/javascript" src="/js/hospital/mobileSelect.js"></script>
    <script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>"
            , userID = "<%= userID%>"
            , clientID = "<%= clientID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            , local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
    </script>
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
<div class="max">
    <!--banner图-->
    <% include ../header.html %>
    <!--研究生考试查询-->
    <div class="warpBox">
        <div class="peccancyQuery XLQuery-home">
            <h1 class="p-q-tit"><em id="time">2018</em>年部分考生初试成绩查询</h1>
            <hr class="hrLine">
            <div class="text-list-div">
                <label>姓名</label>
                <input type="text" placeholder="请输入姓名" id="name"/>
            </div>
            <div class="text-list-div">
                <label>证件号码</label>
                <input type="text" placeholder="请输入证件号码" id="code"/>
            </div>
            <div class="text-list-div">
                <label>准考证号</label>
                <input type="text" placeholder="请输入准考证号" id="codeNum"/>
            </div>
            <div class="text-list-div downMenu-style">
                <label>省市</label>
                <!--<input type="text" placeholder="请选择报考单位" disabled class="disabled"/>-->
                <span id="examTrigger">请选择省市</span>
                <img src="/images/icon-downMenu.png" class="icon-downMenu" id="exam">
            </div>
            <div class="text-list-div downMenu-style">
                <label>报考单位</label>
                <!--<input type="text" placeholder="请选择省市" disabled class="disabled"/>-->
                <span id="cityTrigger">请选择报考单位</span>
                <img src="/images/icon-downMenu.png" class="icon-downMenu" id="city">
            </div>
            <div class="text-list-div text-list-code" style="display: none" id="veriCodeNum">
                <label>验证码</label>
                <input type="text" placeholder="请输入验证码" id="veriCode">
                <img src="/images/yanz.png" class="img-code" id="veriCodeImage">
            </div>

            <div class="inquireTips">
                <p>说明：1、姓名、证件号码必填，准考证号和报考单位至少填一项。</p>
                <p>2、仅显示已开通初试成绩查询的招生单位。</p>
            </div>
            <div class="btn-box">
                <input type="button" value="查询" onclick="getScore()"/>
            </div>
        </div>
    </div>
    <div style="height: 1.3rem;"></div>

    <div class="masktime" id="masktime" style="display:none;"></div>

    <div class="data-sources">服务来源：中国研究生招生信息网</div>
</div>
<script src="/js/postgraduate/Area.js"></script>
<script src="/js/postgraduate/postgraduate.js"></script>
</body>
</html>