<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>研究生考试查询结果</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/postgraduate/postgraduate.css">
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--研究生考试查询结果-->
		<div class="warpBox">
			<div class="peccancyQuery userInfor">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" id="back"/><em id="time">2018</em>年部分考生初试成绩查询结果</h1>
				<hr class="hrLine">

				<div id="resultPage"></div>
				<!--<div class="tab-content inforConfirm">-->
					<!--<div class="text-list-div clearfix">-->
						<!--<label>姓名：</label>-->
						<!--<span>赵青杰</span>-->
					<!--</div>-->
					<!--<div class="text-list-div clearfix">-->
						<!--<label>报名号：</label>-->
						<!--<span>411495099</span>-->
					<!--</div>-->
					<!--<div class="text-list-div clearfix">-->
						<!--<label>准考证号：</label>-->
						<!--<span>104758077503024</span>-->
					<!--</div>-->
				<!--</div>-->
			</div>

			<div id="resultDetail"></div>
			<!--<div class="peccancyQuery userInfor onlyStyle">-->
				<!--<div class="tab-content inforConfirm">-->
					<!--<div class="text-list-div textListTit clearfix">-->
						<!--<label class="resultsTitle"><span></span>总分：</label>-->
						<!--<span>326</span>-->
					<!--</div>-->
					<!--<div class="text-list-div clearfix">-->
						<!--<label>第一门：</label>-->
						<!--<span>（101）思想政治理论：59</span>-->
					<!--</div>-->
					<!--<div class="text-list-div clearfix">-->
						<!--<label>第二门：</label>-->
						<!--<span>（201）英语一：39</span>-->
					<!--</div>-->
					<!--<div class="text-list-div clearfix">-->
						<!--<label>第三门：</label>-->
						<!--<span>（601）微积分：113</span>-->
					<!--</div>-->
					<!--<div class="text-list-div clearfix">-->
						<!--<label>第四门：</label>-->
						<!--<span>（804）数据结构、操作系 统：115</span>-->
					<!--</div>-->
					<!--<div class="inquireTips">-->
						<!--<p>备注：全日制研究生，初试成绩在本专业的排序为：38，该排序仅供参考。</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->

		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国研究生招生信息网</div>
	</div>
	<script src="/js/postgraduate/resultsPage.js"></script>
</body>
</html>