<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>上海市公积金查询</title>
    <link rel="stylesheet" href="/css/news.css" />
	<link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/shgjj/shgjj.css" />
    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>",
            userID = "<%= userID%>",
            clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>",
            local_y = "<%= local_y %>",
            cityName = "<%= locals.cityInfo.cityName %>",
            citySRC = "<%= locals.cityInfo.citySRC %>",
            localFrom = "<%= locals.localFrom %>";
    </script>
	<script type="text/javascript" src="/js/shGjj/accountDetails.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>

	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<div class="banner" id="userBanner">
			<img src="/images/shgjj/sh-banner2.png">
			<div class="accountDetails">
				<div class="tit">公积金余额（元）</div>
				<div class="moneyNum" id="moneyNum" style="display: none;">
					<span>${zhye}</span>
					<img src="/images/shgjj/moneyShow.png" id="yeHide">
				</div>
				<div class="moneyNum moneyHide" id="moneyShow">
					<span>&lowast;&lowast;&lowast;</span>
					<img src="/images/shgjj/moneyHide.png" id="yeShow">
				</div>
				<div class="time" id="time">最后更新时间：${time}</div>
			</div>
			<div class="userAvatarBox">
				<a id="userCenter" href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
				<div id="userCenterList" class="dialog-userCenter" style="display:none;">
					<div class="triangle"></div>
					<ul>
						<li id="quit" onclick="back()"><a href="javascript:;"><i class="icon-quit"></i>切换账户</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--公积金查询-->
		<div class="warpBox">
			<div class="peccancyQuery userInfor shgjjCon">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" id="back"/>账户明细</h1>
				<hr class="hrLine">
				<ul class="gjj-tab clearfix" id="gjj-tab">
					<li class="active" id="zhmx"><a href="javascript:;">个人账户明细</a><span></span></li>
					<li id="jnmx"><a href="javascript:;" >缴纳明细</a><span></span></li>
				</ul>
			</div>
			<div class="gjj-tabCon" id="gjj-tabCon">
				<!--个人账户明细 start-->
				<div class="gjj-con">
					<div class="peccancyQuery userInfor onlyStyle" id="results_div_temp">
						<h2 class="q-r-tit"><span></span>个人信息</h2>
						<div class="text-list-div clearfix">
							<label>姓名：</label>
							<span>${xm}</span>
						</div>
						<div class="text-list-div clearfix">
							<label>开户日期：</label>
							<span>${khrq}</span>
						</div>
						<div class="text-list-div clearfix">
							<label>公积金账号：</label>
							<span>${gjjzh}</span>
						</div>
						<div class="text-list-div clearfix">
							<label>所属单位：</label>
							<span>${ssdw}</span>
						</div>
						<div class="text-list-div clearfix">
							<label>末次缴存年月：</label>
							<span>${mcjcny}</span>
						</div>
						<div class="text-list-div clearfix">
							<label>月缴存额：</label>
							<span>${yjce}</span>
						</div>
						<div class="text-list-div clearfix">
							<label>当前账户状态：</label>
							<span>${dqzhzt}</span>
						</div>
						<div class="text-list-div clearfix">
							<label>绑定手机号：</label>
							<span>${bdsjh}</span>
						</div>
						<div class="text-list-div clearfix">
							<label>实名认证状态：</label>
							<span>${smrzzt}</span>
						</div>
					</div>
				</div>
				<!--个人账户明细 start-->
				<!--缴纳明细 start-->
				<div class="gjj-con" style="display: none;">
					<div class="peccancyQuery userInfor onlyStyle">
						<h2 class="q-r-tit" id="nTitle"><span></span>缴纳明细
							<img src="/images/icon-downMenu.png" class="icon-downMenu" id="tab-tit-img"/>
						</h2>
						<div class="tableDiv" id="tab-content-box">
							<table class="tabTable" id="tabTable">
							</table>
						</div>
					</div>
					<!--默认提示-->
					<div class="login-tips XL-query">
						<p class="zjsxTit"><img src="/images/icon-tips.png">说明：</p>
						<p>仅可查询2015年1月至今的账户明细，您可携带本人身份证至公积金业务网点查询更多明细。</p>
					</div>
				</div>
				<!--缴纳明细 start-->
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：上海住房公积金网</div>
	</div>
</body>
</html>