<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>上海市公积金查询</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/shgjj/shgjj.css">
    <script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script type="text/javascript">
        var randomKey = "<%= locals.randomKey %>",
            userID = "<%= locals.userID%>",
            clientID = "<%= locals.clientID %>",
            cityID = "<%= locals.cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= locals.local_x %>",
            local_y = "<%= locals.local_y %>"
			,USERNAME = "<%= locals.userName %>"
			,PASSWORD = "<%= locals.password %>"
			,localFrom = "<%= locals.localFrom %>";
		if(USERNAME){
			sessionStorage.setItem('shGjj_USERNAME',USERNAME);
		}
		if(PASSWORD){
			sessionStorage.setItem('shGjj_PASSWORD',PASSWORD);
		}

    </script>
	<script type="text/javascript" src="/js/shGjj/shGjj.js"></script>

	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!---->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home codeH">
				<h1 class="p-q-tit">上海市公积金查询</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>用户名</label>
					<input id="userName" type="text" placeholder="请输入用户名" />
				</div>
				<div class="text-list-div">
					<label>密码</label>
					<input id="password" type="password" placeholder="请输入密码" />
				</div>
				<div class="text-list-div phone-list-code">
					<label>验证码</label>
					<input id="verifyCode" type="text" placeholder="请输入验证码" />
					<img id="veriCodeImg" src="/images/yanzm.gif" class="img-code">
				</div>
				<div class="btn-box">
					<input id="login" type="button" value="查询" />
				</div>
				<div class="goLoginBox clearfix">
					<span class="goRegister"><a href="javascript:;" id="getAccount">如何获取账号密码？</a></span>
				</div>
			</div>
		</div>
		<!--遮盖层-->
		<div class="mask" style="display: none;"></div>
		<!--如何获取账号密码-->
		<div class="dialog-examples" id="dialog-getAccount" style="display: none;">
			<h1 class="gjj-tit">
				如何获取账号密码
				<img src="/images/shgjj/dialog-close.png" class="dialog-close" id="img-close">
			</h1>
			<div class="gjj-info">
				<p>1、可通过微信公众号“上海公积金”查询公积金账号，或者向您单位的行政或人事索取您的公积金账号；</p>
				<p>2、如果您是首次查询，需要前往上海公积金管理中心官网注册并设置密码才能查询。</p>
			</div>
			<div class="btn-close-box">
				<a href="javascript:;" id="btn-close">知道了</a>
			</div>
		</div>
		<!-- -----------------------------------------------查询动画提示开始---------------------------------- -->
		<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- -----------------------------------------------查询动画提示结束--------------------------------- -->
		<!--提示-->
		<div class="masktime" id="masktime" style="display:none;"></div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：上海住房公积金网</div>
		<!--正在登录..-->
		<div id="loadMask" class="loadMask" style="display: none"></div>
		<div id="mainTips" class="mainTips" style="display: none">
			<div><img src="images/loading.gif"></div>
			<p>正在自动登录</p>
		</div>
	</div>
</body>
</html>