<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>全国计算机等级考试（NCRE）查询结果</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" type="text/css" href="/css/ncre/ncre.css"/>
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--全国计算机等级考试（NCRE）查询结果-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" onclick="back()"/>全国计算机等级考试（NCRE）查询结果
</h1>
				<hr class="hrLine">
				<div class="tab-content gjj-list certificateList" id="certificateList">
					<!--<div class="certificatePic">-->
						<!--<div class="clearfix">-->
							<!--<div class="certificate-lf">-->
								<!--<div class="userName"><span>许娇</span>参加<span>2016</span>年<span>3</span>月全国计算机等级考试二级<span>C语言程序设计</span>考试。成绩<span>合格</span>。</div>-->
							<!--</div>-->
							<!--<div class="avatarBox"><img src="/images/avatar.png"></div>-->
						<!--</div>-->
						<!--<div class="userCer">This is to certify that the bearer  has passed the National Computer Rank  Examination  and has achieved level 2.</div>-->
					<!--</div>-->
					<!--<div class="text-list-div clearfix">-->
						<!--<label>-->
							<!--<div>身份证件号：</div>-->
							<!--<div class="font18">ID Number</div>-->
						<!--</label>-->
						<!--<span>410223199412264028</span>-->
					<!--</div>-->
					<!--<div class="text-list-div clearfix">-->
						<!--<label>-->
							<!--<div>准考证号：</div>-->
							<!--<div class="font18">Examination Number</div>-->
						<!--</label>-->
						<!--<span>2445410037020041</span>-->
					<!--</div>-->
					<!--<div class="text-list-div clearfix">-->
						<!--<label>-->
							<!--<div>证书编号：</div>-->
							<!--<div class="font18">Certificate Number</div>-->
						<!--</label>-->
						<!--<span>24454100722178</span>-->
					<!--</div>-->
				<!--</div>-->
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国教育考试网</div>
	</div>
	</div>
	<script src="/js/ncre/qualificationResults.js"></script>
</body>
</html>