<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>全国计算机等级考试（NCRE）查询结果</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" type="text/css" href="/css/ncre/ncre.css"/>
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
        function back(){
            var url="/ncre?page=ncre&randomKey="+randomKey+"&userID="+userID.trim()+"&clientID="+clientID.trim()+"&cityID="+cityID.trim()+"&local_x="+local_x+"&local_y="+local_y;
            window.location.href=url;
        }
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--全国计算机等级考试（NCRE）查询无结果-->
		<div class="warpBox">
			<div class="peccancyQuery userInfor">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" onclick="back()"/>全国计算机等级考试（NCRE）查询结果</h1>
				<hr class="hrLine">
				<div class="notFound">
					<div class="img-box"><img src="/images/notFound.png"></div>
					<div class="notF-infor">查询的结果为空，请按以下步骤再次确认!</div>
				</div>
				<div class="login-tips XL-query notF-tips">
					<p>注意：</p>
					<p>1、请再次核实所输入信息是否正确。</p>
					<p>2、如果您是按照身份证件的信息输入，请查询身份证件与证书上的信息是否符合，若不相符，请按成绩单或证书上的姓名，身份证件号码输入。</p>
					<p>3、请在查询证书之前，确认您的考试成绩是否合格，如果不合格将没有证书信息。</p>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国教育考试网</div>
	</div>
</body>
</html>