<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>全国增值税普通发票查询结果</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" type="text/css" href="/css/VATInvoice/VATInvoice.css"/>
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<style>
		[v-cloak]{
			display: none;
		}
	</style>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" v-cloak id="taxInvoiceResult">
		<!--banner图-->
		<div class="banner">
			<img :src="citySrc">
			<div class="address"><span>北京</span></div>
		</div>
		<!--全国增值税普通发票查询结果-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit">
					<img src="/images/icon-return.png" class="icon-return" @click="back()">
					全国增值税普通发票查询结果
				</h1>
			</div>
			<div class="peccancyQuery userInfor onlyStyle resultBg">
				<p><label>查询结果：</label><span>不一致</span></p>
				<p><label>查验时间：</label><span>2018-05-17&nbsp;&nbsp;11:44:36</span></p>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<div class="resultPic"></div>
				<div class="btn-box">
					<input type="button" value="查询" @click="agin()"/>
				</div>
			</div>
		</div>
		<div class="data-sources">服务来源：国家税务总局全国增值税发票查验平台</div>
	</div>
	<script>
		new Vue({
			el:"#taxInvoiceResult",
			data:{
                citySrc:citySRC || "/images/beijing.png"
			},
            mounted:function(){
                this.fnSize();
                window.addEventListener('resize',this.fnSize,false);
            },
            methods:{
                fnSize:function() {
                    document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.offsetWidth/10 +'px';
                },
                back(){
                    let url="/taxInvoiceCheck?page=taxInvoiceCheck&randomKey="+randomKey+"&userID="+userID+"&clientID="+clientID+"&cityID="+cityID+"&local_x="+local_x+"&local_y="+local_y;
                    window.location.href=url;
				},
                agin(){
                    let url="/taxInvoiceCheck?page=taxInvoiceCheck&randomKey="+randomKey+"&userID="+userID+"&clientID="+clientID+"&cityID="+cityID+"&local_x="+local_x+"&local_y="+local_y;
                    window.location.href=url;
				}
			}
		})
	</script>
</body>
</html>