<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>个人所得税-劳务报酬所得</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/personalTax/personalTax.css" />
	<script type="text/javascript" src="/lib/vue.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script>
		var randomKey = "<%=locals.randomKey%>",
				userID = "<%= locals.userID%>",
				clientID = "<%= locals.clientID %>",
				cityID = "<%= locals.cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				local_x = "<%= locals.local_x %>",
				local_y = "<%= locals.local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="laborRemuneration">
		<!--banner图-->
		<% include ../header.html %>
		<!--个人所得税-劳务报酬所得-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" @click="goBack()"/>个人所得税-劳务报酬所得</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>收入金额</label>
					<input ref="inputNum" type="number" placeholder="请输入收入金额" />
				</div>
				<div class="btn-box">
					<input @click="calculate()" type="button" value="计算" />
				</div>
				<div class="viewSample"><a href="javascript:;" @click="showTable(true)">劳务报酬所得税率表</a></div>
			</div>
			<!--计算结果-->
			<div v-if="result>=0" class="peccancyQuery queryResult userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>计算结果</h2>
				<div class="calculationResult">
					<div class="text-list-div clearfix">
						<label>您的应纳税额为</label>
						<span class="numberResults">{{result}}</span>
						<b class="rmbUnit">元</b>
					</div>
					<div class="noteResult">注：以上结果，仅供参考</div>
				</div>
			</div>
			<!--说明-->
			<div class="peccancyQuery queryResult userInfor onlyStyle">
				<div class="personalPrompt">
					<p><img src="/images/icon-tips.png" class="icon-tips">说明：</p>
					<p>劳务报酬所得：指个人从事设计、装潢、安装、制图化验、测试、医疗、法律、会计、咨询、讲学、新闻、广播、翻译、审计、书画、雕刻、影视、录音、录像、演出、表演、广告、展览、技术服务、介绍服务、经纪服务、代办服务以及其他劳务取得的所得。</p>
					<p class="taxTitle">计算方法：</p>
					<p>劳务报酬所得以每次取得为一次，属于一次性收入的，以取得该项收入为一次；属于同一项目连续性收入的，以一个月内取得的收入为一次。</p>
					<p>按次缴纳个人所得税：</p>
					<p>应纳税额= 应纳税所得额 x适用税率-速算扣除数</p>
					<p>应纳税所得额 =（每次收入额≤4000元）-800（每次收入额>4000元）x（1-20%）</p>
					<p class="taxTitle">劳务报酬所得每次收入不超过4000元的，减除费用800元；4000元以上的，减除20%的费用，其余额为应纳税所得额。</p>
				</div>
			</div>
		</div>
		<!--提示语-->
		<div v-if="noData" class="masktime" id="masktime">{{maskTips}}</div>
		<div style="height:1.5rem"></div>
		<div class="data-sources">服务来源：北京市地方税务局</div>
	<!--弹框--税率表-->
	<div v-if="ifShowTab" class="mask"></div>
	<div v-if="ifShowTab" class="dialog-project laborRemuneration">
		<div class="title">劳务报酬所得税率表<i class="close" @click="showTable()"></i></div>
		<div class="personalTaxCon">
			<div class="mainTitle">税率</div>
			<div class="subTitle">劳务报酬所得适用20%的比例税率，一次收入畸高的实行加成征收劳务报酬所得税率表。</div>
			<table class="personalTabel">
				<tr>
					<td class="left">应纳税所得额</td>
					<td>税率(%)</td>
					<td>速算扣除数 </td>
				</tr>
				<tr>
					<td class="left">不超过20000元</td>
					<td>20%</td>
					<td>0 </td>
				</tr>
				<tr>
					<td class="left">超过20000元至50000元</td>
					<td>30%</td>
					<td>2000</td>
				</tr>
				<tr>
					<td class="left">超过50000元</td>
					<td>40%</td>
					<td>7000</td>
				</tr>
			</table>
		</div>
	</div>
	</div>
	<script src="/js/personalTax/laborRemuneration.js"></script>
</body>
</html>