<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>安徽省预约挂号平台</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/anhuiHospital/anhuiHospital.css">
    <link rel="stylesheet" href="/css/mobileSelect.css" />
    <script type="text/javascript" src="/js/hospital/mobileSelect.js" ></script>
    <script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script>
        var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                cityID = "<%= cityID %>",
                local_x = "<%= local_x %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityName = "<%= cityInfo.cityName %>",
                local_y = "<%= local_y %>",
            	localFrom = "<%= locals.localFrom %>";
    </script>
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
				<div class="dialog-userCenter" style="display: none" id="userCenter">
					<div class="triangle"></div>
					<ul>
                        <li id="personCon"><a href="javascript:;"><i class="icon-userCenter"></i>个人中心</a></li>
                        <li id="quit"><a href="javascript:;"><i class="icon-anhuiQuit"></i>退出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--科室挂号-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" id="back"/>预约挂号</h1>
				<hr class="hrLine">
                <div id="anhuiRegList"></div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<div class="tab-content inforConfirm">
					<div class="text-list-div otherList clearfix">
						<label>就诊时间：</label>
						<span class="selectDownMenu" id="timeTrigger" data_id="">请选择就诊时间</span>
						<img src="/images/icon-downMenu.png" class="icon-downMenu" id="time">
					</div>
					<div class="text-list-div otherList marTop">
						<label>就诊人：</label>
						<div class="accounts-all clearfix">
                            <div class="patientList"></div>
					    	<!--<div class="jiuZList padTop">
						    	<span class="icon-default">李四</span>
						    	<div class="y-g-tel">手机：186****2498</div>
						    	<div class="y-g-ID">身份证：4114**********1621</div>
					    	</div>-->
					    	<div class="addPatient" id="addPatient"><b>+</b>添加就诊人</div>
						</div>
					</div>
				</div>
				<div class="btn-box">
					<input type="button" value="确认预约" id="confirm"/>
				</div>
			</div>
		</div>
        <!-- ------------------------------提示语---------------------------------- -->
        <div class="masktime" id="masktime" style="display:none;"></div>
        <!-- 查询动画提示开始-->
        <div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
        <div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
            <img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
            <p>加载中</p>
        </div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：安徽医疗便民</div>
	</div>
    <script src="/js/anhuiHospital/appointmenRegistration.js"></script>
</body>
</html>