<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>安徽省预约挂号平台</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/anhuiHospital/anhuiHospital.css"/>
    <script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script>
        var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                cityID = "<%= cityID %>",
                local_x = "<%= local_x %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityName = "<%= cityInfo.cityName %>",
                local_y = "<%= local_y %>",
            	localFrom = "<%= locals.localFrom %>";
    </script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
				<div class="dialog-userCenter" style="display: none" id="userCenter">
					<div class="triangle"></div>
					<ul>
                        <li id="personCon"><a href="javascript:;"><i class="icon-userCenter"></i>个人中心</a></li>
                        <li id="quit"><a href="javascript:;"><i class="icon-anhuiQuit"></i>退出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--科室挂号-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit">
					<img src="/images/icon-return.png" class="icon-return" id="back"/>
					预约挂号
				</h1>
				<div class="hospitalBranch"><h2 class="q-r-tit"><span></span><em id="hospital">安徽医科大学第一附属医院高新院区</em></h2></div>
				<div class="OutpatientDepartments" id="department">普胸外科门诊</div>
			</div>
            <div id="havaData"></div>
				<!--<dl class="hosList hNHosList sXHosList">
					<dt><a href="javascript:;"><img src="/images/heNanHospital/photo.jpg" class="photo"></a></dt>
					<dd>
						<p class="nameOffice"><span>卫玉荣</span>普通号</p>
						<p class="hospitalName">安徽医科大学第一附属医院高新院区</p>
						<p class="introduce">普胸外科门诊</p>
					</dd>
				</dl>-->

			<!--没有医生坐诊 start-->
			<div class="peccancyQuery userInfor onlyStyle clearfix" style="display: none;" id="noData">
				<div class="searchEmptyBox noDoctors">
					<div class="emptyPic"><img src="/images/anhuiHospital/noDoctors.png"></div>
					<div class="words">抱歉，此科室没有医生坐诊</div>
				</div>
			</div>
			<!--没有医生坐诊 end-->
		</div>

        <!-- 查询动画提示开始-->
        <div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
        <div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
            <img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
            <p>加载中</p>
        </div>
        <!-- ------------------------------提示语---------------------------------- -->
        <div class="masktime" id="masktime" style="display:none;"></div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：安徽医疗便民</div>
	</div>
    <script src="/js/anhuiHospital/appointmentTimeSelect.js"></script>
</body>
</html>