<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>安徽省预约挂号平台</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/anhuiHospital/anhuiHospital.css" />
    <script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script>
        var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                cityID = "<%= cityID %>",
                local_x = "<%= local_x %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityName = "<%= cityInfo.cityName %>",
                local_y = "<%= local_y %>",
            	localFrom = "<%= locals.localFrom %>";
    </script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
				<div class="dialog-userCenter" style="display: none" id="userCenter">
					<div class="triangle"></div>
					<ul>
                        <li id="personCon"><a href="javascript:;"><i class="icon-userCenter"></i>个人中心</a></li>
                        <li id="quit"><a href="javascript:;"><i class="icon-anhuiQuit"></i>退出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--选择科室-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH" id="peccancyQuery">
				<!--<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>医院详情</h1>
				<hr class="hrLine">
				<div class="peccancyQuery userInfor onlyStyle clearfix">
					<dl class="hosList anhuiSelectList">
						<dt>
							<a href="javascript:;">
								<img src="/images/heNanHospital/hospitalPic.jpg">
							</a>
						</dt>
						<dd class="department">
							<p class="title">
								<span class="marTit">芜湖市第二人民医院</span>
								<span class="level3">三级甲等</span>
							</p>
							<p class="address clearfix">
								<i class="icon-address"></i>
								<span>合肥市梅山路中段安徽省中医院东门对面向南约50米</span>
							</p>
							<p class="tel"><i class="icon-tel"></i>0371-96129</p>
						</dd>
					</dl>
					<div class="intro">
						<i class="icon-intr"></i>
						<p>芜湖市第二人民医院是安徽省临床医学研究院，承担全省医疗、教学的第一所综合性医院。医院坐 落于市中心繁华地段，地处车水马龙的南北干道九华山路，镶嵌在风景如画的镜湖公园、九莲塘公园之间。历经六十年，已发展成为一所集医疗、教学、科研、预 防、保健、康复为一体的三级甲等综合性医院，是皖南医学院附属医院和硕士生培养点，南通大学芜湖临床学院，武汉大学第一临床学院硕士生培养点，复旦大学附 属中山医院协作医院，中国医科大学附属盛京医院“盛京医疗联盟”医院，法国第戎医疗中心协作医院。</p>
						<p>【基本情况】医院占地面积6.6万平米，建筑面积16.5万平米。目前开放床位2057张，设有41个临床科室、15个医技科室、8个临床医技教研室。2013年门诊量107.64万人次，出院病人5.79万人次。</p>
						<p>【人员结构】拥有职工1971人，其中卫技人员1636人(医生616人、医技人员167人、护士853人)，占员工总数的83%;行政管理人员198 人，占员工总数的10%;后勤人员137人，占员工总数的7% 。高级职称人员210人，博士、硕士222人，硕士生导师13人，教授、副教授65人。</p>
						<p>【资产情况】医院总资产达11.22亿元，其中医疗设备价值近5亿元。拥有价值万元以上医疗设备1838台，其中PET/CT、256层螺旋CT、磁共振、直线加速器、SPECT、DSA、DR、检验流水线等百万元以上设备63台。</p>
						<p>【医疗技术】医院技术力量雄厚。骨科为国家重点临床专科建设项目，麻醉科、泌尿外科为安徽省临床重点培育专科，急诊科为安徽省临床特色专科；心血管内科、 肝胆外科、胸心外科、呼吸内科、耳鼻咽喉科、神经内科、检验科、超声医学科为芜湖市临床医学重点专科，妇产科、消化内科为芜湖市临床医学重点扶持专科；并 先后组建了芜湖市临床检验中心、芜湖市急诊医学中心和芜湖市肿瘤医院。医疗技术水平在省内市级医院中处于领先地位。</p>
						<p>【教学科研】医院是卫生部内镜与微创医学培训基地、中国医师人文医学执业技能培训基地、国家级大学生校外实践教育基地、安徽省住院医师规范化培训基地、安 徽省专科护士培训基地，形成了较为完善的科研与培训体系。正在建设的全科医生临床培养基地项目获得了国家发改委1800万元专项建设资金，拟于2014年 底正式投入使用，配备有设施先进临床技能培训中心、理论教学中心和远程教育中心。</p>
						<p>【基础设施】按照芜湖市委、市政府提出的“将芜湖打造成皖江地区医疗卫生服务中心”的目标和芜湖市医疗卫生区域规划的要求，医院先后兴建了11万平米，集 门诊、医技、住院为一体的医疗综合大楼和1.3万平米急诊医学中心楼，改造1.5万平米老旧住院楼为第二住院部,进一步增强了医院的接诊能力。 作为公立医院改革国家联系试点城市的龙头医院，芜湖市第二人民医院近年来通过深入推进以人事制度、分配制度、医药分开和公立医院集团化为突破口的公立医院 改革，在提升医疗水平、完善服务体系、强化科学管理、创新体制机制、加强基本建设等方面取得了显著成绩，成为省内外具有一定影响力的综合性医院之一。</p>
					</div>
				</div>-->
			</div>

            <!--搜索为空 start-->
            <div class="peccancyQuery userInfor onlyStyle" style="display: none;" id="nodata">
                <h2 class="q-r-tit"><span></span>相关结果</h2>
                <div class="searchEmptyBox">
                    <div class="emptyPic"><img src="/images/anhuiHospital/searchEmpty.png"></div>
                    <div class="words">未搜索医院/医生信息，请重新检索。</div>
                </div>
            </div>
            <!--搜索为空 end-->
        </div>
        <!-- ------------------------------提示语---------------------------------- -->
        <div class="masktime" id="masktime" style="display:none;"></div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：安徽医疗便民</div>
	</div>
    <script src="/js/anhuiHospital/details.js"></script>
</body>
</html>