<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>安徽省预约挂号平台</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css" />
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css" />
    <link rel="stylesheet" href="/css/anhuiHospital/anhuiHospital.css" />
    <script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/publicInput.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script>
        var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                cityID = "<%= cityID %>",
                local_x = "<%= local_x %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityName = "<%= cityInfo.cityName %>",
                comeFrom = "<%= comeFrom %>",
                local_y = "<%= local_y %>",
            	localFrom = "<%= locals.localFrom %>";
    </script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
				<div class="dialog-userCenter" style="display: none" id="userCenter">
					<div class="triangle"></div>
					<ul>
                        <li id="personCon"><a href="javascript:;"><i class="icon-userCenter"></i>个人中心</a></li>
                        <li id="quit"><a href="javascript:;"><i class="icon-anhuiQuit"></i>退出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!---->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" id="back">密码找回</h1>
				<hr class="hrLine">
				<div class="publicStyleBox">
					<div class="publicListText">
						<label>手机号：</label>
						<input type="text" placeholder="请输入手机号" id="mobile"/>
					</div>
                    <div class="publicStyleList clearfix" id="wait" style="padding-right:0.55rem">
                        <label>验证码：</label>
                        <span style="border: 0;">加载中。。。。。</span>
                    </div>
                    <div class="publicStyleList clearfix" id="captchaCon" style="display: none;margin-bottom:0">
                        <label style="width: auto;">验证码:</label>
                        <span id="captcha" style="width: auto;margin-top: -.788rem;border: 0;float: right"></span>
                    </div>
					<div class="publicListText smsVerCode">
						<label>手机验证：</label>
						<input type="text" placeholder="请输入短信验证码" class="registerText" id="message"/>
						<a href="javascript:;" class="get-code getSMSCode" id="getSMSCode">短信验证码</a>
					</div>
					<div class="publicListText">
						<label>新密码：</label>
						<input type="password" placeholder="请输入登录密码" id="password"/>
					</div>
					<div class="publicListText">
						<label>确认密码：</label>
						<input type="password" placeholder="请重新输入登录密码" id="aginPassword"/>
					</div>
				</div>
				<div class="btn-box">
					<input type="button" value="完成" id="getPassword"/>
				</div>
			</div>
		</div>
        <!-- ------------------------------提示语---------------------------------- -->
        <div class="masktime" id="masktime" style="display:none;"></div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：安徽医疗便民</div>
	</div>
    <script src="/js/anhuiHospital/pwdRecovery.js"></script>
    <script src="http://static.geetest.com/static/tools/gt.js"></script>
</body>
</html>