<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>北京市公积金查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/bjgjj/bjgjj.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>",
            userID = "<%= userID%>",
            clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>",
            local_y = "<%= local_y %>",
            cityName = "<%= locals.cityInfo.cityName %>",
            citySRC = "<%= locals.cityInfo.citySRC %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--北京市公积金查询-->
		<div class="warpBox">
			<div class="peccancyQuery userInfor bjgjjCon">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" onclick="back()"/>住房公积金账户信息</h1>
				<hr class="hrLine">
				<div class="text-list-div clearfix" id="noDate" style="display:none;">
					<label id="errorCon" style="width: 100%">用户姓名：</label>
				</div>

				<div id="haveDate"></div>

				<!--<div class="text-list-div clearfix">-->
					<!--<label>用户姓名：</label>-->
					<!--<span>赵晓梅</span>-->
				<!--</div>-->
				<!--<div class="text-list-div clearfix">-->
					<!--<label>证件类型：</label>-->
					<!--<span>身份证</span>-->
				<!--</div>-->
				<!--<div class="text-list-div clearfix">-->
					<!--<label>证件号码：</label>-->
					<!--<span>41272519930302788X01</span>-->
				<!--</div>-->
				<!--<div class="text-list-div clearfix">-->
					<!--<label>公积金账号：</label>-->
					<!--<span>GJJ019272618</span>-->
				<!--</div>-->
				<!--<div class="text-list-div clearfix">-->
					<!--<label>单位名称：</label>-->
					<!--<span>北京康泰信达咨询有限公司</span>-->
				<!--</div>-->
				<!--<div class="text-list-div clearfix">-->
					<!--<label>个人缴存基数：</label>-->
					<!--<span>3,000.00</span>-->
				<!--</div>-->
				<!--<div class="text-list-div clearfix">-->
					<!--<label>单位月缴存额：</label>-->
					<!--<span>360.00</span>-->
				<!--</div>-->
				<!--<div class="text-list-div clearfix">-->
					<!--<label>个人月缴存额：</label>-->
					<!--<span>360.00</span>-->
				<!--</div>-->
				<!--<div class="text-list-div clearfix">-->
					<!--<label>月缴存额：</label>-->
					<!--<span>720.00</span>-->
				<!--</div>-->
				<!--<div class="text-list-div clearfix">-->
					<!--<label>缴存状态：</label>-->
					<!--<span>缴存</span>-->
				<!--</div>-->
				<!--<div class="text-list-div clearfix">-->
					<!--<label>个人账户余额：</label>-->
					<!--<span>4,330.00</span>-->
				<!--</div>-->
				<!--<div class="text-list-div clearfix">-->
					<!--<label>冻结金额：</label>-->
					<!--<span>0.00</span>-->
				<!--</div>-->
				<!--<div class="text-list-div clearfix">-->
					<!--<label>开户日期：</label>-->
					<!--<span>2017-08-09</span>-->
				<!--</div>-->
			</div>
		</div>

		<div style="height: 1.3rem;"></div>

		<div class="masktime" id="masktime" style="display:none;"></div>

		<div class="data-sources">服务来源：北京住房公积金管理中心</div>
	</div>
	<script src="/js/bjgjj/accountInfo.js"></script>
</body>
</html>