<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>北京公积金查询服务</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css"/>    
    <link type="text/css" rel="stylesheet" href="/css/bjgjj/bjgjj.css"/>
    <link rel="stylesheet" href="/css/mobileSelect.css" />
    <script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/hospital/mobileSelect.js" ></script>
    <script type="text/javascript" src="/js/bjgjj/bjgjj.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>",
            userID = "<%= userID%>",
            clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>",
            local_y = "<%= local_y %>",
            cityName = "<%= locals.cityInfo.cityName %>",
            citySRC = "<%= locals.cityInfo.citySRC %>"
            ,LOGINTYPE = "<%= locals.loginType %>"
            ,USERNAME = "<%= locals.userName %>"
            ,PASSWORD = "<%= locals.password %>"
            localFrom = "<%= locals.localFrom %>";
        if(USERNAME){
            sessionStorage.setItem('bjGJJ_USERNAME',USERNAME);
        }
        if(PASSWORD){
            sessionStorage.setItem('bjGJJ_PASSWORD',PASSWORD);
        }
        if(LOGINTYPE){
            sessionStorage.setItem('bjGJJ_LOGINTYPE',LOGINTYPE);
        }

    </script>
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
<div class="max">
    <!--banner图-->
    <% include ../header.html %>
    <!--北京市公积金查询-登录-->
    <div id="searchBox" class="warpBox">
        <div class="peccancyQuery XLQuery-home">
            <h1 class="p-q-tit">北京市公积金查询</h1>
            <hr class="hrLine">
            <!--<form id="loginForm" method="post" action="/grgjjInfo">-->
                <!--&lt;!&ndash;<input type="hidden" name="type" value="5"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="hidden" name="randomKey"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="hidden" name="userID"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="hidden" name="clientID"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="hidden" name="cityID"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="hidden" name="citySRC"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="hidden" name="cityName"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="hidden" name="local_x"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="hidden" name="local_y"/>&ndash;&gt;-->
            <!--</form>-->
                <div id="choose" class="text-list-div cityID">
                    <label>验证方式：</label>
                    <span id="ValidateType" data_id="5">联名卡号</span>
                    <!--<input id="ValidateType" name="ValidateType"  placeholder="联名卡号" readonly data_id="5"/>-->
                    <img id="chooseValidate" src="/images/icon-downMenu.png" class="icon-downMenu">
                </div>
                <div class="text-list-div">
                    <label>证件号码：</label>
                    <input id="idCode" name="idCode" type="text" placeholder="请输入号码"/>
                </div>
                <div class="text-list-div">
                    <label>密码：</label>
                    <input id="password" name="password" type="password" placeholder="请输入密码"/>
                </div>
                <!--<div class="text-list-div text-list-code">-->
                    <!--<label>验证码</label>-->
                    <!--<input id="veriCode" name="veriCode" type="text" placeholder="请输入验证码"/>-->
                    <!--<img id="veriCodeImg" src="" class="img-code">-->
                <!--</div>-->
                <div class="gjj-tips">
                    温馨提示：首次登录查询功能，验证方式须选择联名卡号；初始密码为身份证号后四位阿拉伯数字+00，为了保证您的个人信息安全，请您及时修改初始密码，如有问题请拨打“住房公积金热线12329”咨询。
                </div>
                <div class="btn-box">
                    <input type="button" value="登录" id="Login"/>
                </div>

        </div>
    </div>

    <!-- -----------------------------------------------查询动画提示开始---------------------------------- -->
    <div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
    <div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
        <img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
        <p>加载中</p>
    </div>
    <!-- -----------------------------------------------查询动画提示结束--------------------------------- -->

    <div style="height: 1.3rem;"></div>
    <div class="data-sources">服务来源：北京住房公积金管理中心</div>
    <!--正在登录..-->
    <div id="loadMask" class="loadMask" style="display: none"></div>
    <div id="mainTips" class="mainTips" style="display: none">
        <div><img src="images/loading.gif"></div>
        <p>正在自动登录</p>
    </div>
</div>
<div class="masktime" id="masktime" style="display:none;"></div>
<script type="text/javascript" src="/js/bjgjj/bjgjjSearch.js"></script>
<script type="text/javascript">
    if(localFrom == "xinhuashe_app" && USERNAME && PASSWORD){
        document.getElementById('idCode').value = USERNAME || sessionStorage.getItem('bjGJJ_USERNAME');
        document.getElementById('password').value = PASSWORD || sessionStorage.getItem('bjGJJ_PASSWORD');
        var type = LOGINTYPE || sessionStorage.getItem('bjGJJ_LOGINTYPE') || "5";
        document.getElementById('ValidateType').textContent = type=='1'?'身份证':'联名卡号';
        $("#ValidateType").attr("data_id", type)
        $("#loadMask").show();
        $("#mainTips").show();
        $("#Login").click();
    }
</script>
</body>
</html>