.DS_Store
back/node_modules/
.idea/
back/logs/
back/dist
back/package-lock.json
vue/package-lock.json
vue/node_modules/
.node_modules
*.shell

# Editor directories and files
.idea
.project
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
