<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="/css/login.css" />
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="container">
				<div class="row">
					<div class="login-header">
						<span class="header-logo"><i class="icon-logo"></i><span class="hidden-xs">开普云服务查询管理系统</span></span>
						<!--<span class="header-hotTel"><i class="icon-tel"></i>客服热线&nbsp;&nbsp;400-097-6005</span>-->
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid login-bg">
			<div class="map-bg">
				<div class="container">
					<div class="loginbox userlogin">
						<div class="login">
							<ul class="nav nav-tabs">
								<li>
									<a href="javascript:void(0)">用户登录</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane fade active in">
									<form  method="post" action="/system/login">
										<div class="login-input-box">
											<div class="error-msg"></div>
											<i class="icon-userName"></i>
											<input class="login_input1 ph-input form-control" name="userName" placeholder="用户名" type="text">
											<!--<span class="icon-user-delete" style="display: inline-block;"></span>-->
										</div>
										<div class="login-input-box">
											<i class="icon-pwd"></i>
											<input class="login_input1 ph-input form-control" name="password" placeholder="密码" type="password">
											<span class="icon-user-delete"></span>
										</div>
										<div class="dlk">
											<input id="loginHref" type="submit" value="登录">
										</div>
									</form>
								</div>
								<%if(locals.error){%>
								<div class="error-msg">输入的用户名或密码错误</div>
								<%}%>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			开普云公司版权所有 © 2000-2018
		</div>		
	</body>
</html>
