<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/css/system.css" />
		<script type="text/javascript" src="/lib/jquery.min.js" ></script>
		<script type="text/javascript" src="/js/system/system_user.js" ></script>
        <script type="text/javascript" src="/js/all.js"></script>
		<script>
			$(function(){  
			  $("#sys-content").find(".tab-con:first").show();//为每个BOX的第一个元素显示        
			  $("#tab-title a").on("click",function(){ //给a标签添加事件
			     var index=$(this).index();  //获取当前a标签的个数  
			     $(this).parent().next().find(".tab-con").hide().eq(index).show(); //返回上一层，在下面查找css名为box隐藏，然后选中的显示  
			     $(this).addClass("hover").siblings().removeClass("hover"); //a标签显示，同辈元素隐藏  
			  })  
			})
		</script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body>
		<div class="outerLayer" style="width: 100%;margin-left: 0;">
			<div class="tab-title" id="tab-title">
				<a id="jbxx" href="javascript:;" class="hover">用户个人基本信息</a>
				<a id="clxx" href="javascript:;">车辆信息</a>
				<a id="jzxx" href="javascript:;">驾照信息</a>
				<a id="sbxx" href="javascript:;">社保信息</a>
				<a id="clientxx" href="javascript:;">设备信息</a>
				<!--<a id="wzxx" href="javascript:;">位置信息</a>-->
				<a id="fwxx" href="javascript:;">服务信息</a>
			</div>
			<div class="sys-content" id="sys-content">
				<div class="tab-con">
					<div class="searchBox">
						<span>用户ID：<input id="jbxxcx_userID" type="text" /></span>
						<span>手机号：<input id="jbxxcx_mobile" type="text" /></span>
						<span><input id="jbxx_search" type="button" value="查询" /></span>
					</div>
					<!--<table id="jbxx" style="display: none">-->
					<table id="jbxx_table">
						<thead>
							<tr>
								<th>userID</th>
								<th>姓名</th>
								<th>手机号</th>
								<th>设备号</th>
								<th>身份证号</th>
								<th>驾驶证号</th>
								<th>驾驶证档案编号</th>
								<th>车牌号码</th>
								<th>发动机号</th>
								<th>学历证书编号</th>
								<th>服务次数</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="jbxx_userID"><%=userInfo.userID%></td>
								<td id="jbxx_userName"><%=userInfo.userName%></td>
								<td id="jbxx_mobile"><%=userInfo.mobile%></td>
								<td id="jbxx_clientID"><%=userInfo.clientID%></td>
								<td id="jbxx_IDCard"><%=userInfo.IDCard%></td>
								<td id="jbxx_licenseNo"><%=userInfo.licenseNo%></td>
								<td id="jbxx_fileNo"><%=userInfo.fileNo%></td>
								<td id="jbxx_carNum"><%=userInfo.carNum%></td>
								<td id="jbxx_engineNum"><%=userInfo.engineNum%></td>
								<td id="jbxx_xlCertNumber"><%=userInfo.xlCertNumber%></td>
								<td id="jbxx_serviceCount"><%=serviceCount%></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-con">
					<div class="searchBox">
						<span>用户ID：<input id="clxxcx_userID" type="text" /></span>
						<span>手机号：<input id="clxxcx_mobile" type="text" /></span>
						<span><input id="clxx_search" type="button" value="查询" /></span>
					</div>
					<table>
						<thead>
							<tr>
								<!--<th>汽车类型</th>-->
								<th>号牌</th>
								<th>发动机后六位</th>
								<th>服务次数</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<!--<td>小型汽车</td>-->
								<td id="clxx_carNum"></td>
								<td id="clxx_engineNum"></td>
								<td id="clxx_serviceCount"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-con">
					<div class="searchBox">
						<span>用户ID：<input id="jzxxcx_userID" type="text" /></span>
						<span>手机号：<input id="jzxxcx_mobile" type="text" /></span>
						<span><input id="jzxx_search" type="button" value="查询" /></span>
					</div>
					<table>
						<thead>
							<tr>
								<th>驾驶证号</th>
								<th>驾驶证档案编号</th>
								<th>服务次数</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="jzxx_licenseNo"></td>
								<td id="jzxx_fileNo"></td>
								<td id="jzxx_serviceCount"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-con">
					<div class="searchBox">
						<span>用户ID：<input id="sbxxcx_userID" type="text" /></span>
						<span>手机号：<input id="sbxxcx_mobile" type="text" /></span>
						<span><input id="sbxx_search" type="button" value="查询" /></span>
					</div>
					<table>
						<thead>
							<tr>
								<th>身份证号</th>
								<th>服务次数</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="sbxx_IDCard"></td>
								<td id="sbxx_serviceCount"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-con">
					<div class="searchBox">
						<span>用户ID：<input id="clientxxcx_userID" type="text" /></span>
						<span>手机号：<input id="clientxxcx_mobile" type="text" /></span>
						<span><input id="clientxx_search" type="button" value="查询" /></span>
					</div>
					<table>
						<thead>
							<tr>
								<th>设备信息</th>
								<th>服务次数</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="clientxx_clientID"></td>
								<td id="clientxx_serviceCount"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--<div class="tab-con">-->
					<!--<div class="searchBox">-->
						<!--<span>用户ID：<input type="text" /></span>-->
						<!--<span>手机号：<input type="text" /></span>-->
						<!--<span><input type="button" value="查询" /></span>-->
					<!--</div>-->
					<!--<table>-->
						<!--<thead>-->
							<!--<tr>-->
								<!--<th>位置信息</th>-->
								<!--<th>服务次数</th>-->
							<!--</tr>-->
						<!--</thead>-->
						<!--<tbody>-->
							<!--<tr>-->
								<!--<td>虎虎</td>-->
								<!--<td>2</td>-->
							<!--</tr>-->
						<!--</tbody>-->
					<!--</table>-->
				<!--</div>-->
				<div class="tab-con">
					<div class="searchBox">
						<span>用户ID：<input id="fwxxcx_userID" type="text" /></span>
						<span>手机号：<input id="fwxxcx_mobile" type="text" /></span>
						<span><input id="fwxx_search" type="button" value="查询" /></span>
					</div>
					<table>
						<thead>
							<tr>
								<th>服务名称</th>
								<th>服务次数</th>
							</tr>
						</thead>
						<tbody id="fwxx_data">
							<tr>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<table style="display: none">
						<tbody id="fwxx_data_template">
						<tr>
							<td>${serviceName}</td>
							<td>${serviceCount}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
