/*首页*/
.DescriptionInfr{
	padding: 0.236rem 0.4rem 0.388rem 0.51rem;
	border-top: 1px solid #e6e6e6;
}
.DescriptionInfr p{
	font-size: 0.25rem;
	color: #515c68;
	line-height: 0.55rem;
}
.DescriptionInfr p.tit{
	color: #000;
	margin-bottom: 0.2rem;
}
.DescriptionInfr p span{
	color: #136ec2;
}
.DescriptionInfr p.remarks{
	color: #136ec2;
	padding-left: 0.5rem;
}
.moreInput{
	color: #848484;
}
.moreInput input{
	border-bottom: 1px solid #7f7f7f;
	margin-right: 0.111rem;
	text-align: center;
}
.moreInput > input:nth-of-type(1){
	width: 1rem;
}
.moreInput > input:nth-last-of-type(1){
	width: 1.277rem;
}
.publicListText .codeTime{
	width: 1.3rem;
	float: left;
	margin-right: 0.111rem;
	position: relative;
}
.publicListText .codeTime input{
	padding: 0 0.18rem;
	width: 1.3rem;
	margin-right: 0;
}
.publicListText .codeTime b{
	color: #848484;
	position: absolute;
	top: -0.05rem;
}
.publicListText .codeTime b:nth-of-type(1){
	left: -0.18rem;
}
.publicListText .codeTime b:nth-of-type(2){
	right: -0.18rem;
}
.moreInput span{
	width: auto;
}
.pubListBox.degreeLableWH label{
	width: 2.2rem;
}
/*查询结果*/
.degreeResultBox{
	padding: 0.416rem 0.55rem;
	border-top: 1px solid #edefee;
}
.userIntr{
	background: #f5f5f5;
	border: 1px solid #dde5e8;
}
.userIntr dl{
	font-size: 0.361rem;
	margin:0.333rem 0.27rem 0.361rem;
}
.userIntr dl dt{
	float: left;
	width: 1.5rem;
	margin-right: 0.416rem;
}
.userIntr dl dt img{
	width: 1.5rem;
	height: 2.222rem;
}
.userIntr dl dd:nth-of-type(1){
	color: #4a4a4a;
	font-size: 0.444rem;
	font-weight: bold;
	padding-top: 0.68rem;
	padding-bottom: 0.4rem;
	margin: 0;
}
.userIntr dl dd:nth-of-type(2){
	color: #868686;
	font-size: 0.361rem;
	margin: 0;
}
.certificateInfo{
	margin-top: 0.333rem;
}
.certificateInfo p{
	color: #3b3b3b;
	font-size: 0.361rem;
	line-height: 0.694rem;
	text-indent: 0.805rem;
}
.certificateInfo p.text-right{
	text-align: right;
}
.certificateInfo p.text-right.padR35{
	padding-right: 0.486rem;
	margin-top: 0.5rem;
}