<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>客运班线信息查询</title>
    <link type="text/css" rel="stylesheet" href="../../css/news.css" />
    <link rel="stylesheet" type="text/css" href="../../css/QhPassengerTransport/QhPassengerTransport.css"/>
	<link rel="stylesheet" href="/css/mobileSelect.css" />
	<style>
		.downMenu-style .spanWrapper{
			font-size: 0.37rem;
			color: #474747;
			display: inline-block;
			height: 0.37rem;
			line-height: 0.37rem;
			width: -webkit-calc(100% - 3.5rem);
			width: -moz-calc(100% - 3.5rem);
			width: calc(100% - 3.5rem);
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		.downMenu-style .spanWrapper span{
			width:100%!important;
		}
	</style>
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" src="/js/hospital/mobileSelect.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>",
            citySRC = "<%= cityInfo.citySRC %>",
            localFrom = "<%= locals.localFrom %>"
            ,local_y = "<%= local_y %>";
	</script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--北京市预约挂号-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit">客运班线信息查询</h1>
				<hr class="hrLine">
				<div class="text-list-div downMenu-style">
					<label>起点站：</label>
					<span class="spanWrapper" id="clickStart">
						<span id="start">请选择起点</span>
                		<img src="../../images/icon-downMenu.png" class="icon-downMenu">
					</span>
				</div>
				<div class="text-list-div downMenu-style">
					<label>终点站：</label>
					<span class="spanWrapper" id="clickEnd">
						<span id="end">请选择终点</span>
                		<img src="../../images/icon-downMenu.png" class="icon-downMenu">
					</span>
				</div>
				<div class="text-list-div downMenu-style">
					<label>车型：</label>
					<span class="spanWrapper" id="clickCarType">
						<span id="carType">请选择车型</span>
                		<img src="../../images/icon-downMenu.png" class="icon-downMenu">
					</span>
				</div>

				<div class="btn-box">
					<input id="searchBtn" type="button" value="查询" />
				</div>
			</div>
			<!--查询无结果-->
			<div id="searchNoResult" class="peccancyQuery userInfor onlyStyle" style="display: none;">
				<h2 class="q-r-tit"><span></span>查询结果</h2>
				<div class="wantLookCon">
					<p>很抱歉没有查询到此客运班线信息！</p>
				</div>
			</div>
			<!--查询结果-->
			<div id="searchResult" class="QhResult" style="display:none;">
				<div class="queryResult parkingQuery">
					<h2 class="q-r-tit"><span></span>查询结果</h2>
					<div class="parkingResult">车次数量： <span id="totalNum">28</span>辆</div>
				</div>
				<div id="reault"></div>
			</div>
		</div>
		<!-- 查询动画提示开始-->
		<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- 查询动画提示结束-->
		<!--提示-->
		<div class="masktime" id="masktime" style="display:none;">请输入您要举报的号码</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：青海省人民政府行政服务和公共资源交易中心</div>
	</div>
</body>
<script src="/js/QhPassengerTransport/QhPassengerTransport.js"></script>
<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</html>