<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>海南省旅游景点查询</title>
		<link rel="stylesheet" href="/css/news.css" />
		<link rel="stylesheet" href="/css/haiNanInsuranceCalculator/haiNanInsuranceCalculator.css">
		<link rel="stylesheet" href="/css/mobileSelect.css"/>
		<link rel="stylesheet" href="/css/haiNanAttractions/haiNanAttractions.css" />
        <script type="text/javascript" src="/js/all.js"></script>
		<script type="text/javascript" src="/lib/vue.min.js"></script>
		<script type="text/javascript" src="/lib/axios.js"></script>
		<script type="text/javascript" src="/lib/mobileSelect.js"></script>
		<script>
			var randomKey = "<%= randomKey %>"
					,userID = "<%= userID%>"
					,clientID = "<%= clientID %>",
					citySRC = "<%= cityInfo.citySRC %>",
					cityInfo = "<%= cityInfo %>",
					cityID = "<%= cityID %>",
					local_x = "<%= local_x %>"
					,local_y = "<%= local_y %>",
                localFrom = "<%= locals.localFrom %>";
		</script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
	<div class="max" id="haiNanTourism">
		<!--banner图-->
		<% include ../header.html %>
		<!--国务院取消和下放的行政审批事项-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">景点查询</h1>
				<hr class="hrLine">
				<div class="headSearchBox">
					<input v-model="keyword" type="text" placeholder="搜景区">
					<img src="/images/haiNanAttractions/search.png" @click="search">
				</div>
				<div class="calculatorBox attractionsListBox">
					<div class="calculatorList clearfix">
						<label>特色分类：</label>
						<span id="type" @click="typeSelect">全部</span>
						<img src="/images/icon-downMenu.png" class="icon-downMenu" @click="typeSelect">
					</div>
					<div class="calculatorList clearfix">
						<label>按区域分：</label>
						<span id="region" @click="regionSelect">不限</span>
						<img src="/images/icon-downMenu.png" class="icon-downMenu" @click="regionSelect">
					</div>
					<!--<div class="calculatorList clearfix">-->
						<!--<label>适合人群：</label>-->
						<!--<span id="people" @click="peopleSelect">全部</span>-->
						<!--<img src="/images/icon-downMenu.png" class="icon-downMenu" @click="peopleSelect">-->
					<!--</div>-->
					<div class="calculatorList clearfix">
						<label>景点级别：</label>
						<span id="grade" @click="gradeSelect">全部</span>
						<img src="/images/icon-downMenu.png" class="icon-downMenu" @click="gradeSelect">
					</div>
					<div class="calculatorList clearfix">
						<label>门票价格：</label>
						<span id="price" @click="priceSelect">全部</span>
						<img src="/images/icon-downMenu.png" class="icon-downMenu" @click="priceSelect">
					</div>
				</div>
			</div>
			<div id="searchResult" class="searchResultBox" style="display: none">
				<div class="peccancyQuery userInfor onlyStyle">
					<h2 class="q-r-tit">
						<span></span>搜索结果
						<label class="sameNameNum">共有{{list.length}}条搜索结果</label>
					</h2>
				</div>
				<div v-for="(item,index) in list" class="peccancyQuery userInfor onlyStyle">
					<dl class="attractionsList clearfix">
						<dt><a href="javascript:;"><img :src="item.LogoUrl"></a></dt>
						<dd>
							<p class="title">{{item.ZWMC}}</p>
							<p class="otherD"><span>景区级别：</span><span class="scenicLevel">{{item.LYQDJMC}}</span></p>
							<p class="otherD"><span>门票价格：</span><span>{{item.MPJG}}元</span></p>
							<p class="otherD"><span>景区地址：</span><span>{{item.DZ}}</span></p>
						</dd>
					</dl>
				</div>
			</div>
			<!--<div v-else class="searchResultBox">-->
				<!--<div class="peccancyQuery userInfor onlyStyle">-->
					<!--<h2 class="q-r-tit">-->
						<!--<span></span>搜索无结果-->
					<!--</h2>-->
				<!--</div>-->
			<!--</div>-->
		</div>
		<div class="masktime" v-if="masktime">{{masktime}}</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：海南省旅游发展委员会</div>
	</div>
</body>
	<script src="/js/haiNanTourism/haiNanTourism.js"></script>
</html>
