<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>上海市婚姻预约</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--上海市婚姻预约-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">上海市结婚登记网上预约</h1>
				<hr class="hrLine">
				<div class="btn-box">
					<a href="http://app3.shmzj.gov.cn/marryWap/shanghaiRegType.do?org_iscivil=O" class="btnLink">我要预约（国内）</a>
					<a href="http://app3.shmzj.gov.cn/marryWap/shanghaiRegType.do?org_iscivil=F" class="btnLink">我要预约（涉外）</a>
					<a href="http://app3.shmzj.gov.cn/marryWap/shanghaiBookPage.do" class="btnLink">预约查询</a>
				</div>
			</div>
			<div class="login-tips XL-query">
				<p><img src="/images/icon-tips.png">注意:</p>
				<p>1、我市所有婚姻登记机关都开通了结婚登记网上预约服务。</p>
				<p>2、网上预约需要提前两个工作日申请，受理日期为一个月（按30天计算）之内的工作日。</p>
				<p>3、当事人网上预约时，男女双方至少有一方常驻户口为上海户籍，否则将不予受理，谢谢您的支持和配合。</p>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：上海民政局</div>
	</div>
</body>
</html>