<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>公共服务</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <script type="text/javascript" src="/lib/vue.min.js"></script>
    <script type="text/javascript" src="/lib/axios.js"></script>
    <script type="text/javascript" language="javascript">
        var cityID = "<%= locals.cityID %>",
                citySRC = "<%= cityInfo.citySRC %>";
        var localFrom = "ucap_web";
    </script>
    <script>
        fnSize()
        window.addEventListener('resize',fnSize,false)
        function fnSize () {
            document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.offsetWidth/10 +'px';
        }
    </script>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body bgcolor="#e7e7e7">
<div class="max" id="indexPage" v-cloak>
    <!--banner图-->
    <div class="banner">
        <img :src="citySRC" />
        <div class="address"><span><%= cityInfo.cityName %></span></div>
    </div>
    <!--主要的-->
    <div class="main-box">
        <div class="img-list-box main-list clearfix hotService">
            <ul>
                <li v-for="(item,index) in hotService">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.src">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="newsHot-box"><img src="/images/img-hot.png">热点<span>本周新发布医疗挂号、投诉举报等37项服务</span></div>
    </div>
    <!--交通-->
    <div class="main-box" v-if="traffic.length>0">
        <div class="img-list-box public-list-box">
            <h1 class="public-tit">交通</h1>
            <ul>
                <li v-for="(item,index) in traffic">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.logo">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--banner图-->
    <div v-if="window.location.href.indexOf('fw')<0" class="banner news-banner">
        <img src="/images/news-banner.png">
    </div>
    <!--社会保障-->
    <div class="main-box" v-if="socialSecurity.length>0">
        <div class="img-list-box public-list-box">
            <h1 class="public-tit">社会保障</h1>
            <ul>
                <li v-for="(item,index) in socialSecurity">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.logo">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--医疗卫生-->
    <div class="main-box" v-if="medical.length>0">
        <div class="img-list-box public-list-box">
            <h1 class="public-tit">医疗卫生</h1>
            <ul>
                <li v-for="(item,index) in medical">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.logo">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--教育-->
    <div class="main-box" v-if="education.length>0">
        <div class="img-list-box public-list-box">
            <h1 class="public-tit">教育</h1>
            <ul>
                <li v-for="(item,index) in education">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.logo">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--政务类-->
    <div class="main-box" v-if="government.length>0">
        <div class="img-list-box public-list-box">
            <h1 class="public-tit">政务</h1>
            <ul>
                <li v-for="(item,index) in government">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.logo">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--旅游类-->
    <div class="main-box" v-if="tourism.length>0">
        <div class="img-list-box public-list-box">
            <h1 class="public-tit">旅游</h1>
            <ul>
                <li v-for="(item,index) in tourism">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.logo">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--法规查询-->
    <div class="main-box" v-if="lawRule.length>0">
        <div class="img-list-box public-list-box">
            <h1 class="public-tit">法规查询</h1>
            <ul>
                <li v-for="(item,index) in lawRule">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.logo">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--文化体育-->
    <div class="main-box" v-if="cultural.length>0">
        <div class="img-list-box public-list-box">
            <h1 class="public-tit">文化体育</h1>
            <ul>
                <li v-for="(item,index) in cultural">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.logo">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--举报投诉-->
    <div class="main-box" v-if="complaint.length>0">
        <div class="img-list-box public-list-box">
            <h1 class="public-tit">举报投诉</h1>
            <ul>
                <li v-for="(item,index) in complaint">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.logo">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--民政-->
    <div class="main-box" v-if="civil.length>0">
        <div class="img-list-box public-list-box">
            <h1 class="public-tit">民政</h1>
            <ul>
                <li v-for="(item,index) in civil">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.logo">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--税务服务-->
    <div class="main-box" v-if="tax.length>0">
        <div class="img-list-box public-list-box">
            <h1 class="public-tit">税务服务</h1>
            <ul>
                <li v-for="(item,index) in tax">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.logo">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--信用服务-->
    <div class="main-box" v-if="credit.length>0">
        <div class="img-list-box public-list-box">
            <h1 class="public-tit">信用</h1>
            <ul>
                <li v-for="(item,index) in credit">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.logo">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--其他-->
    <div class="main-box" v-if="other.length>0">
        <div class="img-list-box public-list-box">
            <h1 class="public-tit">其他</h1>
            <ul>
                <li v-for="(item,index) in other">
                    <form :id="item.serviceID" method="post" :action="item.url" style="display: none;">
                        <input type="text" name="vDate" value="2515745339000" style="display: none;">
                        <input type="text" name="info[userID]" value="<%= locals.userID%>" style="display: none;">
                        <input type="text" name="info[tel]" value="<%= locals.tel%>" style="display: none;">
                        <input type="text" name="info[clientID]" value="<%= locals.clientID%>" style="display: none;">
                        <input type="text" name="local[cityNum]" value="<%= locals.cityID%>" style="display: none;">
                        <input type="text" name="local[local_x]" value="<%= locals.local_x%>" style="display: none;">
                        <input type="text" name="local[local_y]" value="<%= locals.local_y%>" style="display: none;">
                        <input type="submit" value="" class="submit"/>
                    </form>
                    <a @click="doSubmit(item.serviceID)" href="javascript:;">
                        <img :src="item.logo">
                        <p>{{item.serviceName}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/indexPage.js"></script>
</body>
</html>