@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 14px;
}
.header{
	border-bottom: 1px solid #ddd;
	height: 70px;
}
.header .logoBox img{
	margin-left: 30px;
	margin-top: 15px;
	margin-right: 100px;
}
.header .downMenu select{
	width: 200px;
	height: 30px;
	padding:5px 10px 6px;
}
.clearfix{
	clear: both;
}
.navBar{
	background: #f0f0f0;
	width: 200px;
	float: left;
}
.navBar ul li a{
	height: 40px;
	line-height: 40px;
	display:block;
	color: #333;
	text-decoration: none;
	padding: 0 30px;
}
.navBar ul li a:hover{
	background: #999;
	color: #fff;
}
.navBar ul li ul li a{
	padding-left: 45px;
	height: 30px;
	line-height: 30px;
}
.rightContent{
	float: left;
	margin-top: 50px;
}
#nav {display:block;width:100%;padding:0;margin:0;list-style:none;}
#menu_con{ width:358px; height:135px; border-top:none}
.tag{ padding:10px; overflow:hidden; width: 500px;}
.selected{background:#C5A069; color:#fff;}
.menu-list-box{
	margin-bottom: 20px;
}
.menu-list-box label{
	display: inline-block;
	width: 200px;
	text-align: right;
}
.menu-list-box input{
	border: 1px solid #ddd;
	height: 30px;
	line-height: 30px;
	width: 200px;
	padding: 0 10px;
}
.btn-query-box {
	padding-left: 205px;
}
.btn-query-box a{
	text-decoration: none;
	display: inline-block;
	width: 200px;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background: #00c1de;
}
.text-wh{
	width: 96px !important;
}
#result,#result1{
	width: 220px;
	margin-left: 200px;
	line-height: 22px;
	display: inline-block;
}