@charset "utf-8";

body{
	background:#fff url(../images/login/login-bgibg.png) 0px 90px no-repeat;
	font-family:"微软雅黑", "宋体";
}
ul{
	list-style: none;
}
a:hover,a:focus{
	text-decoration: none;
}

/*头部*/
.login-header{
	height: 90px;
}
.login-header .icon-logo{
	display: inline-block;
	background: url(../images/login/login-logo.png) 0 22px no-repeat;
	width: 46px;
	height: 60px;
	float: left;
}
.login-header .header-logo span{
	display: inline-block;
	float: left;
	color: #354052;
	font-size: 22px;
	margin-top: 32px;
    margin-left: 10px;
    cursor: default;
}
.login-header .header-hotTel{
	float: right;
	color: #9c9c9c;
	margin-top: 40px;
}
.login-header .header-hotTel .icon-tel{
	display: inline-block;
	background: url(../images/login/hotTel.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-top: 2px;
    float: left;
    margin-right: 10px;
}
/*登录*/
.login-bg{
	background:#1a1348 url(../images/login/grid.png) repeat;
	width: 100%;
	height: 500px;
}
.login-bg .map-bg{
	background: url(../images/login/map.png) 52px 22px no-repeat;
	height: 445px;
}
.login-bg .header-left-bg{
	background: url(../images/login/left-pic.png) 0 32px no-repeat;
	height: 475px;
}
/*登录框*/
/*tab*/
.loginbox{
	background:#fff;
	padding:23px 25px 25px;
	color:#515151;
	width: 356px;
    margin: 68px auto 0;
	}
.loginbox .nav-tabs > li.active > a, .loginbox .nav-tabs > li.active > a:focus, .loginbox .nav-tabs > li.active > a:hover{
	background:none;
	}
.loginbox .nav-tabs{
	text-align: center;
}
.loginbox .nav-tabs>li{
	float: none;
	}
.loginbox .nav-tabs>li.active>a,.loginbox .nav-tabs>li.active>a:focus,.loginbox .nav-tabs>li.active>a:hover{
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:5px #0cbbef solid;
	color:#0cbbef;
	display: inline-block;
	}
.loginbox .nav>li>a{
	font-size:18px;
	padding:0px;
	color:#354052;
	height:37px;
	border:none;
	}
.loginbox .nav>li>a:hover{
	background:none;
	}
.loginbox .nav>li>a:focus{
	background: none;
}
.loginbox .login .tab-content{
	margin-top: 30px;
	position: relative;
}
.btn-ucap-box{
	border-top: 1px solid #e3e4e4;
    margin-top: 24px;
    margin-left: -23px;
    margin-right: -23px;
    padding: 15px 23px 0;
}
.btn-ucap-box p{
	font-size: 12px;
    color: #6c6c6c;
    margin-top: 6px;
}
.btn-open-ucapAcc{
	padding: 5px 15px;
	color: #737787;
	font-size: 12px;
	border: 1px solid #d7d8da;
}
.btn-open-ucapAcc:hover{
	text-decoration: none;
	background: #f5f5f5;
}
.btn-forgot-pwd{
	font-size: 12px;
	color: #6c6c6c;
	line-height: 28px;
}
/*登录输入框*/	
#myTabContent{
	margin-top:33px;
	position:relative;
}
#loginError{ 
	display: none;
	position:absolute;
	top:-25px;
	background: url(../images/login/icon-error.png) no-repeat left 2px;
	padding-left: 22px;
	line-height: initial;
	font-size: 14px;
}
.login-input-box,.login-code{
	width:100%;
	margin:16px auto 0px; 
	position: relative;
	}
.login-input-box i,.login-code i{
	width: 40px;
	height: 40px;
	position: absolute;
    top: 1px;
    left: 1px;
}
.login-input-box .icon-userName{
	background: url(../images/login/icon-user.png) no-repeat;
}
.login-input-box .icon-pwd{
	background: url(../images/login/icon-pwd.png) no-repeat;
    left: 1px;
}
.login-code .icon-v-code{
	background: url(../images/login/icon-v-code.png) no-repeat;
    left: 1px;
}
.icon-user-delete{
	position: absolute;
	display: none;
	background: url(../images/login/icon-user-delete.png) no-repeat;
	width: 16px;
	height: 16px;
	right: 14px;
	top: 12px;
}
.login-input-box input.form-control,.login-code input.form-control{
	padding-left: 43px;
	font-weight: 100;
}
input.form-control{
	height:42px;
	padding:8px 9px;
	font-size:14px;
	border-radius:0px;
	box-shadow:none;
	background:#fff;
	border: 1px solid #dadada;
	}
input.form-control:focus,.login-code .v-code-input input.login_input1:focus{
	border: 1px solid #32a5e7;
	outline: none;
	-webkit-box-shadow: none;
	-ms-box-shadow:none;
	-moz-box-shadow: none;
	box-shadow: none;
}	
.error-msg{
	padding-left:5px;
	position:relative;
	color:red;
	top:4px;
	}
.dlk input[type=submit]{
   	height:45px;
    width:100%;
    background:#32a5e7;
    border:none;
    color:#fff;
    font-size:16px;
    margin-top:12px;
   	transition:background .5s;
   	-moz-transition:background .5s; /* Firefox 4 */
	-webkit-transition:background .5s; /* Safari 和 Chrome */
	-o-transition:background .5s; /* Opera */
	}
.dlk input:hover[type=button]{
   	background:#108ec3;
   	}
.login-status .jym{
	float: right;
	margin-top: -2px;
}
.login-status .jym a{
	color: #aaa;
	font-size: 12px;
}
.login-status .dlzt label{
	margin-bottom:0;
	display: inline-block;
	float: left;
	background: #fff;
	width: 14px;
	height: 14px;
	border: 1px solid #dadada;
	margin-top: 1px;
    margin-right: 10px;
}
.login-status .dlzt .tips-word{
	float: left;
	font-size: 12px;
	color: #a3a3a3;
}
.login-code{
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 8px;
}
.login-code .v-code-input input.login_input1{
    width: 165px;
    border: 0px none;
    background: #fff;
    border: 1px solid #dadada;
}
.v-code-box {
    float: right;
    margin-left: 10px;
    width: 130px;
    height: 42px;
    border: 1px solid #dadada;
}
/*底部*/
.footer{
	padding-top: 35px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 12px;
	color: #9c9c9c;
}
@media screen\0 {
	.mask
	{
	    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,endColorstr=#33ffffff);
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,endColorstr=#33ffffff);
	    zoom: 1;
	}
}
@media (max-width: 992px) {
	.login-bg .header-left-bg{
		background: url(../images/login/left-pic.png) center 32px no-repeat;
    	height: 475px;
	}
	.login-bg{
		height: auto;
	}
	.loginbox {
	    float: inherit;
	    margin: 40px auto;
	}
	.login-bg .map-bg {
	    height: auto;
	}
}
@media (max-width: 768px) {
	.loginbox{
		width: 100%;
	}
	.login-bg .header-left-bg{
		background: url(../images/login/left-pic.png) center 32px no-repeat;
    	background-size: cover;
		width: 100%;
	}
	.login-bg .map-bg .col-md-5{
		margin-left: -20px;
		margin-right: -20px;
	}
}