.login-tips.font28{
	font-size: 0.388rem;
	color: #8d8d8d;
}
.login-tips.font28 span{
	border-radius: 20px;
	width: 0.084rem;
	height: 0.388rem;
	display: inline-block;
	background: #b2b2b2;
	float: left;
	margin-top: 6px;
	margin-right: 0.28rem;
	margin-left: 0.22rem;
}
.trigger{
	font-size: 0.38rem;
	color: #b2b2b2;
	height: 0.3rem;
	display: inline-block;
}
.queryResult.parkingQuery .q-r-tit{
	padding-bottom: 0.33rem;
}
.parkingResult{
	border-top: 1px solid #edefee;
	/*height: 1.05rem;*/
	line-height: 0.6rem;padding: 0.3rem 0.65rem;
	color: #474747;
	font-size: 0.36rem;
	/*padding-left: 0.65rem;*/
}
.queryAll-box .text-list-div{
	padding-top: 0.38rem;
    padding-bottom: 0.38rem;
}
.queryAll-box .peccancyQuery.userInfor .text-list-div label{
	width: 3rem;
}
.queryAll-box .peccancyQuery.userInfor .text-list-div span{
	width: -webkit-calc(100% - 3rem);
    width: -moz-calc(100% - 3rem);
    width: calc(100% - 3rem);
}
.queryAll-box .peccancyQuery.userInfor .text-list-div:nth-last-child(1){
	margin-bottom: 0;
}
.queryAll-box .peccancyQuery.userInfor .q-r-tit.parking-title small{
	display: inline-block;
	color: #0083e0;
	margin-left: 0.55rem;
	font-size: 0.38rem;
	width: 6.65rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.queryAll-box .peccancyQuery.userInfor .q-r-tit.parking-title label{
	float: right;
	color: #b2b2b2;
	margin-right: 0.55rem;
}



/*小客车*/
.numResult-box .queryResult .q-r-tit span{
	border-radius: 20px;
    width: 0.084rem;
    height: 0.388rem;
    display: inline-block;
    background: #b2b2b2;
    float: left;
    margin-top: 6px;
    margin-right: 0.28rem;
    margin-left: 0.22rem;
}
.numResult-box .parkingResult{
	color: #8d8d8d;
}
.icon-checkBox {
    background-position: 0 0;
    margin-top: -3px;
}
.icon-checkBox.selected {
    background-position: -26px 0;
}
.q-r-tit .success{
	float: right;
	font-size: 0.36rem;
	color: #474747;
	margin-right: 0.55rem;
}
.accounts-all{
	display: inline-block;
}
.accounts-all span{
	font-size: 0.38rem;
	color: #474747;
	margin-right: 0.69rem;
}
.accounts-all span img{
	width: 0.34rem;
	height: 0.34rem;
	margin-right: 0.22rem;
}
.loadingMore{
	font-size: 0.388rem;
	color: #549dfb;
	text-align: center;
	margin-top: 0.3rem;
	cursor: pointer;
}
