.ccc{
	background:#ccc!important;
}
.lvyou-title{
	color: #333;
	font-size: 0.41rem;
	line-height: 1.22rem;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
}
.lvyou-title .icon-return{
	float: left;
    margin-left: 0.33rem;
    margin-top: 0.34rem;
    width: 0.55rem;
    height: 0.55rem;
}
.ts-agreement{
	padding: 0 0.625rem 0 0.98rem;
}
.ts-agreement p{
	text-indent: -0.30rem;
	color: #474747;
	font-size: 0.36rem;
	line-height: 0.72rem;
}
.ts-agreement p:nth-child(1){
	margin: 0.33rem -0.3rem;
	text-indent: 0rem;
}
.agreeOK{
	font-size: 0.34rem;
	margin-top: 0.4rem;
}
.agreeOK span{
	display: inline-block;
	vertical-align: middle;
	width: 0.34rem;
	height: 0.34rem;
	background: url(../images/icon-checkBox-default.png) no-repeat;
	background-size: 0.34rem 0.34rem;
	margin: -0.03rem 0.2rem 0 0.55rem;
}
.agreeOK span.active{
	background: url(../images/icon-yh-check.png) no-repeat;
	background-size: 0.34rem 0.34rem;
}
.agreeOK a{
	margin-left: 0.084rem;
}
.uploadVoucher .pic-uploadV{
	display: inline-block;

}
.uploadVoucher .pic-uploadV div{
	margin-left:2px;
	margin-bottom:2px;
}
.uploadVoucher .pic-uploadV .z_file{
	width: 1.942rem;
	height: 1.944rem;
	border: 1px solid #eee;
	float:left;
}
.uploadVoucher .pic-uploadV .imgCon{
	width: 1.942rem;
	height: 1.944rem;
	border: 1px solid #eee;
	float:left;
	position: relative;
}
.uploadVoucher .pic-uploadV .imgCon i.file-pdf{
	background: url("../images/tourism/file2.png") no-repeat;
	display: inline-block;
	width: .44rem;
	height: .7rem;
	background-size: 87%;
	top: -2px;
	left: 1px;
	position: absolute;
}
.uploadVoucher .pic-uploadV .imgCon a{
	width:100%;
	display: inline-block;
	height: 100%;
	overflow: hidden;
	color: #b2b2b2;
	font-size: 0.25rem;
	line-height: 0.48rem;
	word-break: break-all;
	text-indent: .44rem;
}
.uploadVoucher .pic-uploadV .imgCon img,.uploadVoucher .pic-uploadV .imgCon video{
	width: 1.942rem;
	height: 1.944rem;
}
.uploadTips{
	color: #b2b2b2;
	font-size: 0.25rem;
	line-height: 0.5rem;
	margin-top: 0.2rem;
}
.upload-Box{
	display: inline-block;
	width: -webkit-calc(100% - 3rem);
	width: -moz-calc(100% - 3rem);
	width: calc(100% - 3rem);
}
.uploadVoucher label{
	vertical-align: top;
	margin-top: 0.9rem;
}

.messageBox-list {
    line-height: 0.5rem;
}
.messageBox-list label {
    float: left;
}
.messageBox-list textarea {
    float: left;
    font-family: 微软雅黑;
    color: rgb(178, 178, 178);
    width: calc(100% - 3rem);
    max-width: calc(100% - 3rem);
    font-size: 0.37rem;
    height: 0.5rem;
    border: none;
}
.sufanTips{
	margin-left: 2.9rem;
	font-size: 0.3rem;
	color: #b2b2b2;
	margin-top: 0.36rem;
	margin-bottom: 0.2rem;
}
.accounts-all{
	display: inline-block;
}

.accounts-all span{
	font-size: 0.388rem;
	float: left;
	color: #b2b2b2;
}
.accounts-all span:nth-of-type(1){
	margin-right: 0.7rem;
}
.accounts-all span picture{
	display: inline-block;
	vertical-align: middle;
	width: 0.34rem;
	height: 0.34rem;
	background: url(../images/icon-checkBox-default.png) no-repeat;
	background-size: 0.34rem 0.34rem;
	margin: -0.03rem 0.2rem 0 0rem;
}
.accounts-all span picture.active{
	background: url(../images/icon-yh-check.png) no-repeat;
	background-size: 0.34rem 0.34rem;
}
.q-r-tit .success{
    float: right;
    font-size: 0.36rem;
    color: #474747;
    margin-right: 0.55rem;
}
.q-r-tit .success.lvyouNum{
	color: #b2b2b2;
}

.speedBox{
	display: inline-block;
	width: 80%;
    text-align: right;
    float: right;
    padding-right: 0.128rem;
    padding-top: 0.41rem;
}
.speedList{
	border-right: 2px solid #b2b2b2;
	padding-right: 0.347rem;
	min-height: 1.14rem;
	position: relative;
	padding-bottom: 0.2rem;
}
.speedList p{
	line-height: 0.44rem;
    font-size: 0;
}
.peccancyQuery.userInfor .text-list-div .speedList .time span{
	float: none;
	color: #474747;
	font-size: 0.28rem;
}
.peccancyQuery.userInfor .text-list-div .speedList .time span:nth-of-type(2){
	margin: 0 0.2rem;
}
.peccancyQuery.userInfor .text-list-div .speedList:nth-last-of-type(1){
	border-right:1px solid #fff;
	padding-right: 0.374rem;
}
.speedList .auditPrompt{
	color: #b2b2b2;
	font-size: 0.28rem;
}
.icon-lvyou{
	display: inline-block;
	vertical-align: middle;
	width: 0.416rem;
	height: 0.416rem;
	position: absolute;
	right: -0.22rem;
	background-size: contain;
	background-color: #fff;
	background-repeat: no-repeat;
}
.icon-submit{
	background-image:url(../images/tourism/icon-lvyouSpeed1.png);
}
.icon-default{
	background-image:url(../images/tourism/icon-lvyouSpeed2.png);
}
.icon-cancel{
	background-image:url(../images/tourism/icon-lvyouSpeed3.png);
	right: -0.2rem;
}
.peccancyQuery.userInfor .text-list-div .speedList.speedCancel .time span{
	color: #ef8935;
}
.cancelState{
	color: #ef8935;
}
.peccancyQuery.userInfor .text-list-div span.completedState{
	color: #0083e0;
}
.text-list-div .icon-downMenu.spacTop{
    margin-top: -0.1rem;
}
.no-padding{
	padding-top:0!important;
}
.no-padding .title{
	padding-top:0.61rem!important;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.clearfix{
	zoom:1;
}
.no-padding .title img{
	width:0.694rem;
	height:0.694rem;
	transition:0.7s all ease;
}