/*首页-预约按钮*/
.btn-guahao {
    background: #549dfb;
    color: #fff;
    padding: 0.02rem 0.138rem 0.05rem;
    text-align: center;
    font-size: 0.277rem;
    border-radius: 2px;
    float: right;
    margin-right: 0.6rem;
}
.hosList.hNHosList.JXDlList{
	display: inline-table;
}
/*医院简介*/
.hospitalIntro{
    font-size: 0.277rem;
    color: #8d8d8d;
    line-height: 0.5rem;
    padding: 0.33rem 0.52rem 0.72rem;
}
.hospitalIntro p{
	text-indent: 0.583rem;
}
.successMsg-remind span {
    color: #0083e0;
    margin-left: 0 !important;
}
/*科室选择*/
.JXTable{
	width: 100%;
}
.JXTable li{
	background: #fff;
	border-right: none;
}
.text-list-div.JX-list-div{
	padding-top: 0;
}
.icon-intro {
    display: inline-block;
    background: url(../../images/sXHospital/icon-intro.png) no-repeat;
    width: 0.25rem;
    height: 0.25rem;
    background-size: 0.25rem;
    margin-right: 0.11rem;
}
.hosList.hNHosList.sXDefaultList dd p {
    width: auto;
}
.intro {
    color: #8d8d8d;
    font-size: 0.277rem;
    line-height: 0.52rem;
}
.hosList.hNHosList.sXDefaultList dd .address {
    margin-bottom: 0.13rem;
    margin-top: 0.138rem;
}
.hosList.hNHosList dd .time span.noBorder {
    border-right: none;
}
.hosList.hNHosList.JXKeShiList{
	display: inline-table;
}
.hosList.hNHosList.JXKeShiList .address{
	margin-top: 0.2rem;
}
/*预约挂号*/
.sDTableDiv {
    margin: 0 0.194rem 0.32rem;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
}
.sDTableData th {
    background: #f6f8fa;
    border-bottom: 1px solid #edefee;
}
.reservationList.sDTableData tr td {
    height: 1.11rem;
    padding: 0;
}
.sDTableData tr td.stopZ span, .sDTableData tr td.stopY span, .sDTableData tr td.byAppointment span {
    display: inline-block;
    width: 0.833rem;
    height: 0.486rem;
    line-height: 0.486rem;
    border-radius: 2px;
}
.hosList.NMGHosList dt img.photo {
    width: 1.472rem;
    height: 1.833rem;
}
.hosList.NMGHosList dd {
    width: -webkit-calc(100% - 1.75rem);
    width: -moz-calc(100% - 1.75rem);
    width: calc(100% - 1.75rem);
    float: none;
    width: 100%;
    overflow: inherit;
}
.hosList.NMGHosList .introduce {
    white-space: initial;
}
.hosList.NMGHosList.JXGH .nameOffice{
	margin: 0.138rem 0 0.35rem;
}
.hosList.NMGHosList.JXGH .introduce{
	margin-top: 0.1rem;
}
.color0083e0 {
    color: #0083e0;
}
/*预约时间选择*/
.timeList{
	padding: 0 0.527rem;
}
.timeList ul li{
	border-bottom: 1px solid #f1f2f1;
	padding-top: 0.416rem;
	padding-bottom: 0.277rem;
}
.timeList ul li:nth-last-of-type(1){
	border-bottom: none;
}
.timeList ul li span{
	font-size: 0.36rem;
	color: #474747;
	float: left;
}
.timeList ul li a{
	display: inline-block;
	background: #549dfb;
	padding:0rem 0.138rem;
	border-radius: 2px;
	height: 0.52rem;
	line-height: 0.52rem;
	font-size: 0.33rem;
	color: #fff;
	float: right;
}
/*预约挂号单*/
.hosList.hNHosList.JXRegForm{
    width: -webkit-calc(100% - 1.11rem);
    width: -moz-calc(100% - 1.11rem);
    width: calc(100% - 1.11rem);
}
.hosList.hNHosList.JXRegForm dd{
	width: -webkit-calc(100% - 1.75rem);
    width: -moz-calc(100% - 1.75rem);
    width: calc(100% - 1.75rem);
}
.hosList.hNHosList.JXRegForm dd .nameOffice{
	margin: 0rem 0 0.25rem;
}
.hosList.hNHosList.JXRegForm dd .introduce{
	color: #474747;
	margin-top: 0.28rem;
    line-height: 0.277rem;
}
.hosList.hNHosList.JXRegForm dd .introduce .color-fa6e08{
	color: #fa6e08;
}
.hospitalName {
    color: #474747;
    font-size: 0.333rem;
    margin-bottom: 0.2rem;
}
/*添加就诊人*/
.selectDownMenu {
    width: -webkit-calc(100% - 3rem);
    width: -moz-calc(100% - 3rem);
    width: calc(100% - 3rem);
    font-size: 0.37rem;
    line-height: 0.5rem;
    color: #ababae;
}
.gjj-tab {
    font-size: 0;
    padding-bottom: 0.55rem;
    padding-top: 0.4rem;
    border-bottom: 1px solid #edefee;
}
.gjj-tab li {
    width: 50%;
    text-align: center;
    float: left;
    position: relative;
}
.gjj-tab li a {
    color: #364555;
    font-size: 0.388rem;
    display: inline-block;
}
.gjj-tab li.active a {
    color: #549dfb;
}
.gjj-tab li span {
    width: 0.486rem;
    height: 0.083rem;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    background: #549dfb;
    bottom: -0.2rem;
    left: 50%;
    margin-left: -0.243rem;
}
.text-list-div.jhrPhone label{
	margin-top: -0.35rem;
}
/*个人中心*/
.sDTit .alreadyReserved {
    float: right;
    font-style: normal;
    margin-right: 0.277rem;
}
.sDTit .alreadyReserved.colorBlue {
    color: #0083e0;
}

/*注册*/
.goLoginBox {
    font-size: 0.333rem;
    color: #b2b2b2;
    text-align: right;
    margin: -0.273rem 0.55rem 0.5rem;
}
.goRegister {
    float: right;
}
.goLoginBox a {
    color: #3e8af8;
}
.NMGReg .text-list-div .get-code {
    float: right;
    margin-top: -0.05rem;
}
/*登录*/
.goLoginBox.sDGoReg .goRegister {
    float: left;
}
/*密码找回*/
.NMGReg .text-list-div .get-code {
    float: right;
    margin-top: -0.05rem;
}
.regWH.NMGReg .text-list-div.phone-list-code input{
	width: -webkit-calc(100% - 4.9rem);
    width: -moz-calc(100% - 4.9rem);
    width: calc(100% - 4.9rem);
}
/*预约成功*/
.appDetailsTit{
	font-size: 0.388rem;
	color: #474747;
	border-bottom: 1px solid #eef0ef;
	padding-top: 0.2rem;
	padding-bottom: 0.277rem;
	margin-bottom: 0.277rem;
}
.reserve-title.successMsg-remind span.spacML{
	margin-left: 0.35rem !important; 
}
/*挂号单确认-就诊人之间的间距*/
.jiuZList.padTop{
	margin-bottom: 0.25rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #ddd;
}

