<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>出入境办理</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/passport/passport.css" />
	<link rel="stylesheet" href="/css/mobileSelect.css" />
    <script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityInfo = "<%= cityInfo %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--出入境办理-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img @click="back()" src="/images/icon-return.png" class="icon-return"/>{{provinceName}}出入境办理</h1>
				<hr class="hrLine">
				<div class="hnList">
					<div class="text-list-div listS">
						<label>所在省：</label>
						<span>{{provinceName}}</span>
					</div>
					<div class="text-list-div" id="citySele">
						<label>所在市：</label>
						<span class="color58" id="city">请选择</span><!--选择后用的颜色类color58-->
						<img src="/images/icon-downMenu.png" class="icon-downMenu">
					</div>
					<div class="text-list-div" id="datSele">
						<label>办理大厅：</label>
						<span id="dat">请选择</span>
						<img src="/images/icon-downMenu.png" class="icon-downMenu">
						<div class="tips" style="display: none;">*请留意本受理点可办理业务类型</div>
					</div>
					<div class="text-list-div" id="dateSele">
						<label>日期选择：</label>
						<span id="date">请选择</span>
						<img src="/images/icon-downMenu.png" class="icon-downMenu">
					</div>
					<div class="text-list-div" id="timeSele">
						<label>时间段：</label>
						<span id="time">请选择</span>
						<img src="/images/icon-downMenu.png" class="icon-downMenu">
					</div>
					<div class="btn-box">
						<input type="button" value="预约" @click="next()" id="btn"/>
					</div>
				</div>
			</div>
		</div>
        <div class="masktime" v-if="masktime" id="masktime1">{{masktime}}</div>
        <div class="masktime" id="masktime" style="display: none"></div>
        <div class="mask" style="display: block;" id="dialogMask"></div>
        <div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
            <img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
            <p>加载中</p>
        </div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：国家移民管理局</div>
	</div>
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/hospital/mobileSelect.js"></script>
	<script src="/lib/vue.min.js"></script>
	<script src="/lib/axios.js"></script>
    <script src="/js/passport/setCookie.js"></script>
	<script>
        $(function () {
            var datingArr = [];
            //选择城市
            $("#citySele").on("click", function () {
                $("#dat").text("")
                $("#date").text("")
                $("#time").text("")
                $(".mobileSelect").remove();
                if (cityArr && cityArr.length > 0) {
                    var mobileSelect1 = new MobileSelect({
                        trigger: '#city',
                        title: '--所在市--',
                        wheels: [{data: cityArr}],
                        callback: function (indexArr, data) {
                            window.localStorage.setItem('cityid', $("#city").attr("data_id"));
                        }
                    })
                    $(".mobileSelect").addClass("mobileSelect-show");
                }

            });
            //选择办事大厅
            $("#datSele").on("click", function () {
                if(!$("#city").attr("data_id")){
                    $("#masktime").text("请先选择城市").show();
                    setTimeout(function () {
                        $("#masktime").hide();
                    }, 1500);
                    return;
                }
                $("#date").text("")
                $("#time").text("")
                $(".mobileSelect").remove();
                var index = $("#city").attr("data_id")
                var datingAll = (cityAll[Number(index)]).sonlist;
                datingArr = [];
                for (var item in datingAll) {
                    var j = {};
                    j.id = datingAll[item].id;
                    j.name = datingAll[item].name;
                    datingArr.push(j);
                }
                if (datingArr && datingArr.length > 0) {
                    var mobileSelect1 = new MobileSelect({
                        trigger: '#dat',
                        title: '--办理大厅--',
                        wheels: [{data: datingArr}],
                        callback: function (indexArr, data) {
                        	$('#dat').css("color","#474747");
                            sldw = data[0].id;
                            window.localStorage.setItem('dating', data[0].id)
                            var parameters = {
                                randomKey: randomKey,
                                userID: userID,
                                clientID: clientID,
                                cityID: cityID,
                                local_x: local_x ,localFrom:localFrom,
                                local_y: local_y,
                                sldw: data[0].id,
                                cnzz_eid: '369068820-1538099808-http://219.136.255.192/',
                                umuuid: umuuid,
                                rnd: rnd,
                            };
                            $.ajax({
                                async: true,
                                url: "/passport/setCookie",
                                type: "post",
                                data: JSON.stringify(parameters),
                                contentType: "application/json",
                                success: function (res) {
                                },
                                error: function (err) {
                                    console.log(err)
                                }
                            });

                            var parameters = {
                                randomKey: randomKey,
                                userID: userID,
                                clientID: clientID,
                                cityID: cityID,
                                local_x: local_x ,localFrom:localFrom,
                                local_y: local_y,
                                sldw: $("#dat").attr("data_id")
                            };
                            $.ajax({
                                async: true,
                                url: "/passport/getDate",
                                type: "post",
                                data: JSON.stringify(parameters),
                                contentType: "application/json",
                                success: function (res) {
                                    if (res.responseBody.data) {
                                        $("#dateSele").click();
                                        return;
                                    }
                                    if (res.responseBody.length < 1) {
                                        $("#masktime").text("该受理点暂时还未开通网上预约").show();
                                        setTimeout(function () {
                                            $("#masktime").hide();
                                        }, 1500);
                                        return;
                                    }
                                    }
                                })



                        }
                    })
                    $(".mobileSelect").addClass("mobileSelect-show");
                } else {
                    $("#masktime").text("该城市暂无办理大厅可选择").show();
                    setTimeout(function () {
                        $("#masktime").hide();
                    }, 1500);
                    return;
                }
            });
            //日期选择
            $("#dateSele").on("click", function () {
                if(!$("#dat").attr("data_id")){
                    $("#masktime").text("请先选择办事大厅").show();
                    setTimeout(function () {
                        $("#masktime").hide();
                    }, 1500);
                    return;
                }
                $("#time").text("")
                $(".mobileSelect").remove();
                var parameters = {
                    randomKey: randomKey,
                    userID: userID,
                    clientID: clientID,
                    cityID: cityID,
                    local_x: local_x ,localFrom:localFrom,
                    local_y: local_y,
                    sldw: $("dat").attr("data_id"),
                    cnzz_eid: '369068820-1538099808-http://219.136.255.192/',
                    umuuid: umuuid,
                    rnd: rnd
                };
                document.getElementById("dialogMask").style.display = "block";
                document.getElementById("dialog").style.display = "block";
                $.ajax({
                    async: true,
                    url: "/passport/setCookie",
                    type: "post",
                    data: JSON.stringify(parameters),
                    contentType: "application/json",
                    success: function (res) {
                var parameters = {
                    randomKey: randomKey,
                    userID: userID,
                    clientID: clientID,
                    cityID: cityID,
                    local_x: local_x ,localFrom:localFrom,
                    local_y: local_y,
                    sldw: $("#dat").attr("data_id")
                };
                $.ajax({
                    async: true,
                    url: "/passport/getDate",
                    type: "post",
                    data: JSON.stringify(parameters),
                    contentType: "application/json",
                    success: function (res) {
                        if(res.responseBody.data){
                            $("#dateSele").click();
                            return;
                        }
                        document.getElementById("dialogMask").style.display = "none";
                        document.getElementById("dialog").style.display = "none";
                        if (res.responseBody.length < 1) {
                            $("#masktime").text("该日期暂无时间段可选择").show();
                            setTimeout(function () {
                                $("#masktime").hide();
                            }, 1500);
                            return;
                        }
                        if (res.responseBody && Object.prototype.toString.call(res.responseBody) == "[object Array]") {
                            var time = res.responseBody;
                            dateArr = [];
                            for (var item in time) {
                                var j = {};
                                j.id = time[item].time;
                                j.name = time[item].date;
                                dateArr.push(j);
                            }
                            var mobileSelect1 = new MobileSelect({
                                trigger: '#date',
                                title: '--选择日期--',
                                wheels: [{data: dateArr}],
                                callback: function (indexArr, data) {
                                	$('#date').css("color","#474747");
                                    window.localStorage.setItem('num', "1");//0 的时候禁止点击 1的时间可以点击
                                    $('#btn').css("background","#549dfb");
                                    document.getElementById('time').setAttribute("data_id","");
                                }

                            })
                            $(".mobileSelect").addClass("mobileSelect-show");
                        }else{
                            $("#masktime").text("对不起，该受理点暂时还未开通网上预约").show();
                            setTimeout(function () {
                                $("#masktime").hide();
                            }, 1500);
                            return;
                        }
                    }
                })
                    },
                    error: function (err) {
                console.log(err)
            }
        });
            });
            //时间段选择
            $("#timeSele").on("click", function () {
                if(!$("#date").attr("data_id")){
                    $("#masktime").text("请先选择日期").show();
                    setTimeout(function () {
                        $("#masktime").hide();
                    }, 1500);
                    return;
                }
                $(".mobileSelect").remove();
                var parameters = {
                    randomKey: randomKey,
                    userID: userID,
                    clientID: clientID,
                    cityID: cityID,
                    local_x: local_x ,localFrom:localFrom,
                    local_y: local_y,
                    sldw: sldw,
                    wsyyrq: $("#date").text(),
                };
                $.ajax({
                    async: true,
                    url: "/passport/getTime",
                    type: "post",
                    data: JSON.stringify(parameters),
                    contentType: "application/json",
                    success: function (res) {
                        var timeAll = res.responseBody;
                        timeArr = [];
                        for (var item in timeAll) {
                            //if(timeAll[item].num > 0){
                                var j = {};
                                var str = '' + timeAll[item]["time_slot"] + "   " + "剩余数" + timeAll[item].num;
                                j.id = timeAll[item]["time_slot"];
                                j.name = str;
                                j.num = timeAll[item].num;
                                timeArr.push(j);
                           // }
                        }
                        if (timeArr && timeArr.length > 0) {
                            var mobileSelect1 = new MobileSelect({
                                trigger: '#time',
                                title: '--时间段--',
                                wheels: [{data: timeArr}],
                                callback: function (indexArr, data) {
                                	$('#time').css("color","#474747");
                                    window.localStorage.setItem('time', data[0].id);
                                    window.localStorage.setItem('num', data[0].num);//0 的时候禁止点击 1的时间可以点击
                                    if(data[0].num == "0"){
                                        maskTip("当前时间段可预约剩余量为0，请选择其他时间");
                                        $('#btn').css("background","#ecf0f5");
                                    }else{
                                        $('#btn').css("background","#549dfb");
                                    }

                                }
                            })
                            $(".mobileSelect").addClass("mobileSelect-show");
                        }else{
                            $("#masktime").text("该日期暂无时间段可选择").show();
                            setTimeout(function () {
                                $("#masktime").hide();
                            }, 1500);
                            return;
                        }
                    }})
            });
        })
    </script>
	<script src="/js/passport/addressSelection.js"></script>

</body>
</html>