<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>预约申请成功</title>
		<link rel="stylesheet" href="/css/news.css" />
		<link rel="stylesheet" href="/css/passport/passport.css"/>
		<script type="text/javascript" src="/lib/vue.min.js"></script>
		<script type="text/javascript" src="/lib/axios.js"></script>
		<script type="text/javascript" src="/js/all.js"></script>
		<script type="text/javascript">
			var randomKey = "<%= locals.randomKey%>"
					, userID = "<%= locals.userID%>"
					, clientID = "<%= locals.clientID %>",
					cityID = "<%= locals.cityID %>",
					citySRC = "<%= cityInfo.citySRC %>",
					local_x = "<%= locals.local_x %>"
					, local_y = "<%= locals.local_y %>",
                localFrom = "<%= locals.localFrom %>";
//			fnSize()
//			window.addEventListener('resize', fnSize, false)
//			function fnSize() {
//				document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.offsetWidth / 10 + 'px';
//			}
		</script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max" id="appointmentSuccess">
			<!--banner图-->
			<% include ../header.html %>
			<!--预约详情-->
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home regWH">
					<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" @click="render('infoConfirm')"/>{{provinceName}}出入境办理</h1>
					<!--预约失败 start-->
					<div class="notFound applyTips">
						<div class="img-box"><img src="/images/success.png"></div>
						<div class="notF-infor">申请成功</div>
					</div>
					<div class="successTips">
						<p class="applicationName">申请人<span>{{name}}</span></p>
						<p>您申办的往来<span>普通护照业务</span>已预约成功。请记录申请密码<span>{{yymm}}</span>，以便查询或取消本次预约。请于{{time}}携带居民身份证和所需的相关证件、材料，提前15分钟前往{{SLDWMC}}(地点：{{SLDWDZ}})办理业务。</p>
						<p>您只需凭居民身份证到受理前台确认本次预约申请。</p>
					</div>
					<hr class="hrLine">
					<div class="btn-box">
						<input type="button" value="返回首页"  @click="render('passport')"/>
					</div>
				</div>
			</div>
			<div style="height: 1.3rem;"></div>
			<div class="data-sources">服务来源：国家移民管理局</div>
		</div>
	</body>
	<script type="text/javascript" src="/js/passport/appointmentSuccess.js"></script>
</html>
