<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>预约出入境证件申请须知</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/passport/passport.css"/>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityInfo = "<%= cityInfo %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max">
		<!--banner图-->
		<% include ../header.html %>
		<!---->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" @click="back"/>预约出入境证件申请须知</h1>
				<hr class="hrLine">
				<div class="intro">
					<p>一、申请人须如实填写个人资料并确保填写内容正确，如资料不实，将不予受理。</p>
					<p>二、申请人在预约证件受理申请前，须认真阅读办理出入境证件的服务指引。</p>
					<p>三、如申请人系预约办理签注业务的，申请人所申请签注的有效期不得超过所持证件的有效期，同时要预留公安机关受理、审批签发以及制证的时间。否则，公安机关则无法受理。例如：申请人拟申请1年有效的赴港再次签注，公安机关受理、审批签发及制证时间以30日计算，其所持往来港澳通行证的有效期应当超过1年零1个月；如申请人拟申请3个月有效的赴港再次签注，其所持往来港澳通行证的有效期应当超过4个月。</p>
					<p>四、申请人自成功预约之时起至预约时段结束前，不得再次通过公安出入境网上办事平台预约。</p>
					<p>五、申请人成功预约后，因故未能按照预约时间到出入境接待大厅办理，或需变更预约时间或地点的，请取消原预约申请并重新预约。</p>
					<p>六、申请人按照预约时间前去预约窗口办理出入境证件前，要按照相关办证服务指引的要求携带身份证明材料，以及与申请事由相关的证明材料。如：申请人系登记备案国家工作人员的，还应携带本人所属工作单位或者上级主管单位按照人事管理权限审批后出具的同意出境的证明。</p>
					<p>七、按照有关法律规定，公民不得以同一身份同时持有两本以上同类有效出入境证件（含签注）。对于弄虚作假骗领出入境证件的申请人，公安机关将依法依规予以严肃处理。</p>
					<div class="btn-box btn-notice">
						<input type="button" value="下一步" @click="next()"/>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：国家移民管理局</div>
	</div>
	<script src="/lib/vue.min.js"></script>
	<script src="/lib/axios.js"></script>
	<script type="text/javascript" src="/js/passport/appointmentNotice.js"></script>
</body>
</html>