<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>出入境办理</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/passport/passport.css"/>
    <link rel="stylesheet" href="/css/mobileSelect.css" />
    <script type="text/javascript" src="/js/hospital/mobileSelect.js" ></script>
    <link rel="stylesheet" href="/css/mobiscroll/mobiscroll.css">
    <link rel="stylesheet" href="/css/mobiscroll/mobiscroll_002.css">
    <link rel="stylesheet" href="/css/mobiscroll/mobiscroll_003.css">
    <script type="text/javascript" src="/lib/jquery.min.js" ></script>
    <script type="text/javascript" src="/lib/mobiscroll_002.js" ></script>
    <script type="text/javascript" src="/lib/mobiscroll.js" ></script>
    <script type="text/javascript" src="/lib/mobiscroll_003.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
    <script>
        var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityInfo = "<%= cityInfo %>",
                cityID = "<%= cityID %>",
                local_x = "<%= local_x %>"
                ,local_y = "<%= local_y %>",
            	localFrom = "<%= locals.localFrom %>";
    </script>
    <style>
        .accounts-all span {
            font-size: 0.38rem;
            color: #474747;
            margin-right: 0.69rem;
        }
        .accounts-all span i.icon-check{
            width: .34rem;
            height: .34rem;
            display:inline-block;
        }
        .accounts-all span i.icon-check{
            background: url("/assets/images/yaohao/icon-yh-default.png") no-repeat ;
            background-size: 0.34rem 0.34rem;
        }
        .accounts-all span .icon-check.check-true{
            background: url("/assets/images/yaohao/icon-yh-check.png") no-repeat ;
            background-size: 0.34rem 0.34rem;
        }
        .masktime{
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 231px;
            height: 49px;
            background: #000;
            color: #fff;
            font-size: 14px;
            text-align: center;
            line-height: 50px;
            border-radius: 4px;
            margin: auto;
        }
        [v-cloak]{
            display: none;
        }
    </style>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max" v-cloak>
		<!--banner图-->
		<% include ../header.html %>
		<!---->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home spacBot">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" @click="back"/>{{provinceName}}出入境办理</h1>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit otherTit"><span></span>预约信息</h2>
				<div class="hnHeadList hnOtherHeadList">
					<div class="text-list-div clearfix">
						<label>办证地址：</label>
						<span>{{SLDWDZ}}</span>
					</div>
					<div class="text-list-div clearfix">
						<label>时间：</label>
						<span>{{time}}</span>
					</div>
					<div class="text-list-div clearfix">
						<label>人员类别：</label>
						<!--<span class="rylb">
							<p>本地户籍居民</p>-->
							<!--<p>本地户籍居民</p>--外省居民能用到-->
						<!--</span>-->
                        <span class="rylb" @click="huJiSelect()" id="huJiTrigger">本地户籍居民</span>
						<img src="/images/icon-downMenu.png" class="icon-downMenu" @click="huJiSelect()">
					</div>
                    <div class="text-list-div clearfix" v-if="personType">
                        <span class="rylb" data_id="31">就业人员</span>
                    </div>
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>基本信息</h2>
				<hr class="hrLine">
				<div class="hnList hnTypeList basicInfoForm">
					<div class="text-list-div textShow textShowMore clearfix">
						<label>中文姓：</label>
						<input type="text" placeholder="请输入中文姓" @blur="loseFocus()" v-model="zwzf"/>
					</div>
					<div class="text-list-div spanAuto pyPublicGet clearfix">
						<label>拼音姓：</label>
						<div class="pyxBox whOne">
	                        <div v-for="(item,index) in keyPingYing" class="autoGetData">
	                            <span  v-bind:id="'xing_'+index" >{{item.ping}}</span>
	                            <img src="/images/icon-downMenu.png" class="icon-downMenu" @click="NamePingYing(item.ping,'xing_'+index)">
	                        </div>
							<div class="pymList" v-if="defaultPing">
		                        <span></span>
								<img src="/images/icon-downMenu.png" class="icon-downMenu" v-if="defaultPing">
							</div>
						</div>
					</div>
					<div class="text-list-div textShow textShowMore clearfix">
						<label>中文名：</label>
						<input type="text" placeholder="请输入中文名" @blur="nameBlur()" v-model="zwzfName"/>
					</div>
					<div class="text-list-div pymAuto pyPublicGet clearfix" :class="{'spanAuto':zwzfName}">
						<label>拼音名：</label>
						<div class="pyxBox">
	                        <div v-for="(item,index) in keyNamePingYing" class="autoGetData">
	                            <span v-bind:id="'ming_'+index">{{item.ping}}</span>
	                            <img src="/images/icon-downMenu.png" class="icon-downMenu" @click="NamePingYing(item.ping,'ming_'+index)">
	                        </div>

	                        <div class="pymList" v-if="defaultNamePing">
	                            <span></span>
								<img src="/images/icon-downMenu.png" class="icon-downMenu">
							</div>
							<div class="pymList" v-if="defaultNamePing">
								<span></span>
								<img src="/images/icon-downMenu.png" class="icon-downMenu">
							</div>
						</div>
					</div>
					<div class="text-list-div textShow textShowMore clearfix">
						<label>身份证号：</label>
						<input type="text" placeholder="请输入身份证号" v-model="card" @blur="cardBlur()"/>
					</div>
					<div class="text-list-div  textShowMore clearfix">
						<label>性别</label>
						<div class="accounts-all">
                            <span><i class="icon-check"  :class="{'check-true':selectes}" @click='selecte()'></i><em style="padding-left: 6px;font-style: normal;">男</em></span>
                            <span><i class="icon-check"  :class="{'check-true':select}" @click='selected()'></i><em style="padding-left: 6px;font-style: normal;">女</em></span>
						</div>
					</div>
					<div class="text-list-div textShowMore clearfix">
						<label>民族：</label>
						<div class="selectionBox">
							<span @click="nationSelect()" id="nationTrigger"></span>
							<img src="/images/icon-downMenu.png" class="icon-downMenu" @click="nationSelect()">
						</div>
					</div>
					<div class="text-list-div textShowMore clearfix">
						<label>出生日期：</label>
						<div class="selectionBox">
							<span  id="appDate" @click="birthdateSelect">{{birthdate}}</span>
							<img src="/images/icon-downMenu.png" class="icon-downMenu" id="appDates" @click="birthdateSelect">
						</div>
					</div>
					<div class="text-list-div textShowMore clearfix">
						<label>出生地：</label>
						<div class="selectionBox">
							<span @click="brithSelect()" v-bind:data_id='brithDzId'>{{brithDz}}</span>
							<img src="/images/icon-downMenu.png" class="icon-downMenu" @click="brithSelect()">
						</div>
					</div>
					<div class="text-list-div textShow textShowMore clearfix">
						<label>联系电话：</label>
						<input type="text" placeholder="请输入" v-model="phone" @blur="phoneBlur()"/>
					</div>
					<div class="text-list-div textShowMore clearfix">
						<label>户口所在地：</label>
						<div class="selectionBox">
							<span @click="brithHujiSelect()" :data_id="hukouTypeID2">{{hukouDz}}</span>
							<img src="/images/icon-downMenu.png" class="icon-downMenu" @click="brithHujiSelect()">
						</div>
					</div>
					<div class="text-list-div textShow textShowMore clearfix">
						<label>紧急联系人：</label>
						<input type="text" placeholder="请输入" v-model="urgentContacts"/>
					</div>
					<div class="text-list-div textShow textShowMore clearfix">
						<label>联系人电话：</label>
						<input type="text" placeholder="请输入" v-model="urgentPhone"/>
					</div>
				</div>
				<div class="btn-box">
					<input type="button" value="下一步" @click="next"/>
				</div>
			</div>
		</div>

        <!--提示语-->
        <div class="masktime" id="masktime" ref="masktime" v-if="masktime">{{masktime}}</div>


		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：国家移民管理局</div>
		<!--弹框遮罩-->
		<div class="mask" v-if="hukouSelect"></div>
		<!--出生地选择-->
		<div class="dialog-project" v-if="hukouSelect">
			<div class="title">出生地选择<i class="close" @click="close()"></i></div>
			<div class="dialog-con">
				<ul id="hukou">
					<li
                         v-for="(item,index) in brithArr"
                         name="box"
                         @click="activeSelect(index)"
						 v-bind:data_id="item.id"
                         v-bind:id="index">{{item.name}}<i class="selectCity"></i></li>
				</ul>
			</div>
		</div>
		<!--出生地选择-->
        <div class="mask" v-if="hukouSelectType"></div>
		<div class="dialog-project" v-if="hukouSelectType">
			<div class="title">户口所在地选择<i class="close" @click="hukouSelectClose()"></i></div>
			<div class="addressShowTit" >
            <span class="cancelTitle" @click="colorBlue('0')" :class="[{'colorBlue': provinceShow}]">{{provinceName}}</span>
            <span class="cancelTitle" @click="colorBlue('1')" :class="[{'colorBlue': cityShow}]">{{hukouType}}</span>
            <span class="cancelTitle" @click="colorBlue('2')" :class="[{'colorBlue': countryShow}]" v-if="isShow">{{hukouType2}}</span>
               <!-- <div v-if="provColor">
                <span class="cancelTitle" >{{provinceName}}</span>
				<span class="colorBlue cancelTitle" @click="colorBlue('0')" v-if="cityColor">{{hukouType}}</span>
				<span class="cancelTitle" @click="colorBlue('1')" v-if="cityColor">{{hukouType2}}</span>

                <span class="cancelTitle" @click="colorBlue('0')" v-if="countryColor">{{hukouType}}</span>
                <span class="cancelTitle colorBlue" @click="colorBlue('1')" v-if="countryColor">{{hukouType2}}</span>
                </div>-->
			</div>
			<div class="dialog-con dialog-otherCon">
				<ul v-if="city">
					<li v-for="(item,index) in hukouArr" v-bind:id="index" v-bind:main-data="item.id"
                        @click="hukouActiveSelect3(index,'city')"
                        name="hukou"
                        :class="[{'active': item.isChecked}]"
                           >{{item.name}}<i class="selectCity"></i></li>

				</ul>

                <ul v-if="country">
                    <li v-for="(item,index) in hukouArr2" v-bind:id="index" v-bind:main-data="item.id"
                    @click="hukouActiveSelect3(index,'country')"
						v-bind:data_id="item.id"
                    name="hukou" :class="{'active':item.isChecked}"
                    >{{item.name}}<i class="selectCity"></i></li>

                </ul>

                <ul v-if="province">
                    <li v-for="(item,index) in hukouArr3" v-bind:id="index" v-bind:main-data="item.id"
                    @click="hukouActiveSelect3(index,'province')"
                    name="hukou" :class="{'active':item.isChecked}"
                    v-bind:data_id="item.id">
                        {{item.name}}<i class="selectCity"></i>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</body>
</html>
<script src="/lib/vue.min.js"></script>
<script src="/lib/axios.js"></script>
<script type="text/javascript" src="/js/passport/basicInfo.js"></script>