<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>本受理地可办理业务类型</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/haiNanPassport/haiNanPassport.css" />
	<script type="text/javascript" src="/js/all.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--出入境办理-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>本受理地可办理业务类型</h1>
				<hr class="hrLine">
				<div class="businessList">
					<h2 class="q-r-tit"><span></span>本地户籍开通业务</h2>
					<div class="classList clearfix">
						<label>护照业务：</label>
						<span>首次申请、失效重新申领、补发、换发</span>
					</div>
					<div class="classList clearfix" style="display: none;">
						<label>往来港澳签注类型：</label>
						<span>个人旅游、团队旅游、探亲、逗留、其他</span>
					</div>
					<div class="classList clearfix" style="display: none;">
						<label>往来台湾签注类型：</label>
						<span>个人旅游、团队旅游、定居、探亲、居留、就学、乘务、应邀、经贸、交流、其他</span>
					</div>
				</div>
				<div class="businessList">
					<h2 class="q-r-tit"><span></span>省内非本地户籍开通业务</h2>
					<div class="classList clearfix">
						<label>护照业务：</label>
						<span>首次申请、失效重新申领、补发、换发</span>
					</div>
					<div class="classList clearfix" style="display: none;">
						<label>往来港澳签注类型：</label>
						<span>团队旅游</span>
					</div>
					<div class="classList clearfix" style="display: none;">
						<label>往来台湾签注类型：</label>
						<span>个人旅游、团队旅游、探亲、留学、乘务、应邀、经贸交流、其他</span>
					</div>
				</div>
				<div class="businessList">
					<h2 class="q-r-tit"><span></span>省外户籍开通业务</h2>
					<div class="classList clearfix">
						<label>护照业务：</label>
						<span>首次申请、失效重新申领、补发、换发</span>
					</div>
					<div class="classList clearfix" style="display: none;">
						<label>往来台湾签注类型：</label>
						<span>个人旅游、团队旅游、探亲、居留、就学、乘务、应邀、经贸交流、其他</span>
					</div>
				</div>
				<div class="btn-box">
					<input type="button" value="返回" />
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：国家移民管理局</div>
	</div>
</body>
</html>