<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>出入境办理</title>
    <link rel="stylesheet" href="/css/news.css"/>
    <link rel="stylesheet" href="/css/passport/passport.css"/>
    <link rel="stylesheet" href="/css/mobileSelect.css"/>
    <link rel="stylesheet" href="/css/mobiscroll/mobiscroll.css">
    <link rel="stylesheet" href="/css/mobiscroll/mobiscroll_002.css">
    <link rel="stylesheet" href="/css/mobiscroll/mobiscroll_003.css">
    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/mobileSelect.js"></script>
    <script type="text/javascript" src="/lib/mobiscroll_002.js"></script>
    <script type="text/javascript" src="/lib/mobiscroll.js"></script>
    <script type="text/javascript" src="/lib/mobiscroll_003.js"></script>
    <script type="text/javascript" src="/lib/vue.min.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script type="text/javascript">
        var randomKey = "<%= locals.randomKey%>"
                , userID = "<%= locals.userID%>"
                , clientID = "<%= locals.clientID %>",
                cityID = "<%= locals.cityID %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityName = "<%= cityInfo.cityName %>",
                local_x = "<%= locals.local_x %>"
                , local_y = "<%= locals.local_y %>",
            localFrom = "<%= locals.localFrom %>";
//        fnSize()
//        window.addEventListener('resize', fnSize, false)
//        function fnSize() {
//            document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.offsetWidth / 10 + 'px';
//        }
    </script>
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
<div id="certificationType" class="max">
    <!--banner图-->
    <% include ../header.html %>
    <!---->
    <div class="warpBox">
        <div class="peccancyQuery XLQuery-home regWH">
            <h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" @click="back"/>{{provinceName}}出入境办理</h1>
            <hr class="hrLine">
            <h2 class="q-r-tit"><span></span>办证信息</h2>
            <div class="selectType clearfix">
                <div class="title">办证类型：</div>
                <div class="ywList">
                    <div><i class="icon-check" :class="{'active':cerTypeCheck}" @click="cerTypeCheckClick"></i>普通护照
                    </div>
                </div>
            </div>
        </div>
        <div class="peccancyQuery userInfor onlyStyle">
            <h2 class="q-r-tit"><span></span>普通护照</h2>
            <hr class="hrLine">
            <div class="hnList hnTypeList">
                <div class="text-list-div clearfix">
                    <label>申请类型：</label>
                    <span id="type" @click="chooseType"/>请选择申请类型</span>
                    <img src="/images/icon-downMenu.png" class="icon-downMenu" @click="chooseType">
                </div>
                <div v-if="showIdCard" class="text-list-div clearfix">
                    <label>现持证件号码：</label>
                    <input v-model="idCard" type="text" placeholder="请输入证件号码"/>
                    <!--<img src="/images/icon-downMenu.png" class="icon-downMenu">-->
                </div>
                <div v-if="showIdCard" class="text-list-div clearfix">
                    <label>有效期至：</label>
                    <input id="idCardDate" type="text" placeholder="请选择有效期" @click="chooseDate"/>
                    <img id="end" src="/images/icon-downMenu.png" class="icon-downMenu" @click="chooseDate">
                </div>
                <div class="text-list-div clearfix">
                    <label>曾用名加注：</label>
                    <input v-model="nameUsed" type="text" placeholder="曾用名"/>
                </div>
                <div class="text-list-div clearfix">
                    <label>姓名加注：</label>
                    <input v-model="name" type="text" placeholder="姓名"/>
                </div>
                <div class="text-list-div clearfix">
                    <label>曾持照加注：</label>
                    <input v-model="passportUsed" type="text" placeholder="曾持照加注"/>
                </div>
            </div>
        </div>
        <div class="peccancyQuery userInfor onlyStyle">
            <h2 class="q-r-tit"><span></span>取证方式</h2>
            <hr class="hrLine">
            <div class="hnList hnTypeList">
                <div class="text-list-div clearfix">
                    <label>取证方式：</label>
                    <span id="getType" @click="chooseGetType"/>请选择取证方式</span>
                    <img src="/images/icon-downMenu.png" class="icon-downMenu" @click="chooseGetType">
                </div>
                <div v-if="isPost" class="text-list-div clearfix">
                    <label>速递地址：</label>
                    <input v-model="address" type="text" placeholder=""/>
                </div>
                <div v-if="isPost" class="text-list-div clearfix">
                    <label>速递邮编：</label>
                    <input v-model="postCode" type="text" placeholder=""/>
                </div>
                <div v-if="isPost" class="text-list-div clearfix">
                    <label>速递收件人：</label>
                    <input v-model="postName" type="text" placeholder=""/>
                </div>
                <div v-if="isPost" class="text-list-div clearfix">
                    <label>速递联系电话：</label>
                    <input v-model="postMobile" type="text" placeholder=""/>
                </div>
            </div>
            <div class="btn-box">
                <input type="button" value="下一步" @click="submit"/>
            </div>
        </div>
    </div>
    <div class="masktime" v-if="masktime">{{masktime}}</div>
    <div style="height: 1.3rem;"></div>
    <div class="data-sources">服务来源：国家移民管理局</div>
</div>
</body>
<script type="text/javascript" src="/js/passport/certificationType.js"></script>
</html>