<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>出入境办理</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/passport/passport.css"/>
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" src="/lib/axios.js"></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript">
		var randomKey = "<%= locals.randomKey%>"
				, userID = "<%= locals.userID%>"
				, clientID = "<%= locals.clientID %>",
				cityID = "<%= locals.cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				local_x = "<%= locals.local_x %>"
				, local_y = "<%= locals.local_y %>",
            localFrom = "<%= locals.localFrom %>";
//		fnSize()
//		window.addEventListener('resize', fnSize, false)
//		function fnSize() {
//			document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.offsetWidth / 10 + 'px';
//		}
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div id="infoConfirm" class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!---->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" @click="back"/>申请确认</h1>
				<hr class="hrLine">
				<h2 class="q-r-tit otherTit"><span></span>预约信息</h2>
				<div class="hnHeadList hnList hnTypeList">
					<div class="text-list-div clearfix">
						<label>姓名：</label>
						<span>{{name}}</span>
					</div>
					<div class="text-list-div clearfix">
						<label>身份证号：</label>
						<span>{{idCard}}</span>
					</div>
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>办证类型</h2>
				<hr class="hrLine">
				<div class="hnList hnTypeList">
					<div class="text-list-div clearfix">
						<label>办证类型：</label>
						<span>{{bzlx}}</span>
					</div>
					<div class="text-list-div clearfix">
						<label>申请类型：</label>
						<span class="colorBlue">{{pthzlb}}</span>
					</div>
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>验证码</h2>
				<hr class="hrLine">
				<div class="hnList hnTypeList">
					<div class="text-list-div phone-list-code clearfix">
						<label>验证码</label>
						<input v-model="verycode" type="text" placeholder="请输入验证码" />
						<img :src="verycodeSrc" class="img-code" @click="getVerycode">
					</div>
				</div>
				<div class="btn-box">
					<input type="button" value="确认提交" @click="showTips"/>
				</div>
			</div>
		</div>
		<div class="masktime" v-if="masktime">{{masktime}}</div>
		<!--遮盖层-->
		<div class="mask" v-if="isSubmit"></div>
		<!--确认提交弹框-->
		<div class="dialog-tel dialog-confirm" v-if="isSubmit">
			<div class="titTel">您确认要提交预约申请吗？提交后，信息不可修改。</div>
			<div class="btn-tel">
				<a href="javascript:;" @click="showTips">取消</a>
				<a href="javascript:;" @click="submit">确认</a>
			</div>
		</div>
		<div class="mask" style="display: none;" id="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：国家移民管理局</div>
	</div>
</body>
<script type="text/javascript" src="/js/passport/infoConfirm.js"></script>
</html>