.emergencyPhone{
	border-top: 1px solid #edefee;
	padding: 0.513rem 0 0;
}
.searchBox{
	border: 1px solid #d2d2d2;
	background: #fafafa;
	border-radius: 5px;
	width: 8.25rem;
	height: 1.083rem;
	font-size: 0.416rem;
	position: relative;
	margin: 0 auto;
}
.searchBox input.textSearch{
	border: none;
	height: 0.5rem;
	background: #fafafa;
	padding: 0 0 0 0.888rem;
	margin-top: 0.26rem;
	font-size: 0.416rem;
	width: 5.8rem;
}
.btnSearch{
	display: inline-block;
	width: 1.555rem;
	height: 1.03rem;
	background: #0380d3;
	border: none;
	color: #fff;
	text-align: center;
	font-size: 0.416rem;
	float: right;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.searchBox .icon-delete{
	width: 0.888rem;
    height: 0.888rem;
    cursor: pointer;
    position: absolute;
    right: 1.555rem;
    top: 0.08rem;
}
.icon-search{
	width: 0.444rem;
	height: 0.444rem;
	position: absolute;
	top: 0.305rem;
	left: 0.277rem;
}
.searchResult{
	padding: 0 0.55rem;
}
.gjj-tab {
    font-size: 0.388rem;
    padding-bottom: 0.3rem;
    padding-top: 0.5rem;
    margin: 0 -0.3rem 0 -0.5rem;
}
.gjj-tab li {
    width: 20%;
    text-align: center;
    float: left;
    position: relative;
}
.gjj-tab li a {
    color: #364555;
    font-size: 0.388rem;
    display: inline-block;
}
.gjj-tab li.active a {
    color: #549dfb;
}
.gjj-tab li.active span {
    width: 0.388rem;
    height: 0.083rem;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    background: #549dfb;
    bottom: -0.2rem;
    left: 50%;
    margin-left: -0.194rem;
}
.dsgList{
	height: 9.5rem;
	overflow-y: auto;
	border-top: 1px solid #edefee;
	padding: 0.388rem 0;
}
.dsgList ul li{
	font-size: 0.388rem;
	color: #6f7881;
	margin-bottom: 0.388rem;
}
.dsgList ul li:hover{
	color: #068de7;
	cursor: pointer;
}
/*查询结果*/
.tabPhone table{
	width: 100%;
	border-collapse: collapse;
}
.phoneIconBox{
	font-size: 0.555rem;
}
.phoneIconBox img{
	width: 0.555rem;
	height: 0.555rem;
}
.phoneTit{
	text-align:center;	
	margin-top: -0.3rem;
}
.phoneWord{
	font-size: 0.361rem;
	color: #333;
	margin-top: 0.2rem;
}
.tabPhone {
	padding: 0.416rem 0.55rem 0.555rem;
}
.tabPhone table tr td{
	border-left: 1px solid #e4e4e4;
	text-align: center;
}
.tabPhone table tr:nth-of-type(1) td:nth-of-type(1){
	border-left: none;
}
.tabPhone table tr:nth-of-type(1) td:nth-of-type(2) .phoneNum:nth-of-type(1){
	margin-top: 0.25rem;
}
.phoneNum{
	color: #333;
	font-size: 0.416rem;
	margin-bottom: 0.25rem;
}
.resultTit{
	font-size: 0.416rem;
	color: #333;
	border-bottom: 1px solid #ebebeb;
	margin: 0 0.55rem;
	padding-bottom: 0.416rem;
	font-weight: bold;
}
