<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>北京市出入境办理</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/beiJingPassport/beiJingPassport.css" />
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/beijing.png">
			<div class="address"><span>北京</span></div>
		</div>
		<!---->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" >北京市出入境办理</h1>
				<!--默认提示-->
				<div class="login-tips wgrzhjl bjProcess clearfix">
						<span class="wgTipsPicBox"><img src="/images/wgrzhjl/tips.png"></span>
						<span class="wgTipsWords">张晓明，您好！</span>
				</div>
				<hr class="hrLine">
				<div class="calculatorBox accptancePage">
					<div class="calculatorList clearfix">
						<label>中文姓名：</label>
						<input type="text" placeholder="请输入中文姓名" />
					</div>
					<div class="calculatorList clearfix">
						<label>身份证号：</label>
						<input type="password" placeholder="请输入身份证号" />
					</div>
					<div class="calculatorList clearfix">
						<label>户籍人员：</label>
						<span>持《北京市居住证人员》</span>
						<img src="/images/icon-downMenu.png" class="icon-downMenu">
					</div>
				</div>
				<div class="btn-box">
					<input type="button" value="下一步" />
				</div>
			</div>
		</div>
		<!--遮盖层-->
		<div class="mask" style="display: none;"></div>
		<!--请选择户籍人员类型-->
		<div class="dialog-examples" style="display: none;">
			<h1 class="gjj-tit">
				请选择户籍人员类型
				<img src="/images/shgjj/dialog-close.png" class="dialog-close">
			</h1>
			<div class="typeSelectBox">
				<div class="radioList clearfix">
					<i class="icon-radio-default"></i>
					<span>持《北京市居住证》人员</span>
				</div>
				<div class="radioList active clearfix">
					<i class="icon-radio-default"></i>
					<span>非本市户籍60岁(含)以上且在京居住满6个月(含)以上人员</span>
				</div>
				<div class="radioList clearfix">
					<i class="icon-radio-default"></i>
					<span>非本市户籍就业人员配偶或子女(未满16周岁）</span>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：北京市公安局</div>
	</div>
</body>
</html>
