<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>北京市出入境办理</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/beiJingPassport/beiJingPassport.css" />
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/beijing.png">
			<div class="address"><span>北京</span></div>
		</div>
		<!---->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">
					<img src="/images/icon-return.png" class="icon-return">
					预申请结果
				</h1>
				<hr class="hrLine">
				<div class="successAppCode">
					<i class="icon-semicircle semicircleLeft"></i>
					<i class="icon-semicircle semicircleRight"></i>
					<div class="successTitWord">
						<i class="icon-appSuccess"></i>预约成功！
					</div>
					<div class="successTitWord appCode">预约码为：<b>20181008004930</b></div>
				</div>
				<div class="btn-box">
					<input type="button" value="返回首页" />
				</div>
				<!--资料 start-->
				<div class="hospitalBranch">
					<h2 class="q-r-tit"><span></span>请携带以下资料</h2>
				</div>
				<div class="ziliaoTips">
					<p>持《北京居住证》人员</p>
					<p>1、填写完整的《中国公民出入境证件申请表》</p>
					<p>2、本人近6个月内正面免冠半身彩色两寸照片（白色或淡蓝色背景）一张</p>
					<p>3、本人有效二代居民在原件（未满16周岁的未成年人可提交户口薄原件）</p>
					<p>4、姓名、身份证号码、出生日期、出生地等信息发送变更的申请人还须提交户口簿原件</p>
					<p>5、本人有效《北京居住证》原件</p>
					<p>6、未满16周岁未成年人应当由监护人或监护人居民身份证或护照，在线申请表上填写监护人同意出境的意见。监护人委托他人陪同的，除上述材料外。还应提交监护人委托书，以及陪同人的居民身份证或护照。</p>
				</div>
				<!--资料 end-->
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：北京市公安局</div>
	</div>
</body>
</html>
