<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>北京市出入境办理</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/beiJingPassport/beiJingPassport.css" />
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/beijing.png">
			<div class="address"><span>北京</span></div>
		</div>
		<!---->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" >北京市出入境办理</h1>
			</div>
			<!---->
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>完善证件信息</h2>
				<div class="ywblBox">
					<div class="wszjxxBox">
						<div class="zjInfoList clearfix">
							<label>户籍人员：</label>
							<span>非本市户籍高等院校在读大学生</span>
						</div>
						<div class="zjInfoList clearfix">
							<label>证件种类：</label>
							<span>普通护照 → 首次申请</span>
						</div>
						<div class="zjInfoList clearfix">
							<label>证件种类：</label>
							<span>往来港澳通行证 → 首次申请（包含证件过期情形）</span>
						</div>
						<div class="zjInfoList clearfix">
							<label>证件种类：</label>
							<span>往来台湾通行证 → 首次申请</span>
						</div>
					</div>
					<div class="wszjxxBox txzBox">
						<h2 class="q-r-tit"><span></span>往来港澳通行证</h2>
						<div class="zjInfoList clearfix">
							<label>前往地：</label>
							<div class="checkBox"><i class="icon-check28"></i><b>香港</b></div>
						</div>
						<div class="zjInfoList clearfix">
							<label class="getHt">签注种类：</label>
							<div class="selectBox">
								<span>请选择</span>
								<img src="/images/icon-downMenu.png" class="icon-downMenu">
							</div>
						</div>
						<div class="zjInfoList clearfix">
							<label>前往地：</label>
							<div class="checkBox"><i class="icon-check28 active"></i><b>澳门</b></div>
						</div>
						<div class="zjInfoList clearfix">
							<label class="getHt">签注种类：</label>
							<div class="selectBox">
								<span>请选择</span>
								<img src="/images/icon-downMenu.png" class="icon-downMenu">
							</div>
						</div>
					</div>
					<div class="wszjxxBox txzBox">
						<h2 class="q-r-tit"><span></span>往来台湾通行证</h2>
						<div class="zjInfoList clearfix">
							<label>前往地：</label>
							<div class="checkBox"><i class="icon-check28"></i><b>台湾</b></div>
						</div>
						<div class="zjInfoList clearfix">
							<label class="getHt">签注种类：</label>
							<div class="selectBox">
								<span>请选择</span>
								<img src="/images/icon-downMenu.png" class="icon-downMenu">
							</div>
						</div>
					</div>
					<div class="btn-box">
						<input type="button" value="上一页" class="btnDefault backHome" />
						<input type="button" value="下一页" class="btnDefault fuhe" />
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：北京市公安局</div>
	</div>
</body>
</html>
