<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>北京市出入境办理</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/beiJingPassport/beiJingPassport.css" />
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/beijing.png">
			<div class="address"><span>北京</span></div>
		</div>
		<!---->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">
					<img src="/images/icon-return.png" class="icon-return">
					预申请结果
				</h1>
				<hr class="hrLine">
				<div class="calculatorBox passportListBox">
					<div class="calculatorList appointment clearfix">
						<label>身份证号：</label>
						<span>110105197702128012</span>
					</div>
					<div class="calculatorList appointment clearfix">
						<label>手机号码：</label>
						<span>15510225145</span>
					</div>
					<div class="calculatorList appointment clearfix">
						<label>证件种类：</label>
						<span>往来港澳通行证</span>
					</div>
					<div class="calculatorList appointment clearfix">
						<label>申请类型：</label>
						<span>往来港澳通行证 → 首次申请（包含证件过期情形）</span>
					</div>
					<div class="calculatorList appointment clearfix">
						<label>前往地1：</label>
						<span>香港12</span>
					</div>
					<div class="calculatorList appointment clearfix">
						<label>前往地2：</label>
						<span>澳门1B</span>
					</div>
					<div class="calculatorList appointment clearfix">
						<label>预申请条码：</label>
						<span>20180905004368</span>
					</div>
					<div class="calculatorList appointment clearfix">
						<label>预申请结果：</label>
						<span class="resultRed">您的预申请未通过！初审不通过。无居住证信息或居住证已过有效期。你已申请复核，请勿重复提交复核申请。请到（复核结果查询）中查询复核结果。</span>
					</div>
				</div>
				<div class="btn-box">
					<input type="button" value="返回首页"/>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：北京市公安局</div>
	</div>
</body>
</html>
