<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>北京市出入境办理</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/beiJingPassport/beiJingPassport.css" />
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/beijing.png">
			<div class="address"><span>北京</span></div>
		</div>
		<!---->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" >重置密码</h1>
				<hr class="hrLine">
				<div class="calculatorBox">
					<div class="calculatorList clearfix">
						<label>身份证号：</label>
						<input type="password" placeholder="请输入身份证号" />
					</div>
					<div class="calculatorList clearfix phone-list-code">
						<label>验证码</label>
						<input type="text" placeholder="请输入验证码" class="registerText" />
						<a href="javascript:;" class="get-code getSMSCode">获取短信验证码</a>
					</div>
					<div class="calculatorList clearfix">
						<label>新密码：</label>
						<input type="password" placeholder="请输入新密码" />
					</div>
					<div class="calculatorList clearfix">
						<label>确认密码：</label>
						<input type="password" placeholder="请输入确认密码" />
					</div>
				</div>
				<div class="btn-box">
					<input type="button" value="提 交" />
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：北京市公安局</div>
	</div>
</body>
</html>
<script>
//同意协议、性别按钮切换
$("#sexBoy picture,#sexGirl picture").on("click", function () {
    if ($(this).hasClass("active")) {
        $(this).removeClass("active");
        $(this).parent().siblings("span").find('picture').removeClass("active");
    } else {
        $(this).addClass("active");
        $(this).parent().siblings("span").find('picture').removeClass("active");
    }
})
</script>