/*首页*/
.calculatorBox{
	padding:0.833rem 0.55rem 0.12rem;
}
.calculatorList{
	position: relative;
	margin-bottom: 0.347rem;
}
.calculatorList label{
	font-size: 0.388rem;
	color: #474747;
	width: 2.1rem;
	line-height: 0.888rem;
	float: left;
}
.calculatorList span,.calculatorList input{
	float: left;
	display: inline-block;
	width: -webkit-calc(100% - 2.1rem);
	width: -moz-calc(100% - 2.1rem);
	width: calc(100% - 2.1rem);
	height: 0.888rem;
	line-height: 0.888rem;
	border: 1px solid #ddd;
	border-radius: 2px;
	font-size: 0.333rem;
	color: #797979;
	padding: 0 0.75rem 0 0.138rem;
}
.calculatorList .icon-downMenu{
	position: absolute;
	right: 0;
	top: 0.097rem;
	width: 0.694rem;
    height: 0.694rem;
}
.calculatorList .listTit{
	color: #068de7;
	font-size: 0.33rem;
	font-style: normal;
	float: left;
    line-height: 0.888rem;
    margin-left: -0.15rem;
}


/*提示*/
.login-tips.wgrzhjl{
	padding: 0.347rem 0.55rem;
	margin: 0.25rem 0.33rem 0rem;
}
.wgTipsPicBox{
	float: left;
}
.wgTipsPicBox img{
	width: 0.416rem;
	height: 0.416rem;
	margin-top: 0;
}
.wgTipsWords{
	float: left;
	color: #068de7;
	font-size: 0.33rem;
	line-height: 0.5rem;
	width: -webkit-calc(100% - 0.546rem);
	width: -moz-calc(100% - 0.546rem);
	width: calc(100% - 0.546rem);
}
/*预约失败*/
.appFailedBox{
	margin: 0.55rem;
	font-size: 0.388rem;
	color: #f35252;
	background: #fff9ef;
	height: 3.1rem;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #f9eaea;
	padding-top: 1.125rem;
}
.failedPic{
	width: 0.666rem;
	height: 0.666rem;
	margin-right: 0.375rem;
	vertical-align: top;
}
.failedWord{
	display: inline-block;
	line-height: 0.666rem;
}
/*预约*/
.calculatorBox .calculatorList.appointment{
	border-bottom: 1px solid #edefee;
}
.calculatorBox .calculatorList.appointment span{
	border: none;
	color: #666;
	padding: 0rem;
}
.icon-date{
	width: 0.569rem;
	height: 0.555rem;
	position: absolute;
    right: 0.138rem;
    top: 0.152rem;
}
