<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>城市切换</title>
    <link rel="stylesheet" href="/css/news.css" />
	<script type="text/javascript" language="javascript">
        var cityID = "<%= locals.cityID %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body>
	<div class="max" id="max">
		<div class="cityTitle"><img @click="back" src="/images/icon-return.png" class="icon-return"/>城市切换</div>
		<div class="cityListBox">
			<div class="useCity">
				<div class="useCityTit">当前城市</div>
				<div class="useCityList clearfix">
					<a href="javascript:;" class="active">{{cityName}}</a>
				</div>
			</div>
			<!--<div class="useCity">-->
				<!--<div class="useCityTit">最近访问的城市</div>-->
				<!--<div class="useCityList clearfix">-->
					<!--<a href="javascript:;" class="active">北京市</a>-->
					<!--<a href="javascript:;">海口市</a>-->
					<!--<a href="javascript:;">河南省</a>-->
				<!--</div>-->
			<!--</div>-->
			<h1 class="cityLisTit">城市列表</h1>
			<ul>
				<li v-for="sheng in shengData" :data-cityid="sheng.code" @click="goCity(sheng.code)">{{sheng.region}}<i @click.stop="goCity(sheng.code)" class="rightArrow"></i></li>
				<!--<li data-cityID="110000">安徽省<i class="rightArrow"></i></li>-->
				<!--<li>澳门特别行政区<i class="rightArrow"></i></li>-->
				<!--<li>北京市<i class="rightArrow"></i></li>-->
				<!--<li>重庆市<i class="rightArrow"></i></li>-->
				<!--<li>甘肃省<i class="rightArrow"></i></li>-->
				<!--<li>广东省<i class="rightArrow"></i></li>-->
				<!--<li>广西贵族自治区<i class="rightArrow"></i></li>-->
				<!--<li>贵州省<i class="rightArrow"></i></li>-->
				<!--<li>海南省<i class="rightArrow"></i></li>-->
				<!--<li>河北省<i class="rightArrow"></i></li>-->
			</ul>
		</div>
	</div>
	<script src="/js/regionCode.js"></script>
	<script src="/lib/vue.min.js"></script>
	<script src="/lib/axios.js"></script>
	<script src="/js/city/cityHomePage.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>