<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>预约详情</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/JXHospital/JXHospital.css"/>
    <script type="text/javascript" src="/js/all.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	<script>
		var citySRC = "<%= cityInfo.citySRC %>",
				localFrom = "<%= locals.localFrom %>";
	</script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
			</div>
		</div>
		<!--科室挂号-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>预约详情</h1>
				<div class="reserve-title successMsg-remind">
					<span>预约成功</span>
					<span class="spacML">短信已发送到手机 186****2498</span>
				</div>
				<div class="reservationDetails">
					<div class="appDetailsTit">江西省人民医院 --眼科</div>
					<ul>
						<li><em></em><label>预约日期：</label><span>2018-04-27&nbsp;&nbsp;(上午)08:00</span></li>
						<li><em></em><label>序号：</label><span>42</span></li>
						<li><em></em><label>取号密码：</label><span>7654</span></li>
						<li><em></em><label>医生：</label><span>卫玉荣 【主任医师】</span></li>
						<li><em></em><label>就诊人：</label><span>李璐</span></li>
						<li><em></em><label>联系电话：</label><span>18910097654</span></li>
						<li><em></em><label>身份证号：</label><span>130872267865435621</span></li>
					</ul>
				</div>
				<div class="btn-box">
					<input type="button" value="我的预约" />
				</div>
			</div>
		</div>
		<div class="data-sources">服务来源：江西省预约诊疗系统</div>
	</div>
</body>
</html>