<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>预约失败</title>
		<link rel="stylesheet" href="/css/news.css" />
		<link rel="stylesheet" href="/css/hospital/hospital.css"/>
        <script type="text/javascript" src="/js/all.js"></script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
		<script>
			var citySRC = "<%= cityInfo.citySRC %>",
					localFrom = "<%= locals.localFrom %>";
		</script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max">
			<!--banner图-->
			<div class="banner">
				<% include ../header.html %>
				<div class="userAvatarBox">
					<a href="javascript:;">
						<p><img src="/images/hospital/userAvatar.png"></p>
						<p>个人中心</p>
					</a>
				</div>
			</div>
			<!--预约详情-->
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home regWH">
					<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>预约挂号</h1>
					<!--预约失败 start-->
					<div class="notFound" style="display: ;">
						<div class="img-box"><img src="/images/notFound.png"></div>
						<div class="notF-infor">预约失败，请稍后重新预约！</div>
					</div>
				</div>
			</div>
			<div style="height: 1.3rem;"></div>
			<div class="data-sources">服务来源：江西省预约诊疗系统</div>
		</div>
	</body>
</html>
