<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>城市列表</title>
    <link rel="stylesheet" href="/css/news.css" />
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body>
	<div class="max">
		<div class="cityTitle"><img src="/images/icon-return.png" class="icon-return"/>内蒙古自治区</div>
		<div class="cityListBox">
			<h1 class="cityLisTit">城市列表</h1>
			<ul>
				<li>阿拉善盟</li>
				<li>巴彦淖尔市</li>
				<li>包头市</li>
				<li>赤峰市</li>
				<li>鄂尔多斯市</li>
				<li>呼尔浩特市</li>
				<li>呼伦贝尔市</li>
				<li>通辽市</li>
				<li>乌海市</li>
				<li>乌兰察布市</li>
			</ul>
		</div>
	</div>
</body>
</html>