<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>找回密码</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/JXHospital/JXHospital.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script  type="text/javascript">
		var randomKey = "<%= locals.randomKey %>" || localStorage.getItem('randomKey')
				,userID = "<%= locals.userID%>" || localStorage.getItem('userID')
				,clientID = "<%= locals.clientID %>" || localStorage.getItem('clientID'),
				cityID = "<%= locals.cityID %>" || localStorage.getItem('cityID'),
				local_x = "<%= locals.local_x %>" || localStorage.getItem('local_x')
				,local_y = "<%= locals.local_y %>" || localStorage.getItem('local_y'),
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script>
		var citySRC = "<%= cityInfo.citySRC %>";
	</script>
	<script type="text/javascript" src="/js/jxHospital/forgetPwd.js" ></script>
	<script type="text/javascript" src="/js/jxHospital/toUserCenter.js" ></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--注册-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH NMGReg">
				<h1 class="p-q-tit"><img id="back" src="/images/icon-return.png" class="icon-return"/>密码找回</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>用户名</label>
					<input id="userName" type="text" placeholder="请输入用户名/身份证号码" />
				</div>
				<div class="text-list-div">
					<label>手机号</label>
					<input id="mobile" type="text" placeholder="请输入手机号" />
				</div>
				<div class="text-list-div phone-list-code">
					<label>短信验证码</label>
					<input id="code" type="text" placeholder="请输入短信验证码" />
					<a id="getCode" href="javascript:;" class="get-code">获取验证码</a>
				</div>
				<div class="text-list-div">
					<label>新密码</label>
					<input id="password" type="password" placeholder="请输入新密码" />
				</div>
				<div class="text-list-div">
					<label>确认密码</label>
					<input id="rePassword" type="password" placeholder="请再次输入密码" />
				</div>
				<div class="btn-box">
					<input id="submit" type="button" value="确定" />
				</div>
			</div>
		</div>
		<!-- 查询动画提示开始-->
		<div class="mask" style="opacity: 0;display: none;" id="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- 查询动画提示结束-->
		<div class="" id="masktime" style="display:none;"></div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：江西省预约诊疗系统</div>
	</div>
</body>
</html>
<style>
	.changeLine{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 231px;
		height: 49px;
		background: #000;
		color: #fff;
		font-size: 14px;
		text-align: center;
		line-height: normal;
		border-radius: 4px;
		margin: auto;
		padding: 5px;
	}
</style>