<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>江西省预约挂号平台</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/JXHospital/JXHospital.css"/>
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script  type="text/javascript">
		var randomKey = "<%= locals.randomKey%>" || localStorage.getItem('randomKey')
				,userID = "<%= locals.userID%>" || localStorage.getItem('userID')
				,clientID = "<%= locals.clientID %>" || localStorage.getItem('clientID'),
				cityID = "<%= locals.cityID %>" || localStorage.getItem('cityID'),
				local_x = "<%= locals.local_x %>" || localStorage.getItem('local_x')
				,local_y = "<%= locals.local_y %>" || localStorage.getItem('local_y')
				,USERNAME = "<%= locals.userName %>"
				,PASSWORD = "<%= locals.password %>",
            localFrom = "<%= locals.localFrom %>";
		if(USERNAME){
			sessionStorage.setItem('JXHospital_USERNAME',USERNAME);
		}
		if(PASSWORD){
			sessionStorage.setItem('JXHospital_PASSWORD',PASSWORD);
		}
		localStorage.setItem('randomKey',randomKey);
		localStorage.setItem('userID',userID);
		localStorage.setItem('clientID',clientID);
		localStorage.setItem('cityID',cityID);
		localStorage.setItem('local_x',local_x);
		localStorage.setItem('local_y',local_y);
	</script>
	<script>
		var citySRC = "<%= cityInfo.citySRC %>";
	</script>
	<script type="text/javascript" src="/js/jxHospital/jxHospital.js" ></script>
	<script type="text/javascript" src="/js/jxHospital/toUserCenter.js" ></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div id="main_div" class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox">
				<a onclick="toUserCenter('JXHospital')" href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
			</div>
		</div>
		<!--北京市预约挂号-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit">江西省预约挂号平台</h1>
			</div>
			<!--首页热门医院 start-->
			<div id="results_div">
				<div class="peccancyQuery userInfor onlyStyle">
					<h2 class="q-r-tit"><span></span>热门医院</h2>
				</div>
				<!--<div class="peccancyQuery userInfor onlyStyle">-->
					<!--<dl class="hosList hNHosList JXDlList">-->
						<!--<dt><a href="javascript:;"><img src="/images/hospital/hotImg1.png"></a></dt>-->
						<!--<dd>-->
							<!--<p class="title">-->
								<!--新余市人民医院-->
								<!--<a href="javascript:;" class="btn-guahao">预约</a>-->
							<!--</p>-->
							<!--<p class="time"><span>三级甲等</span></p>-->
							<!--<p class="tel"><i class="icon-tel"></i>0371-96129</p>-->
							<!--<p class="address"><i class="icon-address"></i>陕西省西安市友谊西路256号</p>-->
						<!--</dd>-->
					<!--</dl>-->
				<!--</div>-->
			</div>
			<div id="results_template_div" style="display: none">
				<div class="peccancyQuery userInfor onlyStyle">
					<dl class="hosList hNHosList JXDlList">
						<dt><a href="javascript:;"><img src="/images/JXHospital/jxHospital.jpg"></a></dt>
						<dd onclick="renderTo('${hospitalId}')">
							<p class="title">
								${name}
								<a href="javascript:;" class="btn-guahao">预约</a>
							</p>
							<p class="time"><span>${hosLevel}</span></p>
						</dd>
					</dl>
				</div>
			</div>
			<!--首页热门医院 end-->
		</div>
		<!-- 查询动画提示开始-->
		<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- 查询动画提示结束-->
		<div class="masktime" id="masktime" style="display:none;"></div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：江西省预约诊疗系统</div>
	</div>
	<div id="cityList_div" class="max" style="display: none">
		<div class="cityTitle"><img src="/images/icon-return.png" class="icon-return"/>江西省</div>
		<div class="cityListBox">
			<h1 class="cityLisTit">城市列表</h1>
			<ul id="cityList">
				<li value="360100">南昌市</li>
				<li value="360200">景德镇市</li>
				<li value="360300">萍乡市</li>
				<li value="360400">九江市</li>
				<li value="360500">新余市</li>
				<li value="360600">鹰潭市</li>
				<li value="360700">赣州市</li>
				<li value="360800">吉安市</li>
				<li value="360900">宜春市</li>
				<li value="361000">抚州市</li>
			</ul>
		</div>
	</div>
</body>
</html>