<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>个人中心</title>
		<link rel="stylesheet" href="/css/news.css" />
	    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
	    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
	    <link rel="stylesheet" href="/css/JXHospital/JXHospital.css">
		<link rel="stylesheet" href="/css/mobileSelect.css" />
		<link rel="stylesheet" href="/css/mobiscroll/mobiscroll.css">
		<link rel="stylesheet" href="/css/mobiscroll/mobiscroll_002.css">
		<link rel="stylesheet" href="/css/mobiscroll/mobiscroll_003.css">
		<script type="text/javascript" src="/lib/jquery.min.js" ></script>
		<script type="text/javascript" src="/lib/mobileSelect.js" ></script>
		<script type="text/javascript" src="/lib/mobiscroll_002.js" ></script>
		<script type="text/javascript" src="/lib/mobiscroll.js" ></script>
		<script type="text/javascript" src="/lib/mobiscroll_003.js" ></script>
        <script type="text/javascript" src="/js/all.js"></script>
		<script  type="text/javascript">
			var randomKey = "<%= locals.randomKey %>" || localStorage.getItem('randomKey')
					,userID = "<%= locals.userID%>" || localStorage.getItem('userID')
					,clientID = "<%= locals.clientID %>" || localStorage.getItem('clientID'),
					cityID = "<%= locals.cityID %>" || localStorage.getItem('cityID'),
					local_x = "<%= locals.local_x %>" || localStorage.getItem('local_x')
					,local_y = "<%= locals.local_y %>" || localStorage.getItem('local_y')
					,comeFrom = "<%= locals.comeFrom %>" || localStorage.getItem('comeFrom'),
                localFrom = "<%= locals.localFrom %>";
			localStorage.setItem('comeFrom',comeFrom);
		</script>
		<script>
			var citySRC = "<%= cityInfo.citySRC %>";
		</script>
		<script type="text/javascript" src="/js/jxHospital/personalCenter.js" ></script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max">
			<!--banner图-->
			<% include ../header.html %>
			<!--挂号记录-->
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home regWH">
					<h1 class="p-q-tit"><img id="back" src="/images/icon-return.png" class="icon-return"/>个人中心</h1>
					<div class="reserve-title successMsg-remind">
						<span>我的预约单</span>
					</div>
					<div class="text-list-div clearfix">
						<label>按状态筛选：</label>
						<span id="state" class="selectDownMenu">全部</span>
						<img id="state_img" src="/images/icon-downMenu.png" class="icon-downMenu">
					</div>
					<div class="text-list-div regTime clearfix">
						<label>预约时间：</label>
						<input id="start" class="selectDownMenu" placeholder="请选择起始时间" readonly>
						<img id="start_img" src="/images/heNanHospital/calendar.png" class="icon-calendar">
					</div>
					<div class="text-list-div regTime clearfix">
						<label></label>
						<input id="end" class="selectDownMenu" placeholder="请选择结束时间" readonly>
						<img id="end_img" src="/images/heNanHospital/calendar.png" class="icon-calendar">
					</div>
					<div class="btn-box">
						<input id="submit" type="button" value="查询" />
					</div>
				</div>
				<div id="results_div"></div>
				<div id="cancel_template_div" style="display: none">
					<div class="peccancyQuery userInfor onlyStyle">
						<!--<h2 class="q-r-tit hospitalTitle sDTit">${hospName} &#45;&#45;${deptName}-->
							<!--<em class="alreadyReserved colorBlue">${processState}</em>-->
						<!--</h2>-->
						<!--<hr class="hrLine">-->
						<!--<div class="reservationDetails">-->
							<!--<ul>-->
								<!--<li><em></em><label>预约日期：</label><span>${regDate}&nbsp;&nbsp;${timeFlag}${startTime}</span></li>-->
								<!--<li><em></em><label>序号：</label><span>${seqNo}</span></li>-->
								<!--<li><em></em><label>取号密码：</label><span>${takeNumberCode}</span></li>-->
								<!--<li><em></em><label>医生：</label><span>${doctorName}</span></li>-->
								<!--<li><em></em><label>就诊人：</label><span>${patientName}</span></li>-->
								<!--<li><em></em><label>联系电话：</label><span>${phone}</span></li>-->
								<!--<li><em></em><label>身份证号：</label><span>${cardId}</span></li>-->
							<!--</ul>-->
						<!--</div>-->
						<div class="btn-box">
							<input id="cancel_${orderId}" type="button" value="取消预约" />
						</div>
					</div>
				</div>
				<div id="other_template_div" style="display: none">
					<div class="peccancyQuery userInfor onlyStyle">
						<h2 class="q-r-tit hospitalTitle sDTit">
							<b class="warpTit">${hospName}--${deptName}</b>
							<em class="alreadyReserved colorBlue">${processState}</em>
						</h2>
						<hr class="hrLine">
						<div class="reservationDetails borderNot">
							<ul>
								<li><em></em><label>预约日期：</label><span>${regDate}&nbsp;&nbsp;${timeFlag}${startTime}</span></li>
								<li><em></em><label>序号：</label><span>${seqNo}</span></li>
								<li><em></em><label>取号密码：</label><span>${takeNumberCode}</span></li>
								<li><em></em><label>医生：</label><span>${doctorName}</span></li>
								<li><em></em><label>就诊人：</label><span>${patientName}</span></li>
								<li><em></em><label>联系电话：</label><span>${phone}</span></li>
								<li><em></em><label>身份证号：</label><span>${cardId}</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--取消预约弹框-->
			<div id="cancel_mask_show" class="mask" style="display: none;"></div>
			<div id="cancel_show" class="dialog-tel" style="display: none;">
				<div class="titTel">您确认是否取消预约？</div>
				<div class="btn-tel">
					<a id="cancel_hide" href="javascript:;">取消</a>
					<a id="do_cancel" href="javascript:;">确定</a>
				</div>
			</div>
			<!-- 查询动画提示开始-->
			<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
			<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
				<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
				<p>加载中</p>
			</div>
			<!-- 查询动画提示结束-->
			<div class="masktime" id="masktime" style="display:none;"></div>
			<div style="height: 1.3rem;"></div>
			<div class="data-sources">服务来源：江西省预约诊疗系统</div>
		</div>
	</body>
</html>
