<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>江西省预约挂号平台</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/JXHospital/JXHospital.css">
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script  type="text/javascript">
		var randomKey = "<%= locals.randomKey %>" || localStorage.getItem('randomKey')
				,userID = "<%= locals.userID%>" || localStorage.getItem('userID')
				,clientID = "<%= locals.clientID %>" || localStorage.getItem('clientID'),
				cityID = "<%= locals.cityID %>" || localStorage.getItem('cityID'),
				local_x = "<%= locals.local_x %>" || localStorage.getItem('local_x')
				,local_y = "<%= locals.local_y %>" || localStorage.getItem('local_y')
				,hosId = "<%= locals.hosId %>" || localStorage.getItem('hosId')
				,comeFrom2 = "<%= locals.comeFrom2 %>" || localStorage.getItem('comeFrom2'),
            	localFrom = "<%= locals.localFrom %>";
		localStorage.setItem('hosId',hosId);
//		localStorage.setItem('comeFrom2',comeFrom2);
	</script>
	<script>
		var citySRC = "<%= cityInfo.citySRC %>";
	</script>
	<script type="text/javascript" src="/js/jxHospital/selectDepartment.js" ></script>
	<script type="text/javascript" src="/js/jxHospital/toUserCenter.js" ></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox">
				<a onclick="toUserCenter('selectDepartment')" href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
			</div>
		</div>
		<!--选择科室-->
		<div class="warpBox" id="selectDepartment">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit" id="hosName_title"></h1>
				<hr class="hrLine">
				<div class="peccancyQuery userInfor onlyStyle clearfix">
					<dl class="hosList hNHosList JXKeShiList">
						<dt><a href="javascript:;"><img src="/images/heNanHospital/hospitalPic.jpg"></a></dt>
						<dd class="department">
							<p class="title" id="hosName"></p>
							<p class="time"><span id="hosLevel"></span><span class="noBorder" id="nature"></span></p>
							<p class="tel" id="phone"></p>
							<p class="address" id="address"></p>
							<p class="intro"><i class="icon-intro"></i><a id="showIntro" href="javascript:;">医院介绍</a></p>
						</dd>
					</dl>
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>科室名称</h2>
				<hr class="hrLine">
				<div class="text-list-div JX-list-div" style="padding: 10px;line-height: normal;">
					<input id="searchInput" type="text" placeholder="请输入科室名称" />
				</div>
				<div class="btn-box">
					<input id="search" type="button" value="查询" />
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle clearfix">
				<div class="tabTitle JXTable">
					<ul id="result_ul">

					</ul>
					<ul id="result_template_ul" style="display: none">
						<li><a href="javascript:;" onclick="renderTo('${deptId}')">${deptName}</a></li>
					</ul>
				</div>
			</div>
			<!--查询无结果-->
			<div id="noResults" class="peccancyQuery userInfor onlyStyle" style="display: none;">
				<h2 class="q-r-tit"><span></span>未搜索到科室信息，请重新检索！</h2>
			</div>
		</div>
		<div class="warpBox" id="hospIntro" style="display: none">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit" id="hosName_intro"></h1>
				<div class="reserve-title successMsg-remind">
					<span>医院简介</span>
				</div>
				<div class="hospitalIntro" id="hospIntroContent">
					<p>新余市人民医院始建于1932年1月，是新余市唯一的集医疗、教学、科研、预防、保健、康复、急救和社区卫生服务为一体的三级甲等综合医院。现有编制床位1000张，实际开放床位1120张。员工1363人，其中在编人员692人，聘用人员552人。在职中高级职称技术人员525人，包括正高级职称技术人员62人、副高级职称人员185人，中级职称人员278人。本科以上学历人员占全院在编员工的55%，其中硕士研究生59名，博士4名。现有职能管理科室15个，临床医技科室53个，其中临床一级科室29个，二级科室15个，医技科室9个。另有社区卫生服务中心及传染病专科医院各一所。</p>
					<p>1983年，新余县人民医院恢复为新余市人民医院，1996年经省卫生厅评审成为三级乙等医院，2005年通过ISO9001质量管理体系认证，2009年2月被省卫生厅授予江西省三级甲等综合医院。医院诊疗范围覆盖到分宜、峡江、安福、上高、高安等周边市县。医院先后荣获全国卫生系统先进单位、省级群众满意医院、全省医药卫生科研工作先进单位、全省援外医疗先进集体、全省文化科技三下乡先进单位、全省文明规范服务先进单位、全市十大劳动关系和谐单位以及省、市级文明单位等荣誉。</p>
				</div>
			</div>
		</div>
		<!-- 查询动画提示开始-->
		<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- 查询动画提示结束-->
		<div class="masktime" id="masktime" style="display:none;"></div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：江西省预约诊疗系统</div>
	</div>
</body>
</html>