/*首页-地区选择查询*/
.gjj-tab{
	font-size: 0;
	padding-bottom: 0.55rem;
	padding-top: 0.4rem;
}
.gjj-tab li{
	width: 50%;
	text-align: center;
	float: left;
	position: relative;
}
.gjj-tab li a{
	color: #364555;
	font-size: 0.388rem;
	display: inline-block;
}
.gjj-tab li.active a{
	color: #549dfb;
}
.gjj-tab li span{
	width: 0.388rem;
	height: 0.083rem;
	border-radius: 20px;
	display: inline-block;
	position: absolute;
	background: #549dfb;
	bottom: -0.2rem;
    left: 50%;
    margin-left: -0.194rem;
}
.spacTop{
	margin-top: 0;
	border-top: none;
}
.queryResult .promptCon{
	border-top: 1px solid #e6e6e6;
	padding: 0.33rem 0;
}
.queryResult .promptCon p{
	font-size: 0.36rem;
	color: #a3a3a3;
	padding-bottom: 0;
}
.banner .bigTit{
	position: absolute;
	top: 1rem;
	font-size: 0.77rem;
	color: #fff;
	font-family: 'HYa9gj';
}
.keyTxt input{
	text-align: center;
	width: 100%;
}
/*结果页*/
.peccancyQuery .q-r-tit.provinceTitle{
	font-size: 0.388rem;
	color: #2c5fa1;
	padding-left: 0.55rem;
	position: relative;
} 
.provinceCon{
	padding-bottom: 0.416rem;
}
.provinceCon .otherCon{
	border-top: 1px solid #edefee;
	padding: 0.2rem 0.55rem;
}
.cityCon{
	border-top: 1px solid #edefee;
	border-bottom: 1px solid #edefee;
	padding: 0.2rem 0.55rem;
}
.cityCon p,.provinceCon .otherCon p{
	color: #797979;
	font-size: 0.33rem;
	line-height: 0.65rem;
}
.cityCon p span,.provinceCon .otherCon p span{
	margin-right: 0.166rem;
	width: 100%;
	display: inline-block;
}
.cityCon p span b,.provinceCon .otherCon p span b{
	font-weight: normal;
}
.cityCon p span{
	width: 40%;
}
.cityCon p:nth-of-type(2) span:nth-of-type(2){
	width: 53%;
}
.cityCon p:nth-of-type(3) span{
	width: 100%;
}
.cityCon .icon-address {
    background: url(../../images/heNanHospital/icon-address.png) no-repeat;
    width: 0.222rem;
    height: 0.27rem;
    background-size: 0.222rem 0.27rem;
    margin: 0.2rem 0.138rem 0 0;
    display: inline-block;
    float: left;
}
.cityAddress{
	padding: 0.2rem 0.2rem;
	border-bottom: none;
}
.cityAddress .cityArea{
	width: -webkit-calc(100% - 0.36rem);
	width: -moz-calc(100% - 0.36rem);
	width: calc(100% - 0.36rem);
	display: inline-block;
}
.cityAddress .cityArea p:nth-of-type(1) span{
	width:100%;
	margin-right: 0;
}
.cityAddress .cityArea p:nth-of-type(2) span,
.cityAddress .cityArea p:nth-of-type(4) span{
	width: auto;	
}
.cityAddress .cityArea p:nth-of-type(2) span:nth-of-type(2),
.cityAddress .cityArea p:nth-of-type(4) span:nth-of-type(2){
	margin-right: 0;	
}
.bannerTitle{
	position: absolute;
	top: 0.9rem;
    left: 0.7rem;
	font-size: 0.777rem;
	color: #fff;
}