<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>全国医疗机构查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
	<link rel="stylesheet" href="/css/nationalMedical/nationalMedical.css">
	<link rel="stylesheet" href="/css/mobileSelect.css" />
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" src="/lib/axios.js"></script>
	<script type="text/javascript" src="/js/hospital/mobileSelect.js" ></script>
	<script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="app">
		<!--banner图-->
		<% include ../header.html %>
		<!--全国医疗机构查询-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit">全国医疗机构查询</h1>
				<hr class="hrLine">
				<div class="text-list-div downMenu-style">
					<label>所在省份</label>
					<!--<input type="text" placeholder="请选择省份" disabled class="disabled"/>-->
					<span id="cityTrigger" @click="city()">请选择省份</span>
					<img src="/images/icon-downMenu.png" class="icon-downMenu" @click="city()">
				</div>
				<div class="text-list-div">
					<label>医疗机构名称</label>
					<input type="text" placeholder="请输入医疗机构名称" v-model="hospitalName"/>
				</div>
				<div class="text-list-div text-list-code">
					<label>验证码</label>
					<input type="text" placeholder="请输入验证码" v-model="VeryCode"/>
					<img  v-bind:src="srcImg" class="img-code" @click="getVeryCode()">
				</div>
				<div class="inquireTips">
					<p>说明：1、查询数据截止到2018年10月18日0时;</p>
					<p>2、信息数据结果以各省、自治区、直辖市卫生计生委数据为准;</p>
					<p>3、夜晚21点至早晨7点系统进行维护，不能提供查询;</p>
				</div>
				<div class="btn-box">
					<input type="button" value="查询"  @click="search()"/>
				</div>
			</div>
			<!--查询无结果-->
			<div class="peccancyQuery userInfor onlyStyle" v-if="this.noDate==true">
				<h2 class="q-r-tit"><span></span>{{errorImg}}</h2>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>

		<div class="masktime" id="masktime" v-if="masktime">{{masktime}}</div>
		<!-- 查询动画提示开始-->
		<div class="mask" style="opacity: 0;" id="dialogMask" v-if="this.dialogMask==true"></div>
		<div class="dialog-tel timeM" style="text-align: center;" id="dialog" v-if="this.dialogMask==true">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- 查询动画提示结束-->
		<div class="data-sources">服务来源：中华人民共和国国家卫生健康委员会</div>
	</div>
	<script src="/js/nationalMedical/nationalMedical.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>