.peccancyQuery.userInfor .text-list-div.Wait-doctor:nth-last-child(1){
    margin-bottom: 0;
    border-bottom: 0;
}
.peccancyQuery.userInfor .text-list-div.Wait-doctor{
   	margin: 0;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
}
.peccancyQuery.userInfor .text-list-div.Wait-doctor span .icon-downMenu{
	right: 0.2rem;
	top: 0.55rem;
}
.doctor-Details ul li{
    color: #474747;
    font-size: 0.28rem;
    font-family: "Microsoft Yahei";
}
.doctor-Details ul li span{
    font-size: 0.28rem;
}
.doctor-Details{
    margin: 0 0.55rem;
    padding-top: .14rem;
}
.doctor-Details ul li i{
    display: inline-block;
    width: 10px;
    height:11px;
    background-size: .13rem .15rem;
    background:url("../../images/hospital/radio.png") no-repeat;
    margin-right: .13rem;
}
.doctor-Details ul li{
    line-height:.56rem;
    margin-top: .28rem;
}
.doctor-Details ul li img{
    margin-right:.13rem ;
    width: 5px;
    margin-top: -3px;
}
.doctor-Details ul li .colorTxt{
    color: #ef8935;
}
.doctor-Details ul li .timeColor{
    color: #0083e0;
}
.doctor-Details{
    padding-bottom: .42rem;
}
.Wait-doctor-main .doctor-Details{
    border-bottom: 1px solid #edefee;
}
.Wait-doctor-main .btn-box{
    margin-top: 0;
}
.doctor-Details ul li .w125{
    width: 2.4rem;
    display: inline-block;
}
.peccancyQuery.userInfor .text-list-div label em{
    color: #0083e0;
    font-style: normal;
}
.doctorTitle{
    /*height: .86rem;*/
    background: #edf1f5;
    font-size: .33rem;
    color: #0083e0;
    line-height: .86rem;
	padding: 0.1rem 0.55rem;
}
.doctorTitle h3{
    font-weight: normal;
	line-height: 0.6rem;
}
.peccancyQuery.userInfor.onlyStyle.doctor-info{
   margin-top: 0;
    border: 0;
}
.peccancyQuery.userInfor.onlyStyle.doctor-info .doctor-Details{
    padding-bottom: .61rem;
}
/*个人中心增加我的预约*/
.hospitalUserCen{
	font-size: 0.38rem;
	color: #474747;
}
.hospitalUserCen span{
	float: left;
	width: 0.4rem !important;
	line-height: 0.6rem !important;
	margin: 0 0.166rem;
}
.hospitalUserCen input{
	width: calc(100% - 2.86rem - 3rem) !important;
}


/*服务协议*/
.lvyou-title{
	color: #333;
	font-size: 0.41rem;
	line-height: 1.22rem;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
}
.lvyou-title .icon-return{
	float: left;
    margin-left: 0.33rem;
    margin-top: 0.34rem;
    width: 0.55rem;
    height: 0.55rem;
}
.serviceAgreement{
	padding: 0 0.55rem;
}
.serviceAgreement p{
	text-indent: 0.388rem;
	color: #474747;
	font-size: 0.36rem;
	line-height: 0.72rem;
}
.serviceAgreement p:nth-of-type(1){
	margin-top: 0.35rem;
}
.serviceAgreement p.indentNot{
	text-indent: 0rem;
}
.serviceAgreement p.indentDouble{
	text-indent: 0.76rem;
}
/*登录*/
.regBox{
	text-align: right;
	font-size: 0;
	margin:-0.14rem 0.56rem 1rem 0.56rem;
}
.regBox a{
	color: #3e8af8;
	font-size: 0.333rem;
}
/*注册*/
.accounts-all {
    display: inline-block;
}
.accounts-all span:nth-of-type(1) {
    margin-right: 0.7rem;
}
.accounts-all span {
    font-size: 0.388rem;
    float: left;
    color: #b2b2b2;
}
.accounts-all span picture {
    display: inline-block;
    vertical-align: middle;
    width: 0.34rem;
    height: 0.34rem;
    background: url(../../images/icon-checkBox-default.png) no-repeat;
    background-size: 0.34rem 0.34rem;
    margin: -0.03rem 0.2rem 0 0rem;
}
.accounts-all span picture.active {
    background: url(../../images/icon-yh-check.png) no-repeat;
    background-size: 0.34rem 0.34rem;
}
.agreeOK {
    font-size: 0.34rem;
    margin-top: 0.4rem;
}
.agreeOK span {
    display: inline-block;
    vertical-align: middle;
    width: 0.34rem;
    height: 0.34rem;
    background: url(../../images/icon-checkBox-default.png) no-repeat;
    background-size: 0.34rem 0.34rem;
    margin: -0.03rem 0.2rem 0 0.55rem;
}
.agreeOK span.active {
    background: url(../../images/icon-yh-check.png) no-repeat;
    background-size: 0.34rem 0.34rem;
}
.agreeOK a {
    margin-left: 0.084rem;
}

.aloneStyle{
	font-size: 0.38rem;
	color: #797979;
	line-height: 0.5rem;
	display: inline-block;
    width: calc(100% - 2.6rem);
    z-index: 1;
    position: relative;
}
.p-q-tit .icon-return {
    margin-right: -0.8rem;
}
.regWH .text-list-div label,.regAddress label{
	width: 2.5rem;
	float: left;
	line-height: initial;
}
.regListBox{
	width: -webkit-calc(100% - 2.63rem);
	width: -moz-calc(100% - 2.63rem);
	width: calc(100% - 2.63rem);
	display: inline-block;
	padding-top: 0.11rem;
}
.regAddress .regAddList{
	float: left;
	font-size: 0.38rem;
	line-height: 0.38rem;
	width: 33.3%;
	position: relative;
}
.regAddress .regAddList:nth-of-type(1),
.regAddress .regAddList:nth-of-type(2){
	padding-right: 0.14rem;
}
.regAddress .regAddList .icon-downMenu {
    right: 0rem;
    top: -0.1rem;
}
.regAddress .regAddList span{
	display: inline-block;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
    width: -webkit-calc(100% - 0.32rem);
    width: -moz-calc(100% - 0.32rem);
    width: calc(100% - 0.32rem);
    color: #ababae;
}
.text-list-div.codeStyle img{
	margin-bottom: -0.5rem;
    margin-top: -0.5rem;
}

/*预约挂号首页*/
.userAvatarBox{
	position: absolute;
	right: 0.625rem;
	top: 0.78rem;
	text-align: center;
}
.userAvatarBox p:nth-of-type(1){
	margin: 0;
	padding: 0;
	font-size: 0;
}
.userAvatarBox p:nth-of-type(1) img{
	width: 0.5rem;
	height: 0.5rem;
}
.userAvatarBox p:nth-of-type(2){
	color: #fff;
	font-size: 0.25rem;
	margin-top: 0.13rem;
}
.hosList{
	display: inline-block;
	margin: 0.45rem 0.55rem;
	width: -webkit-calc(100% - 1.1rem);
	width: -moz-calc(100% - 1.1rem);
	width: calc(100% - 1.1rem);
}
.hosList dt{
	float: left;
	margin-right: 0.278rem;
}
.hosList dt img{
	width: 2.43rem;
	height: 1.77rem;
}
.hosList dd{
	float: left;
	margin: -0.06rem 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.hosList dd.tel{
	line-height: .4rem;
	white-space: normal;
}
.hosList dd.time{
	white-space: normal;
}
.hosList dd.title{
	font-size: 0.416rem;
	color: #474747;
}
.hosList dd.time{
	font-size: 0.3rem;
	color: #8d8d8d;
	margin: 0.32rem 0rem;
}
.hosList dd.time span:nth-of-type(1){
	color: #ef8935;
	margin-right: 0.36rem;
}
.hosList dd.tel{
	font-size: 0.278rem;
	color: #8d8d8d;
}
/*.peccancyQuery.userInfor.onlyStyle{
	font-size: 0;
}*/

/*医院详情*/
.hosList dd{
	width: -webkit-calc(100% - 2.708rem);
	width: -moz-calc(100% - 2.708rem);
	width: calc(100% - 2.708rem);
}
.regWH .peccancyQuery{
	border: none;
	margin: 0rem 0.55rem;
}
.regWH .peccancyQuery .hosList{
	margin:0.45rem 0rem;
}
.contactInfor{
	margin: 0 0.55rem;
	border-top: 1px solid #edefee;
}
.contactInfor p{
	font-size: 0.278rem;
	color: #8d8d8d;
	line-height: 0.55rem;
}
.contactInfor p:nth-of-type(2n+1){
	color: #474747;
	margin-top: 0.28rem;
}
.hosList dd.getAddress{
	font-size: 0.25rem;
	color: #8d8d8d;
	white-space: normal;
	margin-top: 0.3rem;
}
.hosList dd.getAddress .icon-address{
	display: inline-block;
	vertical-align: middle;
	background-image: url(../../images/hospital/icon-address.png);
	background-repeat: no-repeat;
	width: 0.18rem;
	height: 0.25rem;
	background-size: 0.18rem 0.25rem;
}

/*预约*/
.reserve-title{
    padding: 0 0.55rem;
    background: #edefee;
    height: 1rem;
    line-height: 1rem;
    font-size: 0;
}
.reserve-title span {
    display: inline-block;
    color: #737474;
    font-size: 0.33rem;
    padding: 0;
}
.reserve-title span:nth-of-type(1){
	margin-left: 0.35rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40%;
    float: left;
}
.reserveList{
	border-bottom: 1px solid #edefee;
	padding:0.41rem 0;
	margin: 0 0.55rem;
}
.reserveLeft{
	width: -webkit-calc(100% - 1.6rem);
	width: -moz-calc(100% - 1.6rem);
	width: calc(100% - 1.6rem);
	float: left;
}
.reserveLeft .name{
	color: #474747;
	font-size: 0.33rem;
	margin-bottom: 0.347rem;
}
.reserveLeft .name span{
	color: #ef8935;
	margin-left: 0.194rem;
	padding-left: 0.194rem;
	border-left: 2px solid #e6e6e6;
	line-height: 0.36rem;
    display: inline-block;
}
.reserveLeft .time{
	color: #8d8d8d;
	font-size: 0.25rem;
}
.reserveLeft .time span{
	margin: 0 0.167rem;
}
.reserveLeft .field{
	color: #6e6e6e;
	font-size: 0.25rem;
	margin-top: 0.236rem;
}
.reserveRight{
	width: 1.527rem;
	float: right;
	text-align: center;
	margin-top: 0.3rem;
}
.reserveRight p{
	font-size: 0;
}
.reserveRight .btn-reserve a{
	display: inline-block;
	width: 1.527rem;
	height: 0.61rem;
	line-height: 0.61rem;
	font-size: 0.277rem;
	color: #fff;
	background-color: #549dfb;
	border-radius: 5px;
	text-align: center;
}
.reserveRight .btn-reserve a.active{
	background-color: #dfe2e6;
	color: #6e6e6e;
}
.reserveRight .remainingNumber{
	color: #8d8d8d;
	font-size: 0.25rem;
	margin-top: 0.166rem;
}
.reserveRight.spacTop{
	margin-top: 0rem;
}
/*选择科室*/
.tabTitle{
	width: 37.5%;
	float: left;
}
.tabTitle li{
	font-size: 0.333rem;
	line-height: 1rem;
	border-bottom: 1px solid #edefee;
	border-right: 1px solid #edefee;
	background-color: #f8f8f8;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.tabTitle li:nth-last-of-type(1){
	border-bottom: none;
}
.tabTitle li.active{
	border-right: none;
	background-color: #fff;
}
.tabTitle li a{
	color: #474747;
	font-size: 0.333rem;
	padding-left: 0.333rem;
}
.tabTitle li.active a{
	color: #0083e0;
	background: url(../../images/hospital/icon-rightArrow.png) no-repeat left center;
	background-size: 0.125rem 0.25rem;
	margin-left: 0.333rem;
}
.depar-tabCon{
	width: 62.5%;
	float: left;
	padding: 0 0.14rem 0 0.34rem;
}
.tabConBox p{
	color: #8d8d8d;
	font-size: 0.333rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1rem;
}
/*挂号信息确认*/
.tab-content.inforConfirm .text-list-div label{
	width: 2.78rem;
}
.tab-content.inforConfirm .text-list-div span,
.tab-content.inforConfirm .text-list-div input{
	width: -webkit-calc(100% - 2.78rem);
	width: -moz-calc(100% - 2.78rem);
	width: calc(100% - 2.78rem);
	text-align: left;
	float: left;
	background: #fff;
}
.tab-content.inforConfirm .text-list-div.phone-list-code{
	border-bottom: 1px solid #edefee;
}
.tab-content.inforConfirm .text-list-div.phone-list-code input{
 	width: -webkit-calc(100% - 5.2rem);
	width: -moz-calc(100% - 5.2rem);
	width: calc(100% - 5.2rem);
 }
.tab-content.inforConfirm .text-list-div.phone-list-code .get-code{
	float: left;
}
.inforCheck-style .accounts-all {
    display: inline-block;
    width: -webkit-calc(100% - 3rem);
    width: moz-calc(100% - 3rem);
    width: calc(100% - 3rem);
}
.inforCheck-style .accounts-all span {
    font-size: 0.38rem;
    color: #474747;
    float: left;
    display: inline-block;
    margin-bottom: 0.38rem;
}
.inforCheck-style .accounts-all span.icon-default {
    color: #474747;
    width: 100%;
    float: none;
    display: block;
}
.inforCheck-style .accounts-all span img {
    width: 0.34rem;
    height: 0.34rem;
    margin-right: 0.22rem;
}

.tab-content.inforConfirm .text-list-div{
	position: relative;
}
.tab-content.inforConfirm .text-list-div .icon-downMenu{
	margin-top: 0;
	position: absolute;
	right: 0;
	bottom: 0.36rem;
}
/*预约挂号-选择日期*/
.dateConInfor{
    margin: 0 0.55rem;
    border-top: 1px solid #edefee;
    padding-bottom: 0.55rem;
}
.dateConInfor p.title{
    color: #474747;
    margin-top: 0.28rem;
}
.dateConInfor p {
    font-size: 0.278rem;
    color: #8d8d8d;
    line-height: 0.55rem;
}

/*提示语*/
.masktime{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 231px;
	height: 49px;
	background: #000;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 50px;
	border-radius: 4px;
	margin: auto;
}
.ccc{
	background-color:#ccc!important;
}

/*日历*/
.table td{
	color: #474747;
	font-size: 0.3rem;
	text-align: center;
	width: 0.833rem;
    height: 0.833rem;
}
.table{
	width: 100%;
}
.calenTable{
	margin: 0 0.55rem;
	padding-bottom: 0.55rem;
}
.calenTable:nth-last-of-type(1){
	border-top: 1px solid #edefee;
}
.table .grayon span{
	background: #dfe2e7;
	display: inline-block;
	width: .9rem;
	height: .9rem;
	text-align: center;
	line-height: .4rem;
	/*line-height:.83rem;*/
	border-radius: 50%;
}
.table .grayon span em{
	font-size: .2rem;
	display: block;
	font-style: normal;
}
.table .on span{
	display: inline-block;
	background: #549cfb;
	width: .9rem;
	height: .9rem;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	line-height:0.4rem;

}
.table .on span em{
	font-size: .2rem;
	display:block;
	font-style: normal;
	color: #fff;
}

.table tr td span.yueBg{
    width:1.72rem;
	height:0.57rem;
	line-height: 0.57rem;
	background: #549cfb ;
	display: inline-block;
	border-radius: 0 20px 20px 0;
	text-align: center;
	color: #fff;
}
.table tr td.title{
	text-align: left;
	padding-top: 0.28rem;
}
.table tr td span.fryue{
	float: right;
	display: inline-block;

}
.table tr td span.fryue em{
	font-style: normal;
}
.table tr td span.fryue em i{
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #e4e5e9;
	display: inline-block;
	margin: 0 .11rem;
}
.table tr td span.fryue em:nth-of-type(2) i{
	background: #55a3f6;
}
.masktime{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 231px;
	height: 49px;
	background: #000;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 50px;
	border-radius: 4px;
	margin: auto;
}
.dialog-car-box ul .dialogColor a{
	color: #000 !important;
}
.dialog-car-box ul li:nth-child(1) a{
	font-size: 0.41rem;
	color: #329dfc;
}
.dialogTitle{
	font-size: 0.41rem;
	color: #329dfc;
	border-bottom: 1px solid #ececec;
	height: 0.97rem;
    line-height: 0.97rem;
}
#outpatient{
	float: right;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 50%;
}
#reservekeshi{
	float: right;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 50%;
}
.departList .hosList dd.time{

}
.departList .hosList dd.time span:nth-of-type(1){
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: calc(100% - 5rem);
}
.departList .hosList dd.tel{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:2;
	overflow: hidden;
	line-height: .5rem;
}
.departList .hosList dd.getAddress{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:2;
	overflow: hidden;
	line-height: .5rem;
}
.hosDetail .hosList dd.getAddress{
   width: 100%;
	line-height: 0.55rem;
}
.hosDetail .hosList dd.tel{
	width: 100%;
	line-height: 0.55rem;
}
.hosDetail .hosList dd.time{
	margin-bottom: 0;
}
.hosDetail .hosList dt{
	min-height: 2.5rem;
}
.peccancyQuery.userInfor.onlyStyle {
    font-size: 0;
}
.hosList dt.listPic{
	min-height: 3rem;
}
#docItem input[name="checkbox"]:nth-of-type(1){

}
.doctor-Details .btn-box input{
	margin: 0.55rem 0 0;
	width: -webkit-calc(100%);
	width: -moz-calc(100%);
	width: calc(100%);
}
[v-cloak] {display: none;}

.text-list-div.hospitalUserCen input#startDate,
.text-list-div.hospitalUserCen input#endDate{
	height: 0.5rem;
	line-height: 0.5rem;
	padding: 0;
}
.text-list-div.hospitalUserCen span{
	line-height: 0.54rem !important;
	height: 0.5rem;
}
#orderType.otherStyleText{
	line-height: 0.48rem;
    padding: 0;
}
/*@media (max-width:320px ) {
	.text-list-div.hospitalUserCen input#startDate,
	.text-list-div.hospitalUserCen input#endDate{
	    height: initial;
	    padding: 0;
	}
}*/