<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>普通话水平测试查询结果</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/mandarin/mandarin.css" />
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" src="/lib/axios.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<!--<script type="text/javascript" src="/lib/zepto.min.js" ></script>-->
    <!--<script type="text/javascript" src="/js/all.js"></script>-->
	<script type="text/javascript" language="javascript">
		var randomKey = "<%= locals.randomKey %>"
				,userID = "<%= locals.userID%>"
				,clientID = "<%= locals.clientID %>",
				cityID = "<%= locals.cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				cityName = "<%= cityInfo.cityName %>",
				local_x = "<%= locals.local_x %>"
				,local_y = "<%= locals.local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="maxapp">
		<!--banner图-->
		<% include ../header.html %>
		<!--普通话水平测试查询结果-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" @click="back"/>普通话水平测试查询结果</h1>
				<hr class="hrLine">
				<h2 class="q-r-tit htTitke"><span></span>您共有{{kaoshi}}次考试记录</h2>
			</div>
			<div v-for="(item,index) in certList" v-bind:key='item.id'>
				<div class="peccancyQuery userInfor onlyStyle">
					<h2 class="q-r-tit"><span></span>0{{index+1}}</h2>
					<hr class="hrLine">
					<div class="tab-content inforConfirm">
						<div class="text-list-div clearfix">
							<label>考试时间：</label>
							<span>{{certList[index].kssj.split("：")[1]}}</span>
						</div>
						<div class="text-list-div clearfix">
							<label>测试省份：</label>
							<span>{{item.cssf.split("：")[1]}}</span>
						</div>
						<div class="text-list-div mandarinConBox clearfix">
							<div class="detailsListTit" @click="updownn" :class="{'down':updown}">
								<label class="mandarinDetails">详情</label>
								<img src="/images/icon-downMenu.png" class="icon-downMenu" v-if="Exhibition">
								<img src="/images/credit/icon-upMenu.png"  class="icon-downMenu" style="" v-else>
							</div>
							<div class="detailsMenu" v-if="Exhibition">
								<div class="text-list-div clearfix">
									<label>测试站：</label>
									<span>{{item.csz.split("：")[1]}}</span>
								</div>
								<div class="baseInfor clearfix">
									<div class="baseLeft">
										<div class="text-list-div clearfix">
											<label>姓名：</label>
											<span>{{item.name.split("：")[1]}}</span>
										</div>
										<div class="text-list-div clearfix">
											<label>性别：</label>
											<span>{{item.xb.split("：")[1]}}</span>
										</div>
									</div>
									<div class="base-avatar">
										<img :src="item.img">
									</div>
								</div>
								<div class="text-list-div clearfix">
									<label>身份证号：</label>
									<span>{{item.sfzh.split("：")[1]}}</span>
								</div>
								<div class="text-list-div clearfix">
									<label>准考证号：</label>
									<span>{{item.zkzh.split("：")[1]}}</span>
								</div>
								<div class="text-list-div clearfix">
									<label>证书编号：</label>
									<span>{{item.zsbh.split("：")[1]}}</span>
								</div>
								<div class="text-list-div clearfix">
									<label>分数：</label>
									<span>{{item.score.split("：")[1]}}</span>
								</div>
								<div class="text-list-div clearfix">
									<label>等级：</label>
									<span>{{item.dj.split("：")[1]}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="peccancyQuery userInfor onlyStyle">-->
				<!--<h2 class="q-r-tit"><span></span>02</h2>-->
				<!--<hr class="hrLine">-->
				<!--<div class="tab-content inforConfirm">-->
					<!--<div class="text-list-div clearfix">-->
						<!--<label>考试时间：</label>-->
						<!--<span>2016年04月24</span>-->
					<!--</div>-->
					<!--<div class="text-list-div clearfix">-->
						<!--<label>测试省份：</label>-->
						<!--<span>河南</span>-->
					<!--</div>-->
					<!--<div class="text-list-div mandarinConBox clearfix">-->
						<!--<div class="detailsListTit">-->
							<!--<label class="mandarinDetails">详情</label>-->
							<!--<img src="/images/mandarin/icon-upMenu.png" class="icon-upMenu">-->
						<!--</div>-->
						<!--<div class="detailsMenu" style="display: none;">-->
							<!--<div class="text-list-div clearfix">-->
								<!--<label>测试站：</label>-->
								<!--<span>周口师范学院普通话水平测试站</span>-->
							<!--</div>-->
							<!--<div class="baseInfor clearfix">-->
								<!--<div class="baseLeft">-->
									<!--<div class="text-list-div clearfix">-->
										<!--<label>姓名：</label>-->
										<!--<span>朱柏林</span>-->
									<!--</div>-->
									<!--<div class="text-list-div clearfix">-->
										<!--<label>性别：</label>-->
										<!--<span>男</span>-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class="base-avatar">-->
									<!--<img src="/images/avatar.png">-->
								<!--</div>-->
							<!--</div>							-->
							<!--<div class="text-list-div clearfix">-->
								<!--<label>身份证号：</label>-->
								<!--<span>413026199407284812</span>-->
							<!--</div>-->
							<!--<div class="text-list-div clearfix">-->
								<!--<label>准考证号：</label>-->
								<!--<span>4110216110073</span>-->
							<!--</div>-->
							<!--<div class="text-list-div clearfix">-->
								<!--<label>证书编号：</label>-->
								<!--<span>4116102003966</span>-->
							<!--</div>-->
							<!--<div class="text-list-div clearfix">-->
								<!--<label>分数：</label>-->
								<!--<span>76.3</span>-->
							<!--</div>-->
							<!--<div class="text-list-div clearfix">-->
								<!--<label>等级：</label>-->
								<!--<span>三级甲等</span>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			</div>
			<!--查询无结果-->
			<div class="login-tips font22" style="display:;">
				注：该成绩仅供参考，最终以证书成绩为准
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：全国普通话培训测试信息资源网</div>
	</div>
	<script src="/js/mandarin/examinationResults.js"></script>
    <script src="/js/all.js"></script>
</body>
</html>