<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>全国普通话考试成绩与证书查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script>
		var randomKey = "<%= locals.randomKey %>"
				,userID = "<%= locals.userID%>"
				,clientID = "<%= locals.clientID %>",
				cityID = "<%= locals.cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				cityName = "<%= cityInfo.cityName %>",
				local_x = "<%= locals.local_x %>"
				,local_y = "<%= locals.local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--全国普通话考试成绩与证书查询-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">全国普通话考试成绩与证书查询</h1>
				<hr class="hrLine">
				<div class="btn-box bj-insuranceSystem">
					<input type="button" value="成绩查询" id="scoreSearch"/>
					<input type="button" value="证书查询" id="certificateSearch"/>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：全国普通话培训测试信息资源网</div>
	</div>
</body>
<script>
      $('#certificateSearch').on('click',function () {
		  window.location.href="/mandarin?page=certificateSearch&randomKey="+randomKey+"&userID="+userID+"&clientID="+clientID+"&cityID="+cityID
				  +"&cityName="+cityName+"&citySRC="+citySRC+"&local_x="+local_x+"&local_y="+local_y;
      })
      $('#scoreSearch').on('click',function () {
		  window.location.href="/mandarin?page=scoreSearch&randomKey="+randomKey+"&userID="+userID+"&clientID="+clientID+"&cityID="+cityID
				  +"&cityName="+cityName+"&citySRC="+citySRC+"&local_x="+local_x+"&local_y="+local_y;
      })
	$(function(){
		if(citySRC){
			$("#citySRC").attr("src",citySRC)
		}else{
			$("#citySRC").attr("src","../images/banner.png")
		};
	})
</script>
<script src="/js/all.js"></script>
</html>