<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>全国普通话考试成绩查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/mandarin/mandarin.css" />
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" src="/lib/axios.js"></script>
	<script type="text/javascript" language="javascript">
		var randomKey = "<%= locals.randomKey %>"
				,userID = "<%= locals.userID%>"
				,clientID = "<%= locals.clientID %>",
				cityID = "<%= locals.cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				cityName = "<%= cityInfo.cityName %>",
				local_x = "<%= locals.local_x %>"
				,local_y = "<%= locals.local_y %>",
            	localFrom = "<%= locals.localFrom %>";
	</script>
	<style>
		/*[v-cloak] {*/
			/*display: none;*/
		/*}*/
		.masktimes{
			line-height: 22px;
			padding-top: 3px;
			padding-left: 5px;
			padding-right: 5px;
		}
	</style>

	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max"  id="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--全国普通话考试成绩查询-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">全国普通话考试成绩查询</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>姓名</label>
					<input type="text" placeholder="请输入姓名" v-model="placeholder"/>
				</div>
				<div class="text-list-div">
					<label>准考证号</label>
					<input type="text" placeholder="请输入准考证号" v-model="placehold"/>
				</div>
				<div class="text-list-div">
					<label>身份证号</label>
					<input type="text" placeholder="请输入身份证号" v-model="placeholdidentity"/>
				</div>
				<div class="lookBox">
					注：【该成绩仅供参考，最终以证书成绩为准】
					<br>
					请至少输入你姓名、准考证号、身份证中的任意两项
				</div>
				<div class="btn-box">
					<input type="button" value="查询" @click="getDate"/>
				</div>
			</div>

			<!--查询无结果-->
			<div class="peccancyQuery userInfor onlyStyle" v-if="this.noDate==true">
				<h2 class="q-r-tit"><span></span>{{errorImg}}</h2>
			</div>
		</div>
		<!-- ---------------------------------------查询动画提示开始--------------------------------------------- -->
		<div class="mask" style="opacity: 0;" id="dialogMask" v-if="this.dialogMask==true"></div>
		<div class="dialog-tel timeM" style="text-align: center;" id="dialog" v-if="this.dialogMask==true">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- ---------------------------------------查询动画提示结束--------------------------------------------- -->
		<div class="masktime" id="masktime" v-if="masktime" :class="{'masktimes':falgMask}">{{masktime}}</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：全国普通话培训测试信息资源网</div>
	</div>
	<script src="/js/mandarin/scoreSearch.js"></script>
    <script src="/js/all.js"></script>
</body>
</html>