<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>中小学教师资格考试成绩与证书查询</title>
    <link rel="stylesheet" href="/css/news.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script>
		var randomKey = "<%= locals.randomKey %>"
				,userID = "<%= locals.userID%>"
				,clientID = "<%= locals.clientID %>",
				cityID = "<%= locals.cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				cityName = "<%= cityInfo.cityName %>",
				local_x = "<%= locals.local_x %>"
				,local_y = "<%= locals.local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img id="citySRC" src="">
		</div>
		<!--中小学教师资格考试成绩与证书查询-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">中小学教师资格考试成绩与证书查询</h1>
				<hr class="hrLine">
				<div class="btn-box bj-insuranceSystem">
					<input type="button" value="中小学教师资格考试成绩查询" id="examResultInquiry"/>
					<input type="button" value="中小学教师资格考试合格证明（NTCE）查询" id="qualificationCertificate"/>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中小学教师资格考试，中国教育考试网</div>
	</div>
	<script>
		 $('#examResultInquiry').on('click',function () {
			 var url="/teacherQualification?page=examResultInquiry&randomKey="+randomKey+"&userID="+userID.trim()+"&clientID="+clientID.trim()+"&cityID="+cityID.trim()+"&local_x="+local_x+"&local_y="+local_y;
			 window.location.href=url;
		 })
		$('#qualificationCertificate').on('click',function () {
            var url="/teacherQualification?page=qualificationCertificate&randomKey="+randomKey+"&userID="+userID.trim()+"&clientID="+clientID.trim()+"&cityID="+cityID.trim()+"&local_x="+local_x+"&local_y="+local_y;
            window.location.href=url;
        })
		$(function(){
			if(citySRC){
				$("#citySRC").attr("src",citySRC)
			}else{
				$("#citySRC").attr("src","../images/banner.png")
			};
		})
	</script>
</body>
</html>