<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>贵州省网上办事大厅-网上预约</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/guiZhouInternetService/guiZhouInternetService.css" />
	<link rel="stylesheet" href="/css/mobileSelect.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript" src="/lib/mobileSelect.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<!--<script type="text/javascript" src="/lib/vue.min.js"></script>-->
	<!--<script type="text/javascript" src="/lib/axios.js"></script>-->
	<script language="javascript" type="text/javascript" src="/lib/My97DatePicker/WdatePicker.js"></script>
    <script>
		var randomKey = "<%=locals.randomKey%>"
				,userID = "<%= locals.userID%>"
				,clientID = "<%= locals.clientID %>",
				cityID = "<%= locals.cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				local_x = "<%= locals.local_x %>",
				local_y = "<%= locals.local_y %>",
				user_name = "<%= locals.user_name %>",
				cardno = "<%= locals.cardno %>",
				email = "<%= locals.email %>",
				oldmobile = "<%= locals.oldmobile %>",
            localFrom = "<%= locals.localFrom %>";
    </script>
	<script type="text/javascript" src="/js/GzOnlineWork/reservation.js" ></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--贵州省网上办事大厅-网上预约-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img id="back" src="/images/icon-return.png" class="icon-return"/>贵州省网上办事大厅-网上预约</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>您的姓名</label>
					<input type="text" placeholder="请输入您的姓名" value="<%=locals.user_name%>" />
				</div>
				<div class="text-list-div">
					<label>证件号码</label>
					<input type="text" placeholder="请输入证件号码" value="<%=locals.cardno%>" />
				</div>
				<div class="text-list-div">
					<label>E-mail</label>
					<input type="text" placeholder="请输入E-mail" value="<%=locals.email%>" />
				</div>
				<div class="text-list-div">
					<label>联系电话</label>
					<input type="text" placeholder="请输入联系电话" value="<%=locals.oldmobile%>" />
				</div>
				<div class="text-list-div downMenu-style">
					<label>区划</label>
					<span id="area" class="selectDownMenu">请选择</span>
					<img id="areaSelect" src="/images/icon-downMenu.png" class="icon-downMenu">
				</div>
				<div class="text-list-div downMenu-style">
					<label>部门</label>
					<span id="department" class="selectDownMenu">请选择</span>
					<img id="departmentSelect" src="/images/icon-downMenu.png" class="icon-downMenu">
				</div>
				<div class="text-list-div downMenu-style">
					<label>事项</label>
					<span id="permission" class="selectDownMenu">请选择</span>
					<img id="permissionSelect" src="/images/icon-downMenu.png" class="icon-downMenu">
				</div>
				<div class="text-list-div downMenu-style">
					<label>预约日期</label>
					<span id="createtime" class="selectDownMenu">请选择</span>
					<!--<input id="createtime" type="text" placeholder="请选择" class="disabled createtime" readonly/>-->
					<!--<img id="createtimeSelect" src="/images/icon-downMenu.png" class="icon-downMenu">-->
				</div>
				<div class="inquireTips">
					<p>注：1、日期只能从当日的第三天后选起</p>
					<p>2、预约时间，每个事项可提前在办事前3天上网预约。</p>
					<p>3、优先叫号：预约生效后，申请人打印预约单，并凭预约单打在有效预约时间内到政务服务中心有限办理。</p>
				</div>
				<div class="btn-box">
					<input id="reservation" type="button" value="预约" />
				</div>
			</div>
			<!--查询无结果-->
			<div class="peccancyQuery userInfor onlyStyle" style="display:;">
				<h2 class="q-r-tit"><span></span><a id="myReservationPage" href="javascript:;" class="btn-reservation">预约记录查询</a></h2>
			</div>
		</div>
		<div class="masktime" id="masktime" style="display:none;"></div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">受理单位：贵州省网上办事大厅</div>
	</div>
    <!--<script>-->
        <!--fnSize()-->
        <!--window.addEventListener('resize',fnSize,false)-->
        <!--function fnSize () {-->
            <!--if(document.documentElement.offsetWidth>1024){-->
                <!--document.getElementsByTagName('html')[0].style.fontSize = 375/10 +'px';-->
                <!--document.getElementsByClassName("max")[0].style.width="375px";-->
                <!--document.getElementsByClassName("max")[0].style.margin ="0 auto";-->
                <!--document.getElementsByClassName("data-sources")[0].style.width ="375px";-->
                <!--return;-->
            <!--}else{-->
                <!--document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.offsetWidth/10 +'px';-->
                <!--document.getElementsByClassName("max")[0].style.width="100%";-->
                <!--document.getElementsByClassName("data-sources")[0].style.width ="100%";-->
                <!--return;-->
            <!--}-->

        <!--}-->
    <!--</script>-->
</body>
</html>