<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>我的预约记录</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
		var randomKey = "<%=locals.randomKey%>"
				,userID = "<%= locals.userID%>"
				,clientID = "<%= locals.clientID %>",
				cityID = "<%= locals.cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				local_x = "<%= locals.local_x %>"
				,local_y = "<%= locals.local_y %>",
				user_name = "<%= locals.user_name %>",
				cardno = "<%= locals.cardno %>",
				email = "<%= locals.email %>",
				oldmobile = "<%= locals.oldmobile %>",
				localFrom = "<%= locals.localFrom %>";
	</script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--我的预约记录-->
		<div class="warpBox">
			<div class="peccancyQuery userInfor">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>我的预约记录</h1>
				<hr class="hrLine">
				<div class="notFound">
					<div class="img-box"><img src="/images/notFound.png"></div>
					<div class="notF-infor">查询结果：无记录!</div>
				</div>
				<div class="btn-box">
					<input type="button" value="我要预约" />
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：贵州省网上办事大厅</div>
	</div>
    <!--<script>-->
        <!--fnSize()-->
        <!--window.addEventListener('resize',fnSize,false)-->
        <!--function fnSize () {-->
            <!--if(document.documentElement.offsetWidth>1024){-->
                <!--document.getElementsByTagName('html')[0].style.fontSize = 375/10 +'px';-->
                <!--document.getElementsByClassName("max")[0].style.width="375px";-->
                <!--document.getElementsByClassName("max")[0].style.margin ="0 auto";-->
                <!--document.getElementsByClassName("data-sources")[0].style.width ="375px";-->
                <!--return;-->
            <!--}else{-->
                <!--document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.offsetWidth/10 +'px';-->
                <!--document.getElementsByClassName("max")[0].style.width="100%";-->
                <!--document.getElementsByClassName("data-sources")[0].style.width ="100%";-->
                <!--return;-->
            <!--}-->

        <!--}-->
    <!--</script>-->
</body>
</html>