
/*首页（按钮变化）-全国知识产权为例*/
.btn-box.btnNewHome{
	text-align: center;
	margin: 1.05rem 0 0;
}
.btn-box.btnNewHome .footBg{
	background: url(../../images/knowledgeReport/homeBg.png) no-repeat right bottom;
	width: 100%;
	height: 5.111rem;
	background-size: 8.069rem 5.111rem;
	margin-top: -1.3rem;
}
.btn-box.btnNewHome input {
	border-radius: 30px;
	width: 6.527rem;
	height: 1.222rem;
	margin-bottom: 0.694rem;
}
.homefootPic{
	position: relative;
	width: 8.5rem;
	margin: 0 auto;
}
.homefootPic .homefootBg{
	width: 8.5rem;
	height: 0.333rem;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: rgba(127,173,219,0.2);
}
.homefootPic .homefootBg.wh{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -3.694rem;
	background-color: rgba(127,173,219,0.15);
	width: 7.388rem;
	height: 0.555rem;
}
.pubListBox.marTop40{
	padding-top: 0.55rem;
}
.publicListText.otherWH label{
	width: 2.91rem;
}
.publicListText.textareaDesc.textareaHAuto{
	height: auto;
}
.checkList{
	padding: 0.25rem 0.27rem;
}
.checkList ul li{
	float: left;
	width: 33.3%;
	line-height: 0.5rem;
	margin-bottom: 0.277rem;
}
.icon-check28{
	display: inline-block;
	vertical-align: middle;
	background: url(../../images/icon-check28-default.png) no-repeat;
	width: 0.388rem;
	height: 0.388rem;
	background-size: 0.388rem;
	margin-right: 0.15rem;
	float: left;
	margin-top: 0.06rem;
}
.icon-check28.selected{
	background: url(../../images/icon-check28-selected.png) no-repeat;
	background-size: 0.388rem;
}
.checkList ul li b{
	width: -webkit-calc(100% - 0.596rem);
	width: -moz-calc(100% - 0.596rem);
	width: calc(100% - 0.596rem);
	float: left;
	font-weight: normal;
	font-size: 0.361rem;
	color: #333;
}
.cxCode{
	font-size: 0.416rem;
}
.cxCode span{
	color: #ff3939;
	font-weight: bold;
	font-size: 0.361rem;
}
.cxCode.failedCode{
	padding: 0.7rem 0;
}
.successTitWord .failedPic{
	width: 0.666rem;
    height: 0.666rem;
    margin-right: 0.2rem;
    vertical-align: middle;
    margin-top: -0.1rem;
}
.successTitWord .failedWord{
	font-size: 0.388rem;
	color: #f35252;
}
/*查询结果*/
.gjj-tab {
    font-size: 0.388rem;
    padding-bottom: 0.833rem;
    padding-top: 0.694rem;
}
.gjj-tab li {
    width: 50%;
    text-align: center;
    float: left;
    position: relative;
}
.gjj-tab li a {
    color: #364555;
    font-size: 0.388rem;
    display: inline-block;
}
.gjj-tab li.active a {
    color: #549dfb;
}
.gjj-tab li span {
    width: 0.388rem;
    height: 0.083rem;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    background: #549dfb;
    bottom: -0.2rem;
    left: 50%;
    margin-left: -0.243rem;
}
.searchResult{
	border-top: 1px solid #edefee;
}
.searchResult .publicListText{
	margin: 0 auto;
}
.searchResult .publicListText input{
	padding: 0 0.3rem;
	width: 100%;
}
.searchResult .btn-box{
	margin: 1.388rem 0 0.55rem;
}
.resultBox{
	padding: 0 0.55rem;
	border-top: 1px solid #e6e6e6;
}
.resultBox.bResultBox{
	border-top:none;
	margin-top: 0.7rem;
}
.publicSearchResult{
	border-bottom: 1px solid #e6e6e6;
	padding-top: 0.23rem;
	padding-bottom: 0.194rem;
	font-size: 0.333rem;
}
.publicSearchResult label,
.publicSearchResult span{
	font-size: 0.333rem;
	color: #666;
}
.publicSearchResult label{
	float: left;
	width: 2.8rem;
	padding-right: 0.138rem;
}
.publicSearchResult span{
	float: right;
	width: -webkit-calc(100% - 2.8rem);
	width: -moz-calc(100% - 2.8rem);
	width: calc(100% - 2.8rem);
	text-align: right;
	word-break: break-all;
}
.replyCon{
	padding:0.69rem 0.55rem 0.5rem;
	font-size: 0.333rem;
}
.replyCon .tit{
	font-size: 0.333rem;
	color: #333;
	line-height: 0.5rem;
	margin-bottom: 0.138rem;
}
.replyCon .tit span{
	float: left;
	width: 0.083rem;
	height: 0.3rem;
	background: #6a8fb5;
	margin-top: 0.1rem;
	margin-right: 0.138rem;
}
.replyCon .textarea textarea{
	height: 1.763rem;
	width: 100%;
	background: #f2f2f2;
	font-size: 0.333rem;
	color: #2b6096;
	border: none;
    outline: none;
    resize: none;
    font-family: "微软雅黑";
    padding: 0.138rem;
}
.replyCon .textarea textarea::-webkit-input-placeholder{color:#2b6096;}
.queryFailed{
	padding: 0.694rem 0.55rem 0.833rem 0.916rem;
	border-top: 1px solid #e6e6e6;
}
.icon-queryFailed{
	display: inline-block;
	background: url(../../images/queryFailed.png) no-repeat;
	width: 0.25rem;
	height: 0.277rem;
	background-size: 0.25rem 0.277rem;
	vertical-align: middle;
    margin-top: -0.06rem;
    margin-right: 0.138rem;
}
.queryFailed .tipsCodeErr{
	font-size: 0.277rem;
	color: #fc4b48;
}
.artificialQuery{
	font-size: 0.277rem;
	color: #333;
	margin-top: 0.138rem;
	margin-left: 0.39rem;
}
.artificialQuery span{
	color: #2b6096;
	margin: 0 0.138rem;
}