
.sameNameNum {
    float: right;
    margin-right: 0.55rem;
}
.sameNameNum b {
    color: #0083e0;
    font-weight: normal;
    margin: 0 0.16rem;
}
.peccancyQuery.userInfor .font24 .text-list-div{
	margin: 0;
	padding: 0.61rem 0.55rem 0.25rem;
}
.peccancyQuery.userInfor .text-list-div:nth-last-child(1){
	border-bottom: 1px solid #edefee;
}
.peccancyQuery.userInfor .font24 .text-list-div label{
	width: 2.63rem;
	font-size: 0.33rem;
	padding-right: 0;
}
.peccancyQuery.userInfor .font24 .text-list-div span,
.peccancyQuery.userInfor .font24 .text-list-div span.companyTitle {
    font-size: 0.33rem;
    width: -webkit-calc(100% - 2.63rem);
    width: -moz-calc(100% - 2.63rem);
    width: calc(100% - 2.63rem);
}
.font24 .text-list-div span.companyTitle{
    color: #056fb6;
}
.peccancyQuery.userInfor .font24 .text-list-div .statusOK,
.peccancyQuery.userInfor .font24 .text-list-div .statusNO{
	width: auto;
	padding: 0 0.2rem;
	height: 0.5rem;
	line-height: 0.5rem;
	background: #1fd010;
	color: #fff;
	font-size: 0.33rem;
	text-align: center;
	border-radius: 3px;
}
.peccancyQuery.userInfor .font24 .text-list-div .statusNO{
	background: #fa6e08;
}
.showHidden {
	height: 0.694rem;
	text-align: center;
	font-size: 0;
}
.icon-downMenu,.icon-upMenu{
	width: 0.694rem;
    height: 0.694rem;
    position: inherit;
}
.show{
	display: block;
}
.hide{
	display: none;
}