/*404*/
.error404{
	text-align: center;
	padding-bottom: 4rem;
}
.error404 .errorImgBox{
	margin-top: 1.472rem;
	margin-bottom: 0.55rem;
}
.error404 .errorImgBox img{
	width: 1.972rem;
	height: 2.152rem;
}
.bigTit{
	font-size: 0.388rem;
	font-weight: bold;
	color: #34495e;
	line-height: 1rem;
}
.errorInfor{
	font-size: 0.25rem;
	color: #565e68;
	line-height: 0.5rem;
}
