<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>模拟积分结果</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/pointsSettled/pointsSettled.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            citySRC = "<%= cityInfo.citySRC %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--模拟积分结果-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" onclick="back()"/>模拟积分结果</h1>
				<hr class="hrLine">
				<div class="fractionBox">
					<div class="totalScore">总分合计：<span id="total">77.08</span>分</div>
					<div class="percentage">您目前的积分击败了全国<span id="ratio">15%</span>的用户!</div>
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<table class=" integralProjectDetailsList">
					<tr>
						<th>序号</th>
						<th>积分项目明细</th>
						<th>分值</th>
					</tr>
					<tr>
						<td>1</td>
						<td>合法稳定就业指标积分</td>
						<td id="qualif">0.00</td>
					</tr>
					<tr>
						<td>2</td>
						<td>合法稳定住所指标积分</td>
						<td id="payLegal">0.08</td>
					</tr>
					<tr>
						<td>3</td>
						<td>教育背景指标积分</td>
						<td id="education">37.00</td>
					</tr>
					<tr>
						<td>4</td>
						<td>职住区域指标积分</td>
						<td id="resid">4.00</td>
					</tr>
					<tr>
						<td>5</td>
						<td>创新创业指标积分</td>
						<td id="entrent">2.00</td>
					</tr>
					<tr>
						<td>6</td>
						<td>纳税指标积分  </td>
						<td id="paytaxet">-6.00</td>
					</tr>
					<tr>
						<td>7</td>
						<td>年龄指标积分</td>
						<td id="age">20.00</td>
					</tr>
					<tr>
						<td>8</td>
						<td>荣誉表彰指标积分</td>
						<td id="honor">20.00</td>
					</tr>
					<tr>
						<td>9</td>
						<td>守法记录指标积分</td>
						<td id="laeRecond">0.00</td>
					</tr>
				</table>
				<div class="spacHt2"></div>
				<div class="btn-box btn-newsStyle">
					<input type="button" value="重新计算" onclick="again()"/>
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>说明：</h2>
				<div class="wantLookCon">
					<p>计算结果仅供参考。您的最终积分以实际审核结果为准~</p>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：北京市人力资源和社会保障局</div>
	</div>
	<script src="/js/pointsSettled/analogIntegratorResults.js"></script>
    <script src="/js/all.js"></script>
</body>
</html>