<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>各区积分落户服务窗口联系方式</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/pointsSettled/pointsSettled.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            citySRC = "<%= cityInfo.citySRC %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--各区积分落户服务窗口联系方式-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" onclick="back()"/>各区积分落户服务窗口联系方式</h1>
				<hr class="hrLine">
				<div class="contactList">
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>东城区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('东城区朝内大街192号办事大厅一楼西侧')"></i><span>东城区朝内大街192号办事大厅一楼西侧</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-89945115')"></i><span>010-89945115</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>西城区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('西城区广外广华轩6号一层')"></i><span>西城区广外广华轩6号一层</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-63271718')"></i><span>010-63271718</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>朝阳区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('朝阳区将台路5号院15号楼A座')"></i><span>朝阳区将台路5号院15号楼A座</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-57596123')"></i><span>010-57596123， 96105</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>海淀区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('海淀区西四环北路73号中关村人才发展中心二层')"></i><span>海淀区西四环北路73号中关村人才发展中心二层</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-68982166')"></i><span>010-68982166</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>丰台区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('丰台区西站南路168号')"></i><span>丰台区西站南路168号</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-63258198')"></i><span>010-63258198，010-63259806</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>石景山人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('石景山区实兴大街30号院17号楼石景山区政务服务中心一层')"></i><span>石景山区实兴大街30号院17号楼石景山区政务服务中心一层</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-68868501')"></i><span>010-68868501</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>门头沟区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('门头沟区中门寺16号民生大厅人力资源公共服务中心二层')"></i><span>门头沟区中门寺16号民生大厅人力资源公共服务中心二层</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-69867795')"></i><span>010-69867795，010-69844705</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>房山区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('房山区良乡西路5号604室')"></i><span>房山区良乡西路5号604室</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-89367705')"></i><span>010-89367705</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>通州区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('通州区运河西大街113号一层')"></i><span>通州区运河西大街113号一层</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-81517219')"></i><span>010-81517219</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>顺义区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('顺义区仓上街16号')"></i><span>顺义区仓上街16号</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-89441594')"></i><span>010-89441594</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>大兴区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('大兴区永华南里9号楼一层大兴区人力资源公共服务中心30号窗口')"></i><span>大兴区永华南里9号楼一层大兴区人力资源公共服务中心30号窗口</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-81296113')"></i><span>010-81296113，010-81296819</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>昌平区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('昌平区鼓楼东街62号昌平区人事考试中心三楼办事大厅')"></i><span>昌平区鼓楼东街62号昌平区人事考试中心三楼办事大厅
</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-89761990')"></i><span>010-89761990</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>平谷区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('平谷区新平东路3号人力资源和社会保障局')"></i><span>平谷区新平东路3号人力资源和社会保障局</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-69983704')"></i><span>010-69983704</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>怀柔区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('怀柔区雁栖经济开发区雁栖大街53号院12号楼怀柔科学城政务服务中心')"></i><span>怀柔区雁栖经济开发区雁栖大街53号院12号楼怀柔科学城政务服务中心</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010－69681081')"></i><span>010－69681081</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>密云区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('密云区经济开发区康宝路15号319室')"></i><span>密云区经济开发区康宝路15号319室</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-89039006')"></i><span>010-89039006</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>延庆区人力社保局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('延庆区高塔街53号')"></i><span>延庆区高塔街53号</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-69173620')"></i><span>010-69173620</span></div>
					</div>
					<div class="contactBox">
						<div class="title clearfix"><i class="icon-boldLine" ></i><span>开发区人事劳动局</span></div>
						<div class="address"><i class="icon-address" onclick="nextPage('北京经济技术开发区荣华中路15号朝林大厦705室')"></i><span>北京经济技术开发区荣华中路15号朝林大厦705室</span></div>
						<div class="tel"><i class="icon-tel" onclick="mack('010-67856787')"></i><span>010-67856787，010-67856780</span></div>
					</div>
				</div>
			</div>
			<!--联系电话弹框-->
			<div class="mask" style="display: none;" id="dialogMask"></div>
			<div class="dialog-tel" style="display: none;"  id="dialog">
				<div class="titTel" id="title">63826204</div>
				<div class="btn-tel">
					<a href="javascript:;" id="del">取消</a>
					<a href="tel:63826204" id="Call">呼叫</a>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：北京市人力资源和社会保障局</div>
	</div>
	<script src="/js/pointsSettled/contactDetails.js"></script>
    <script src="/js/all.js"></script>
</body>
</html>