<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>北京市积分落户模拟计算</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/pointsSettled/pointsSettled.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script src="/js/all.js"></script>
	<script type="text/javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            citySRC = "<%= cityInfo.citySRC %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--北京市积分落户模拟计算-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" onclick="back()"/>北京市积分落户模拟计算</h1>
				<hr class="hrLine">
				<div class="homeBG">
					<div class="conBG doesNotMeet">
						<p class="remark">您暂时还没有积分落户资格哦！让小伙伴一起来试试吧！</p>
					</div>
					<div class="picBG"></div>
				</div>
				<div class="btn-box btn-newsStyle">
					<input type="button" value="再算一遍" onclick="anginCalculation()"/>
				</div>
			</div>
			<!---->
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>说明：</h2>
				<div class="wantLookCon">
					<p>根据《北京市积分落户管理方法（试行）》、《北京市积分落户操作管理细则（试行）》，符合以上四项资格条件的在京外地户籍人员可以在北京市申报积分落户。</p>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：北京市人力资源和社会保障局</div>
	</div>
	<script src="/js/pointsSettled/doesNotMeet.js"></script>
</body>
</html>