<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>纳税</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/pointsSettled/pointsSettled.css" />
	<link rel="stylesheet" href="/css/mobileSelect.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript" src="/js/hospital/mobileSelect.js" ></script>
	<script type="text/javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            citySRC = "<%= cityInfo.citySRC %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<style>
		.ageLimt-title {
			position: relative;
		}
		input[type="radio"]{
			position: absolute;
			left: -5px;
			top: -3px;
			opacity: 0;
		}
		input[type="radio"]:checked + i.icon-radio{
			background: url("../../images/pointsSettled/radio-select.png") no-repeat ;
			background-size: 0.416rem 0.416rem;
		}
	</style>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--7.纳税-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" onclick="back()"/>7.纳税</h1>
				<hr class="hrLine">
				<div class="payTaxesCondition">必要条件：近三年连续纳税</div>
				<div class="textList">
					<div class="ageLimt-title clearfix">
						<input type="radio" value="0" name="smsradio" main-Average="0">
						<i class="icon-radio"></i>
						<span class="conditionTit">不满足相关纳税积分条件</span>
					</div>
				</div>
				<div class="textList">
					<div class="ageLimt-title clearfix">
						<input type="radio" value="6" name="smsradio" main-Average="1">
						<i class="icon-radio"></i>
						<span class="conditionTit">平均每年个人所得税纳税额在10万元及以上</span>
					</div>
				</div>
				<div class="textList">
					<div class="ageLimt-title clearfix">
						<input type="radio" value="6" name="smsradio" main-Average="2">
						<i class="icon-radio"></i>
						<span class="conditionTit">出资企业纳税额按其出资比例计算，平均每年纳税20万元及以上</span>
					</div>
				</div>
				<div class="textList">
					<div class="ageLimt-title clearfix">
						<span class="conditionTit">自《北京市积分落户管理办法（试行）》施行之日起，涉税违法行为记录次数</span>
					</div>
					<div class="ageLimt-text">
						<!--<input type="text" placeholder="请选择" disabled class="disabled" />-->
						<span class="disabled" id="recordTrigger" data_id="0">0</span>
						<img src="/images/icon-downMenu.png" class="downMenu" id="record">
					</div>
				</div>
				<div class="btn-box btn-newsStyle">
					<input type="button" value="确定" onclick="search()"/>
				</div>
			</div>
			<!---->
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>说明：</h2>
				<div class="wantLookCon">
					<p>在创新创业指标各项中，加分是不累计的，如果您同时符合多项加分条件的，只能计最高分~</p>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>

		<div class="masktime" id="masktime" style="display:none;"></div>
		<div class="data-sources">服务来源：北京市人力资源和社会保障局</div>
	</div>
	<script src="/js/pointsSettled/payTaxes.js"></script>
    <script src="/js/all.js"></script>
</body>
</html>