<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>合法稳定就业</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/pointsSettled/pointsSettled.css" />
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            citySRC = "<%= cityInfo.citySRC %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<style>
		[v-cloak]{
			display: none;
		}
		.masktimes{
			line-height: 24px;
			opacity: 1;
			padding: 0 10px;
		}
	</style>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" v-cloak id="social">
		<!--banner图-->
		<% include ../header.html %>
		<!--2.合法稳定就业-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" @click="back()"/>2.合法稳定就业</h1>
				<hr class="hrLine">
				<div class="ageLimt-title">在京连续缴纳社会保险年限（累计月数）</div>
				<div class="ageLimt-text">
					<input type="text" placeholder="请输入整数" v-model="number" @keyup="focus()"/>
					<div class="promptRemarks" v-if="this.tipRule==true">*每连续缴纳社会保险满1年积3分</div>
				</div>
				<div class="btn-box btn-newsStyle">
					<input type="button" value="确定" @click="sure"/>
				</div>
				<div class="examples">如果您担心填写有误，请点我查看<a href="javascript:;" @click="showTip=true">示例</a>哦~</div>
			</div>
			<!---->
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>说明：</h2>
				<div class="wantLookCon">
					<p>从1998年7月1日起，截止到积分落户申报工作启动的上一年度12月31日。如果您每连续缴纳社会保险满1年则积3分。</p>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>

		<!--示例-->
		<div class="mask" v-if="this.showTip==true"></div>
		<div class="dialog-examples" v-if="this.showTip==true">
			<div class="title">示例<a href="javascript:;" v-on:click="showTip=false"></a></div>
			<p class="examplesCon">以外埠城镇职工小王为例，其五项社会保险的缴纳月数分别为：养老保险87个月；医疗保险84个月；失业保险84个月；工伤保险86个月；生育保险60个月。则小王的合法稳定就业指标积分应选取缴费时间最长的养老保险87个月，此项积分值为：87÷12×3=21.75。</p>
			<div class="btn-box btn-newsStyle">
				<input type="button" value="好的，我明白了" v-on:click="showTip=false"/>
			</div>
		</div>

		<div class="masktime" :class="{'masktimes':maskShow}" id="masktime" v-if="masktime">{{masktime}}</div>

		<div class="data-sources">服务来源：北京市人力资源和社会保障局</div>
	</div>
	<script src="/js/pointsSettled/socialSecurityAge.js"></script>
    <script src="/js/all.js"></script>
</body>
</html>