<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>2018年北京市积分落户申报审核时间节点</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/pointsSettled/pointsSettled.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            citySRC = "<%= cityInfo.citySRC %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--2018年北京市积分落户申报审核时间节点-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" onclick="anginCalculation()"/>2018年北京市积分落户申报审核时间节点</h1>
				<hr class="hrLine">
				<div class="tableCon">
					<table class="tableBox1 timeNodeTabel">
						<tr>
							<th>指标名称</th>
							<th>本次申报计算时间</th>
						</tr>
						<tr>
							<td>资格条件：持有本市居住证</td>
							<td>申领时间为2018年4月10日前</td>
						</tr>
						<tr>
							<td>
								<p>1.资格条件：</p>
								<p>1)不超过法定退休年龄</p>
								<p>2)在京连续缴纳社会保险7年及以上</p>
								<p>2.积分指标</p>
								<p>3)合法稳定就业指标</p>
								<p>4)合法稳定住所指标</p>
								<p>5)教育背景指标</p>
								<p>6)职住区域指标</p>
								<p>7)创新创业指标（在科技、文化领域以及创新创业大赛获得国家级或本市市级奖项的）</p>
								<p>8)纳税指标（涉税违法行为）</p>
								<p>9)荣誉表彰指标</p>
								<p>10)守法记录指标</p>
							</td>
							<td>截止时间为2017年12月31日</td>
						</tr>
						<tr>
							<td>资格条件：无刑事犯罪记录</td>
							<td>申报审核全程</td>
						</tr>
						<tr>
							<td>
								<p>积分指标：</p>
								<p>1.创新创业指标[在国家高新技术企业、科技企业孵化器（大学科技园、众创空间）及入驻企业、技术转移服务机构、专业科技服务机构等投资或就业的] </p>
								<p>2.纳税指标（个税及投资企业纳税加分）</p>
							</td>
							<td>2015年、2016年、2017年</td>
						</tr>
						<tr>
							<td>积分指标：不超过45周岁加分
</td>
							<td>截止时间为2017年1月1日</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：北京市人力资源和社会保障局</div>
	</div>
	<script src="/js/pointsSettled/timeNode.js"></script>
    <script src="/js/all.js"></script>
</body>
</html>