<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>12315投诉举报平台</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/beijing.png">
		</div>
		<!--12315投诉举报平台-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">12315投诉举报平台</h1>
				<hr class="hrLine">
				<div class="btn-box">
					<a href="https://app.12315.cn/app/service/ts/content" class="btnLink">我要投诉</a>
					<a href="https://app.12315.cn/app/service/jb/content" class="btnLink">我要举报</a>
					<a href="https://app.12315.cn/app/index" class="btnLink">个人中心</a>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">受理单位：全国12315互联网平台</div>
	</div>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>