<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>医疗保险待遇查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/user.css" />
    <script type="text/javascript" src="/lib/jquery.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" language="javascript">
		var randomKey = "<%= randomKey %>"
				,userID = "<%= userID%>"
				,clientID = "<%= clientID %>",
				cityID = "<%= cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				local_x = "<%= local_x %>"
				,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/insurance/insuranceLogin.js"></script>
	<script language="JavaScript">
		var _trackDataType = 'web';var _trackData = _trackData || [];
	</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	<script type="text/javascript">
		$(function(){
			getMedicalInfo();
			function getMedicalInfo(){
				var data = {
					randomKey: randomKey,
					userID: userID,
					clientID: clientID,
					cityID: cityID,
					local_x: local_x ,localFrom:localFrom,
					local_y: local_y
				};
				$.ajax({
					async: true,
					type: 'post',
					data: JSON.stringify(data),
					url: '/insurance/getSecurity',
					contentType: 'application/json'
				}).done(function(data){
					if(data.retCode == '000000'){
						$("#dwmc").text(data.responseBody.dwmc);
						$("#xm").text(data.responseBody.xm);
						$("#mz_nddejjljzf").text(data.responseBody.mz.nddejjljzf);
						$("#ndmzybnfylj").text(data.responseBody.mz.ndmzybnfylj);
						$("#nd_nddejjljzf").text(data.responseBody.nd.nddejjljzf);
						$("#ndtcjjljzf").text(data.responseBody.nd.ndtcjjljzf);
						$("#ndzyybnfylj").text(data.responseBody.nd.ndzyybnfylj);
					}else{
						alert(data.rtnMsg || "查询失败");
					}
				});
			}
		})
	</script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--医疗保险待遇查询-->
		<div class="warpBox">
			<div class="peccancyQuery userInfor">
				<h1 class="p-q-tit"><img src="../images/icon-return.png" class="icon-return"/>医疗保险待遇查询</h1>
				<hr class="hrLine">
				<div class="text-list-div clearfix">
					<label>单位名称：</label>
					<span id="dwmc"></span>
				</div>
				<div class="text-list-div clearfix">
					<label>姓名：</label>
					<span id="xm"></span>
				</div>
				<div class="text-list-div clearfix">
					<label>单位：</label>
					<span id="dw">元（保留两位小数）</span>
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>门诊年度支出累计<img src="../images/icon-downMenu.png" class="icon-downMenu" id="tab-tit-1"/></h2>
				<hr class="hrLine">
				<div class="tab-content" id="tab-content-1">
					<div class="text-list-div list-wh clearfix">
						<label>年度大额基金累计支付：</label>
						<span id="mz_nddejjljzf"></span>
					</div>
					<div class="text-list-div list-wh clearfix">
						<label>年度门诊医保内费用累计：</label>
						<span id="ndmzybnfylj"></span>
					</div>
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>住院年度支出累计<img src="../images/icon-downMenu.png" class="icon-downMenu" id="tab-tit-2"/></h2>
				<hr class="hrLine">
				<div class="tab-content" id="tab-content-2">
					<div class="text-list-div list-wh clearfix">
						<label>年度统筹基金累计支付：</label>
						<span id="ndtcjjljzf"></span>
					</div>
					<div class="text-list-div list-wh clearfix">
						<label>年度大额基金累计支付：</label>
						<span id="nd_nddejjljzf"></span>
					</div>
					<div class="text-list-div list-wh clearfix">
						<label>年度住院医保内费用累计：</label>
						<span id="ndzyybnfylj"></span>
					</div>
				</div>
			</div>
			
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：北京市人力资源和社会保障局</div>
	</div>
</body>
</html>