/*首页-引导页*/
.img-list-box.personalList{
	border: none;
	padding: 0;
}
.personalList ul li{
	width: 33.3%;
	height: 2.638rem;
	border-bottom: 1px solid #dde6ee;
	margin-top: 0;
	padding: 0.583rem 0.4rem 0;
	cursor: pointer;
}
.personalList ul li:nth-of-type(2),
.personalList ul li:nth-of-type(5),
.personalList ul li:nth-of-type(8){
	border-left: 1px solid #dde6ee;
	border-right: 1px solid #dde6ee;
}
.personalList ul li.borderNot{
	border-bottom:none;
}
.personalList ul li a img{
	width: 0.694rem;
	height: 0.472rem;
}
.personalList ul li a p{
	margin-top: 0.28rem;
	color: #364555;
}
/*工资、薪金所得*/
.icon-radio {
    display: inline-block;
    background: url(../../images/pointsSettled/radio-default.png) no-repeat;
    width: 0.416rem;
    height: 0.45rem;
    background-size: 0.416rem 0.416rem;
    vertical-align: middle;
    margin-right: 0.3rem;
    float: left;
    margin-top: 0.065rem;
}
.icon-radio.active {
    background: url(../../images/pointsSettled/radio-select.png) no-repeat;
    background-size: 0.416rem 0.416rem;
}
.accounts-all{
	display: inline-block;
	line-height: 0.5rem;
}
.accounts-all span{
	width: 2.62rem;
	display: inline-block;
	color: #6f7881;
	font-size: 0.416rem;
	line-height: 0.5rem;
	float: left;
}
.viewSample {
    text-align: center;
    font-size: 0.3rem;
    margin: -0.08rem 0.55rem 0.416rem;
}
.viewSample a {
    color: #0083e0;
    font-size: 0.33rem;
}
.peccancyQuery.userInfor .calculationResult .text-list-div label {
    width: 2.9rem;
    padding-left: 0.388rem;
    font-size: 0.33rem;
    color: #666;
}
.peccancyQuery.userInfor .calculationResult .text-list-div .numberResults {
    min-width: 1.388rem;
    font-size: 0.388rem;
    color: #0083e0;
    width: auto;
    float: left;
    text-align: left;
    font-weight: bold;
    margin-right: 0.1rem;
}
.rmbUnit {
    color: #797979;
    font-size: 0.33rem;
    font-weight: normal;
    float: left;
    line-height: 0.5rem;
}
.noteResult {
    line-height: 1.11rem;
    color: #a1a9ac;
    font-size: 0.277rem;
    padding-left: 0.938rem;
    padding-right: 0.55rem;
}
.calculationResult {
    border-top: 1px solid #eef0ef;
}
/*说明*/
.personalPrompt{
    padding-bottom: 0.388rem;
    margin-top: 0.5rem;
}
.personalPrompt p {
    line-height: 0.472rem;
    color: #666;
	font-size: 0.277rem;
	margin: 0 0.55rem;
	padding: 0;
}
.personalPrompt p.taxTitle {
    margin-top: 0.25rem;
    padding-top: 0.277rem;
    border-top: 1px solid #edefee;
}
.personalPrompt .icon-tips{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.13rem;
    margin-top: -2px;
    margin-left: -0.416rem;
}

/*弹框*/
.dialog-project {
    background: #fff;
    border-radius: 3px;
    position: fixed;
    top: 2rem;
    left: 0.333rem;
    z-index: 100;
    width: -webkit-calc(100% - 0.666rem);
    width: -moz-calc(100% - 0.666rem);
    width: calc(100% - 0.666rem);
    height: -webkit-calc(100% - 4rem);
    height: -moz-calc(100% - 4rem);
    height: calc(100% - 4rem);
    overflow-y: auto;
    padding-bottom: 0.3rem;
}
.dialog-project .title {
    height: 0.972rem;
    line-height: 0.972rem;
    color: #329dfc;
    font-size: 0.416rem;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.dialog-project .title i {
    display: inline-block;
    vertical-align: middle;
    width: 0.694rem;
    height: 0.694rem;
    background: url(../../images/close.png) no-repeat;
    background-size: 0.694rem;
    position: absolute;
    right: 0.3rem;
    top: 0.166rem;
}
.personalTaxCon{
	margin:0 0.277rem;
}
.personalTaxCon .mainTitle{
	font-size: 0.33rem;
	color: #474747;
	margin-top: 0.3rem;
}
.personalTaxCon .subTitle{
	font-size: 0.3rem;
	color: #797979;
	margin-top: 0.23rem;
	line-height: 0.55rem;
}
.personalTabel{
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	width: 100%;
	margin-top: 0.54rem;
}
.personalTabel tr td{
	border: 1px solid #e5e5e5;
	line-height: 0.416rem;
	color: #616161;
	font-size: 0.33rem;
	text-align: center;
	padding: 0.14rem 0.1rem;
}
.personalTabel tr td.left{
	text-align: left;
}
.personalTabel tr td.num{
	color: #8d8d8d;
	width: 1rem;
}
.personalNote h3{
	font-size: 0.33rem;
	color: #474747;
	padding-left: 0.277rem;
	font-weight: normal;
	line-height: 0.55rem;
	margin-top: 0.22rem;
}
.personalNote p{
	font-size: 0.277rem;
	color: #474747;
	padding-left: 0.638rem;
	line-height: 0.55rem;
}
/*劳务酬劳*/
.laborRemuneration{
	height: 7rem;
	top: 50%;
	margin-top: -3.5rem;
}
.laborRemuneration .personalTabel tr td.left{
	padding-left: 0.277rem;
}
/*财产租赁*/
.propertyLease{
    display: inline-block;
    width: -webkit-calc(100% - 3rem);
	width: -moz-calc(100% - 3rem);
	width: calc(100% - 3rem);
}
.propertyLease span {
    font-size: 0.388rem;
    color: #b2b2b2;
}
.propertyLease span:nth-of-type(1){
	width: 2.02rem;
}
.propertyLease span:nth-of-type(2){
	width: 3.15rem;
}
.propertyLease span picture {
    display: inline-block;
    vertical-align: middle;
    width: 0.34rem;
    height: 0.34rem;
    background: url(../../images/icon-yh-default.png) no-repeat;
    background-size: 0.34rem 0.34rem;
    margin: -0.03rem 0.2rem 0 0rem;
}
.propertyLease span picture.active {
    background: url(../../images/icon-yh-check.png) no-repeat;
    background-size: 0.34rem 0.34rem;
}
.textNote{
	color: #a1a9ac;
	font-size: 0.3rem;
	padding: 0.36rem 0.55rem 0;
}
/*营业税计算*/
.businessTax .text-list-div{
	border-bottom: none;
    padding-bottom: 0;
    padding-top: 0.3rem !important;
}
.businessTax .text-list-div .numberResults{
	min-width: auto !important;
}
.businessTax .noteResult{
	margin-top: 0.33rem;
	border-top:1px solid #edefee ;
}