<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>医院详情</title>
    <link type="text/css" rel="stylesheet" href="../../css/news.css" />
    <link rel="stylesheet" type="text/css" href="../../css/hospital/hospital.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/heNanHospital/heNanHospital.css"/>
	<link rel="stylesheet" href="../../css/sXHospital/sXHospital.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox" id="personalCenter">
				<a href="javascript:;">
					<p><img src="../../images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
			</div>
		</div>
		<!--选择科室-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img src="../../images/icon-return.png" class="icon-return" id="back"/>陕西省预约挂号平台</h1>
				<hr class="hrLine">
				<div id="sX_detailResult"></div>
				<!--<div class="peccancyQuery userInfor onlyStyle clearfix">-->
					<!--<dl class="hosList hNHosList sXDefaultList">-->
						<!--<dt><a href="javascript:;"><img src="../../images/heNanHospital/hospitalPic.jpg"></a></dt>-->
						<!--<dd class="department">-->
							<!--<p class="title">陕西省人民医院<span class="titSpan">三级甲等</span></p>-->
							<!--<p class="address"><i class="icon-address"></i>陕西省西安市友谊西路256号</p>-->
							<!--<p class="tel"><i class="icon-tel"></i>0371-96129</p>-->
							<!--<p class="intro"><i class="icon-intro"></i>陕西省人民医院是陕西省临床医学研究院，承担全省医疗、教学、科研预防、保健、急救等。</p>-->
						<!--</dd>-->
					<!--</dl>-->
				<!--</div>-->
			</div>
			<div class="peccancyQuery userInfor onlyStyle clearfix">
				<div class="tabTitle">
					<ul id="ksList">
						<!--<li class="active"><a href="javascript:;">内科</a></li>-->
						<!--<li><a href="javascript:;">外科</a></li>-->
						<!--<li><a href="javascript:;">妇产科</a></li>-->
						<!--<li><a href="javascript:;">儿科</a></li>-->
						<!--<li><a href="javascript:;">儿科</a></li>-->
						<!--<li><a href="javascript:;">口腔科</a></li>-->
						<!--<li><a href="javascript:;">耳鼻喉科</a></li>-->
						<!--<li><a href="javascript:;">皮肤科</a></li>-->
						<!--<li><a href="javascript:;">中医科</a></li>-->
						<!--<li><a href="javascript:;">检验科</a></li>-->
						<!--<li><a href="javascript:;">其他科室</a></li>-->
					</ul>
				</div>
				<div class="depar-tabCon departmentCon" id="departmentCon">
					<!--<div class="tabConBox">-->
						<!--<p>内分泌科</p>-->
						<!--<p>神经内科</p>-->
						<!--<p>老干部科</p>-->
						<!--<p>心内科</p>-->
						<!--<p>消化内</p>-->
						<!--<p>感染科</p>-->
						<!--<p>血液科</p>-->
						<!--<p>肿内</p>-->
						<!--<p>肾内科</p>-->
						<!--<p>呼吸内科</p>-->
					<!--</div>-->
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<!-----------------------------------------查询动画提示开始-------------------------------------------->
		<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-----------------------------------------查询动画提示结束--------------------------------------------->
		<div class="data-sources">服务来源：陕西省预约挂号及支付平台</div>
	</div>
	<script type="text/javascript" src="/js/sXHospital/details.js"></script>
</body>
</html>