<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>预约</title>
		<link type="text/css" rel="stylesheet" href="../../css/news.css" />
	    <link rel="stylesheet" type="text/css" href="../../css/hospital/hospital.css"/>
	    <link rel="stylesheet" type="text/css" href="../../css/heNanHospital/heNanHospital.css"/>
		<link rel="stylesheet" href="../../css/sXHospital/sXHospital.css" />
		<script type="text/javascript" src="/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="/js/all.js"></script>
		<script>
            var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                cityID = "<%= cityID %>",
                local_x = "<%= local_x %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityName = "<%= cityInfo.cityName %>",
                local_y = "<%= local_y %>",
                localFrom = "<%= locals.localFrom %>";
		</script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max">
			<!--banner图-->
			<div class="banner">
				<% include ../header.html %>
				<div class="userAvatarBox" id="personalCenter">
					<a href="javascript:void(0)">
						<p><img src="../../images/hospital/userAvatar.png"></p>
						<p>个人中心</p>
					</a>
				</div>
			</div>
			<!--预约详情-->
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home regWH">
					<h1 class="p-q-tit"><img src="../../images/icon-return.png" class="icon-return" id="back"/>挂号失败</h1>
					<!--预约失败 start-->
					<div class="notFound" style="">
						<div class="img-box"><img src="../../images/notFound.png"></div>
						<div class="notF-infor" id="notFound">预约失败，请稍后重新预约！</div>
					</div>
					<!--预约失败 end-->
				</div>
			</div>
			<div style="height: 1.3rem;"></div>
			<div class="data-sources">服务来源：陕西省预约挂号及支付平台</div>
		</div>
		<script src="/js/sXHospital/failReservation.js"></script>
	</body>
</html>
