<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>个人中心</title>
		<link type="text/css" rel="stylesheet" href="../../css/news.css" />
	    <link rel="stylesheet" type="text/css" href="../../css/hospital/hospital.css"/>
	    <link rel="stylesheet" type="text/css" href="../../css/heNanHospital/heNanHospital.css"/>
		<link rel="stylesheet" href="../../css/sXHospital/sXHospital.css" />
		<link rel="stylesheet" href="/css/mobileSelect.css" />
		<link rel="stylesheet" href="/css/mobiscroll/mobiscroll.css">
		<link rel="stylesheet" href="/css/mobiscroll/mobiscroll_002.css">
		<link rel="stylesheet" href="/css/mobiscroll/mobiscroll_003.css">
		<script type="text/javascript" src="/lib/jquery.min.js" ></script>
		<script src="/js/sXHospital/jquery.base64.js"></script>
		<script type="text/javascript" src="/lib/mobiscroll_002.js" ></script>
		<script type="text/javascript" src="/lib/mobiscroll.js" ></script>
		<script type="text/javascript" src="/lib/mobiscroll_003.js" ></script>
		<script type="text/javascript" src="/js/hospital/mobileSelect.js" ></script>
		<script type="text/javascript" src="/js/all.js"></script>
		<script>
            var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                cityID = "<%= cityID %>",
                local_x = "<%= local_x %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityName = "<%= cityInfo.cityName %>",
                local_y = "<%= local_y %>",
                comeFrom = "<%= comeFrom %>",
                localFrom = "<%= locals.localFrom %>";
		</script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max">
			<!--banner图-->
			<div class="banner">
				<% include ../header.html %>



				<!--<div class="userAvatarBox" id="personalCenter">-->
					<!--<a href="javascript:void(0)">-->
						<!--<p><img src="../../images/hospital/userAvatar.png"></p>-->
						<!--<p>个人中心</p>-->
					<!--</a>-->
				<!--</div>-->
			</div>
			<!--挂号记录-->
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home regWH">
					<h1 class="p-q-tit"><img src="../../images/icon-return.png" class="icon-return" id="back"/>个人中心</h1>
					<div class="reserve-title successMsg-remind">
						<span>我的预约单</span>
					</div>
					<div class="text-list-div clearfix">
						<label>按状态筛选：</label>
						<span class="selectDownMenu" style="display: inline-block" id="orderStatusTrigger" data_id="0">全部</span>
						<img src="../../images/icon-downMenu.png" class="icon-downMenu" id="orderStatus">
					</div>
					<div class="text-list-div regTime clearfix">
						<label>预约时间：</label>
						<!--<span class="selectDownMenu">请选择起始时间</span>-->
						<!--<img src="../../images/heNanHospital/calendar.png" class="icon-calendar">-->
						<input type="text" placeholder="请选择起始时间" id="appDate" readonly/>
						<img src="../../images/heNanHospital/calendar.png" class="icon-downMenu" id="appDates">
					</div>
					<div class="text-list-div regTime clearfix">
						<label></label>
						<!--<span class="selectDownMenu">请选择结束时间</span>-->
						<!--<img src="../../images/heNanHospital/calendar.png" class="icon-calendar">-->
						<input type="text" placeholder="请选择结束时间" id="appTime" readonly/>
						<img src="../../images/heNanHospital/calendar.png" class="icon-downMenu" id="appTimes">
					</div>
					<div class="btn-box">
						<input type="button" value="查询" id="search"/>
					</div>
				</div>
				<div class="peccancyQuery userInfor onlyStyle">
					<h2 class="q-r-tit"><span></span>共 <em id="total">0</em> 条挂号记录</h2>
				</div>
				<div id="personalCenterInfor"></div>
				<!--<div class="peccancyQuery userInfor onlyStyle">-->
					<!--<h2 class="q-r-tit hospitalTitle sDTit">陕西省人民医院<em class="alreadyReserved colorBlue">已预约</em></h2>-->
					<!--<hr class="hrLine">-->
					<!--<div class="reservationDetails">-->
						<!--<ul>-->
							<!--<li><em></em><label>就诊日期：</label><span>2018-04-27&nbsp;&nbsp;&nbsp;&nbsp;13：00-15：00</span></li>-->
							<!--<li><em></em><label>预约医生：</label><span><small class="color0083e0">卫玉荣 </small>主任医师</span></li>-->
							<!--<li><em></em><label>就诊科室：</label><span>眼科</span></li>-->
							<!--<li><em></em><label>就诊人：</label><span>李璐</span></li>-->
							<!--<li><em></em><label>联系电话：</label><span>189177618917</span></li>-->
							<!--<li><em></em><label>身份证号：</label><span>130721198709769876</span></li>-->
							<!--<li><em></em><label>诊疗费：</label><span><b>￥ 4.50</b>元</span></li>-->
							<!--<li><em></em><label>挂号费：</label><span><b>￥ 4.50</b>元</span></li>-->
						<!--</ul>-->
					<!--</div>-->
					<!--<div class="reminder">-->
						<!--<p>注意事项：请与就诊当天前往医院窗口支付挂号费用</p>-->
					<!--</div>-->
					<!--<div class="btn-box">-->
						<!--<input type="button" value="取消预约" />-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="peccancyQuery userInfor onlyStyle">-->
					<!--<h2 class="q-r-tit hospitalTitle sDTit">陕西省人民医院<em class="alreadyReserved">已取号</em></h2>-->
					<!--<hr class="hrLine">-->
					<!--<div class="reservationDetails">-->
						<!--<ul>-->
							<!--<li><em></em><label>就诊日期：</label><span>2018-04-27&nbsp;&nbsp;&nbsp;&nbsp;13：00-15：00</span></li>-->
							<!--<li><em></em><label>预约医生：</label><span><small class="color0083e0">卫玉荣 </small>主任医师</span></li>-->
							<!--<li><em></em><label>就诊科室：</label><span>眼科</span></li>-->
							<!--<li><em></em><label>就诊人：</label><span>李璐</span></li>-->
							<!--<li><em></em><label>联系电话：</label><span>189177618917</span></li>-->
							<!--<li><em></em><label>身份证号：</label><span>130721198709769876</span></li>-->
							<!--<li><em></em><label>诊疗费：</label><span>￥ 4.50元</span></li>-->
							<!--<li><em></em><label>挂号费：</label><span>￥ 4.50元</span></li>-->
						<!--</ul>-->
					<!--</div>-->
					<!--<div class="reminder">-->
						<!--<p>注意事项：请与就诊当天前往医院窗口支付挂号费用</p>-->
					<!--</div>-->
					<!--<div class="btn-box btnRegBox">-->
						<!--<input type="button" value="再次挂号" />-->
					<!--</div>-->
				<!--</div>-->
			</div>
			<div style="height: 1.3rem;"></div>

			<!--提示语-->
			<div class="masktime" id="masktime" style="display:none;"></div>


			<!-----------------------------------------查询动画提示开始-------------------------------------------->
			<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
			<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
				<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
				<p>加载中</p>
			</div>
			<!-----------------------------------------查询动画提示结束--------------------------------------------->
			<div class="data-sources">服务来源：陕西省预约挂号及支付平台</div>
		</div>
		<script src="/js/sXHospital/common.js"></script>
		<script src="/js/sXHospital/personalCenter.js"></script>
	</body>
</html>
