<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>山西省预约挂号</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/sXHospital/sXHospital.css"/>
    <link rel="stylesheet" href="/css/shanXHospital/shanXHospital.css"/>

    <link rel="stylesheet" href="/lib/swiper/css/swiper.min.css"/>
    <script type="text/javascript" src="/lib/swiper/js/swiper.min.js"></script>
    <script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script>
        var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                cityID = "<%= cityID %>",
                local_x = "<%= local_x %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityName = "<%= cityInfo.cityName %>",
                local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
    </script>
    <style>
        .btm-swiper-container{
            margin-left: auto;
            margin-right: auto;
            position: relative;
            overflow: hidden;
            z-index: 1;

        }
        .swiper-slide{
            width: 367px;
        }
        .zhezhao {
            z-index: 2;
        }
    </style>
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
            <% include ../header.html %>
			<div class="userAvatarBox" id="userAvatarBox">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
			</div>
		</div>
		<!--科室挂号-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit">
					<img src="/images/icon-return.png" class="icon-return" id="back"/>
                    <span class="color0083e0" id="keshiName">山西省医院--眼科</span>
				</h1>
				<hr class="hrLine">
				<div class="reservationDate sDTableDiv shanXTableDiv">
					<div class="zhezhao"></div>
                    <!--fh-->
                        <div class="btm-swiper-container swiper-container">
                            <div class="swiper-wrapper" id="visitTime">
                                <div class="swiper-slide">
                                    <table class="reservationList sDTableData">
                                        <tr>
                                            <!--<th>就诊日期</th>
                                            <th>周六<br>04-29</th>
                                            <th>周日<br>04-30</th>
                                            <th>周一<br>05-01</th>
                                            <th>周二<br>05-02</th>
                                            <th>周三<br>05-03</th>
                                            <th>周四<br>05-04</th>
                                            <th>周五<br>05-05</th>-->
                                        </tr>
                                        <!--<tr>-->
                                            <!--<td></td>-->
                                            <!--<td></td>-->
                                            <!--<td class="byAppointment">-->
                                                <!--<span>有号</span>-->
                                            <!--</td>-->
                                            <!--<td></td>-->
                                            <!--<td></td>-->
                                            <!--<td class="byAppointment">-->
                                                <!--<span>有号</span>-->
                                            <!--</td>-->
                                            <!--<td></td>-->
                                        <!--</tr>-->
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--<div class="swiper-button-next"></div>-->
                        <!--<div class="swiper-button-prev"></div>-->
                    </div>
                <!--fh-->
				</div>
			</div>
          <div id="doctorList"></div>
        <div class="peccancyQuery userInfor onlyStyle clearfix">
            <div id="errorConent"></div>
        </div>

			<!--<div class="peccancyQuery userInfor onlyStyle clearfix">-->

				<!--<dl class="hosList hNHosList sXHosList">-->
						<!--<dt><a href="javascript:;"><img src="/images/heNanHospital/photo.jpg" class="photo"></a></dt>-->
						<!--<dd class="doctorsInfo yyTimeS">-->
							<!--<p class="nameOffice">-->
								<!--<span>卫玉荣</span>副主任医师-->
								<!--<a href="javascript:;" class="btn-guahao yyray">预约</a>-->
								<!--停诊样式--<a href="javascript:;" class="btn-guahao tingYue">停诊</a>-->
								<!--预约剩余0个样式--<a href="javascript:;" class="btn-guahao yyGray">预约</a>-->
							<!--</p>-->
							<!--<p class="hospitalName">2018-04-28<span class="yy-remaining">剩余10个</span></p>-->
							<!--<p class="introduce timeSelect">擅长：白内障、青光眼、眼眶肿瘤、眼底病的治疗及重睑术、上睑下垂矫正术</p>-->
						<!--</dd>-->
					<!--</dl>-->
			<!--</div>-->
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：山西省预约诊疗服务平台</div>
    <!-----------------------------------------查询动画提示开始-------------------------------------------->
    <div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
    <div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
        <img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
        <p>加载中</p>
    </div>
    <!-----------------------------------------查询动画提示结束--------------------------------------------->
	</div>
    <script src="/js/shanXihospital/appointmenTimeSelect.js" type="text/javascript"></script>
</body>
</html>