<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>山西省人民医院</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/shanXHospital/shanXHospital.css" />
    <script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script>
        var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                cityID = "<%= cityID %>",
                local_x = "<%= local_x %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityName = "<%= cityInfo.cityName %>",
                local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
    </script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox" id="userAvatarBox">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
			</div>
		</div>
		<!--选择科室-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
                <div id="hosDetail"></div>
				<!--<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>山西省人民医院</h1>-->
				<!--<hr class="hrLine">-->
				<!--<div class="peccancyQuery userInfor onlyStyle clearfix">-->
					<!--<dl class="hosList hNHosList sXDefaultList">-->
						<!--<dt><a href="javascript:;"><img src="/images/heNanHospital/hospitalPic.jpg"></a></dt>-->
						<!--<dd class="department">-->
							<!--<p class="title">山西省人民医院<span class="titSpan">三级甲等</span></p>-->
							<!--<p class="address shanXAaddress"><i class="icon-address"></i>山西省西安市友谊西路256号</p>-->
							<!--<p class="tel"><i class="icon-tel"></i>0371-96129</p>-->
						<!--</dd>-->
					<!--</dl>-->
				<!--</div>-->
				<!--<div class="hospitalDetails">-->
					<!--<div class="detailsTit">官网：</div>-->
					<!--<p>www.sxsrmyy.com</p>-->
					<!--<div class="detailsTit">医院网址：</div>-->
					<!--<p>1.从建南汽车站乘坐801、808路公交车，省人民医院下车即到。</p>-->
					<!--<div class="detailsTit">简介：</div>-->
					<!--<p class="indent">山西省人民医院（山西医科大学附属人民医院）创建于1953年，1955年建成开诊，是直属于山西省卫生和计划生育委员会的一所集医疗、教学、科研、预防、康复、保健、急救为一体的综合型三级甲等医院，是山西省最大的医疗机构之一，担负着包括急危重症在内的各种医疗救治、突发公共卫生应急和重大任务抢险以及干部保健等职能，医疗服务范围遍及全省各地及周边省份。</p>-->
				<!--</div>-->
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：山西省预约诊疗服务平台</div>
        <!-----------------------------------------查询动画提示开始-------------------------------------------->
        <div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
        <div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
            <img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
            <p>加载中</p>
        </div>
        <!-----------------------------------------查询动画提示结束--------------------------------------------->

	</div>
    <script src="/js/shanXihospital/details.js"></script>
</body>
</html>