<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>贵州省各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--贵州省各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>贵州省各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>贵州大学</span>
						<span>2016-12-27</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>贵州医科大学</span>
						<span>2016-12-22</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>贵阳医学院</span>
						<span>2015-07-01</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>遵义医学院</span>
						<span>2016-12-31</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>贵阳中医学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>贵州师范大学</span>
						<span>2016-12-31</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>遵义师范学院</span>
						<span>2017-03-22</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>铜仁学院</span>
						<span>2016-12-09</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>兴义民族师范学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>安顺学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>毕节学院</span>
						<span>2014-08-30</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>贵州工程应用技术学院</span>
						<span>2016-06-16</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>凯里学院</span>
						<span>2017-01-11</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>黔南民族师范学院</span>
						<span>2017-01-11</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>贵州财经大学</span>
						<span>2017-01-06</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>贵州民族大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>贵阳学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>六盘水师范学院</span>
						<span>2016-09-14</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>贵阳中医学院时珍学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>贵州财经大学商务学院</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>贵州大学科技学院</span>
						<span>2016-12-26</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>贵州大学明德学院</span>
						<span>2016-11-30</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>贵州民族大学人文科技学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>贵州师范大学求是学院</span>
						<span>2017-03-30</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>遵义医学院医学与科技学院</span>
						<span>2016-11-02</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>贵阳医学院神奇民族医药学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>贵州师范学院</span>
						<span>2017-01-07</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>中国航天科工集团公司061基地</span>
						<span>2016-08-10</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>