<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>甘肃省各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--甘肃省各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>甘肃省各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>兰州大学</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>兰州理工大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>兰州交通大学</span>
						<span>2017-01-15</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>甘肃农业大学</span>
						<span>2016-12-15</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>甘肃中医学院</span>
						<span>2014-06-19</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>甘肃中医药大学</span>
						<span>2016-09-05</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>西北师范大学</span>
						<span>2016-12-26</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>兰州城市学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>陇东学院</span>
						<span>2017-01-05</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>天水师范学院</span>
						<span>2016-12-21</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>河西学院</span>
						<span>2016-12-26</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>兰州商学院</span>
						<span>2014-12-16</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>兰州财经大学</span>
						<span>2017-01-11</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>西北民族大学</span>
						<span>2016-12-15</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>甘肃政法学院</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>甘肃民族师范学院</span>
						<span>2017-04-12</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>兰州工业学院</span>
						<span>2016-12-21</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>西北师范大学知行学院</span>
						<span>2016-09-07</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>兰州商学院陇桥学院</span>
						<span>2015-12-10</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>兰州财经大学陇桥学院</span>
						<span>2016-11-25</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>兰州商学院长青学院</span>
						<span>2014-06-16</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>兰州财经大学长青学院</span>
						<span>2016-06-16</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>兰州交通大学博文学院</span>
						<span>2016-06-13</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>兰州理工大学技术工程学院</span>
						<span>2016-06-22</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>天华化工机械及自动化研究设计院有限公司</span>
						<span>2016-06-27</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>兰州生物制品研究所</span>
						<span>2016-06-29</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>中国地震局兰州地震研究所</span>
						<span>2016-06-24</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>