<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>上海市各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--上海市各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>上海市各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>复旦大学</span>
						<span>2017-01-05</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>同济大学</span>
						<span>2017-01-15</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>上海交通大学</span>
						<span>2017-03-15</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>华东理工大学</span>
						<span>2017-01-23</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>上海理工大学</span>
						<span>2017-01-15</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>上海海事大学</span>
						<span>2017-03-03</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>东华大学</span>
						<span>2017-03-20</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>上海电力学院</span>
						<span>2017-01-15</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>上海应用技术大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>上海应用技术学院</span>
						<span>2016-06-27</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>上海海洋大学</span>
						<span>2017-01-16</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>上海中医药大学</span>
						<span>2017-01-26</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>华东师范大学</span>
						<span>2017-02-28</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>上海师范大学</span>
						<span>2017-03-27</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>上海外国语大学</span>
						<span>2017-03-20</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>上海财经大学</span>
						<span>2017-01-16</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>上海对外经贸大学</span>
						<span>2017-03-16</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>上海海关学院</span>
						<span>2016-06-12</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>华东政法大学</span>
						<span>2017-01-15</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>上海体育学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>上海音乐学院</span>
						<span>2016-09-30</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>上海戏剧学院</span>
						<span>2017-01-04</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>上海大学</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>上海工程技术大学</span>
						<span>2017-04-27</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>上海立信会计学院</span>
						<span>2016-06-22</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>上海立信会计金融学院</span>
						<span>2016-12-27</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>上海电机学院</span>
						<span>2016-10-14</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>上海金融学院</span>
						<span>2016-01-15</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>上海杉达学院</span>
						<span>2017-01-12</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>上海政法学院</span>
						<span>2016-12-15</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>上海第二工业大学</span>
						<span>2016-11-24</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>上海商学院</span>
						<span>2017-03-15</span>
					</div>
					<div class="degreeList">
						<span>33</span>
						<span>上海建桥学院</span>
						<span>2016-10-20</span>
					</div>
					<div class="degreeList">
						<span>34</span>
						<span>复旦大学上海视觉艺术学院</span>
						<span>2016-10-25</span>
					</div>
					<div class="degreeList">
						<span>35</span>
						<span>上海外国语大学贤达经济人文学院</span>
						<span>2016-12-31</span>
					</div>
					<div class="degreeList">
						<span>36</span>
						<span>上海师范大学天华学院</span>
						<span>2016-12-27</span>
					</div>
					<div class="degreeList">
						<span>37</span>
						<span>上海开放大学</span>
						<span>2016-10-21</span>
					</div>
					<div class="degreeList">
						<span>38</span>
						<span>上海国家会计学院</span>
						<span>2016-12-26</span>
					</div>
					<div class="degreeList">
						<span>39</span>
						<span>上海发电设备成套设计研究院</span>
						<span>2016-07-07</span>
					</div>
					<div class="degreeList">
						<span>40</span>
						<span>上海内燃机研究所</span>
						<span>2013-07-09</span>
					</div>
					<div class="degreeList">
						<span>41</span>
						<span>上海核工程研究设计院</span>
						<span>2016-07-08</span>
					</div>
					<div class="degreeList">
						<span>42</span>
						<span>中国航天科技集团公司第八研究院</span>
						<span>2016-03-31</span>
					</div>
					<div class="degreeList">
						<span>43</span>
						<span>上海化工研究院</span>
						<span>2016-07-08</span>
					</div>
					<div class="degreeList">
						<span>44</span>
						<span>上海船舶运输科学研究所</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>45</span>
						<span>上海生物制品研究所</span>
						<span>2016-06-23</span>
					</div>
					<div class="degreeList">
						<span>46</span>
						<span>上海医药工业研究院</span>
						<span>2016-06-20</span>
					</div>
					<div class="degreeList">
						<span>47</span>
						<span>上海市计算技术研究所</span>
						<span>2016-03-31</span>
					</div>
					<div class="degreeList">
						<span>48</span>
						<span>上海国际问题研究院</span>
						<span>2016-10-31</span>
					</div>
					<div class="degreeList">
						<span>49</span>
						<span>上海社会科学院</span>
						<span>2016-06-21</span>
					</div>
					<div class="degreeList">
						<span>50</span>
						<span>中共上海市委党校</span>
						<span>2016-06-17</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>