<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>广东省各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--广东省各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>广东省各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>中山大学</span>
						<span>2016-12-29</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>暨南大学</span>
						<span>2017-01-18</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>汕头大学</span>
						<span>2017-01-21</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>华南理工大学</span>
						<span>2016-12-27</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>华南农业大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>广东海洋大学</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>广州医科大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>广东医学院</span>
						<span>2017-01-16</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>广东医科大学</span>
						<span>2016-06-25</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>广州中医药大学</span>
						<span>2017-01-26</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>广东药学院</span>
						<span>2015-12-15</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>广东药科大学</span>
						<span>2017-03-22</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>华南师范大学</span>
						<span>2016-12-29</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>韶关学院</span>
						<span>2016-12-07</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>惠州学院</span>
						<span>2016-06-24</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>韩山师范学院</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>岭南师范学院</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>湛江师范学院</span>
						<span>2014-06-28</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>肇庆学院</span>
						<span>2016-06-25</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>嘉应学院</span>
						<span>2017-01-03</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>广州体育学院</span>
						<span>2016-12-07</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>广州美术学院</span>
						<span>2017-01-08</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>星海音乐学院</span>
						<span>2016-09-30</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>广东技术师范学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>深圳大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>广东商学院</span>
						<span>2015-06-25</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>广东财经大学</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>广东白云学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>广州大学</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>广东警官学院</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>仲恺农业工程学院</span>
						<span>2016-12-15</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>五邑大学</span>
						<span>2017-03-06</span>
					</div>
					<div class="degreeList">
						<span>33</span>
						<span>广东金融学院</span>
						<span>2016-08-01</span>
					</div>
					<div class="degreeList">
						<span>34</span>
						<span>电子科技大学中山学院</span>
						<span>2017-01-12</span>
					</div>
					<div class="degreeList">
						<span>35</span>
						<span>广东石油化工学院</span>
						<span>2017-01-03</span>
					</div>
					<div class="degreeList">
						<span>36</span>
						<span>东莞理工学院</span>
						<span>2017-01-16</span>
					</div>
					<div class="degreeList">
						<span>37</span>
						<span>广东工业大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>38</span>
						<span>广东外语外贸大学</span>
						<span>2017-01-08</span>
					</div>
					<div class="degreeList">
						<span>39</span>
						<span>佛山科学技术学院</span>
						<span>2016-07-10</span>
					</div>
					<div class="degreeList">
						<span>40</span>
						<span>广东培正学院</span>
						<span>2017-01-09</span>
					</div>
					<div class="degreeList">
						<span>41</span>
						<span>南方医科大学</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>42</span>
						<span>华南理工大学广州学院</span>
						<span>2017-03-28</span>
					</div>
					<div class="degreeList">
						<span>43</span>
						<span>广州大学华软软件学院</span>
						<span>2016-08-21</span>
					</div>
					<div class="degreeList">
						<span>44</span>
						<span>中山大学南方学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>45</span>
						<span>广东外语外贸大学南国商学院</span>
						<span>2016-08-30</span>
					</div>
					<div class="degreeList">
						<span>46</span>
						<span>广东商学院华商学院</span>
						<span>2015-06-30</span>
					</div>
					<div class="degreeList">
						<span>47</span>
						<span>广东财经大学华商学院</span>
						<span>2016-09-28</span>
					</div>
					<div class="degreeList">
						<span>48</span>
						<span>广东海洋大学寸金学院</span>
						<span>2016-06-29</span>
					</div>
					<div class="degreeList">
						<span>49</span>
						<span>华南农业大学珠江学院</span>
						<span>2016-09-30</span>
					</div>
					<div class="degreeList">
						<span>50</span>
						<span>广东技术师范学院天河学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>51</span>
						<span>北京师范大学珠海分校</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>52</span>
						<span>广东工业大学华立学院</span>
						<span>2016-08-30</span>
					</div>
					<div class="degreeList">
						<span>53</span>
						<span>广州大学松田学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>54</span>
						<span>华南师范大学增城学院</span>
						<span>2016-11-15</span>
					</div>
					<div class="degreeList">
						<span>55</span>
						<span>北京理工大学珠海学院</span>
						<span>2016-12-07</span>
					</div>
					<div class="degreeList">
						<span>56</span>
						<span>吉林大学珠海学院</span>
						<span>2016-07-10</span>
					</div>
					<div class="degreeList">
						<span>57</span>
						<span>广东科技学院</span>
						<span>2016-12-09</span>
					</div>
					<div class="degreeList">
						<span>58</span>
						<span>东莞理工学院城市学院</span>
						<span>2016-06-19</span>
					</div>
					<div class="degreeList">
						<span>59</span>
						<span>中山大学新华学院</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>60</span>
						<span>广东第二师范学院</span>
						<span>2016-06-28</span>
					</div>
					<div class="degreeList">
						<span>61</span>
						<span>南方科技大学</span>
						<span>2016-12-16</span>
					</div>
					<div class="degreeList">
						<span>62</span>
						<span>中共广东省委党校</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>63</span>
						<span>广东省社会科学院</span>
						<span>2016-06-28</span>
					</div>
					<div class="degreeList">
						<span>64</span>
						<span>广东省心血管病研究所</span>
						<span>2016-06-30</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>