<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>陕西省各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--陕西省各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>陕西省各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>西北大学</span>
						<span>2016-12-16</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>西安交通大学</span>
						<span>2017-03-22</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>西北工业大学</span>
						<span>2016-12-13</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>西安理工大学</span>
						<span>2017-01-09</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>西安电子科技大学</span>
						<span>2016-12-27</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>西安工业大学</span>
						<span>2016-12-05</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>西安建筑科技大学</span>
						<span>2017-01-06</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>西安科技大学</span>
						<span>2016-12-26</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>西安石油大学</span>
						<span>2016-12-27</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>陕西科技大学</span>
						<span>2016-12-29</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>西安工程大学</span>
						<span>2016-10-24</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>长安大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>西北农林科技大学</span>
						<span>2016-12-26</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>陕西中医学院</span>
						<span>2016-06-29</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>陕西中医药大学</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>陕西师范大学</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>延安大学</span>
						<span>2017-01-06</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>陕西理工大学</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>陕西理工学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>宝鸡文理学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>咸阳师范学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>渭南师范学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>西安外国语大学</span>
						<span>2016-12-23</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>西北政法大学</span>
						<span>2017-01-09</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>西安体育学院</span>
						<span>2016-12-06</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>西安音乐学院</span>
						<span>2016-07-06</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>西安美术学院</span>
						<span>2016-07-11</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>西安文理学院</span>
						<span>2016-07-08</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>榆林学院</span>
						<span>2017-01-15</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>商洛学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>安康学院</span>
						<span>2016-07-04</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>西安培华学院</span>
						<span>2016-06-15</span>
					</div>
					<div class="degreeList">
						<span>33</span>
						<span>西安财经学院</span>
						<span>2016-12-16</span>
					</div>
					<div class="degreeList">
						<span>34</span>
						<span>西安邮电大学</span>
						<span>2016-12-23</span>
					</div>
					<div class="degreeList">
						<span>35</span>
						<span>西安航空学院</span>
						<span>2016-09-28</span>
					</div>
					<div class="degreeList">
						<span>36</span>
						<span>西安医学院</span>
						<span>2016-07-06</span>
					</div>
					<div class="degreeList">
						<span>37</span>
						<span>西安欧亚学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>38</span>
						<span>西安外事学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>39</span>
						<span>西安翻译学院</span>
						<span>2016-07-05</span>
					</div>
					<div class="degreeList">
						<span>40</span>
						<span>西京学院</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>41</span>
						<span>西安思源学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>42</span>
						<span>陕西国际商贸学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>43</span>
						<span>陕西服装工程学院</span>
						<span>2016-07-15</span>
					</div>
					<div class="degreeList">
						<span>44</span>
						<span>西安交通大学城市学院</span>
						<span>2016-09-07</span>
					</div>
					<div class="degreeList">
						<span>45</span>
						<span>西北大学现代学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>46</span>
						<span>西安建筑科技大学华清学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>47</span>
						<span>西安财经学院行知学院</span>
						<span>2016-07-10</span>
					</div>
					<div class="degreeList">
						<span>48</span>
						<span>陕西科技大学镐京学院</span>
						<span>2016-09-20</span>
					</div>
					<div class="degreeList">
						<span>49</span>
						<span>西安工业大学北方信息工程学院</span>
						<span>2016-08-30</span>
					</div>
					<div class="degreeList">
						<span>50</span>
						<span>延安大学西安创新学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>51</span>
						<span>西安电子科技大学长安学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>52</span>
						<span>西北工业大学明德学院</span>
						<span>2016-07-07</span>
					</div>
					<div class="degreeList">
						<span>53</span>
						<span>长安大学兴华学院</span>
						<span>2013-07-01</span>
					</div>
					<div class="degreeList">
						<span>54</span>
						<span>西安理工大学高科学院</span>
						<span>2016-07-06</span>
					</div>
					<div class="degreeList">
						<span>55</span>
						<span>西安科技大学高新学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>56</span>
						<span>陕西学前师范学院</span>
						<span>2016-06-23</span>
					</div>
					<div class="degreeList">
						<span>57</span>
						<span>西安热工研究院</span>
						<span>2016-06-28</span>
					</div>
					<div class="degreeList">
						<span>58</span>
						<span>航天动力技术研究院</span>
						<span>2016-06-23</span>
					</div>
					<div class="degreeList">
						<span>59</span>
						<span>西安微电子技术研究所</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>60</span>
						<span>中共陕西省委党校</span>
						<span>2016-06-28</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>