<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>广西壮族自治区各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--广西壮族自治区各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>广西壮族自治区各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>广西大学</span>
						<span>2017-06-23</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>广西科技大学</span>
						<span>2017-07-07</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>桂林电子科技大学</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>桂林理工大学</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>广西医科大学</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>右江民族医学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>广西中医药大学</span>
						<span>2017-01-05</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>桂林医学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>广西师范大学</span>
						<span>2017-06-22</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>广西师范学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>广西民族师范学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>河池学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>玉林师范学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>广西艺术学院</span>
						<span>2017-04-27</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>广西民族大学</span>
						<span>2017-07-18</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>百色学院</span>
						<span>2017-07-07</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>梧州学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>广西财经学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>南宁学院</span>
						<span>2017-07-15</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>钦州学院</span>
						<span>2017-07-10</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>桂林航天工业学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>贺州学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>广西大学行健文理学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>广西科技大学鹿山学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>广西民族大学相思湖学院</span>
						<span>2017-06-09</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>广西师范大学漓江学院</span>
						<span>2017-07-07</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>广西师范学院师园学院</span>
						<span>2016-11-07</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>广西中医药大学赛恩斯新医药学院</span>
						<span>2016-07-18</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>桂林电子科技大学信息科技学院</span>
						<span>2017-07-12</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>桂林理工大学博文管理学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>广西外国语学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>北京航空航天大学北海学院</span>
						<span>2017-06-26</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>