<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>浙江省各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--浙江省各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>浙江省各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>浙江大学</span>
						<span>2017-03-30</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>杭州电子科技大学</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>浙江工业大学</span>
						<span>2017-06-09</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>浙江理工大学</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>浙江海洋大学</span>
						<span>2017-07-10</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>浙江海洋学院</span>
						<span>2016-01-21</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>浙江农林大学</span>
						<span>2017-06-25</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>温州医科大学</span>
						<span>2017-06-29</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>浙江中医药大学</span>
						<span>2017-06-14</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>浙江师范大学</span>
						<span>2017-01-20</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>杭州师范大学</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>湖州师范学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>绍兴文理学院</span>
						<span>2017-07-06</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>台州学院</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>温州大学</span>
						<span>2017-07-05</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>丽水学院</span>
						<span>2017-07-02</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>浙江工商大学</span>
						<span>2017-06-02</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>嘉兴学院</span>
						<span>2017-06-14</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>中国美术学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>中国计量大学</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>中国计量学院</span>
						<span>2015-09-30</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>公安海警学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>浙江万里学院</span>
						<span>2017-07-05</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>浙江科技学院</span>
						<span>2017-07-05</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>宁波工程学院</span>
						<span>2017-07-07</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>浙江水利水电学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>浙江财经大学</span>
						<span>2017-06-20</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>浙江警察学院</span>
						<span>2017-06-20</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>衢州学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>宁波大学</span>
						<span>2016-10-31</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>浙江传媒学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>浙江树人大学</span>
						<span>2017-06-07</span>
					</div>
					<div class="degreeList">
						<span>33</span>
						<span>浙江越秀外国语学院</span>
						<span>2017-06-09</span>
					</div>
					<div class="degreeList">
						<span>34</span>
						<span>宁波大红鹰学院</span>
						<span>2017-06-10</span>
					</div>
					<div class="degreeList">
						<span>35</span>
						<span>浙江大学城市学院</span>
						<span>2017-07-05</span>
					</div>
					<div class="degreeList">
						<span>36</span>
						<span>浙江大学宁波理工学院</span>
						<span>2017-06-18</span>
					</div>
					<div class="degreeList">
						<span>37</span>
						<span>浙江工业大学之江学院</span>
						<span>2017-06-17</span>
					</div>
					<div class="degreeList">
						<span>38</span>
						<span>浙江师范大学行知学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>39</span>
						<span>宁波大学科学技术学院</span>
						<span>2017-06-19</span>
					</div>
					<div class="degreeList">
						<span>40</span>
						<span>杭州电子科技大学信息工程学院</span>
						<span>2017-07-20</span>
					</div>
					<div class="degreeList">
						<span>41</span>
						<span>浙江理工大学科技与艺术学院</span>
						<span>2017-07-05</span>
					</div>
					<div class="degreeList">
						<span>42</span>
						<span>浙江海洋大学东海科学技术学院</span>
						<span>2017-06-09</span>
					</div>
					<div class="degreeList">
						<span>43</span>
						<span>浙江海洋学院东海科学技术学院</span>
						<span>2015-11-05</span>
					</div>
					<div class="degreeList">
						<span>44</span>
						<span>浙江农林大学天目学院</span>
						<span>2015-07-11</span>
					</div>
					<div class="degreeList">
						<span>45</span>
						<span>浙江农林大学暨阳学院</span>
						<span>2017-07-07</span>
					</div>
					<div class="degreeList">
						<span>46</span>
						<span>温州医科大学仁济学院</span>
						<span>2017-06-29</span>
					</div>
					<div class="degreeList">
						<span>47</span>
						<span>浙江中医药大学滨江学院</span>
						<span>2016-12-26</span>
					</div>
					<div class="degreeList">
						<span>48</span>
						<span>杭州师范大学钱江学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>49</span>
						<span>湖州师范学院求真学院</span>
						<span>2017-06-20</span>
					</div>
					<div class="degreeList">
						<span>50</span>
						<span>绍兴文理学院元培学院</span>
						<span>2017-07-10</span>
					</div>
					<div class="degreeList">
						<span>51</span>
						<span>温州大学瓯江学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>52</span>
						<span>浙江工商大学杭州商学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>53</span>
						<span>嘉兴学院南湖学院</span>
						<span>2017-06-14</span>
					</div>
					<div class="degreeList">
						<span>54</span>
						<span>中国计量大学现代科技学院</span>
						<span>2017-07-10</span>
					</div>
					<div class="degreeList">
						<span>55</span>
						<span>中国计量学院现代科技学院</span>
						<span>2015-10-20</span>
					</div>
					<div class="degreeList">
						<span>56</span>
						<span>浙江财经大学东方学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>57</span>
						<span>温州大学城市学院</span>
						<span>2017-07-03</span>
					</div>
					<div class="degreeList">
						<span>58</span>
						<span>同济大学浙江学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>59</span>
						<span>上海财经大学浙江学院</span>
						<span>2017-07-06</span>
					</div>
					<div class="degreeList">
						<span>60</span>
						<span>浙江外国语学院</span>
						<span>2017-06-20</span>
					</div>
					<div class="degreeList">
						<span>61</span>
						<span>宁波诺丁汉大学</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>62</span>
						<span>国家海洋局第二海洋研究所</span>
						<span>2016-06-27</span>
					</div>
					<div class="degreeList">
						<span>63</span>
						<span>浙江省医学科学院</span>
						<span>2017-06-29</span>
					</div>
					<div class="degreeList">
						<span>64</span>
						<span>中共浙江省委党校</span>
						<span>2017-03-14</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>