<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>天津市各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--天津市各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>天津市各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>南开大学</span>
						<span>2017-01-13</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>天津大学</span>
						<span>2017-03-17</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>天津科技大学</span>
						<span>2016-09-20</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>天津工业大学</span>
						<span>2017-03-22</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>中国民航大学</span>
						<span>2017-01-12</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>天津理工大学</span>
						<span>2017-03-14</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>天津农学院</span>
						<span>2017-04-15</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>天津医科大学</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>天津中医药大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>天津师范大学</span>
						<span>2017-06-09</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>天津职业技术师范大学</span>
						<span>2017-03-27</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>天津外国语大学</span>
						<span>2017-03-17</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>天津商业大学</span>
						<span>2017-01-18</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>天津财经大学</span>
						<span>2017-03-23</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>天津体育学院</span>
						<span>2016-07-13</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>天津音乐学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>天津美术学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>天津城市建设学院</span>
						<span>2017-01-12</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>天狮学院</span>
						<span>2016-09-21</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>天津外国语大学滨海外事学院</span>
						<span>2016-09-22</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>天津体育学院运动与文化艺术学院</span>
						<span>2016-06-06</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>天津商业大学宝德学院</span>
						<span>2016-10-22</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>天津医科大学临床医学院</span>
						<span>2016-06-27</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>南开大学滨海学院</span>
						<span>2017-05-05</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>天津师范大学津沽学院</span>
						<span>2016-08-31</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>天津理工大学中环信息学院</span>
						<span>2017-03-13</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>北京科技大学天津学院</span>
						<span>2016-09-14</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>天津大学仁爱学院</span>
						<span>2017-03-29</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>天津财经大学珠江学院</span>
						<span>2016-11-16</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>中钢集团天津地质研究院</span>
						<span>2017-06-28</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>核工业理化工程研究院</span>
						<span>2017-05-31</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>国家海洋技术中心</span>
						<span>2016-06-30</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>