<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>山东省各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--山东省各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>山东省各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>山东大学</span>
						<span>2017-06-20</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>中国海洋大学</span>
						<span>2016-12-29</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>山东科技大学</span>
						<span>2016-12-26</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>中国石油大学（华东）</span>
						<span>2017-06-21</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>青岛科技大学</span>
						<span>2017-07-26</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>济南大学</span>
						<span>2016-12-22</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>青岛理工大学</span>
						<span>2017-01-06</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>山东建筑大学</span>
						<span>2017-06-22</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>齐鲁工业大学</span>
						<span>2017-06-16</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>山东理工大学</span>
						<span>2017-07-13</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>山东农业大学</span>
						<span>2016-12-21</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>青岛农业大学</span>
						<span>2017-06-27</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>潍坊医学院</span>
						<span>2017-06-27</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>泰山医学院</span>
						<span>2017-04-24</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>滨州医学院</span>
						<span>2017-07-03</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>山东中医药大学</span>
						<span>2017-06-23</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>济宁医学院</span>
						<span>2017-07-06</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>山东师范大学</span>
						<span>2017-06-26</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>曲阜师范大学</span>
						<span>2017-06-21</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>聊城大学</span>
						<span>2017-06-23</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>德州学院</span>
						<span>2017-06-10</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>滨州学院</span>
						<span>2016-10-15</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>鲁东大学</span>
						<span>2017-06-21</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>临沂大学</span>
						<span>2016-07-28</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>泰山学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>济宁学院</span>
						<span>2017-07-10</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>菏泽学院</span>
						<span>2016-12-26</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>山东财经大学</span>
						<span>2017-06-28</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>山东体育学院</span>
						<span>2017-07-19</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>山东艺术学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>山东万杰医学院</span>
						<span>2014-07-02</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>齐鲁医药学院</span>
						<span>2017-01-12</span>
					</div>
					<div class="degreeList">
						<span>33</span>
						<span>青岛滨海学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>34</span>
						<span>枣庄学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>35</span>
						<span>山东工艺美术学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>36</span>
						<span>青岛大学</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>37</span>
						<span>烟台大学</span>
						<span>2017-07-02</span>
					</div>
					<div class="degreeList">
						<span>38</span>
						<span>潍坊学院</span>
						<span>2016-12-06</span>
					</div>
					<div class="degreeList">
						<span>39</span>
						<span>山东警察学院</span>
						<span>2017-06-12</span>
					</div>
					<div class="degreeList">
						<span>40</span>
						<span>山东交通学院</span>
						<span>2017-06-27</span>
					</div>
					<div class="degreeList">
						<span>41</span>
						<span>山东工商学院</span>
						<span>2016-12-29</span>
					</div>
					<div class="degreeList">
						<span>42</span>
						<span>山东财经大学</span>
						<span>2010-06-30</span>
					</div>
					<div class="degreeList">
						<span>43</span>
						<span>山东女子学院</span>
						<span>2017-06-26</span>
					</div>
					<div class="degreeList">
						<span>44</span>
						<span>烟台南山学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>45</span>
						<span>潍坊科技学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>46</span>
						<span>山东英才学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>47</span>
						<span>青岛黄海学院</span>
						<span>2016-07-13</span>
					</div>
					<div class="degreeList">
						<span>48</span>
						<span>山东协和学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>49</span>
						<span>烟台大学文经学院</span>
						<span>2017-03-31</span>
					</div>
					<div class="degreeList">
						<span>50</span>
						<span>聊城大学东昌学院</span>
						<span>2017-06-23</span>
					</div>
					<div class="degreeList">
						<span>51</span>
						<span>青岛理工大学琴岛学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>52</span>
						<span>山东师范大学历山学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>53</span>
						<span>山东财经大学燕山学院</span>
						<span>2016-06-15</span>
					</div>
					<div class="degreeList">
						<span>54</span>
						<span>中国石油大学胜利学院</span>
						<span>2016-07-22</span>
					</div>
					<div class="degreeList">
						<span>55</span>
						<span>山东科技大学泰山科技学院</span>
						<span>2017-06-21</span>
					</div>
					<div class="degreeList">
						<span>56</span>
						<span>青岛工学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>57</span>
						<span>青岛农业大学海都学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>58</span>
						<span>曲阜师范大学杏坛学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>59</span>
						<span>山东财经大学东方学院</span>
						<span>2017-06-22</span>
					</div>
					<div class="degreeList">
						<span>60</span>
						<span>济南大学泉城学院</span>
						<span>2017-06-28</span>
					</div>
					<div class="degreeList">
						<span>61</span>
						<span>山东政法学院</span>
						<span>2017-01-04</span>
					</div>
					<div class="degreeList">
						<span>62</span>
						<span>齐鲁师范学院</span>
						<span>2016-09-09</span>
					</div>
					<div class="degreeList">
						<span>63</span>
						<span>山东青年政治学院</span>
						<span>2017-06-22</span>
					</div>
					<div class="degreeList">
						<span>64</span>
						<span>北京电影学院现代创意媒体学院</span>
						<span>2017-06-22</span>
					</div>
					<div class="degreeList">
						<span>65</span>
						<span>山东农业工程学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>66</span>
						<span>国家海洋局第一海洋研究所</span>
						<span>2017-06-14</span>
					</div>
					<div class="degreeList">
						<span>67</span>
						<span>山东省医学科学院</span>
						<span>2010-06-22</span>
					</div>
					<div class="degreeList">
						<span>68</span>
						<span>中共山东省委党校</span>
						<span>2016-07-07</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>