<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>湖北省各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--湖北省各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>湖北省各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>武汉大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>华中科技大学</span>
						<span>2017-03-23</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>武汉科技大学</span>
						<span>2017-03-30</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>长江大学</span>
						<span>2017-02-28</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>武汉工程大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>中国地质大学(武汉)</span>
						<span>2015-06-30</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>中国地质大学（武汉）</span>
						<span>2016-12-31</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>武汉纺织大学</span>
						<span>2017-01-13</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>武汉轻工大学</span>
						<span>2016-12-31</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>武汉理工大学</span>
						<span>2017-01-15</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>湖北工业大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>华中农业大学</span>
						<span>2017-01-31</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>湖北中医药大学</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>华中师范大学</span>
						<span>2017-02-28</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>湖北大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>湖北师范大学</span>
						<span>2017-01-31</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>湖北师范学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>黄冈师范学院</span>
						<span>2017-03-03</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>湖北民族学院</span>
						<span>2016-12-09</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>湖北文理学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>中南财经政法大学</span>
						<span>2016-12-31</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>武汉体育学院</span>
						<span>2017-01-13</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>湖北美术学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>中南民族大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>湖北汽车工业学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>湖北工程学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>湖北理工学院</span>
						<span>2017-03-02</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>湖北科技学院</span>
						<span>2016-10-30</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>湖北医药学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>江汉大学</span>
						<span>2017-03-07</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>三峡大学</span>
						<span>2017-02-27</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>湖北警官学院</span>
						<span>2017-03-08</span>
					</div>
					<div class="degreeList">
						<span>33</span>
						<span>荆楚理工学院</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>34</span>
						<span>武汉音乐学院</span>
						<span>2017-01-31</span>
					</div>
					<div class="degreeList">
						<span>35</span>
						<span>湖北经济学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>36</span>
						<span>武汉东湖学院</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>37</span>
						<span>汉口学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>38</span>
						<span>华中科技大学武昌分校</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>39</span>
						<span>武昌理工学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>40</span>
						<span>武汉生物工程学院</span>
						<span>2016-11-30</span>
					</div>
					<div class="degreeList">
						<span>41</span>
						<span>武汉大学珞珈学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>42</span>
						<span>湖北大学知行学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>43</span>
						<span>武汉科技大学城市学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>44</span>
						<span>三峡大学科技学院</span>
						<span>2017-03-15</span>
					</div>
					<div class="degreeList">
						<span>45</span>
						<span>江汉大学文理学院</span>
						<span>2016-09-30</span>
					</div>
					<div class="degreeList">
						<span>46</span>
						<span>湖北工业大学工程技术学院</span>
						<span>2016-12-15</span>
					</div>
					<div class="degreeList">
						<span>47</span>
						<span>武汉工程大学邮电与信息工程学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>48</span>
						<span>武汉纺织大学外经贸学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>49</span>
						<span>武昌工学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>50</span>
						<span>武汉工商学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>51</span>
						<span>武汉长江工商学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>52</span>
						<span>长江大学工程技术学院</span>
						<span>2016-11-18</span>
					</div>
					<div class="degreeList">
						<span>53</span>
						<span>长江大学文理学院</span>
						<span>2016-09-30</span>
					</div>
					<div class="degreeList">
						<span>54</span>
						<span>湖北工业大学商贸学院</span>
						<span>2016-11-09</span>
					</div>
					<div class="degreeList">
						<span>55</span>
						<span>湖北汽车工业学院科技学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>56</span>
						<span>湖北医药学院药护学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>57</span>
						<span>湖北民族学院科技学院</span>
						<span>2016-06-20</span>
					</div>
					<div class="degreeList">
						<span>58</span>
						<span>湖北经济学院法商学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>59</span>
						<span>武汉体育学院体育科技学院</span>
						<span>2016-12-26</span>
					</div>
					<div class="degreeList">
						<span>60</span>
						<span>湖北师范大学文理学院</span>
						<span>2016-10-11</span>
					</div>
					<div class="degreeList">
						<span>61</span>
						<span>湖北师范学院文理学院</span>
						<span>2015-06-30</span>
					</div>
					<div class="degreeList">
						<span>62</span>
						<span>湖北文理学院理工学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>63</span>
						<span>湖北工程学院新技术学院</span>
						<span>2016-06-05</span>
					</div>
					<div class="degreeList">
						<span>64</span>
						<span>华中科技大学文华学院</span>
						<span>2016-09-30</span>
					</div>
					<div class="degreeList">
						<span>65</span>
						<span>中南财经政法大学武汉学院</span>
						<span>2016-08-30</span>
					</div>
					<div class="degreeList">
						<span>66</span>
						<span>中国地质大学江城学院</span>
						<span>2016-08-31</span>
					</div>
					<div class="degreeList">
						<span>67</span>
						<span>武汉理工大学华夏学院</span>
						<span>2016-09-18</span>
					</div>
					<div class="degreeList">
						<span>68</span>
						<span>华中师范大学武汉传媒学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>69</span>
						<span>华中农业大学楚天学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>70</span>
						<span>湖北第二师范学院</span>
						<span>2017-01-30</span>
					</div>
					<div class="degreeList">
						<span>71</span>
						<span>长江科学院</span>
						<span>2016-06-16</span>
					</div>
					<div class="degreeList">
						<span>72</span>
						<span>中钢集团武汉安全环保研究院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>73</span>
						<span>武汉邮电科学研究院</span>
						<span>2017-04-01</span>
					</div>
					<div class="degreeList">
						<span>74</span>
						<span>武汉生物制品研究所</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>75</span>
						<span>中国地震局地震研究所</span>
						<span>2016-06-17</span>
					</div>
					<div class="degreeList">
						<span>76</span>
						<span>湖北省社会科学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>77</span>
						<span>湖北省化学研究院</span>
						<span>2012-06-30</span>
					</div>
					<div class="degreeList">
						<span>78</span>
						<span>中共湖北省委党校</span>
						<span>2016-06-30</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>