<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>江西省各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--江西省各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>江西省各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>南昌大学</span>
						<span>2017-01-12</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>华东交通大学</span>
						<span>2017-01-06</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>东华理工大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>南昌航空大学</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>江西理工大学</span>
						<span>2017-01-05</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>景德镇陶瓷学院</span>
						<span>2016-07-10</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>江西农业大学</span>
						<span>2016-12-27</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>江西中医药大学</span>
						<span>2016-12-23</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>赣南医学院</span>
						<span>2016-07-10</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>江西师范大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>上饶师范学院</span>
						<span>2017-01-05</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>宜春学院</span>
						<span>2017-03-21</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>赣南师范大学</span>
						<span>2017-01-04</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>赣南师范学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>井冈山大学</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>江西财经大学</span>
						<span>2016-12-23</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>江西科技学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>江西科技师范大学</span>
						<span>2017-01-20</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>南昌工程学院</span>
						<span>2017-01-06</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>江西警察学院</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>新余学院</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>九江学院</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>南昌理工学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>江西服装学院</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>南昌工学院</span>
						<span>2016-07-10</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>南昌大学科学技术学院</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>南昌大学共青学院</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>华东交通大学理工学院</span>
						<span>2016-07-10</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>东华理工大学长江学院</span>
						<span>2016-07-10</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>南昌航空大学科技学院</span>
						<span>2016-07-10</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>江西理工大学应用科学学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>景德镇陶瓷学院科技艺术学院</span>
						<span>2016-07-10</span>
					</div>
					<div class="degreeList">
						<span>33</span>
						<span>江西农业大学南昌商学院</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>34</span>
						<span>江西中医学院科技学院</span>
						<span>2016-12-25</span>
					</div>
					<div class="degreeList">
						<span>35</span>
						<span>江西师范大学科学技术学院</span>
						<span>2016-07-06</span>
					</div>
					<div class="degreeList">
						<span>36</span>
						<span>赣南师范学院科技学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>37</span>
						<span>江西科技师范学院理工学院</span>
						<span>2016-07-10</span>
					</div>
					<div class="degreeList">
						<span>38</span>
						<span>江西财经大学现代经济管理学院</span>
						<span>2016-07-01</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>