<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>吉林省各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--吉林省各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>吉林省各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>吉林大学</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>延边大学</span>
						<span>2017-06-12</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>长春理工大学</span>
						<span>2017-04-13</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>东北电力大学</span>
						<span>2016-12-21</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>长春工业大学</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>吉林建筑大学</span>
						<span>2016-09-15</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>吉林化工学院</span>
						<span>2016-06-27</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>吉林农业大学</span>
						<span>2016-12-13</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>长春中医药大学</span>
						<span>2016-06-24</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>东北师范大学</span>
						<span>2017-01-11</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>北华大学</span>
						<span>2016-12-22</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>通化师范学院</span>
						<span>2017-03-15</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>吉林师范大学</span>
						<span>2016-12-23</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>吉林工程技术师范学院</span>
						<span>2016-07-04</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>长春师范大学</span>
						<span>2016-07-05</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>白城师范学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>吉林财经大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>吉林体育学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>吉林艺术学院</span>
						<span>2016-11-03</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>吉林华桥外国语学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>吉林工商学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>长春工程学院</span>
						<span>2016-10-18</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>吉林农业科技学院</span>
						<span>2016-12-05</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>吉林警察学院</span>
						<span>2017-03-01</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>长春大学</span>
						<span>2017-03-15</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>长春大学光华学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>长春工业大学人文信息学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>长春理工大学光电信息学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>吉林财经大学信息经济学院</span>
						<span>2016-08-25</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>长春税务学院信息经济学院</span>
						<span>2015-09-07</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>吉林建筑大学城建学院</span>
						<span>2016-06-20</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>吉林建筑大学建筑装饰学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>33</span>
						<span>长春科技学院</span>
						<span>2016-11-30</span>
					</div>
					<div class="degreeList">
						<span>34</span>
						<span>吉林艺术学院动画学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>35</span>
						<span>吉林师范大学博达学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>36</span>
						<span>长春大学旅游学院</span>
						<span>2016-06-28</span>
					</div>
					<div class="degreeList">
						<span>37</span>
						<span>东北师范大学人文学院</span>
						<span>2016-07-08</span>
					</div>
					<div class="degreeList">
						<span>38</span>
						<span>吉林医药学院</span>
						<span>2016-08-03</span>
					</div>
					<div class="degreeList">
						<span>39</span>
						<span>长春生物制品研究所</span>
						<span>2016-06-14</span>
					</div>
					<div class="degreeList">
						<span>40</span>
						<span>中共吉林省委党校</span>
						<span>2016-06-01</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>