<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>河北省各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--河北省各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>河北省各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>河北大学</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>河北工程大学</span>
						<span>2017-01-15</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>河北地质大学</span>
						<span>2017-01-03</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>石家庄经济学院</span>
						<span>2015-12-30</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>华北电力大学</span>
						<span>2016-08-30</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>河北工业大学</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>华北理工大学</span>
						<span>2016-06-29</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>河北联合大学</span>
						<span>2014-09-15</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>河北科技大学</span>
						<span>2017-01-11</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>河北建筑工程学院</span>
						<span>2016-09-30</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>河北农业大学</span>
						<span>2016-12-27</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>河北医科大学</span>
						<span>2017-01-05</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>华北煤炭医学院</span>
						<span>2010-06-30</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>河北北方学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>承德医学院</span>
						<span>2016-07-08</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>河北师范大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>保定学院</span>
						<span>2016-06-19</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>河北民族师范学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>唐山师范学院</span>
						<span>2016-06-25</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>廊坊师范学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>衡水学院</span>
						<span>2016-06-21</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>石家庄学院</span>
						<span>2017-02-27</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>邯郸学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>邢台学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>沧州师范学院</span>
						<span>2016-07-02</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>石家庄铁道大学</span>
						<span>2017-01-05</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>燕山大学</span>
						<span>2017-03-31</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>河北科技师范学院</span>
						<span>2016-06-16</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>唐山学院</span>
						<span>2016-07-04</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>华北科技学院</span>
						<span>2016-07-23</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>河北体育学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>河北金融学院</span>
						<span>2017-03-29</span>
					</div>
					<div class="degreeList">
						<span>33</span>
						<span>北华航天工业学院</span>
						<span>2017-01-09</span>
					</div>
					<div class="degreeList">
						<span>34</span>
						<span>防灾科技学院</span>
						<span>2017-01-03</span>
					</div>
					<div class="degreeList">
						<span>35</span>
						<span>河北经贸大学</span>
						<span>2016-12-26</span>
					</div>
					<div class="degreeList">
						<span>36</span>
						<span>中央司法警官学院</span>
						<span>2017-01-11</span>
					</div>
					<div class="degreeList">
						<span>37</span>
						<span>河北传媒学院</span>
						<span>2016-06-21</span>
					</div>
					<div class="degreeList">
						<span>38</span>
						<span>河北美术学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>39</span>
						<span>河北科技学院</span>
						<span>2016-07-02</span>
					</div>
					<div class="degreeList">
						<span>40</span>
						<span>河北外国语学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>41</span>
						<span>河北大学工商学院</span>
						<span>2016-07-15</span>
					</div>
					<div class="degreeList">
						<span>42</span>
						<span>河北联合大学轻工学院</span>
						<span>2016-09-12</span>
					</div>
					<div class="degreeList">
						<span>43</span>
						<span>河北科技大学理工学院</span>
						<span>2016-09-29</span>
					</div>
					<div class="degreeList">
						<span>44</span>
						<span>河北师范大学汇华学院</span>
						<span>2016-06-15</span>
					</div>
					<div class="degreeList">
						<span>45</span>
						<span>河北经贸大学经济管理学院</span>
						<span>2016-12-31</span>
					</div>
					<div class="degreeList">
						<span>46</span>
						<span>河北医科大学临床学院</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>47</span>
						<span>华北电力大学科技学院</span>
						<span>2016-08-30</span>
					</div>
					<div class="degreeList">
						<span>48</span>
						<span>河北工程大学科信学院</span>
						<span>2016-06-14</span>
					</div>
					<div class="degreeList">
						<span>49</span>
						<span>河北工业大学城市学院</span>
						<span>2016-07-14</span>
					</div>
					<div class="degreeList">
						<span>50</span>
						<span>燕山大学里仁学院</span>
						<span>2017-03-31</span>
					</div>
					<div class="degreeList">
						<span>51</span>
						<span>石家庄铁道学院四方学院</span>
						<span>2016-12-23</span>
					</div>
					<div class="degreeList">
						<span>52</span>
						<span>河北地质大学华信学院</span>
						<span>2016-10-22</span>
					</div>
					<div class="degreeList">
						<span>53</span>
						<span>石家庄经济学院华信学院</span>
						<span>2016-07-15</span>
					</div>
					<div class="degreeList">
						<span>54</span>
						<span>河北农业大学现代科技学院</span>
						<span>2016-10-18</span>
					</div>
					<div class="degreeList">
						<span>55</span>
						<span>华北理工大学冀唐学院</span>
						<span>2016-06-16</span>
					</div>
					<div class="degreeList">
						<span>56</span>
						<span>河北联合大学冀唐学院</span>
						<span>2014-06-16</span>
					</div>
					<div class="degreeList">
						<span>57</span>
						<span>中国地质大学长城学院</span>
						<span>2016-12-22</span>
					</div>
					<div class="degreeList">
						<span>58</span>
						<span>北京化工大学北方学院</span>
						<span>2017-01-12</span>
					</div>
					<div class="degreeList">
						<span>59</span>
						<span>北京中医药大学东方学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>60</span>
						<span>北京交通大学海滨学院</span>
						<span>2016-12-22</span>
					</div>
					<div class="degreeList">
						<span>61</span>
						<span>河北中医学院</span>
						<span>2017-01-05</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>