<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>四川省各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--四川省各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>四川省各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>四川大学</span>
						<span>2016-12-19</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>西南交通大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>电子科技大学</span>
						<span>2017-04-25</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>西南石油大学</span>
						<span>2016-12-19</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>成都理工大学</span>
						<span>2017-01-12</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>西南科技大学</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>成都信息工程大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>成都信息工程学院</span>
						<span>2014-12-31</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>四川理工学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>西华大学</span>
						<span>2016-12-29</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>中国民用航空飞行学院</span>
						<span>2017-06-02</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>四川农业大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>西昌学院</span>
						<span>2017-03-23</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>四川医科大学</span>
						<span>2015-09-21</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>泸州医学院</span>
						<span>2015-07-01</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>西南医科大学</span>
						<span>2016-09-29</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>成都中医药大学</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>川北医学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>四川师范大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>西华师范大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>绵阳师范学院</span>
						<span>2016-07-22</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>内江师范学院</span>
						<span>2017-01-12</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>宜宾学院</span>
						<span>2016-12-21</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>四川文理学院</span>
						<span>2017-06-23</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>乐山师范学院</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>西南财经大学</span>
						<span>2017-03-30</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>成都体育学院</span>
						<span>2016-12-26</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>四川音乐学院</span>
						<span>2017-01-19</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>西南民族大学</span>
						<span>2017-01-13</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>四川抗菌素工业研究所</span>
						<span>2014-06-30</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>成都学院</span>
						<span>2016-12-31</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>成都工业学院</span>
						<span>2017-03-30</span>
					</div>
					<div class="degreeList">
						<span>33</span>
						<span>攀枝花学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>34</span>
						<span>四川民族学院</span>
						<span>2016-06-22</span>
					</div>
					<div class="degreeList">
						<span>35</span>
						<span>四川警察学院</span>
						<span>2017-04-10</span>
					</div>
					<div class="degreeList">
						<span>36</span>
						<span>成都东软学院</span>
						<span>2016-12-13</span>
					</div>
					<div class="degreeList">
						<span>37</span>
						<span>电子科技大学成都学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>38</span>
						<span>成都理工大学工程技术学院</span>
						<span>2017-06-29</span>
					</div>
					<div class="degreeList">
						<span>39</span>
						<span>四川传媒学院</span>
						<span>2013-06-20</span>
					</div>
					<div class="degreeList">
						<span>40</span>
						<span>成都理工大学广播影视学院</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>41</span>
						<span>成都信息工程大学银杏酒店管理学院</span>
						<span>2016-10-08</span>
					</div>
					<div class="degreeList">
						<span>42</span>
						<span>成都信息工程学院银杏酒店管理学院</span>
						<span>2015-09-25</span>
					</div>
					<div class="degreeList">
						<span>43</span>
						<span>四川师范大学文理学院</span>
						<span>2017-04-05</span>
					</div>
					<div class="degreeList">
						<span>44</span>
						<span>四川师范大学成都学院</span>
						<span>2016-06-16</span>
					</div>
					<div class="degreeList">
						<span>45</span>
						<span>四川外国语大学成都学院</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>46</span>
						<span>成都医学院</span>
						<span>2016-12-31</span>
					</div>
					<div class="degreeList">
						<span>47</span>
						<span>四川大学锦城学院</span>
						<span>2016-06-14</span>
					</div>
					<div class="degreeList">
						<span>48</span>
						<span>西南财经大学天府学院</span>
						<span>2016-12-31</span>
					</div>
					<div class="degreeList">
						<span>49</span>
						<span>四川大学锦江学院</span>
						<span>2017-06-20</span>
					</div>
					<div class="degreeList">
						<span>50</span>
						<span>四川音乐学院绵阳艺术学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>51</span>
						<span>西南科技大学城市学院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>52</span>
						<span>西南交通大学希望学院</span>
						<span>2016-07-15</span>
					</div>
					<div class="degreeList">
						<span>53</span>
						<span>成都师范学院</span>
						<span>2016-11-18</span>
					</div>
					<div class="degreeList">
						<span>54</span>
						<span>中国核动力研究设计院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>55</span>
						<span>核工业西南物理研究院</span>
						<span>2016-08-31</span>
					</div>
					<div class="degreeList">
						<span>56</span>
						<span>四川抗菌素工业研究所</span>
						<span>2013-06-30</span>
					</div>
					<div class="degreeList">
						<span>57</span>
						<span>四川省社会科学院</span>
						<span>2016-06-12</span>
					</div>
					<div class="degreeList">
						<span>58</span>
						<span>中共四川省委党校</span>
						<span>2016-06-15</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>