<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>福建省各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--福建省各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>福建省各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>厦门大学</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>华侨大学</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>福州大学</span>
						<span>2017-06-21</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>福建工程学院</span>
						<span>2017-06-23</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>福建农林大学</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>集美大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>福建医科大学</span>
						<span>2017-06-20</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>福建中医药大学</span>
						<span>2017-06-22</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>福建师范大学</span>
						<span>2016-12-23</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>闽江学院</span>
						<span>2017-06-21</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>武夷学院</span>
						<span>2017-06-15</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>宁德师范学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>泉州师范学院</span>
						<span>2016-10-31</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>闽南师范大学</span>
						<span>2017-06-14</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>厦门理工学院</span>
						<span>2017-07-05</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>三明学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>龙岩学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>福建警察学院</span>
						<span>2017-07-02</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>莆田学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>仰恩大学</span>
						<span>2017-07-02</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>闽南理工学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>福建师范大学闽南科技学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>福建农林大学东方学院</span>
						<span>2016-09-30</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>华侨大学厦门工学院</span>
						<span>2017-02-19</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>福州大学阳光学院</span>
						<span>2017-07-03</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>厦门大学嘉庚学院</span>
						<span>2017-03-21</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>福州大学至诚学院</span>
						<span>2016-09-19</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>集美大学诚毅学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>福建师范大学协和学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>福州外语外贸学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>福建江夏学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>福建农林大学金山学院</span>
						<span>2017-07-10</span>
					</div>
					<div class="degreeList">
						<span>33</span>
						<span>厦门国家会计学院</span>
						<span>2014-06-30</span>
					</div>
					<div class="degreeList">
						<span>34</span>
						<span>厦门国家会计学院</span>
						<span>2017-02-25</span>
					</div>
					<div class="degreeList">
						<span>35</span>
						<span>国家海洋局第三海洋研究所</span>
						<span>2016-07-18</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>