<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>云南省各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--云南省各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>云南省各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>云南大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>昆明理工大学</span>
						<span>2016-12-08</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>云南农业大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>西南林业大学</span>
						<span>2017-01-11</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>昆明医科大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>大理学院</span>
						<span>2017-01-23</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>云南中医学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>云南师范大学</span>
						<span>2016-12-27</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>昭通学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>曲靖师范学院</span>
						<span>2016-12-31</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>普洱学院</span>
						<span>2016-06-16</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>保山学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>红河学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>云南财经大学</span>
						<span>2016-12-31</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>云南艺术学院</span>
						<span>2017-03-10</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>云南民族大学</span>
						<span>2017-01-15</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>玉溪师范学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>楚雄师范学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>云南警官学院</span>
						<span>2017-01-15</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>昆明学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>文山学院</span>
						<span>2016-06-18</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>云南大学滇池学院</span>
						<span>2017-02-24</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>云南大学旅游文化学院</span>
						<span>2016-12-14</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>昆明理工大学津桥学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>云南师范大学商学院</span>
						<span>2016-11-10</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>云南师范大学文理学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>昆明医学院海源学院</span>
						<span>2016-09-30</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>云南艺术学院文华学院</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>云南工商学院</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>昆明贵金属研究所</span>
						<span>2015-07-30</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>