<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>北京市各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--北京市各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>北京市各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>北京大学</span>
						<span>2017-01-09</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>中国人民大学</span>
						<span>2017-01-04</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>清华大学</span>
						<span>2017-04-13</span>
					</div>
					<div class="degreeList">
						<span>4</span>
						<span>北京交通大学</span>
						<span>2017-03-30</span>
					</div>
					<div class="degreeList">
						<span>5</span>
						<span>北京工业大学</span>
						<span>2017-01-09</span>
					</div>
					<div class="degreeList">
						<span>6</span>
						<span>北京航空航天大学</span>
						<span>2017-03-30</span>
					</div>
					<div class="degreeList">
						<span>7</span>
						<span>北京理工大学</span>
						<span>2017-01-13</span>
					</div>
					<div class="degreeList">
						<span>8</span>
						<span>北京科技大学</span>
						<span>2017-03-01</span>
					</div>
					<div class="degreeList">
						<span>9</span>
						<span>北方工业大学</span>
						<span>2017-03-03</span>
					</div>
					<div class="degreeList">
						<span>10</span>
						<span>北京化工大学</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>11</span>
						<span>北京工商大学</span>
						<span>2017-06-20</span>
					</div>
					<div class="degreeList">
						<span>12</span>
						<span>北京服装学院</span>
						<span>2017-01-04</span>
					</div>
					<div class="degreeList">
						<span>13</span>
						<span>北京邮电大学</span>
						<span>2017-03-24</span>
					</div>
					<div class="degreeList">
						<span>14</span>
						<span>北京印刷学院</span>
						<span>2017-01-04</span>
					</div>
					<div class="degreeList">
						<span>15</span>
						<span>北京建筑大学</span>
						<span>2017-06-22</span>
					</div>
					<div class="degreeList">
						<span>16</span>
						<span>北京石油化工学院</span>
						<span>2017-06-28</span>
					</div>
					<div class="degreeList">
						<span>17</span>
						<span>北京电子科技学院</span>
						<span>2015-06-26</span>
					</div>
					<div class="degreeList">
						<span>18</span>
						<span>中国农业大学</span>
						<span>2016-12-12</span>
					</div>
					<div class="degreeList">
						<span>19</span>
						<span>北京农学院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>20</span>
						<span>北京林业大学</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>21</span>
						<span>北京协和医学院</span>
						<span>2017-01-11</span>
					</div>
					<div class="degreeList">
						<span>22</span>
						<span>首都医科大学</span>
						<span>2016-12-21</span>
					</div>
					<div class="degreeList">
						<span>23</span>
						<span>北京中医药大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>24</span>
						<span>北京师范大学</span>
						<span>2017-01-05</span>
					</div>
					<div class="degreeList">
						<span>25</span>
						<span>首都师范大学</span>
						<span>2017-01-17</span>
					</div>
					<div class="degreeList">
						<span>26</span>
						<span>首都体育学院</span>
						<span>2016-12-26</span>
					</div>
					<div class="degreeList">
						<span>27</span>
						<span>北京外国语大学</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>28</span>
						<span>北京第二外国语学院</span>
						<span>2017-06-12</span>
					</div>
					<div class="degreeList">
						<span>29</span>
						<span>北京语言大学</span>
						<span>2017-01-05</span>
					</div>
					<div class="degreeList">
						<span>30</span>
						<span>中国传媒大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>31</span>
						<span>中央财经大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>32</span>
						<span>对外经济贸易大学</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>33</span>
						<span>北京物资学院</span>
						<span>2017-04-13</span>
					</div>
					<div class="degreeList">
						<span>34</span>
						<span>首都经济贸易大学</span>
						<span>2017-06-20</span>
					</div>
					<div class="degreeList">
						<span>35</span>
						<span>外交学院</span>
						<span>2017-06-21</span>
					</div>
					<div class="degreeList">
						<span>36</span>
						<span>中国人民公安大学</span>
						<span>2017-01-11</span>
					</div>
					<div class="degreeList">
						<span>37</span>
						<span>国际关系学院</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>38</span>
						<span>北京体育大学</span>
						<span>2016-12-30</span>
					</div>
					<div class="degreeList">
						<span>39</span>
						<span>中央音乐学院</span>
						<span>2016-12-16</span>
					</div>
					<div class="degreeList">
						<span>40</span>
						<span>中国音乐学院</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>41</span>
						<span>中央美术学院</span>
						<span>2017-01-03</span>
					</div>
					<div class="degreeList">
						<span>42</span>
						<span>中央戏剧学院</span>
						<span>2016-07-06</span>
					</div>
					<div class="degreeList">
						<span>43</span>
						<span>中国戏曲学院</span>
						<span>2016-07-05</span>
					</div>
					<div class="degreeList">
						<span>44</span>
						<span>北京电影学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>45</span>
						<span>北京舞蹈学院</span>
						<span>2016-07-10</span>
					</div>
					<div class="degreeList">
						<span>46</span>
						<span>中央民族大学</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>47</span>
						<span>中国政法大学</span>
						<span>2017-01-15</span>
					</div>
					<div class="degreeList">
						<span>48</span>
						<span>华北电力大学</span>
						<span>2017-03-28</span>
					</div>
					<div class="degreeList">
						<span>49</span>
						<span>中华女子学院</span>
						<span>2016-09-20</span>
					</div>
					<div class="degreeList">
						<span>50</span>
						<span>北京信息科技大学</span>
						<span>2017-05-05</span>
					</div>
					<div class="degreeList">
						<span>51</span>
						<span>中国矿业大学（北京）</span>
						<span>2017-03-09</span>
					</div>
					<div class="degreeList">
						<span>52</span>
						<span>中国石油大学</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>53</span>
						<span>中国石油大学(北京)</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>54</span>
						<span>中国地质大学（北京）</span>
						<span>2017-01-12</span>
					</div>
					<div class="degreeList">
						<span>55</span>
						<span>北京联合大学</span>
						<span>2017-01-16</span>
					</div>
					<div class="degreeList">
						<span>56</span>
						<span>北京城市学院</span>
						<span>2017-01-18</span>
					</div>
					<div class="degreeList">
						<span>57</span>
						<span>中国青年政治学院</span>
						<span>2017-01-05</span>
					</div>
					<div class="degreeList">
						<span>58</span>
						<span>首钢工学院</span>
						<span>2017-01-16</span>
					</div>
					<div class="degreeList">
						<span>59</span>
						<span>中国劳动关系学院</span>
						<span>2017-06-30</span>
					</div>
					<div class="degreeList">
						<span>60</span>
						<span>首都师范大学科德学院</span>
						<span>2017-06-21</span>
					</div>
					<div class="degreeList">
						<span>61</span>
						<span>北京工商大学嘉华学院</span>
						<span>2016-12-31</span>
					</div>
					<div class="degreeList">
						<span>62</span>
						<span>北京邮电大学世纪学院</span>
						<span>2017-01-05</span>
					</div>
					<div class="degreeList">
						<span>63</span>
						<span>北京工业大学耿丹学院</span>
						<span>2017-06-12</span>
					</div>
					<div class="degreeList">
						<span>64</span>
						<span>北京警察学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>65</span>
						<span>北京第二外国语学院中瑞酒店管理学院</span>
						<span>2017-01-06</span>
					</div>
					<div class="degreeList">
						<span>66</span>
						<span>中国科学院大学</span>
						<span>2017-01-08</span>
					</div>
					<div class="degreeList">
						<span>67</span>
						<span>长江商学院</span>
						<span>2016-09-19</span>
					</div>
					<div class="degreeList">
						<span>68</span>
						<span>北京开放大学</span>
						<span>2017-06-28</span>
					</div>
					<div class="degreeList">
						<span>69</span>
						<span>国家开放大学</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>70</span>
						<span>中共中央党校</span>
						<span>2016-07-15</span>
					</div>
					<div class="degreeList">
						<span>71</span>
						<span>中国科学院大学</span>
						<span>2014-07-06</span>
					</div>
					<div class="degreeList">
						<span>72</span>
						<span>中国社会科学院研究生院</span>
						<span>2016-12-28</span>
					</div>
					<div class="degreeList">
						<span>73</span>
						<span>国家行政学院</span>
						<span>2016-12-20</span>
					</div>
					<div class="degreeList">
						<span>74</span>
						<span>北京国家会计学院</span>
						<span>2014-06-20</span>
					</div>
					<div class="degreeList">
						<span>75</span>
						<span>北京国家会计学院</span>
						<span>2016-12-22</span>
					</div>
					<div class="degreeList">
						<span>76</span>
						<span>中国科学技术信息研究所</span>
						<span>2017-01-10</span>
					</div>
					<div class="degreeList">
						<span>77</span>
						<span>中国财政科学研究院</span>
						<span>2017-07-10</span>
					</div>
					<div class="degreeList">
						<span>78</span>
						<span>财政部财政科学研究所</span>
						<span>2015-12-31</span>
					</div>
					<div class="degreeList">
						<span>79</span>
						<span>中国人民银行金融研究所</span>
						<span>2016-07-15</span>
					</div>
					<div class="degreeList">
						<span>80</span>
						<span>国际贸易经济合作研究院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>81</span>
						<span>中国农业科学院</span>
						<span>2017-01-11</span>
					</div>
					<div class="degreeList">
						<span>82</span>
						<span>中国兽医药品监察所</span>
						<span>2017-06-20</span>
					</div>
					<div class="degreeList">
						<span>83</span>
						<span>中国林业科学研究院</span>
						<span>2016-07-08</span>
					</div>
					<div class="degreeList">
						<span>84</span>
						<span>中国水利水电科学研究院</span>
						<span>2017-02-14</span>
					</div>
					<div class="degreeList">
						<span>85</span>
						<span>中国电力科学研究院</span>
						<span>2017-06-24</span>
					</div>
					<div class="degreeList">
						<span>86</span>
						<span>中国建筑科学研究院</span>
						<span>2016-12-23</span>
					</div>
					<div class="degreeList">
						<span>87</span>
						<span>中国城市规划设计研究院</span>
						<span>2016-08-12</span>
					</div>
					<div class="degreeList">
						<span>88</span>
						<span>中国建筑设计研究院</span>
						<span>2016-06-27</span>
					</div>
					<div class="degreeList">
						<span>89</span>
						<span>中国环境科学研究院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>90</span>
						<span>中国地质科学院</span>
						<span>2017-06-09</span>
					</div>
					<div class="degreeList">
						<span>91</span>
						<span>钢铁研究总院</span>
						<span>2017-02-23</span>
					</div>
					<div class="degreeList">
						<span>92</span>
						<span>中冶集团建筑研究总院</span>
						<span>2017-06-16</span>
					</div>
					<div class="degreeList">
						<span>93</span>
						<span>冶金自动化研究院</span>
						<span>2016-07-20</span>
					</div>
					<div class="degreeList">
						<span>94</span>
						<span>机械科学研究院</span>
						<span>2016-06-24</span>
					</div>
					<div class="degreeList">
						<span>95</span>
						<span>中国农业机械化科学研究院</span>
						<span>2016-06-30</span>
					</div>
					<div class="degreeList">
						<span>96</span>
						<span>核工业第二研究设计院</span>
						<span>2017-06-20</span>
					</div>
					<div class="degreeList">
						<span>97</span>
						<span>核工业北京地质研究院</span>
						<span>2016-06-23</span>
					</div>
					<div class="degreeList">
						<span>98</span>
						<span>核工业北京化工冶金研究院</span>
						<span>2016-06-20</span>
					</div>
					<div class="degreeList">
						<span>99</span>
						<span>中国工程物理研究院</span>
						<span>2016-07-02</span>
					</div>
					<div class="degreeList">
						<span>100</span>
						<span>中国航空研究院</span>
						<span>2016-06-17</span>
					</div>
					<div class="degreeList">
						<span>101</span>
						<span>中国航空规划建设发展有限公司</span>
						<span>2014-07-01</span>
					</div>
					<div class="degreeList">
						<span>102</span>
						<span>中国电子科技集团公司电子科学研究院</span>
						<span>2016-12-21</span>
					</div>
					<div class="degreeList">
						<span>103</span>
						<span>华北计算机系统工程研究所</span>
						<span>2016-07-10</span>
					</div>
					<div class="degreeList">
						<span>104</span>
						<span>中国兵器科学研究院</span>
						<span>2016-07-12</span>
					</div>
					<div class="degreeList">
						<span>105</span>
						<span>中国航天科技集团公司第一研究院</span>
						<span>2016-09-26</span>
					</div>
					<div class="degreeList">
						<span>106</span>
						<span>中国航天科工集团公司第二研究院</span>
						<span>2016-07-26</span>
					</div>
					<div class="degreeList">
						<span>107</span>
						<span>中国航天科工集团公司第三研究院</span>
						<span>2016-08-10</span>
					</div>
					<div class="degreeList">
						<span>108</span>
						<span>中国航天科技集团公司第五研究院</span>
						<span>2016-08-11</span>
					</div>
					<div class="degreeList">
						<span>109</span>
						<span>中国航天科技集团公司第十一研究院</span>
						<span>2016-09-26</span>
					</div>
					<div class="degreeList">
						<span>110</span>
						<span>煤炭科学研究总院</span>
						<span>2016-08-30</span>
					</div>
					<div class="degreeList">
						<span>111</span>
						<span>石油勘探开发科学研究院</span>
						<span>2016-07-04</span>
					</div>
					<div class="degreeList">
						<span>112</span>
						<span>北京化工研究院</span>
						<span>2017-06-20</span>
					</div>
					<div class="degreeList">
						<span>113</span>
						<span>北京橡胶工业研究设计院</span>
						<span>2013-06-07</span>
					</div>
					<div class="degreeList">
						<span>114</span>
						<span>轻工业环境保护研究所</span>
						<span>2016-08-30</span>
					</div>
					<div class="degreeList">
						<span>115</span>
						<span>中国食品发酵工业研究院</span>
						<span>2017-03-31</span>
					</div>
					<div class="degreeList">
						<span>116</span>
						<span>中国制浆造纸研究院</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>117</span>
						<span>中国铁道科学研究院</span>
						<span>2016-08-26</span>
					</div>
					<div class="degreeList">
						<span>118</span>
						<span>交通运输部公路科学研究所</span>
						<span>2017-06-23</span>
					</div>
					<div class="degreeList">
						<span>119</span>
						<span>电信科学技术研究院</span>
						<span>2016-05-19</span>
					</div>
					<div class="degreeList">
						<span>120</span>
						<span>中国艺术研究院</span>
						<span>2016-06-28</span>
					</div>
					<div class="degreeList">
						<span>121</span>
						<span>中国电影艺术研究中心</span>
						<span>2017-07-01</span>
					</div>
					<div class="degreeList">
						<span>122</span>
						<span>中国疾病预防控制中心</span>
						<span>2016-07-04</span>
					</div>
					<div class="degreeList">
						<span>123</span>
						<span>中国中医科学院</span>
						<span>2016-06-15</span>
					</div>
					<div class="degreeList">
						<span>124</span>
						<span>中国食品药品检定研究院</span>
						<span>2016-07-11</span>
					</div>
					<div class="degreeList">
						<span>125</span>
						<span>北京生物制品研究所</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>126</span>
						<span>中日友好临床医学研究所</span>
						<span>2016-06-21</span>
					</div>
					<div class="degreeList">
						<span>127</span>
						<span>卫生部老年医学研究所</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>128</span>
						<span>国家体育总局体育科学研究所</span>
						<span>2017-06-20</span>
					</div>
					<div class="degreeList">
						<span>129</span>
						<span>中国建筑材料科学研究总院</span>
						<span>2016-08-02</span>
					</div>
					<div class="degreeList">
						<span>130</span>
						<span>中国气象科学研究院</span>
						<span>2017-06-02</span>
					</div>
					<div class="degreeList">
						<span>131</span>
						<span>国家海洋环境预报中心</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>132</span>
						<span>中国地震局地球物理研究所</span>
						<span>2016-07-09</span>
					</div>
					<div class="degreeList">
						<span>133</span>
						<span>中国地震局地质研究所</span>
						<span>2016-09-06</span>
					</div>
					<div class="degreeList">
						<span>134</span>
						<span>中国地震局分析预报中心</span>
						<span>2017-06-28</span>
					</div>
					<div class="degreeList">
						<span>135</span>
						<span>中国地震局地壳应力研究所</span>
						<span>2016-07-06</span>
					</div>
					<div class="degreeList">
						<span>136</span>
						<span>中国计量科学研究院</span>
						<span>2017-06-22</span>
					</div>
					<div class="degreeList">
						<span>137</span>
						<span>中国测绘科学研究院</span>
						<span>2016-06-27</span>
					</div>
					<div class="degreeList">
						<span>138</span>
						<span>中国舰船研究院</span>
						<span>2016-08-16</span>
					</div>
					<div class="degreeList">
						<span>139</span>
						<span>石油化工科学研究院</span>
						<span>2017-06-27</span>
					</div>
					<div class="degreeList">
						<span>140</span>
						<span>北京矿冶研究总院</span>
						<span>2016-07-26</span>
					</div>
					<div class="degreeList">
						<span>141</span>
						<span>北京有色金属研究总院</span>
						<span>2017-01-06</span>
					</div>
					<div class="degreeList">
						<span>142</span>
						<span>北京市劳动保护科学研究所</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>143</span>
						<span>北京市环境保护科学研究院</span>
						<span>2017-06-23</span>
					</div>
					<div class="degreeList">
						<span>144</span>
						<span>北京市心肺血管疾病研究所</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>145</span>
						<span>北京市市政工程研究院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>146</span>
						<span>北京市结核病胸部肿瘤研究所</span>
						<span>2016-06-20</span>
					</div>
					<div class="degreeList">
						<span>147</span>
						<span>首都儿科研究所</span>
						<span>2016-06-06</span>
					</div>
					<div class="degreeList">
						<span>148</span>
						<span>中共北京市委党校</span>
						<span>2017-06-15</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>