<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>西藏自治区各学位授予单位学位证书上网进度</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/degree/back.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/banner.png">
		</div>
		<!--西藏自治区各学位授予单位学位证书上网进度-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>西藏自治区各学位授予单位学位证书上网进度</h1>
				<div class="query-date-title degree-title">
					<span>序号</span>
					<span>学位授予单位名称</span>
					<span>最新上网批次</span>
				</div>
				<div class="degreeCon">
					<div class="degreeList">
						<span>1</span>
						<span>西藏大学</span>
						<span>2016-12-15</span>
					</div>
					<div class="degreeList">
						<span>2</span>
						<span>西藏民族学院</span>
						<span>2016-07-01</span>
					</div>
					<div class="degreeList">
						<span>3</span>
						<span>西藏藏医学院</span>
						<span>2016-12-21</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>