.inquireTips{
	font-size: 0.28rem;
    color: #6e6e6e;
    margin: 0.416rem 0.55rem 0rem 1.175rem;
}
.inquireTips p{
	line-height: 0.6rem;
}
.inquireTips p:nth-of-type(1){
	text-indent: -0.625rem;
}
.gjj-list .text-list-div label, .gjj-list .text-list-div span {
    width: auto !important;
    line-height: 0.5rem;
}
.gjj-tab-con .gjj-list .text-list-div .icon-downMenu {
    margin-top: 0.17rem;
    margin-left: 0.4rem;
}
.gjj-list .text-list-div label{
	float: left;
}
.gjj-list .text-list-div input{
	float: right;
	text-align: right;
}
.gjj-list .text-list-div:nth-last-of-type(1){
	border-bottom: none;
}
.peccancyQuery.userInfor .text-list-div img.icon-rightArrow {
    width: 0.18rem;
    height: 0.3rem;
    float: right;
    margin-top: 0.111rem;
    margin-left: 0.2rem;
}
.lookBox {
    color: #a1a9ac;
    font-size: 0.3rem;
    margin: 0.388rem 0.55rem;
}
.peccancyQuery .text-list-div span {
    color: #b2b2b2;
    font-size: 0.38rem;
    width: -webkit-calc(100% - 2.63rem);
    width: -moz-calc(100% - 2.63rem);
    width: calc(100% - 2.63rem);
    line-height: 0.5rem;
}
.peccancyQuery .text-list-div:nth-last-of-type(1){
	border-bottom: none;
}
/*证书*/
.font18{
	font-size: 0.25rem;
}
.certificateList .text-list-div span{
	float: right;
	text-align: right;
	color: #0083e0 !important;
}
.certificatePic{
	padding: 0.36rem 0.55rem;
	border-bottom: 1px solid #eee;
}
.certificate-lf{
	width: 5.486rem;
	display: inline-block;
	float: left;
}
.certificate-lf .userName{
	font-size: 0.388rem; 
	text-indent: 0.777rem;   
	line-height: 0.77rem;
}
.certificate-lf .userName span{
	color: #0083e0;
	margin-right: 0.277rem;
}
.certificate-lf .userCer{
	color: #b2b2b2;
	font-size: 0.277rem;
	margin-top: 0.7rem;
}
.avatarBox{
	display: inline-block;
	float: right;
	text-align: right;
	width: -webkit-calc(100% - 5.8rem);
	width: -moz-calc(100% - 5.8rem);
	width: calc(100% - 5.8rem);
}
.avatarBox img{
	width: 2.3rem;
	height:3.2rem;
}
.certificateList .text-list-div:nth-last-of-type(1){
	border-bottom: 1px solid #edefee;
}
#selecText,#country,#countryjb{
	color: #474747;
}
