<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>取消预约</title>
		<link type="text/css" rel="stylesheet" href="../../css/news.css" />
	    <link rel="stylesheet" type="text/css" href="../../css/hospital/hospital.css"/>
	    <link rel="stylesheet" type="text/css" href="../../css/heNanHospital/heNanHospital.css"/>
		<script type="text/javascript" src="/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="/js/all.js"></script>
		<script>
            var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                cityID = "<%= cityID %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityName = "<%= cityInfo.cityName %>",
                local_x = "<%= local_x %>",
                comeFrom = "<%= comeFrom %>",
                local_y = "<%= local_y %>",
                localFrom = "<%= locals.localFrom %>";
		</script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max">
			<!--banner图-->
			<div class="banner">
				<% include ../header.html %>
				<div class="userAvatarBox">
					<a href="javascript:;">
						<p><img src="../../images/hospital/userAvatar.png"></p>
						<p>个人中心</p>
					</a>
					<div id="userCenter" class="dialog-userCenter" style="display:none;">
						<div class="triangle"></div>
						<ul>
							<li id="record"><a href="javascript:;"><i class="icon-registeredRecord"></i>挂号记录</a></li>
							<!--<li id="quit"><a href="javascript:;"><i class="icon-quit"></i>退出</a></li>-->
						</ul>
					</div>
				</div>
			</div>
			<!--取消预约-->
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home regWH">
					<h1 class="p-q-tit"><img src="../../images/icon-return.png" class="icon-return" onclick="back()"/>取消预约</h1>
					<hr class="hrLine">
					<div class="cancelTitle">取消原因</div>
					<div class="multipleLineText">
						<textarea placeholder="请输入您的取消原因~"></textarea>
					</div>
					<div class="btn-box">
						<input type="button" value="确定"  onclick="sure()"/>
					</div>
				</div>
			</div>
			<div style="height: 1.3rem;"></div>
			<!--提示语-->
			<div class="masktime" id="masktime" style="display:none;">请输入您要举报的号码</div>



			<!--手机验证提示-->
			<div id="mask" class="mask" style="display: none"></div>
			<div id="tips" class="dialog-phone" style="display: none;">
				<p id="tips_text"></p>
				<a id="iKnow" href="javascript:;">确定</a>
			</div>

			<div class="data-sources">服务来源：河南省预约挂号服务平台</div>
		</div>
		<script src="/js/heNanHospital/cancelAppointment.js"></script>
	</body>
</html>
