<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>医院详情</title>
    <link type="text/css" rel="stylesheet" href="../../css/news.css" />
    <link rel="stylesheet" type="text/css" href="../../css/hospital/hospital.css"/>
    <link rel="stylesheet" href="../../css/heNanHospital/heNanHospital.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
           citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>"
            ,local_y = "<%= local_y %>",
               localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox">
				<a href="javascript:;">
					<p><img src="../../images/hospital/userAvatar.png" ></p>
					<p>个人中心</p>
				</a>
				<div id="userCenter" class="dialog-userCenter" style="display:none;">
					<div class="triangle"></div>
					<ul>
						<li id="record"><a href="javascript:;"><i class="icon-registeredRecord"></i>挂号记录</a></li>
						<li id="quit"><a href="javascript:;"><i class="icon-quit"></i>退出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--医院详情-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="../../images/icon-return.png" class="icon-return" onclick="back()"/> <span id="hosName">周口市中心医院</span></h1>
				<hr class="hrLine">
				<div class="detailsPic"><img src="../../images/heNanHospital/defailsPic.png" id="srcImg"></div>
				<div class="detailsCon">
					<p  id="detailsCon"></p>
					<!--<p>周口市中心医院建于1967年，地处沙颖河畔，是一所综合性的国家级三级甲等医院。1969年12月省建筑医院迁来与其合并后为周口地区人民医院，2000年撤地设市其名称变更为周口市中心医院。设门诊部、住院部，下辖一所附属肿瘤医院。占地面积9.2万平方米，建筑面积16.8万平方米；其中新建20层现代化病房大楼6.75万平方米,急救中心大楼4600平方米。</p>-->
					<!--<p>编制床位1310张,实际开放床位1400余张。现有职工1327人，其中高级职称103人，市管优秀专家12人，市优秀青年科技人才15人，中级职称279人。年平均门诊量近50万人次，年收住病人2.8万人次，年手术病人10000余例。98年晋升为国家“三级甲等”医院，是豫东南地区规模最大的一家综合性医院，拥有完善的医疗、教学、科研、预防、保健、急救体系。下设79个科室、35个病区、42个护理单元。</p>-->
					<!--<p>医院先后被市委、市政府命名为“花园式单位”；被省委、省政府授予“文明单位”；被省人事厅、卫生厅、中医管理局授予“河南省卫生系统先进集体”；被河南省委授予“优秀基层党组织”称号；被省政府纠风办和省卫生厅联合授予“政风行风先进单位”；连续三年被省卫生厅授予“医院管理年活动先进集体”；2007年被国家人事部、劳动部、中医药管理局联合授予“全国卫生系统先进集体”、2008年被省卫生厅评为“医院管理年及‘三优一满意’先进单位”及“三优一满意A级医院”、2008年被市委、市政府评为“十佳医院”。</p>-->
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>

		<!--提示语-->
		<div class="masktime" id="masktime" style="display:none;"></div>
		<div class="data-sources">服务来源：河南省预约挂号服务平台</div>
	</div>
	<script type="text/javascript" src="/js/heNanHospital/details.js"></script>
</body>
</html>