<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>登录</title>
    <link type="text/css" rel="stylesheet" href="../../css/news.css" />
    <link type="text/css" rel="stylesheet" href="../../css/heNanHospital/heNanHospital.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>"
            ,local_y = "<%= local_y %>",
            comeFrom = "<%= comeFrom %>",
                localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/heNanHospital/login.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--登录-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="../../images/icon-return.png" class="icon-return" onclick="back()"/>登录</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>登录名</label>
					<input id="username" type="text" placeholder="请输入手机号 " />
				</div>
				<div class="text-list-div">
					<label>密码</label>
					<input id="pass" type="password" placeholder="请输入密码" />
				</div>
				<div class="text-list-div phone-list-code">
					<label>验证码</label>
					<input id="veri" type="text" placeholder="请输入图片验证码" />
					<img id="veriCodeImg" src="" class="img-code">
				</div>
				<div class="btn-box">
					<input id="loginBtn" type="button" value="登录" />
				</div>
				<div class="goLoginBox">已有账户，去<a id="toRegister">注册</a></div>
			</div>
			
		</div>

		<!--提示语-->
		<div class="masktime" id="masktime" style="display:none;"></div>
		<div class="data-sources">服务来源：河南省预约挂号服务平台</div>
	</div>
</body>
<script type="text/javascript">
	if(localFrom == "xinhuashe_app"){
		var USERNAME = sessionStorage.getItem('heNanHospital_USERNAME'),
				PASSWORD = sessionStorage.getItem('heNanHospital_PASSWORD');
		document.getElementById('username').value = USERNAME;
		document.getElementById('pass').value = PASSWORD;
	}
</script>
</html>