<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>挂号记录</title>
		<link type="text/css" rel="stylesheet" href="../../css/news.css" />
	    <link rel="stylesheet" type="text/css" href="../../css/hospital/hospital.css"/>
	    <link rel="stylesheet" type="text/css" href="../../css/heNanHospital/heNanHospital.css"/>
		<script src="/js/heNanHospital/laydate.js"></script>
		<script type="text/javascript" src="/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="/js/all.js"></script>
		<script>
            var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                cityID = "<%= cityID %>",
                local_x = "<%= local_x %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityName = "<%= cityInfo.cityName %>"
                ,local_y = "<%= local_y %>",
               comeFrom = "<%= comeFrom %>",
                localFrom = "<%= locals.localFrom %>";
		</script>
		<style>
			.dialog-car-box ul li:nth-child(3) a{
				color:#000;
			}
		</style>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max">
			<!--banner图-->
			<div class="banner">
				<% include ../header.html %>
				<div class="userAvatarBox">
					<a href="javascript:;">
						<p><img src="../../images/hospital/userAvatar.png"></p>
						<p>个人中心</p>
					</a>
					<div id="userCenter" class="dialog-userCenter" style="display:none;">
						<div class="triangle"></div>
						<ul>
							<li id="record"><a href="javascript:;"><i class="icon-registeredRecord"></i>挂号记录</a></li>
							<li id="quit"><a href="javascript:;"><i class="icon-quit"></i>退出</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--挂号记录-->
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home regWH">
					<h1 class="p-q-tit"><img src="../../images/icon-return.png" class="icon-return" onclick="back()"/>预约详情</h1>
					<div class="reserve-title successMsg-remind">
						<span>挂号记录</span>
					</div>
					<!--<div class="text-list-div clearfix">-->
						<!--<label>按状态筛选：</label>-->
						<!--<span class="selectDownMenu " id="orderType" style="display: inline-block;">全部</span>-->
						<!--<img src="../../images/icon-downMenu.png" class="icon-downMenu" id="orderType_choose">-->
					<!--</div>-->
					<!--<div class="text-list-div regTime clearfix">-->
						<!--<label>预约时间：</label>-->
						<!--<span class="selectDownMenu laydate-icon"  id="start" style="display: inline-block;height: 20px;">请选择起始时间</span>-->
					<!--</div>-->
					<!--<div class="text-list-div regTime clearfix">-->
						<!--<label></label>-->
						<!--<span class="selectDownMenu laydate-icon" id="end" style="display: inline-block;height: 20px;">请选择结束时间</span>-->
					<!--</div>-->
					<!--<div class="btn-box">-->
						<!--<input type="button" value="查询" onclick="search()"/>-->
					<!--</div>-->
				</div>
				<div class="peccancyQuery userInfor onlyStyle">
					<h2 class="q-r-tit" id="recoderShu"><span></span>共 <em id="recodShu">0</em> 条挂号记录</h2>
				</div>
				<div id="recodeDetail"></div>
				<!--<div class="peccancyQuery userInfor onlyStyle">-->
					<!--<h2 class="q-r-tit hospitalTitle colorblue">已受理</h2>-->
					<!--<hr class="hrLine">-->
					<!--<div class="reservationDetails">-->
						<!--<ul>-->
							<!--<li><em></em><label>就诊人：</label><span>李璐</span></li>-->
							<!--<li><em></em><label>就诊时间：</label><span>2018-04-27&nbsp;&nbsp;14:00-16:30</span></li>-->
							<!--<li><em></em><label>医生：</label><span>卫玉荣&nbsp;&nbsp;眼科&nbsp;&nbsp;&nbsp;&nbsp;周口市中心医院</span></li>-->
							<!--<li><em></em><label>挂号费：</label><span><b>4.50</b>元 [以当天医院取号窗口为准]</span></li>-->
						<!--</ul>-->
					<!--</div>-->
					<!--<div class="btn-box">-->
						<!--<input type="button" value="取消预约" />-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="peccancyQuery userInfor onlyStyle notLine">-->
					<!--<h2 class="q-r-tit hospitalTitle">已完成</h2>-->
					<!--<hr class="hrLine">-->
					<!--<div class="reservationDetails">-->
						<!--<ul>-->
							<!--<li><em></em><label>就诊人：</label><span>李璐</span></li>-->
							<!--<li><em></em><label>就诊时间：</label><span>2018-04-27&nbsp;&nbsp;14:00-16:30</span></li>-->
							<!--<li><em></em><label>医生：</label><span>卫玉荣&nbsp;&nbsp;眼科&nbsp;&nbsp;&nbsp;&nbsp;周口市中心医院</span></li>-->
							<!--<li><em></em><label>挂号费：</label><span><b>4.50</b>元 [以当天医院取号窗口为准]</span></li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="peccancyQuery userInfor onlyStyle notLine">-->
					<!--<h2 class="q-r-tit hospitalTitle">已取消</h2>-->
					<!--<hr class="hrLine">-->
					<!--<div class="reservationDetails">-->
						<!--<ul>-->
							<!--<li><em></em><label>就诊人：</label><span>李璐</span></li>-->
							<!--<li><em></em><label>就诊时间：</label><span>2018-04-27&nbsp;&nbsp;14:00-16:30</span></li>-->
							<!--<li><em></em><label>医生：</label><span>卫玉荣&nbsp;&nbsp;眼科&nbsp;&nbsp;&nbsp;&nbsp;周口市中心医院</span></li>-->
							<!--<li><em></em><label>挂号费：</label><span><b>4.50</b>元 [以当天医院取号窗口为准]</span></li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
			</div>

			<div class="peccancyQuery userInfor onlyStyle notLine">
			    <h2 class="q-r-tit hospitalTitle" style="color:#FC791D;font-size: 0.277rem;">仅供查询最近两个月的订单，需要查更多的订单请联系人工客服查询</h2>
			</div>



			<div id="mask" class="mask" style="display: none;"></div>
			<div id="orderType_list_div" class="dialog-car-box" style="display: none;">
				<div class="dialogTitle">状态选择</div>
				<ul id="orderType_list">
					<!--<li><a href="javascript:;" data-index="-1">状态选择</a></li>-->
					<li class="dialogColor"><a href="javascript:;" data-index="0">全部</a></li>
					<!--<li><a href="javascript:;"  data-index="2,3">已受理</a></li>-->
					<!--<li class="dialogColor"><a href="javascript:;"  data-index="4,5">停诊</a></li>-->
					<li><a href="javascript:;" data-index="6">已完成订单</a></li>
					<li><a href="javascript:;" data-index="7">已取消</a></li>
					<li><a href="javascript:;" data-index="8">违约</a></li>
				</ul>
			</div>


			<!-- 查询动画提示开始-->
			<div class="mask" style="opacity: 0;" id="dialogMask" style="display: none"></div>
			<div class="dialog-tel timeM" style="text-align: center;" id="dialog" style="display: none">
				<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
				<p>加载中</p>
			</div>
			<!-- 查询动画提示结束-->

			<!--下拉动画-->
			<div id="circle" class="circle" style="display:none;">
				<img src="/images/Circle.gif" alt="" class="circleImg"  >
				<p>加载</p>
			</div>

			<!--提示语-->
			<div class="masktime" id="masktime" style="display:none;"></div>

			<div style="height: 1.3rem;"></div>
			<div class="data-sources">服务来源：河南省预约挂号服务平台</div>
		</div>
		<script src="/js/heNanHospital/registeredRecord.js"></script>
	</body>
</html>
