<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>注册</title>
    <link type="text/css" rel="stylesheet" href="../../css/news.css" />
    <link rel="stylesheet" type="text/css" href="../../css/heNanHospital/heNanHospital.css"/>
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<style>
		.ccc{
			background:#ccc!important;
		}
	</style>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>",
            comeFrom = "<%= comeFrom %>",
            local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--注册-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home heNanReg">
				<h1 class="p-q-tit"><img src="../../images/icon-return.png" class="icon-return" onclick="back()"/>注册</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>登录名</label>
					<input id="phone" type="text" placeholder="仅限手机号码注册" />
				</div>
				<div class="text-list-div phone-list-code">
					<label>图片验证码</label>
					<input id="veriCode" type="text" placeholder="图片验证码" />
					<img id="veriCodeImg" src="" class="img-code">
				</div>
				<div class="text-list-div phone-list-code">
					<label>短信验证码</label>
					<input type="text" placeholder="短信验证码" id="code"/>
					<a id="getCode" href="javascript:;" class="get-code">获取验证码</a>
				</div>
				<div class="btn-box">
					<input id="next" type="button" value="下一步" />
				</div>
				<div class="goLoginBox">已有账户，去<a  id="goLogin">登录</a></div>
			</div>
		</div>
		<!--提示语-->
		<div class="masktime" id="masktime" style="display:none;"></div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：河南省预约挂号服务平台</div>
	</div>
	<script type="text/javascript" src="/js/heNanHospital/register.js"></script>
</body>
</html>