<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>注册</title>
    <link type="text/css" rel="stylesheet" href="../../css/news.css" />
    <link rel="stylesheet" type="text/css" href="../../css/hospital/hospital.css"/>
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            comeFrom = "<%= comeFrom %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--补充注册信息;-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img src="../../images/icon-return.png" class="icon-return" onclick="back()"/>补充注册信息</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>登录名</label>
					<input type="text" placeholder="仅限手机号码注册" id="phone" readonly/>
				</div>
				<div class="text-list-div">
					<label>登录密码</label>
					<input type="password" placeholder="请输入登录密码" id="password"/>
				</div>
				<div class="text-list-div">
					<label>确认密码</label>
					<input type="password" placeholder="请再次输入登录密码" id="aginPassword"/>
				</div>
				<div class="text-list-div">
					<label>真实姓名</label>
					<input type="text" placeholder="请填写真实姓名" id="name"/>
				</div>
				<div class="text-list-div">
					<label>证件类型</label>
					<span class="aloneStyle" id="carName" data_id="1">身份证</span>
				</div>
				<div class="text-list-div">
					<label>证件号码</label>
					<input type="text" placeholder="请填写证件号码" id="nameID"/>
				</div>
				<div class="text-list-div">
					<label>邮箱</label>
					<input type="text" placeholder="请填写邮箱" id="email"/>
				</div>
				<div class="text-list-div">
					<label>性别</label>
					<div class="accounts-all">
						<span id="sexBoy"><picture class="active" sex-id="1" man-sex="男"></picture>男</span>
				    	<span id="sexGirl"><picture sex-id="0" man-sex="女"></picture>女</span>
					</div>
				</div>
				<div class="btn-box">
					<input type="button" value="注册" id="registerBtn"/>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<!--提示语-->
		<div class="masktime" id="masktime" style="display:none;"></div>
		<div class="data-sources">服务来源：河南省预约挂号服务平台</div>
	</div>
	<script src="/js/heNanHospital/registerSupplement.js"></script>
</body>
</html>