<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>预约详情</title>
		<link type="text/css" rel="stylesheet" href="../../css/news.css" />
	    <link rel="stylesheet" type="text/css" href="../../css/hospital/hospital.css"/>
	    <link rel="stylesheet" type="text/css" href="../../css/heNanHospital/heNanHospital.css"/>
		<script type="text/javascript" src="/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="/js/all.js"></script>
		<script>
            var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                cityID = "<%= cityID %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityName = "<%= cityInfo.cityName %>",
                local_x = "<%= local_x %>"
                ,local_y = "<%= local_y %>",
                localFrom = "<%= locals.localFrom %>";
		</script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max">
			<!--banner图-->
			<div class="banner">
				<% include ../header.html %>
				<div class="userAvatarBox">
					<a href="javascript:;">
						<p><img src="../../images/hospital/userAvatar.png"></p>
						<p>个人中心</p>
					</a>
					<div id="userCenter" class="dialog-userCenter" style="display:none;">
						<div class="triangle"></div>
						<ul>
							<li id="record"><a href="javascript:;"><i class="icon-registeredRecord"></i>挂号记录</a></li>
							<!--<li id="quit"><a href="javascript:;"><i class="icon-quit"></i>退出</a></li>-->
						</ul>
					</div>
				</div>
			</div>
			<!--预约详情-->
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home regWH">
					<h1 class="p-q-tit"><img src="../../images/icon-return.png" class="icon-return" onclick="back()"/>预约详情</h1>
					<div id="successReservat"></div>
					<!--<div class="reserve-title successMsg-remind">-->
						<!--<span>预约成功</span>-->
						<!--<span>短信已发送到手机186****498</span>-->
					<!--</div>-->
					<!--<div class="reservationDetails">-->
						<!--<ul>-->
							<!--<li><em></em><label>就诊人：</label><span>李璐</span></li>-->
							<!--<li><em></em><label>预约医生：</label><span>卫玉荣 （周口市中心医院-眼科）</span></li>-->
							<!--<li><em></em><label>就诊时间：</label><span>2018-04-27 14:00-16:30</span></li>-->
							<!--<li><em></em><label>门诊类型：</label><span>专家（<b>4.50</b>元）</span></li>-->
							<!--<li><em></em><label>取号时间：</label><span>就诊当天上午8：00-10：30，下午14：00-16：30；（上午号上午取，下午号下午取）</span></li>-->
							<!--<li><em></em><label>取号地点：</label><span>门诊挂号大厅预约挂号服务台</span></li>-->
						<!--</ul>-->
					<!--</div>-->
					<div class="reminder">
						<p>注意事项：</p>
						<p>1、您可以在 个人中心 我的预约信息  查看订单详情；</p>
						<p>2、如果您预约成功，由于个人原因不能就诊，请及时取消订单 ；</p>
						<p>3、如遇专家停诊，您的订单会被取消，我们会以短信通知到您，请保持手机畅通。</p>
						<p>4、每个账号每月下单和取消订单数量有上限，请按需预约，若超出上限当月将不能再次预约。</p>
						<p>5、未能取消预约，而又没有按时取号者，将被视为违约。违约达到三次，将自动被列入违约名单，系统将在半年内无法提供预约挂号服务。</p>
					</div>
					<div class="btn-box">
						<input type="button" value="再次挂号" onclick="agin()"/>
					</div>
				</div>
			</div>
			<div style="height: 1.3rem;"></div>
			<!--提示语-->
			<div class="masktime" id="masktime" style="display:none;">请输入您要举报的号码</div>
			<div class="data-sources">服务来源：河南省预约挂号服务平台</div>
		</div>
		<script src="/js/heNanHospital/reservationDetail.js"></script>
	</body>
</html>
