/*首页*/
#ValidateType {
    color: #333;
}
.text-list-div input, .text-list-div span {
    display: inline-block;
    border: none;
    font-size: 0.38rem;
    color: #b2b2b2;
    width: -webkit-calc(100% - 3rem);
    width: -moz-calc(100% - 3rem);
    width: calc(100% - 3rem);
}
.peccancyQuery.XLQuery-home .text-list-div input, .peccancyQuery.XLQuery-home .text-list-div span {
    width: -webkit-calc(100% - 3rem);
    width: -moz-calc(100% - 3rem);
    width: calc(100% - 3.3rem);
    font-size: 0.37rem;
    background: #fff;
}
.gjj-tips {
    font-size: 0.28rem;
    color: #6e6e6e;
    margin: 0.55rem 0.55rem 0.55rem;
    line-height: 0.45rem;
}
.gjj-num {
    position: relative;
}
.gjj-num .icon-downMenu {
    position: absolute;
    right: 0;
    bottom: 0.388rem;
}
.text-list-div#choose {
    line-height: 0.45rem;
}
.text-list-div.cityID .icon-downMenu{
	top: 0.75rem;
}

/*列表*/
.btn-box.bjgjj input {
    margin: 0 0.33rem 0.55rem;
    width: -webkit-calc(100% - (0.33rem*2));
    width: -moz-calc(100% - (0.33rem*2));
    width: calc(100% - (0.33rem*2));
}
.peccancyQuery.userInfor.bjgjjCon .text-list-div label{
	width: 3.7rem;
}
.peccancyQuery.userInfor.bjgjjCon .text-list-div span {
    width: -webkit-calc(100% - 3.7rem);
    width: -moz-calc(100% - 3.7rem);
    width: calc(100% - 3.7rem);
}
.peccancyQuery.userInfor.bjgjjCon.businessInfor .text-list-div span{
	width: -webkit-calc(100% - 4.4rem);
    width: -moz-calc(100% - 4.4rem);
    width: calc(100% - 4.4rem);
    margin-right: 0.694rem;
}
.peccancyQuery.userInfor.bjgjjCon.businessInfor .text-list-div .icon-downMenu{
	top: 0.55rem;
}
.query-date-title{
	background: #edefee;
	height: 1rem;
	line-height: 1rem;
	font-size: 0;
}
.query-date-title span{
	display: inline-block;
	color: #737474;
	font-size: 0.388rem;
	padding: 0 0.55rem;
}
.query-date-title span:nth-last-of-type(1){
	float: right;
}
.peccancyQuery.userInfor .text-list-div img.icon-rightArrow{
	width: 0.694rem;
    height: 0.694rem;
    position: absolute;
    right: -0.1rem;
    top: 0.51rem;
}
.peccancyQuery.userInfor .bjgjj-list .text-list-div span{
	width: -webkit-calc(100% - 4.7rem);
    width: -moz-calc(100% - 4.7rem);
    width: calc(100% - 4.7rem);
	margin-right: 0.694rem;
}
/*明细弹框*/
.businessInfor-title{
	height: 1.2rem;
    line-height: 1.2rem;
    display: inherit;
    font-size: 0.41rem;
	color: #329dfc;
	border-bottom: 1px solid #ececec;
}
.dialog-zdmx{
	top: 15%;
}
.dialog-zdmx.dialog-car-box ul li {
    margin: 0 0.55rem;
    height: auto;
    line-height: 0.5rem;
    clear: both;
    padding: 0.2rem 0 0.14rem 0;
    font-size: 0.388rem;
}
.dialog-zdmx span {
    font-size: 0.388rem;
    color: #474747;
}
.dialog-zdmx span:nth-of-type(1) {
    width: 2.8rem;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.dialog-zdmx span:nth-last-of-type(1) {
    color: #b2b2b2;
    display: inline-block;
    overflow: hidden;
    width: calc(100% - 2.8rem);
    text-align: right;
}