/*举报须知*/
.piracyTips{
	margin: 0.5rem 0.55rem 0.9rem;
}
.piracyTips p{
	color: #585858;
	font-size: 0.36rem;
	line-height: 0.694rem;
	text-indent: 0.5rem;
}
.bannerTitle{
	color: #fff;
    font-size: 0.833rem;
    font-weight: bold;
    position: absolute;
    top: 0.7rem;
    left: 1.9rem;
}
/*填写-侵权盗版举报*/
.text-list-div .required{
	color: #f41919;
    font-size: 0.5rem;
    font-weight: normal;
    line-height: 0.5rem;
    float: left;
    width: 0.4rem;
    display: inline-block;
    margin-top: 0.1rem;
    margin-left: -0.4rem;
}
.text-list-div .reportList .required{
	position: absolute;
}
.tab-content.reportList .text-list-div label{
	width: 3.3rem;
} 
.tab-content.reportList .text-list-div input{
	width: -webkit-calc(100% - 3.3rem);
	width: -moz-calc(100% - 3.3rem);
	width: calc(100% - 3.3rem);
	float: left;
}
.tab-content.reportList .text-list-div.phone-list-code{
	line-height: 0rem;
} 
.tab-content.reportList .text-list-div.phone-list-code label{
	width: 1.8rem;
}
.tab-content.reportList .text-list-div.phone-list-code input{
	width: -webkit-calc(100% - 4.1rem);
	width: -moz-calc(100% - 4.1rem);    
	width: calc(100% - 4.1rem);
}
.tab-content.reportList .text-list-div:nth-last-child(1){
	border-bottom: 1px solid #edefee;
}
.tab-content.reportList .text-list-div.phone-list-code .img-code{
	margin-top: -0.1rem;
}
.tab-content.reportList .text-list-div.attachment label{
	width: 100%;
	padding-right: 0;
}
.tab-content.reportList .text-list-div .jb-textarea{
	resize: none;
	background: #fff;
	border: 1px solid #d0d0d0;
	width: 100%;
	height: 3.02rem;
	font-family: 'microsoft yahei';
	outline:none;
	font-size: 0.33rem;
	color: #b2b2b2;
	margin-top: 0.2rem;
	float: left;
}
.tab-content.reportList .text-list-div .jb-textarea:focus{
	color: #333;
}
.upload{
	margin-top: 0.2rem;
    float: left;
    width: 100%;
    display: inline-block;
}
.tab-content.reportList .text-list-div.attachment .upload .upTxt{
	width: 5.66rem;
	height: 0.66rem;
	line-height: 0.66rem;
	background: #fff;
	border: 1px solid #d0d0d0;
	font-size: 0.33rem;
	padding-left: .3rem;
}
.tab-content.reportList .text-list-div.attachment{
	border-bottom: none;
}
.fileNone{
	opacity: 0;
}
.uploadAttachment{
	display: inline-block;
	background: #efefef;
	width: 2.22rem;
	height: 0.66rem;
	line-height: 0.66rem;
	border: 1px solid #d0d0d0;
	color: #474747;
	font-size: 0.38rem;
	text-align: center;
	float: right;
}
.attachmentFormat{
	color: #797979;
	font-size: 0.3rem;
	line-height: 0.44rem;
	float: left;
	margin-top: 0.1rem;
}
.tab-content.reportList .text-list-div.attachment.upFile{
	padding-top: 0.18rem;
    margin-bottom: -0.28rem;
    padding-bottom: 0;
}
