<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>车检计算器</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/carInspectionCalculator/carInspectionCalculator.css" />
	<link rel="stylesheet" href="/css/mobileSelect.css" />
	<link rel="stylesheet" href="/css/mobiscroll/mobiscroll.css">
	<link rel="stylesheet" href="/css/mobiscroll/mobiscroll_002.css">
	<link rel="stylesheet" href="/css/mobiscroll/mobiscroll_003.css">
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/lib/mobiscroll_002.js" ></script>
	<script type="text/javascript" src="/lib/mobiscroll.js" ></script>
	<script type="text/javascript" src="/lib/mobiscroll_003.js" ></script>
	<script type="text/javascript" src="/js/hospital/mobileSelect.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
    </script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--车检计算器-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit">车检计算器</h1>
				<hr class="hrLine">
				<div class="text-list-div downMenu-style">
					<label>车辆类型</label>
					<!--<input type="text" placeholder="请选择车辆类型" id="carinspectTrigger" main-time="" name="type"/>-->
					<span id="carinspectTrigger" class="aloneStyle" data_id="3">7座以下非营运小客车</span>
					<img src="/images/icon-downMenu.png" class="icon-downMenu" id="carinspect">
				</div>
				<div class="text-list-div downMenu-style">
					<label>注册日期</label>
					<input type="text" placeholder="请选择注册日期" id="appDate" value=""/>
					<img src="/images/icon-downMenu.png" class="icon-downMenu" id="appTime">
				</div>
				<div class="text-list-div check-style">
					<label>事故情况</label>
					<div class="accounts-all">
				    	   <span class="icon-default">
									<input type="radio" value="1" name="radio">
									<i class="icon-check"></i><em>发生过致人伤亡事故</em>
							</span>
						<span class="icon-default">
									<input type="radio" value="0" name="radio" checked>
									<i class="icon-check"></i><em>未发生过致人伤亡事故</em>
							</span>
					</div>
				</div>
				<div class="inquireTips">
					<p>注：1、如果购车后4年未登记的，不属于免检范围。</p>
					<p>2、办理车检时需提供：</p>
					<p class="textIndent">1）机动车行驶证; </p>
					<p class="textIndent">2）交通事故责任强制保险，车船税证明;</p>
					<p class="textIndent2">（结果供参考）</p>
				</div>
				<div class="btn-box">
					<input type="button" value="查询"  id="report"/>
				</div>
			</div>

			<div class="queryResult parkingQuery" id="result" style="display:none;">
				<h2 class="q-r-tit"><span></span>计算结果</h2>
				<div class="listCon" id="rq1" style="display:none;">
					<p>您的爱车属于<span>6</span>年内免检车辆。</p>
					<p>本轮检验周期内，请于<span id="jybzrq"></span></p>
					<p>前携带相关材料到车管所为爱车领取检验标志。</p>
				</div>

				<div class="listCon" id="rq2" style="display:none;">
					<p>您的爱车不属于<span>6</span>年内免检车辆。</p>
					<p>本轮检验周期内，请于<span id="jyrq"></span></p>
					<p>前至检验机构参加安全技术检验。</p>
				</div>
			</div>

		</div>
		<div style="height: 1.3rem;"></div>

		<!--手机验证提示-->
		<div id="mask" class="mask" style="display: none"></div>
		<div class="masktime" id="masktime" style="display:none;">请输入您要举报的号码</div>

		<div class="data-sources">服务来源：公安部交通管理局</div>
	</div>
	<script src="/js/carInspectionCalculator/carInspectionCalculator.js"></script>
</body>
</html>