<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>北京市备案停车场（位）查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/mobileSelect.css" />
    <link rel="stylesheet" href="/css/parkingLot.css" />
	<script type="text/javascript" language="javascript">
		var randomKey = "<%= randomKey %>"
				,userID = "<%= userID%>"
				,clientID = "<%= clientID %>",
				cityID = "<%= cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				local_x = "<%= local_x %>"
				,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
    <script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script type="text/javascript" src="/lib/mobileSelect.js" ></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--北京市备案停车场（位）查询-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">北京市备案停车场（位）查询</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>选择区域</label>
					<span id="trigger" class="trigger">全部</span>
					<!--<img src="../images/icon-downMenu.png" class="icon-downMenu">-->
				</div>
				<div class="text-list-div">
					<label>停车场站名称</label>
					<input id="tcczmc" type="text" placeholder="请输入停车场站名称" />
				</div>
				<!--<div class="text-list-div text-list-code">-->
					<!--<label>验证码</label>-->
					<!--<input type="text" placeholder="请输入验证码" />-->
					<!--<img src="../images/code.png" class="img-code">-->
				<!--</div>-->
				<div class="btn-box">
					<input id="park_search" type="button" value="查询" />
				</div>
			</div>
		</div>
		<!--查询无结果-->
		<div id="park_result_err" class="login-tips font28" style="display: none;">
			<span></span>提示：没有符合条件的数据
		</div>
		<!--查询结果页-->
		<div id="park_result" class="queryAll-box" style="display: none">
			<div class="queryResult parkingQuery">
				<h2 class="q-r-tit"><span></span>查询结果</h2>
				<div id="park_result_count" class="parkingResult">停车场站信息： 3个</div>
			</div>
			<div id="park_result_list">
				<div class="peccancyQuery userInfor onlyStyle">
					<h2 class="q-r-tit parking-title"><small>北京清华长康医院一期停车场</small><label>昌平区</label></h2>
					<hr class="hrLine">
					<div class="tab-content">
						<div class="text-list-div clearfix">
							<label>经营企业：</label>
							<span>北京青海发万利商贸有限公司</span>
						</div>
						<div class="text-list-div clearfix">
							<label>车位信息：</label>
							<span>总车位：481个<br>（非机械车位：481个）</span>
						</div>
						<div class="text-list-div clearfix">
							<label>地区类别：</label>
							<span>二类区</span>
						</div>
					</div>
				</div>
			</div>
			<div id="park_loadMore" class="loadingMore" style="display: none">加载更多···</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：北京市交通委员会</div>
	</div>
	<div id="park_result_list_temple"style="display: none">
		<div class="peccancyQuery userInfor onlyStyle">
			<h2 class="q-r-tit parking-title"><small>${tccmc}</small><label>${ssqx}</label></h2>
			<hr class="hrLine">
			<div class="tab-content">
				<div class="text-list-div clearfix">
					<label>经营企业：</label>
					<span>${tccjyqy}</span>
				</div>
				<div class="text-list-div clearfix">
					<label>车位信息：</label>
					<span>${cwxx}</span>
				</div>
				<div class="text-list-div clearfix">
					<label>地区类别：</label>
					<span>${dqlb}</span>
				</div>
			</div>
		</div>
	</div>
	<!-- 查询动画提示开始-->
	<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
	<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
		<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
		<p>加载中</p>
	</div>
	<!-- 查询动画提示结束-->
	<div class="masktime" id="masktime" style="display:none;"></div>
	
<!--区域选择 start-->
<script type="text/javascript">
//var weekdayArr=['全部','东城区','西城区','海淀区','朝阳区','丰台区','门头沟区','石景山区','房山区','通州区','顺义区','昌平区','大兴区','怀柔区','平谷区','延庆区','密云区'];
var weekdayArr=[
	{name:"全部",id:""},
	{name:"东城区",id:"DC"},
	{name:"西城区",id:"XC"},
	{name:"海淀区",id:"HD"},
	{name:"朝阳区",id:"CY"},
	{name:"丰台区",id:"FT"},
	{name:"门头沟区",id:"WTG"},
	{name:"石景山区",id:"SJS"},
	{name:"房山区",id:"FS"},
	{name:"通州区",id:"TZ"},
	{name:"顺义区",id:"SY"},
	{name:"昌平区",id:"CP"},
	{name:"大兴区",id:"DX"},
	{name:"怀柔区",id:"HR"},
	{name:"平谷区",id:"PG"},
	{name:"延庆区",id:"YQ"},
	{name:"密云区",id:"MY"},
	{name:"亦庄区",id:"YZ"}
];

var mobileSelect1 = new MobileSelect({
    trigger: '#trigger', 
    //title: '标题',  
    wheels: [
                {data: weekdayArr}
            ],
    callback: function () {
    	$('#trigger').css("color","#474747")
    }
    // position:[0]初始化定位
})
$(function(){
	$("#icon-trigger").on("click",function(){
        $(".mobileSelect").addClass("mobileSelect-show");
    })
})
</script>
<!--区域选择 end-->
	<script type="text/javascript" src="/js/parkinglot/parkingLot.js" ></script>
</body>
</html>