<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>5A旅游景区查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" src="/lib/axios.js"></script>
	<script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
    <style>
	    .tab-content.inforConfirm .text-list-div label {
		    width: 2.9rem;
		}
    	.tab-content.inforConfirm .text-list-div span {
	    width: -webkit-calc(100% - 3.8rem);
	    width: -moz-calc(100% - 3.8rem);
	    width: calc(100% - 3.8rem);
	    text-align: left;
	    float: left;
	}
	.level5{
		font-style:normal;
		color: #ef8935;
		font-size: 0.3rem;
		float: right;
    	line-height: 0.5rem;
	}
		[v-cloak]{
			display: none;
		}
    </style>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" v-cloak id="maxapp">
		<!--banner图-->
		<% include ../header.html %>
		<!--5A旅游景区查询-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" @click="back()"/>5A旅游景区查询</h1>
				<hr class="hrLine">
				<h2 class="q-r-tit htTitke"><span></span>5A旅游景区查询结果</h2>
			</div>

			<div class="peccancyQuery userInfor onlyStyle" v-for="(item,index) in resultData" v-bind:key='item.id' v-if="item.name">
				<div class="tab-content inforConfirm">
					<div class="text-list-div iconList clearfix">
						<label>景区名称：</label>
						<span>{{item.name}}</span>
						<em class="level5">{{item.level}}</em>
					</div>
					<div class="text-list-div clearfix">
						<label>所属地区：</label>
						<span>{{item.region}}</span>
					</div>
					<div class="text-list-div clearfix">
						<label>年份：</label>
						<span>{{item.year}}</span>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 1.7rem;"></div>
		<!-- 查询动画提示开始-->
		<div class="mask" style="opacity: 0;" id="dialogMask" v-if="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;" id="dialog" v-if="dialogMask">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- 查询动画提示结束-->
		<div class="data-sources">服务来源：中华人民共和国文化和旅游部</div>
	</div>
	<script src="/js/touristAttraction5A/queryResults.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>