<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>预约挂号</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css"/>
    <link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/mobileSelect.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sDHospital/sDHospital.css"/>
    <script type="text/javascript" src="/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/lib/mobileSelect.js"></script>
    <script type="text/javascript">
        var randomKey = "<%= randomKey %>",
            userID = "<%= userID%>",
            clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>",
            citySRC = "<%= cityInfo.citySRC %>",
            local_y = "<%= local_y %>",
            scheduleAmPmId = localStorage.getItem('scheduleAmPmId') || "<%= locals.scheduleAmPmId %>",
            docId = "<%= locals.docId %>" || localStorage.getItem('docId'),
            isPatientCard = "<%= locals.isPatientCard %>" || localStorage.getItem('isPatientCard'),
            localFrom = "<%= locals.localFrom %>";
        localStorage.setItem('scheduleAmPmId', scheduleAmPmId);
        localStorage.setItem('docId', docId);
        localStorage.setItem('isPatientCard', isPatientCard);
    </script>
    <script type="text/javascript" src="/js/sDHospital/appointmenRegistration.js"></script>
    <script type="text/javascript" src="/js/sDHospital/toUserCenter.js"></script>
    <script language="JavaScript">var _trackDataType = 'web';
    var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615"
            src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
<div class="max">
    <!--banner图-->
    <div class="banner">
        <% include ../header.html %>
        <div class="userAvatarBox">
            <a onclick="toUserCenter('appointmenRegistration')" href="javascript:;">
                <p><img src="/images/hospital/userAvatar.png"></p>
                <p>个人中心</p>
            </a>
        </div>
    </div>
    <!--科室挂号-->
    <div class="warpBox">
        <div class="peccancyQuery XLQuery-home regWH">
            <h1 class="p-q-tit"><img id="back" src="/images/icon-return.png" class="icon-return"/>预约挂号</h1>
            <hr class="hrLine">
            <dl class="hosList hNHosList">
                <dt><a href="javascript:;"><img id="docPic" src=""
                                                onerror="this.src='http://www.sd12320.gov.cn:80/images/doctor.jpg'"
                                                class="photo"></a></dt>
                <dd class="y-g">
                    <p id="hosName" class="nameTitle"></p>
                    <p class="nameOffice nameJobTitle"><span id="docName"></span></p>
                    <p class="time"><span id="jiuzhenshijian"></span><span id="opTypeText"></span><span
                            id="reservation_price"></span></p>
                </dd>
            </dl>
        </div>
        <div class="peccancyQuery userInfor onlyStyle">
            <h2 class="q-r-tit"><span></span>预约挂号</h2>
            <hr class="hrLine">
            <div class="tab-content inforConfirm heNanReg">
                <div class="text-list-div clearfix">
                    <label>就诊时间：</label>
                    <span id="timeTrigger" class="selectDownMenu">请选择就诊时间</span>
                    <img src="/images/icon-downMenu.png" class="icon-downMenu">
                </div>
                <div class="text-list-div inforCheck-style">
                    <label>就诊人：</label>
                    <div id="result_div" class="accounts-all clearfix">
                        <!--<div class="jiuZList">-->
                        <!--<span class="icon-default">-->
                        <!--<i><img src="/images/icon-yh-check.png"></i>张三-->
                        <!--</span>-->
                        <!--<div class="y-g-tel">手机：186****2498</div>-->
                        <!--<div class="y-g-ID">身份证：4114**********1621</div>-->
                        <!--</div>-->
                        <!--<div class="jiuZList">-->
                        <!--<span class="icon-default">-->
                        <!--<i><img src="/images/icon-checkBox-default.png"></i>李四-->
                        <!--</span>-->
                        <!--<div class="y-g-tel">手机：186****2498</div>-->
                        <!--<div class="y-g-ID">身份证：4114**********1621</div>-->
                        <!--</div>-->
                    </div>
                    <div id="result_template_div" style="display: none">
                        <div class="jiuZList" id="${treatid}">
                            <span id="treatname_${treatid}" class="icon-default"><img id="img_${treatid}"
                                                                                      src="/images/icon-checkBox-default.png">${treatname}</span>
                            <div id="mobile_${treatid}" class="y-g-tel">手机：${mobile}</div>
                            <div id="idnum_${treatid}" class="y-g-ID">身份证：${idnum}</div>
                        </div>
                    </div>
                    <div id="addPatient" class="addPatient">+ 添加就诊人</div>
                </div>
                <div id="isCardNeed" class="text-list-div borderHava clearfix" style="display: none">
                    <label>就诊卡号：</label>
                    <input id="card" type="text" placeholder="请输入就诊人就诊卡号"/>
                </div>
            </div>
            <div class="reminder" id="isCardNeed_tip" style="display: none">
                <p>温馨提醒：</p>
                <p>如果没有就诊卡，请先到医院办理就诊卡.</p>
            </div>
            <div class="agreeOK" style="display: none">
                <span id="agreeSelect" class="active"></span>我已阅读并同意<a href="javascript:;">《预约诊疗服务系统应用须知》</a>
            </div>
            <div class="btn-box">
                <input id="registerSubmit" type="button" value="确认预约"/>
            </div>
        </div>
    </div>
    <!-- 查询动画提示开始-->
    <div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
    <div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
        <img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
        <p>加载中</p>
    </div>
    <!-- 查询动画提示结束-->
    <!-- 查询动画提示开始-->
    <div class="mask" style="opacity: 0;display: none" id="dialogMask_2"></div>
    <div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog_2">
        <img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
        <p>加载中</p>
    </div>
    <!-- 查询动画提示结束-->
    <div class="masktime" id="masktime" style="display:none;"></div>
    <div style="height: 1.3rem;"></div>
    <div class="data-sources">服务来源：山东省预约诊疗服务系统</div>
</div>
</body>
<script type="text/javascript" src="/js/all.js"></script>
<script>
    $("#agreeSelect").on("click", function () {
        $(this).toggleClass("active");
    })
</script>
</html>
