<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>医生简介</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sDHospital/sDHospital.css"/>
    <script type="text/javascript" src="/js/all.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	<script  type="text/javascript">
		var randomKey = "<%= randomKey %>"
				,userID = "<%= userID%>"
				,clientID = "<%= clientID %>",
				cityID = "<%= cityID %>",
				local_x = "<%= local_x %>"
				,local_y = "<%= local_y %>",
				citySRC = "<%= cityInfo.citySRC %>",
				localFrom = "<%= locals.localFrom %>";
	</script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox">
				<a id="toUserCenter" href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
			</div>
		</div>
		<!--科室挂号-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit">
					<img src="/images/icon-return.png" class="icon-return"/>
					山东大学齐鲁医院--<span class="color0083e0">眼科</span>
				</h1>
				<hr class="hrLine">
				<dl class="hosList hNHosList sDDlList">
					<dt><a href="javascript:;"><img src="/images/heNanHospital/photo.jpg" class="photo"></a></dt>
					<dd>
						<p class="nameOffice"><span>卫玉荣</span>副主任医师</p>
						<p class="introduce">长期从事呼吸内科临床工作，在治疗急性肺栓塞、急慢性呼吸衰竭、肺部感染、肺癌、支气管哮喘、胸膜疾病等方面积累了丰富的经验。并进行了电子支气管镜检查、肺泡灌洗术、深静脉置管术、经皮肺活检术、有创及无创呼吸机序贯治疗呼吸衰竭治疗技术。</p>
					</dd>
				</dl>
			</div>
			<div class="peccancyQuery userInfor onlyStyle clearfix">
				<div class="reservationDate sDTableDiv spacTop">
					<table class="reservationList sDTableData">
						<tr>
							<th>排班</th>
							<th>周六<br>04-29</th>
							<th>周日<br>04-30</th>
							<th>周一<br>05-01</th>
							<th>周二<br>05-02</th>
							<th>周三<br>05-03</th>
							<th>周四<br>05-04</th>
							<th>周五<br>05-05</th>
						</tr>
						<tr>
							<td>上午</td>
							<td class="byAppointment">
								<span>预约</span>
								<p class="remainingNumber">2/30</p>
							</td>
							<td class="byAppointment">
								<span>预约</span>
								<p class="remainingNumber">2/30</p>
							</td>
							<td class="byAppointment">
								<span>预约</span>
								<p class="remainingNumber">2/30</p>
							</td>
							<td class="byAppointment">
								<span>预约</span>
								<p class="remainingNumber">2/30</p>
							</td>
							<td class="byAppointment">
								<span>预约</span>
								<p class="remainingNumber">2/30</p>
							</td>
							<td class="byAppointment">
								<span>预约</span>
								<p class="remainingNumber">2/30</p>
							</td>
							<td class="byAppointment">
								<span>预约</span>
								<p class="remainingNumber">2/30</p>
							</td>
						</tr>
						<tr>
							<td>下午</td>
							<td class="expiry"><span>约满</span></td>
							<td class="stopY"><span>停约</span></td>
							<td class="stopZ"><span>停诊</span></td>
							<td class="expiry"><span>约满</span></td>
							<td class="stopY"><span>停约</span></td>
							<td class="stopZ"><span>停诊</span></td>
							<td class="expiry"><span>约满</span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：山东省预约诊疗服务系统</div>
	</div>
</body>
</html>