<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>注册</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/heNanHospital/heNanHospital.css"/>
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script  type="text/javascript">
		var randomKey = "<%= randomKey %>",
				userID = "<%= userID%>",
				clientID = "<%= clientID %>",
				cityID = "<%= cityID %>",
				local_x = "<%= local_x %>",
        citySRC = "<%= cityInfo.citySRC %>",
				local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/sDHospital/forgetPwd.js" ></script>
	<script type="text/javascript" src="/js/sDHospital/toUserCenter.js" ></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox">
			<a onclick="toUserCenter('forgetPwd')" href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
			</div>
		</div>
		<!--注册-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home heNanReg">
				<h1 class="p-q-tit"><img id="back" src="/images/icon-return.png" class="icon-return"/>忘记密码</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>手机号码</label>
					<input id="mobile" type="text" placeholder="请输入手机号码" />
				</div>
				<div class="text-list-div phone-list-code">
					<label>短信验证码</label>
					<input id="code" type="text" placeholder="请输入验证码" />
					<a id="getCode" href="javascript:;" class="get-code">获取验证码</a>
				</div>
				<div class="text-list-div">
					<label>新密码</label>
					<input id="newPassword" type="password" placeholder="请输入新密码" />
				</div>
				<div class="text-list-div">
					<label>确认密码</label>
					<input id="confirmPassword" type="password" placeholder="请再次输入新密码" />
				</div>
				<div class="btn-box">
					<input id="submit" type="button" value="确定" />
				</div>
			</div>
		</div>
		<!-- 查询动画提示开始-->
		<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- 查询动画提示结束-->
		<div class="masktime" id="masktime" style="display:none;"></div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：山东省预约诊疗服务系统</div>
	</div>
</body>
</html>