<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>个人中心</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css"/>
    <link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sDHospital/sDHospital.css">
    <link rel="stylesheet" href="/css/mobileSelect.css"/>
    <link rel="stylesheet" href="/css/mobiscroll/mobiscroll.css">
    <link rel="stylesheet" href="/css/mobiscroll/mobiscroll_002.css">
    <link rel="stylesheet" href="/css/mobiscroll/mobiscroll_003.css">
    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/mobileSelect.js"></script>
    <script type="text/javascript" src="/lib/mobiscroll_002.js"></script>
    <script type="text/javascript" src="/lib/mobiscroll.js"></script>
    <script type="text/javascript" src="/lib/mobiscroll_003.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script type="text/javascript">
        var randomKey = "<%= randomKey %>",
            userID = "<%= userID%>",
            clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>",
            citySRC = "<%= cityInfo.citySRC %>",
            local_y = "<%= local_y %>",
            comeFrom = "<%= locals.comeFrom %>" || localStorage.getItem('comeFrom'),
            localFrom = "<%= locals.localFrom %>";
        localStorage.setItem('comeFrom', comeFrom);
    </script>
    <script type="text/javascript" src="/js/sDHospital/personalCenter.js"></script>

    <style>
        .sDHospital_state {
            display: inline-block;
        }
    </style>
    <script language="JavaScript">var _trackDataType = 'web';
    var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615"
            src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
<div class="max">
    <!--banner图-->
    <% include ../header.html %>
    <!--挂号记录-->
    <div class="warpBox">
        <div class="peccancyQuery XLQuery-home regWH">
            <h1 class="p-q-tit"><img id="back" src="/images/icon-return.png" class="icon-return"/>个人中心</h1>
            <div class="reserve-title successMsg-remind">
                <span>我的预约单</span>
            </div>
            <div class="text-list-div clearfix">
                <label>按状态筛选：</label>
                <span id="state" class="selectDownMenu sDHospital_state" data_id="1">已预约</span>
                <img id="stateImg" src="/images/icon-downMenu.png" class="icon-downMenu">
            </div>
            <div class="text-list-div regTime clearfix">
                <label>预约时间：</label>
                <input id="startTime" type="text" placeholder="请选择起始时间" readonly>
                <img id="startTimeImg" src="/images/heNanHospital/calendar.png" class="icon-calendar">
            </div>
            <div class="text-list-div regTime clearfix">
                <label></label>
                <input id="endTime" type="text" placeholder="请选择结束时间" readonly>
                <img id="endTimeImg" src="/images/heNanHospital/calendar.png" class="icon-calendar">
            </div>
            <div class="btn-box">
                <input id="search" type="button" value="查询"/>
            </div>
        </div>
        <div id="totalCount_div" class="peccancyQuery userInfor onlyStyle" style="display: none">
            <h2 class="q-r-tit" id="totalCount"></h2>
        </div>
        <div id="result_div"></div>
        <div id="result_template_cancel" style="display: none">
            <div class="peccancyQuery userInfor onlyStyle">
                <h2 class="q-r-tit hospitalTitle sDTit">${hosName}<em class="alreadyReserved colorBlue">${state}</em>
                </h2>
                <hr class="hrLine">
                <div class="reservationDetails">
                    <ul>
                        <li><em></em><label>就诊日期：</label><span>${appDate}</span></li>
                        <li><em></em><label>医生：</label><span>${doctorName}</span></li>
                        <li><em></em><label>就诊科室：</label><span>${deptName}</span></li>
                        <li><em></em><label>就诊人：</label><span>${treatName}</span></li>
                        <li><em></em><label>门诊诊查费：</label><span><b>${registryAmt}</b>元 [以当天医院取号窗口为准]</span></li>
                    </ul>
                </div>
                <div class="btn-box">
                    <input id="cancel_${id}" type="button" value="取消预约"/>
                </div>
            </div>
        </div>
        <div id="result_template_other" style="display: none">
            <div class="peccancyQuery userInfor onlyStyle">
                <h2 class="q-r-tit hospitalTitle sDTit">${hosName}<em class="alreadyReserved colorBlue">${state}</em>
                </h2>
                <hr class="hrLine">
                <div class="reservationDetails">
                    <ul>
                        <li><em></em><label>就诊日期：</label><span>${appDate}</span></li>
                        <li><em></em><label>医生：</label><span>${doctorName}</span></li>
                        <li><em></em><label>就诊科室：</label><span>${deptName}</span></li>
                        <li><em></em><label>就诊人：</label><span>${treatName}</span></li>
                        <li><em></em><label>门诊诊查费：</label><span><b>${registryAmt}</b>元 [以当天医院取号窗口为准]</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--取消预约弹框-->
    <div id="cancel_mask" class="mask" style="display: none;"></div>
    <div id="cancel_tip" class="dialog-cancel" style="display: none;">
        <div class="titTel">请确定是否取消预约？</div>
        <div class="btn-tel">
            <a id="cancel_close" href="javascript:;">取消</a>
            <a id="cancel_yes" href="javascript:;">确定</a>
        </div>
    </div>
    <!-- 查询动画提示开始-->
    <div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
    <div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
        <img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
        <p>加载中</p>
    </div>
    <!-- 查询动画提示结束-->
    <div class="masktime" id="masktime" style="display:none;"></div>
    <div style="height: 1.3rem;"></div>
    <div class="data-sources">服务来源：山东省预约诊疗服务系统</div>
</div>
</body>
</html>
