<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>挂号</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css"/>
    <link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sDHospital/sDHospital.css"/>
    <script type="text/javascript" src="/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script type="text/javascript">
        var randomKey = "<%= randomKey %>",
            userID = "<%= userID%>",
            clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>",
            citySRC = "<%= cityInfo.citySRC %>",
            local_y = "<%= local_y %>",
            hospitalCode = "<%= locals.hospitalCode %>" || localStorage.getItem('hospitalCode'),
            deptId = "<%= locals.deptId %>" || localStorage.getItem('deptId'),
            branchId = "<%= locals.branchId %>" || localStorage.getItem('branchId'),
            hospitalID = "<%= locals.hospitalID %>" || localStorage.getItem('hospitalID'),
            localFrom = "<%= locals.localFrom %>";
        localStorage.setItem('hospitalID', hospitalID);
        localStorage.setItem('hospitalCode', hospitalCode);
        localStorage.setItem('branchId', branchId);
        localStorage.setItem('deptId', deptId);
    </script>
    <script type="text/javascript" src="/js/sDHospital/registered.js"></script>
    <script type="text/javascript" src="/js/sDHospital/toUserCenter.js"></script>
    <script language="JavaScript">var _trackDataType = 'web';
    var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615"
            src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
<div class="max">
    <!--banner图-->
    <div class="banner">
        <% include ../header.html %>
        <div class="userAvatarBox">
            <a onclick="toUserCenter('registered')" href="javascript:;">
                <p><img src="/images/hospital/userAvatar.png"></p>
                <p>个人中心</p>
            </a>
        </div>
    </div>
    <!--科室挂号-->
    <div class="warpBox">
        <div class="peccancyQuery XLQuery-home regWH">
            <h1 class="p-q-tit">
                <img id="back" src="/images/icon-return.png" class="icon-return"/>
                <span id="hosName"></span>--<span class="color0083e0" id="deptName"></span>
            </h1>
            <div class="notice registerNotice sDReg" id="ruleContent">
            </div>
        </div>
        <div id="result_div"></div>
        <div id="result_template_div" style="display: none">
            <dl class="hosList hNHosList">
                <dt><a href="javascript:;">${img_div}</a></dt>
                <dd>
                    <p class="nameOffice"><span>${docName}</span>${docTitle}</p>
                    <p class="introduce">擅长：${docIntro}</p>
                </dd>
            </dl>
        </div>
    </div>
    <!--<div class="peccancyQuery userInfor onlyStyle clearfix">-->
    <!--<dl class="hosList hNHosList">-->
    <!--<dt><a href="javascript:;"><img src="/images/heNanHospital/photo.jpg" class="photo"></a></dt>-->
    <!--<dd>-->
    <!--<p class="nameOffice"><span>卫玉荣</span>副主任医师</p>-->
    <!--<p class="introduce">擅长：主要从事白内障、眼底病及眼部美容整形和青光眼准分子的近视治疗</p>-->
    <!--</dd>-->
    <!--</dl>-->
    <!--<div class="reservationDate sDTableDiv">-->
    <!--<table class="reservationList sDTableData">-->
    <!--<tr id="weekDayUl_1">-->
    <!--<th>排班</th>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>上午</td>-->
    <!--<td class="byAppointment">-->
    <!--<span>预约</span>-->
    <!--<p class="remainingNumber">2/30</p>-->
    <!--</td>-->
    <!--<td class="byAppointment">-->
    <!--<span>预约</span>-->
    <!--<p class="remainingNumber">2/30</p>-->
    <!--</td>-->
    <!--<td class="byAppointment">-->
    <!--<span>预约</span>-->
    <!--<p class="remainingNumber">2/30</p>-->
    <!--</td>-->
    <!--<td class="byAppointment">-->
    <!--<span>预约</span>-->
    <!--<p class="remainingNumber">2/30</p>-->
    <!--</td>-->
    <!--<td class="byAppointment">-->
    <!--<span>预约</span>-->
    <!--<p class="remainingNumber">2/30</p>-->
    <!--</td>-->
    <!--<td class="byAppointment">-->
    <!--<span>预约</span>-->
    <!--<p class="remainingNumber">2/30</p>-->
    <!--</td>-->
    <!--<td class="byAppointment">-->
    <!--<span>预约</span>-->
    <!--<p class="remainingNumber">2/30</p>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>下午</td>-->
    <!--<td class="expiry"><span>约满</span></td>-->
    <!--<td class="stopY"><span>停约</span></td>-->
    <!--<td class="stopZ"><span>停诊</span></td>-->
    <!--<td class="expiry"><span>约满</span></td>-->
    <!--<td class="stopY"><span>停约</span></td>-->
    <!--<td class="stopZ"><span>停诊</span></td>-->
    <!--<td class="expiry"><span>约满</span></td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
</div>
<!-- 查询动画提示开始-->
<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
    <img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
    <p>加载中</p>
</div>
<!-- 查询动画提示结束-->
<div class="masktime" id="masktime" style="display:none;"></div>
<div style="height: 1.3rem;"></div>
<div class="data-sources">服务来源：山东省预约诊疗服务系统</div>
</div>
</body>
</html>