<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>预约失败</title>
    <link rel="stylesheet" href="/css/news.css"/>
    <link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sDHospital/sDHospital.css"/>
    <script type="text/javascript" src="/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script type="text/javascript">
        var randomKey = "<%= randomKey %>",
            userID = "<%= userID%>",
            clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>",
            citySRC = "<%= cityInfo.citySRC %>",
            local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
    </script>
    <script type="text/javascript" src="/js/sDHospital/toUserCenter.js"></script>
    <script language="JavaScript">var _trackDataType = 'web';
    var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615"
            src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
<div class="max">
    <!--banner图-->
    <div class="banner">
        <% include ../header.html %>
        <div class="userAvatarBox">
            <a onclick="toUserCenter('reserveFailure')" href="javascript:;">
                <p><img src="/images/hospital/userAvatar.png"></p>
                <p>个人中心</p>
            </a>
        </div>
    </div>
    <!--预约详情-->
    <div class="warpBox">
        <div class="peccancyQuery userInfor">
            <h1 class="p-q-tit"><img id="back" src="/images/icon-return.png" class="icon-return"/>预约挂号</h1>
            <hr class="hrLine">
            <div class="notFound">
                <div class="img-box"><img src="/images/notFound.png"></div>
                <div class="notF-infor">预约失败，请稍后重新预约！</div>
            </div>
            <div class="login-tips XL-query notF-tips">
                <p>温馨提示：</p>
                <p>1、同一个患者同一个科室同一天可预约1次!</p>
                <p>2、如还出现该问题，可拨打医院联系电话：0531-68777266 。</p>
            </div>
        </div>
    </div>
    <div style="height: 1.3rem;"></div>
    <div class="data-sources">服务来源：山东省预约诊疗服务系统</div>
</div>
</body>
<script type="text/javascript">
    $("#back").click(function () {
        window.location.href = "/sDHospital?page=appointmenRegistration&randomKey="
            + randomKey + "&userID=" + userID + "&clientID=" + clientID + "&cityID=" + cityID + "&local_x=" + local_x
            + "&local_y=" + local_y;
    })
</script>
</html>