<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>预约详情</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css"/>
    <link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sDHospital/sDHospital.css"/>
    <script type="text/javascript" src="/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script type="text/javascript">
        var randomKey = "<%= randomKey %>",
            userID = "<%= userID%>",
            clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>",
            citySRC = "<%= cityInfo.citySRC %>",
            local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
    </script>
    <script type="text/javascript" src="/js/sDHospital/toUserCenter.js"></script>
    <script language="JavaScript">var _trackDataType = 'web';
    var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615"
            src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
<div class="max">
    <!--banner图-->
    <div class="banner">
        <% include ../header.html %>
        <div class="userAvatarBox">
            <a onclick="toUserCenter('reserveSuccess')" href="javascript:;">
                <p><img src="/images/hospital/userAvatar.png"></p>
                <p>个人中心</p>
            </a>
        </div>
    </div>
    <!--预约详情-->
    <div class="warpBox">
        <div class="peccancyQuery XLQuery-home regWH">
            <h1 class="p-q-tit"><img id="back" src="/images/icon-return.png" class="icon-return"/>预约挂号</h1>
            <div class="reserve-title successMsg-remind">
                <span>恭喜您 预约成功！</span>
            </div>
            <div class="reservationDetails">
                <ul>
                    <li><em></em><label>就诊人：</label><span id="patientName"></span></li>
                    <li><em></em><label>预约医生：</label><span class="color0083e0" id="docName"></span></li>
                    <li><em></em><label>就诊时间：</label><span id="time"></span></li>
                    <li><em></em><label>门诊类型：</label><span id="text"></span></li>
                </ul>
            </div>
            <div class="reminder">
                <p>注意事项：</p>
                <p>1、您可以在我的预约单查看订单详情。</p>
                <p>2、如果您预约成功，由于个人原因不能就诊，请及时取消订单 。</p>
                <p>3、详细的取号就诊流程以各个医院的就诊流程为准。</p>
            </div>
        </div>
    </div>
    <div style="height: 1.3rem;"></div>
    <div class="data-sources">服务来源：山东省预约诊疗服务系统</div>
</div>
</body>
<script type="text/javascript">
    $("#patientName").html(localStorage.getItem('patientName'));
    $("#docName").html(localStorage.getItem('docName'));
    $("#text").html(localStorage.getItem('text'));
    $("#time").html(localStorage.getItem('time'));
    $("#back").click(function () {
        window.location.href = "/sDHospital?page=appointmenRegistration&randomKey="
            + randomKey + "&userID=" + userID + "&clientID=" + clientID + "&cityID=" + cityID + "&local_x=" + local_x
            + "&local_y=" + local_y;
    })
</script>
</html>
