<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>山东省预约挂号平台</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css"/>
    <link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/heNanHospital/heNanHospital.css"/>
    <script type="text/javascript" src="/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script type="text/javascript">
        var randomKey = "<%= randomKey %>",
            userID = "<%= userID%>",
            clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>",
            local_y = "<%= local_y %>",
            citySRC = "<%= cityInfo.citySRC %>",
            USERNAME = "<%= locals.userName %>",
            PASSWORD = "<%= locals.password %>",
            localFrom = "<%= locals.localFrom %>";
        localStorage.setItem('hospitalID', "");
        localStorage.setItem('hospitalCode', "");
        localStorage.setItem('branchId', "");
        if (USERNAME) {
            sessionStorage.setItem('sDHospital_USERNAME', USERNAME);
        }
        if (PASSWORD) {
            sessionStorage.setItem('sDHospital_PASSWORD', PASSWORD);
        }
    </script>

    <script language="JavaScript">var _trackDataType = 'web';
    var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615"
            src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
<div class="max">
    <!--banner图-->
    <div class="banner">
        <% include ../header.html %>
        <div class="userAvatarBox">
            <a onclick="toUserCenter('sDHospital')" href="javascript:;">
                <p><img src="/images/hospital/userAvatar.png"></p>
                <p>个人中心</p>
            </a>
        </div>
    </div>
    <!--北京市预约挂号-->
    <div class="warpBox">
        <div class="peccancyQuery XLQuery-home regWH">
            <h1 class="p-q-tit">山东省预约挂号平台</h1>
            <hr class="hrLine">
            <div class="text-list-div">
                <label>医院名称</label>
                <input id="checkStr" type="text" placeholder="请输入医院名称"/>
            </div>
            <div class="btn-box">
                <input id="hospSearch" type="button" value="查询"/>
            </div>
        </div>
        <!--查询无结果-->
        <div id="noResult" class="peccancyQuery userInfor onlyStyle" style="display: none;">
            <h2 class="q-r-tit"><span></span>没有该医院信息!</h2>
        </div>
        <div class="">
            <div id="searchCount" class="peccancyQuery userInfor onlyStyle" style="display: none;">
                <h2 class="q-r-tit"><span></span>共查询到<strong class="searchNumber" id="count"></strong>家医院</h2>
            </div>
            <div id="hotHosp" class="peccancyQuery userInfor onlyStyle">
                <h2 class="q-r-tit"><span></span>热门医院</h2>
            </div>
            <div id="result_div"></div>
            <div id="search_div"></div>
            <div id="result_template_div" style="display: none">
                <div class="peccancyQuery userInfor onlyStyle">
                    <dl class="hosList hNHosList" onclick="renderTo('${renderType}')">
                        <dt><a href="javascript:;">${img_div}</a></dt>
                        <dd>
                            <p class="title">${NAME}</p>
                            <p class="time"><span>${LVL}</span><span>${TYPE}</span><span>已预约${NUMS}人次</span></p>
                            <p class="address"><i class="icon-address"></i>${ADDR}</p>
                            <p class="tel"><i class="icon-tel"></i>电话：${TEL}</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!-- 查询动画提示开始-->
    <div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
    <div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
        <img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
        <p>加载中</p>
    </div>
    <!-- 查询动画提示结束-->
    <div class="masktime" id="masktime" style="display:none;"></div>
    <div style="height: 1.3rem;"></div>
    <div class="data-sources">服务来源：山东省预约诊疗服务系统</div>
</div>
<script type="text/javascript" src="/js/sDHospital/sDHospital.js"></script>
<script type="text/javascript" src="/js/sDHospital/toUserCenter.js"></script>
</body>
</html>