<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>中国国家博物馆网上预约查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" language="javascript">
		var randomKey = "<%= randomKey %>"
				,userID = "<%= userID%>"
				,clientID = "<%= clientID %>",
				cityID = "<%= cityID %>",
				local_x = "<%= local_x %>"
				,local_y = "<%= local_y %>",
            	localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<img src="/images/beijing.png">
		</div>
		<!--中国国家博物馆网上预约查询-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">中国国家博物馆网上预约查询</h1>
				<hr class="hrLine">
				<div class="btn-box bj-insuranceSystem">
					<input type="button" value="网上预约" id="toRegisterPage" />
					<input type="button" value="预约查询" id="toSearchPage" />
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国国家博物馆</div>
	</div>
	<script>
		$('#toRegisterPage').on('click',function () {
			window.location.href = "/museum?page=onlineBookingSelection&randomKey="+randomKey+"&userID="+userID.trim()+"&clientID="+clientID.trim()+"&cityID="+cityID.trim()+"&local_x="+local_x+"&local_y="+local_y;
		})
		$('#toSearchPage').on('click',function () {
			window.location.href = "/museum?page=reservationInquiry&randomKey="+randomKey+"&userID="+userID.trim()+"&clientID="+clientID.trim()+"&cityID="+cityID.trim()+"&local_x="+local_x+"&local_y="+local_y;
		})
	</script>
</body>
</html>