<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>中国国家博物馆网上预约</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/museum/museum.css" />
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="reservationSuccess">
		<!--banner图-->
		<div class="banner">
			<img src="/images/beijing.png">
		</div>
		<!--中国国家博物馆网上预约-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" @click="returnPage"/>中国国家博物馆网上预约</h1>
				<hr class="hrLine">
				<div class="reservationSuccess-infor">
					<p class="successTit"><%=locals.wzts%></p>
					<div class="ticketTicket-img">
						<div class="icon-tickets"></div>
						<div class="ticketTitle">
							<div class="circular"></div>
							<span>免费参观券</span>
							<!--<time>2018年04月15日</time>-->
						</div>
						<div class="ticketList">
							<label>姓名：</label>
							<span><%=locals.xm%></span>
						</div>
						<div class="ticketList">
							<label>证件类型：</label>
							<span><%=locals.zjlx%></span>
						</div>
						<div class="ticketList">
							<label>证件号码：</label>
							<span><%=locals.zjh%></span>
						</div>
						<div class="ticketList">
							<label>预约码：</label>
							<span><%=locals.yym%></span>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国国家博物馆</div>
	</div>
    <script>
        fnSize()
        window.addEventListener('resize',fnSize,false)
        function fnSize () {
            if(document.documentElement.offsetWidth>1024){
                document.getElementsByTagName('html')[0].style.fontSize = 375/10 +'px';
                document.getElementsByClassName("max")[0].style.width="375px";
                document.getElementsByClassName("max")[0].style.margin ="0 auto";
                document.getElementsByClassName("data-sources")[0].style.width ="375px";
                return;
            }else{
                document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.offsetWidth/10 +'px';
                document.getElementsByClassName("max")[0].style.width="100%";
                document.getElementsByClassName("data-sources")[0].style.width ="100%";
                return;
            }

        }
    </script>
</body>
</html>