<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>12309检查服务中心</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%=locals.randomKey%>",
            userID = "<%= locals.userID%>",
            clientID = "<%= locals.clientID %>",
            cityID = "<%= locals.cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            local_x = "<%= locals.local_x %>",
            local_y = "<%= locals.local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
    <style>
    	.img-list-box.supremeList{
    		border: none;
    		padding-bottom: 0.95rem;
    	}
    	.img-list-box.supremeList li{
    		width: 33%;
    		font-size: 0;
    		margin: 0.944rem 0 0;
    	}
    	.img-list-box.supremeList li a{
    		font-size: 0;
    	}
    	.img-list-box.supremeList li a img {
		    width: 0.694rem;
		    height: 0.513rem;
		}
    </style>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--12309检查服务中心-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">12309检查服务中心</h1>
				<hr class="hrLine">
				<div class="img-list-box supremeList clearfix">
					<ul>
						<li>
							<a href="https://www.12309.gov.cn/front-cas/login?service=https://www.12309.gov.cn/serviceCenter/petitionLetter/notice?type=accuse&ticket=ST-69066-5PrLywqJdbsIcTITuh19-www.12309.gov.cn">
								<img src="/images/supremeProcuratorate/img-accusation.png">
								<p>控告</p>
							</a>
						</li>
						<li>
							<a href="https://www.12309.gov.cn/front-cas/login?service=https://www.12309.gov.cn/serviceCenter/petitionLetter/notice?type=criminalAppeal&ticket=ST-69013-s5L3w2PyF5G6RuIgmO6W-www.12309.gov.cn">
								<img src="/images/supremeProcuratorate/img-formAppeal.png">
								<p>刑事申诉</p>
							</a>
						</li>
						<li>
							<a href="https://www.12309.gov.cn/front-cas/login?service=https://www.12309.gov.cn/serviceCenter/petitionLetter/notice?type=personAppeal">
								<img src="/images/supremeProcuratorate/img-civilAdministrativeAppeals.png">
								<p>民行申诉</p>
							</a>
						</li>
						<li>
							<a href="https://www.12309.gov.cn/front-cas/login?service=https://www.12309.gov.cn/serviceCenter/petitionLetter/notice?type=stateCompensation">
								<img src="/images/supremeProcuratorate/img-stateCompensation.png">
								<p>国家赔偿</p>
							</a>
						</li>
						<li>
							<a href="https://www.12309.gov.cn/front-cas/login?service=https://www.12309.gov.cn/serviceCenter/petitionLetter/notice?type=otherPetition">
								<img src="/images/supremeProcuratorate/img-otherPetitions.png">
								<p>其他信访</p>
							</a>
						</li>
						<li>
							<a href="https://www.12309.gov.cn/front-cas/login?service=https://www.12309.gov.cn/serviceCenter/legalAdvice/notice">
								<img src="/images/supremeProcuratorate/img-legalAdvice.png">
								<p>法律咨询</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：12309最高检</div>
	</div>
</body>
</html>