<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>国务院已公布取消的职业资格许可和认定事项查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/guoWYAdminApprove/guoWYAdminApprove.css" />
	<link rel="stylesheet" href="/css/mobileSelect.css" />
	<script type="text/javascript" src="/js/hospital/mobileSelect.js" ></script>
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" src="/lib/axios.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<style>
		.active{
			background:#549dfb;
			color: #fff;
		}
	</style>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="adminCancelPermit" >
		<!--banner图-->
		<% include ../header.html %>
		<!--国务院已公布取消的职业资格许可和认定事项查询-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">
					<!--<img src="/images/icon-return.png" class="icon-return" @click="back()">-->
					国务院已公布取消的职业资格许可和认定事项查询
				</h1>
				<hr class="hrLine">
				<div class="text-list-div downMenu-style">
					<label>关键字</label>
					<input type="text" placeholder="请输入查询事项" v-model="addminPlace">
				</div>
				<div class="btn-box">
					<input type="button" value="查询" @click="getSearch"/>
				</div>
			</div>
			<!---取消的行政审批事项 start-->
			<div class="gjj-tab-con">
				<div class="peccancyQuery userInfor onlyStyle">
					<h2 class="q-r-tit">
						<span></span>
						根据当前检索条件共检测到
						<label class="sameNameNum"><b>{{adminCount}}</b> 项</label>
					</h2>
				</div>
				<div class="peccancyQuery userInfor onlyStyle">
					<div class="selectDepartment">
						<label class="guoWYTitle active">部门</label>
						<label class="guoWYSelect" id="cityTrigger" @click="city()">全部</label>
						<!--<span class="guoWYSelect"><label class="guoWYTitle">全部</label></span>-->
						<!--<span @click="upDown()">-->
							<!--<img src="/images/icon-downMenu.png" class="icon-downMenu" v-if="Exhibition">-->
							<!--<img src="/images/credit/icon-upMenu.png"  class="icon-downMenu" v-else>-->
						<!--</span>-->
						<img src="/images/icon-downMenu.png" class="icon-downMenu" id="city" @click="city()">
					</div>
				</div>
				<div class="peccancyQuery userInfor onlyStyle" v-if="Exhibition">
					<table class="guoWYTList addminCancel">
						<tr>
							<th>序号</th>
							<th>项目名称</th>
							<th>实施部门</th>
							<th>资格类别</th>
						</tr>
						<tr v-for="(item,index) in lists" v-bind:key='item.id'>
							<td>{{item.serialNumber}}</td>
							<td>{{item.projectName}}</td>
							<td>{{item.implementationDepartment}}</td>
							<td>{{item.qualificationCategory}}</td>
						</tr>
						<!--<tr>-->
							<!--<td>1</td>-->
							<!--<td>房地产经纪人</td>-->
							<!--<td>住房城乡建设部、人力资源社会保障部</td>-->
							<!--<td>水平评价类</td>-->
						<!--</tr>-->
						<!--<tr>-->
							<!--<td>1</td>-->
							<!--<td>房地产经纪人</td>-->
							<!--<td>住房城乡建设部、人力资源社会保障部</td>-->
							<!--<td>准入类</td>-->
						<!--</tr>-->
						<!--<tr>-->
							<!--<td>1</td>-->
							<!--<td>房地产经纪人</td>-->
							<!--<td>住房城乡建设部、人力资源社会保障部</td>-->
							<!--<td>准入类</td>-->
						<!--</tr>-->
						<tr v-if="noDate">
							<td class="notDate" colspan="4" style="">暂无更多内容~</td>
						</tr>
					</table>
				</div>
			</div>
            <div class="masktime" id="masktime" v-if="masktime">{{masktime}}</div>
			<!---取消的行政审批事项 end-->
			<!-- ---------------------------------------查询动画提示开始--------------------------------------------- -->
			<div class="mask" style="opacity: 0;" id="dialogMask" v-if="dialogMask"></div>
			<div class="dialog-tel timeM" style="text-align: center;" id="dialog" v-if="dialogMask">
				<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
				<p>加载中</p>
			</div>
			<!-- ---------------------------------------查询动画提示结束--------------------------------------------- -->
			<!--说明-->
			<div class="login-tips XL-query">
				<p><img src="/images/icon-tips.png">说明:</p>
				<p>党中央、国务院高度重视减少职业资格许可和认定事项工作，将其作为推进“放管服”改革的重要内容。李克强总理强调指出，要坚决砍掉各种不合理的职业资格许可和认定事项，转变管理理念，加强合理监管，通过建立科学的国家职业资格体系，促进各类人才脱颖而出，提升更多产业、岗位的劳动和工作品质，推动大众创业、万众创新。2013年以来，国务院分7批审议通过取消的国务院部门职业资格许可和认定事项434项，其中专业技术人员职业资格154项，技能人员职业资格280项。为让企业和群众更全面了解取消的职业资格许可和认定事项，中国政府网制作数据库供您查询。</p>
			</div>
		</div>
		<div class="data-sources">服务来源：中国政府网</div>
	</div>
    <script src="/js/adminCancelPermit/adminCancelPermit.js"></script>
</body>
</html>