<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>火车余票查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/user.css" />
    <script type="text/javascript" src="/lib/jquery.min.js"></script>
	<!--<script type="text/javascript" src="../js/jquery.icheck.min.js" ></script>-->
	<script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" language="javascript">
		var randomKey = "<%= randomKey %>"
				,userID = "<%= userID%>"
				,clientID = "<%= clientID %>",
				cityID = "<%= cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				local_x = "<%= local_x %>"
				,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script type="text/javascript" src="/js/train/base.js"></script>
	<script type="text/javascript" src="/js/train/train.js"></script>
<script language="JavaScript">
		var _trackDataType = 'web';var _trackData = _trackData || [];
	</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--火车余票查询-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">火车余票查询</h1>
				<hr class="hrLine">
				<div class="yp-input-text clearfix">
					<a id="yupiao_depart"><input id="yupiao_fromStation" type="text" placeholder="出发地" disabled class="disabled" /></a>
					<img id="yupiao_switch" src="/images/trainTickets.png" />
					<a id="yupiao_destination"><input id="yupiao_toStation" type="text" placeholder="目的地" disabled class="disabled" /></a>
				</div>
				<div class="yp-data">
					<label>日期：</label>
					<a id="yupiao_DateDiv"><input type="text" placeholder="请选择出行日期" id="yupiao_trainDate" disabled class="disabled" /></a>
				</div>
				<!--<div class="student demo-list">
					<span>学生票</span><input tabindex="1" type="checkbox" id="yupiao_purposeCodes" class="yupiao_checkbox">
				</div>-->
				<div class="btn-box">
					<input id="yupiao_search" type="button" value="查询" />
				</div>
			</div>
			<div id="yupiao_results_title" class="peccancyQuery userInfor onlyStyle" style="display: none">
				<h2 class="q-r-tit"><span></span>查询结果</h2>
				<hr class="hrLine">
				<div class="trainsNumber demo-list">
					<p id="yupiao_trainCount"></p>
					<!--<p class="clearfix">
						<span>车次类型：</span>
						<span><input type="radio" id="yupiao_all" name="radio">全部</span>
			            <span><input type="radio" id="yupiao_G" name="radio">高铁动车</span>
			            <span><input type="radio" id="yupiao_other" name="radio">其他</span>
					</p>-->
				</div>
			</div>
			<div id="yupiao_results_div" class="peccancyQuery userInfor onlyStyle" style="display: none">

			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国铁路信息技术中心</div>
	</div>
	<div id="yupiao_results_template_G" class="peccancyQuery userInfor onlyStyle" style="display: none">
		<div class="yupiao_G">
		<h2 class="q-r-tit"><span></span>${cc}</h2>
		<hr class="hrLine">
		<div class="con-box clearfix">
					<span>
						<p class="colorBlue">${cfsj}</p>
						<p>${cfz}</p>
					</span>
					<span>
						<p>${cc}</p>
						<p><b></b><b></b></p>
						<p>${ls}</p>
					</span>
					<span>
						<p>${ddsj}</p>
						<p>${ddz}</p>
					</span>
		</div>
		<div class="syNum">
			<span>二等座：${ed_num}</span><span>一等座：${yd_num}</span><span>商务座：${sw_num} </span>
		</div>
		</div>
	</div>
	<div id="yupiao_results_template_other" class="peccancyQuery userInfor onlyStyle" style="display: none">
		<div class="yupiao_other">
		<h2 class="q-r-tit"><span></span>${cc}</h2>
		<hr class="hrLine">
		<div class="con-box clearfix">
					<span>
						<p class="colorBlue">${cfsj}</p>
						<p>${cfz}</p>
					</span>
					<span>
						<p>${cc}</p>
						<p><b></b><b></b></p>
						<p>${ls}</p>
					</span>
					<span>
						<p>${ddsj}</p>
						<p>${ddz}</p>
					</span>
		</div>
		<div class="syNum">
			<span>硬座：${yz_num}</span><span>硬卧：${yw_num}</span><span>软卧：${rw_num}</span><span>无座：${wz_num} </span>
		</div>
		</div>
	</div>
	<!-- 查询动画提示开始-->
	<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
	<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
		<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
		<p>加载中</p>
	</div>
	<!-- 查询动画提示结束-->
	<div class="masktime" id="masktime" style="display:none;"></div>
 <script>
//  $(function(){
//    var callbacks_list = $('.demo-callbacks ul');
//    function callback_log(id, type) {
//      callbacks_list.prepend('<li><span>#' + id + '</span> is ' + type.replace('if', '').toLowerCase() + '</li>');
//    };
//    $('.demo-list input').on('ifCreated ifClicked ifChanged ifChecked ifUnchecked ifDisabled ifEnabled ifDestroyed', function(event){
//      callback_log(this.id, event.type);
//    }).iCheck({
//      checkboxClass: 'icheckbox_square-blue',
//      radioClass: 'iradio_square-blue',
//      increaseArea: '20%'
//    });
//  });
  </script>
</body>
</html>