<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>您访问的页面出错了</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/error/error.css" />
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
	<body bgcolor="#f3f9f9">
		<div class="max">
			<!--banner图-->
			<div class="banner">
				<img src="/images/beijing.png" />
			</div>
			<div class="warpBox">
				<div class="peccancyQuery">
					<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/></h1>
					<div class="error404">
						<p class="errorImgBox"><img src="/images/error/404.png"></p>
						<p class="bigTit">您访问的页面出错啦~</p>
						<p class="errorInfor">非常抱歉，系统开小差了，我们正努力唤醒它。</p>
						<p class="errorInfor">给您造成的不便敬请谅解！</p>
					</div>
				</div>
			</div>
		</div>
        <script>
            fnSize();
            window.addEventListener('resize',fnSize,false);
            function fnSize () {
                if(document.documentElement.offsetWidth>1024){
                    document.getElementsByTagName('html')[0].style.fontSize = 375/10 +'px';
                    document.getElementsByClassName("max")[0].style.width="375px";
                    document.getElementsByClassName("max")[0].style.margin ="0 auto";
                    document.getElementsByClassName("data-sources")[0].style.width ="375px";
                    return;
                }else{
                    document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.offsetWidth/10 +'px';
                    document.getElementsByClassName("max")[0].style.width="100%";
                    document.getElementsByClassName("data-sources")[0].style.width ="100%";
                    return;
                }
            }
        </script>
	</body>
</html>
