<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>海南省社保费缴费计算器</title>
		<link rel="stylesheet" href="/css/news.css" />
		<link rel="stylesheet" href="/css/haiNanInsuranceCalculator/haiNanInsuranceCalculator.css">
		<link rel="stylesheet" href="/css/mobileSelect.css"/>
		<script type="text/javascript" src="/lib/zepto.min.js" ></script>
        <script type="text/javascript" src="/js/publicInput.js"></script>
		<script type="text/javascript" src="/js/all.js"></script>
		<script type="text/javascript" src="/lib/vue.min.js"></script>
		<script type="text/javascript" src="/lib/mobileSelect.js"></script>
		<script>
			var randomKey = "<%= randomKey %>"
					,userID = "<%= userID%>"
					,clientID = "<%= clientID %>",
					citySRC = "<%= cityInfo.citySRC %>",
					cityInfo = "<%= cityInfo %>",
					cityID = "<%= cityID %>",
					local_x = "<%= local_x %>"
					,local_y = "<%= local_y %>",
                localFrom = "<%= locals.localFrom %>";
		</script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
	<div class="max" id="haiNanInsuranceCalculator">
		<!--banner图-->
		<% include ../header.html %>
		<!--国务院取消和下放的行政审批事项-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">社保费缴费计算器</h1>
				<hr class="hrLine">
				<div class="calculatorBox listWHBox">
					<div class="publicListText">
						<label>所在城市：</label>
						<span data_id="C" id="city" @click="citySelect">海口市</span>
						<img src="/images/icon-downMenu.png" class="icon-downMenu" @click="citySelect">
					</div>
					<div class="publicListText">
						<label>社保基数：</label>
						<input v-model="inputNum" type="number" placeholder="" />
						<b>元</b>
					</div>
					<div class="publicListText gsbxxs">
						<label>工伤保险系数：</label>
						<span data_id=".005" id="percent" @click="percentSelect">0.2%</span>
						<img src="/images/icon-downMenu.png" class="icon-downMenu" @click="percentSelect">
					</div>
				</div>
				<div class="btn-box">
					<input type="button" value="计算" @click="calculate"/>
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>个人所缴</h2>
				<hr class="hrLine">
				<div class="calculatorBox calculationResults listWHBox">
					<div class="publicListText">
						<label>养老保险：</label>
						<span>{{ylj}}</span>
						<b>元</b>
					</div>
					<div class="publicListText">
						<label>医疗保险：</label>
						<span>{{ybj}}</span>
						<b>元</b>
					</div>
					<div class="publicListText">
						<label>失业保险：</label>
						<span>{{sbj}}</span>
						<b>元</b>
					</div>
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>单位所缴</h2>
				<hr class="hrLine">
				<div class="calculatorBox calculationResults listWHBox">
					<div class="publicListText">
						<label>养老保险：</label>
						<span>{{ylj1}}</span>
						<b>元</b>
					</div>
					<div class="publicListText">
						<label>医疗保险：</label>
						<span>{{ybj1}}</span>
						<b>元</b>
					</div>
					<div class="publicListText">
						<label>失业保险：</label>
						<span>{{sbj1}}</span>
						<b>元</b>
					</div>
					<div class="publicListText">
						<label>工伤保险：</label>
						<span>{{gsj}}</span>
						<b>元</b>
						<!--<div class="getGsbxxs"><em>{{percentResult}}</em> (工伤保险系数）</div>-->
					</div>
					<div class="publicListText">
						<label>生育保险：</label>
						<span>{{syj}}</span>
						<b>元</b>
					</div>
				</div>
			</div>
		</div>
		<div class="masktime" v-if="masktime">{{masktime}}</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：海南省人力资源和社会保障厅</div>
	</div>
</body>
	<script src="/js/haiNanInsuranceCalculator/haiNanInsuranceCalculator.js"></script>
</html>
