.inquireTips {
    font-size: 0.28rem;
    color: #6e6e6e;
    margin: 0.416rem 0.55rem 0rem 1.175rem;
}
.inquireTips p:nth-of-type(1) {
    text-indent: -0.625rem;
}
.inquireTips p {
    line-height: 0.6rem;
}

.reservationNumber{
	font-size: 0.388rem;
	color: #b2b2b2;
	font-style: normal;
}
.tab-content.inforConfirm .text-list-div label {
    width: 2.78rem;
}
.tab-content.inforConfirm .text-list-div span, .tab-content.inforConfirm .text-list-div input {
    width: -webkit-calc(100% - 2.78rem);
    width: -moz-calc(100% - 2.78rem);
    width: calc(100% - 2.78rem);
    text-align: left;
    float: left;
}
.btn-reservation{
	color: #0083e0;
}
.downMenu-style {
    position: relative;
}
.downMenu-style .icon-downMenu {
    position: absolute;
    right: 0;
    margin: 0;
    bottom: 0.2rem;
}
.disabled{
	background: #fff;
}
.notFound {
    font-size: 0.3rem;
    color: #6e6e6e;
    text-align: center;
    height: 3.33rem;
    padding-top: 0.83rem;
    border-bottom: 1px solid #edefee;
    margin: 0 0.55rem;
}
.notFound .img-box img {
    width: 0.75rem;
    height: 0.75rem;
    margin-bottom: 0.41rem;
}
.peccancyQuery .htTitke {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.selectDownMenu{
	width: -webkit-calc(100% - 3rem);
    width: -moz-calc(100% - 3rem);
    width: calc(100% - 3rem);
    font-size: 0.37rem;
    line-height: 0.5rem;
    cursor:pointer;
}
.createtime{
    cursor:pointer;
}