/*欢迎语*/
.welcomeMessage{
	font-size: 0.388rem;
	color: #474747;
	line-height: 0.625rem;
	padding: 1rem 0.55rem;
	border-top: 1px solid #edefee;
}

/*举报须知*/
.welcomeMessage.reportNotice{
	border-bottom: 1px solid #ddd;
	padding: 0.5rem 0.55rem 0;
}
.welcomeMessage.reportNotice p{
	margin-bottom: 0.638rem;
}
.typeSelectBox{
	padding: 0.625rem 0.83rem;
}
.radioList {
	width: 50%;
    color: #333;
    font-size: 0.36rem;
    float: left;
}
.icon-radio-default{
    display: inline-block;
    width: 0.375rem;
    height: 0.375rem;
    background: url(../../images/icon-radio24-default.png) no-repeat;
    background-size: 0.375rem;
    vertical-align: middle;
    margin-top: 0.08rem;
    margin-right: 0.138rem;
    float: left;
}
.radioList.active .icon-radio-default {
    background: url(../../images/icon-radio24-selected.png) no-repeat;
    background-size: 0.375rem;
}
.radioList span {
    width: -webkit-calc(100% - 0.75rem);
    width: -moz-calc(100% - 0.75rem);
    width: calc(100% - 0.75rem);
}
.radioList span em{
	margin-left: 0.166rem;
}
/*举报单位*/
.btn-box .btnDefault.btn-gray{
	background: #f9f9f9;
    border: 1px solid #e8e8e8;
    color: #777;
    margin-right: 0.518rem;
    margin-left: 0;
}
/*举报个人*/
.publicListText.publicWH label{
	width: 2.6rem;
}
/*举报结果*/
.pubListBox.feedbackList{
	padding: 0.763rem 0.55rem 0;
}
.pubListBox.feedbackList .publicListText{
	margin-bottom: 0.55rem;
}
.btn-box.marBtnBox{
	margin: 0.833rem 0 0.694rem;
}