.mask, .dialog-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.mask {
  background: #000;
  opacity: 0.7;
  z-index: 1000;
}
/*弹框公用 */
/*修改密码*/
.dialog-container {
  z-index: 1001;
}
.add-catalog-dialog .dialog-inner{
  width: 500px;
  margin-left: -250px;
  margin-top: -157px;
  height: 314px;
  border-radius: 2px;
}
.dialog-header {
  height: 44px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 2px;
  background: #29acdf;
}
.dialog-header-tit {
  font-size: 16px;
  color: #fff;
  line-height: 44px;
  margin-left: 15px;
}
.dialog-header-close {
  width: 22px !important;
  height: 22px !important;
  background-position: -20px 0px;
  margin-top: 12px !important;
  margin-right: 15px;
  cursor: pointer;
}
.dialog-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 736px;
  height: 416px;
  margin-left: -368px;
  margin-top: -208px;
  background: #fff;
}
.add-catalog-dialog .dialog-body {
  margin-top: 20px;
  margin-bottom: 25px;
}
.rm-advanced-search-dl {
  margin-bottom: 24px;
}
.rm-advanced-search-dt {
  width: 95px;
  float: left;
  font-size: 14px;
  color: #000;
  line-height: 30px;
}
.dialog-body .rm-advanced-search-dt {
  text-align: right;
  line-height: 34px;
  color: #7b8494;
  width: 136px;
}
.rm-advanced-search-dd {
  float: left;
  position: relative;
}
.error-tips-box{
  position: absolute;
  left: 15px;
  line-height: 22px;
  color: #FA5757;
}
.dialog-body .rm-advanced-search-inp {
  margin-left: 15px;
  height: 32px;
  line-height: 32px;
  color: #333;
  font-size: 14px;
  border: 1px solid #d5dde6;
  background: #fff;
  width: 288px;
  padding-left: 10px;
  border-radius: 2px;
}
.dialog-footer{
  text-align: right;
  padding: 20px 0;
  border-top: 1px solid #e4eaf0;
}
.btn-list {
  display: inline-block;
}
.btn-item {
  float: left;
  width: 98px;
  height: 32px;
  font-size: 14px;
  color: #000;
  line-height: 30px;
  background: #fff;
  border: 1px solid #bbb;
  cursor: pointer;
  text-align: center;
  margin-right: 20px;
  border-radius: 2px;
}
.btn-item-acvite {
  background: #15A1EF;
  color: #fff;
  border-color: #15A1EF;
}
.btn-item:hover {
  opacity: 0.7;
}
.textareaDivBox{
  text-align: center;
}
.textareaDivBox textarea{
  width: 455px;
  height: 150px;
  resize: none;
  background: #f4f4f4;
  border-radius: 2px;
  font-size: 14px;
  padding: 6px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
}
.textareaDivBox textarea:focus{
  border: 1px solid #29acdf;
}
/*修改密码、启用/停用成功与失败*/
.failedBox{
  position: fixed;
  top: 132px;
  width: 360px;
  padding: 7px 10px;
  line-height: 26px;
  background: #FA5757;
  color: #fff;
  border-radius:2px;
  text-align: center;
  z-index: 1002;
  font-size: 14px;
  left: 0;
  right: 0;
  margin: auto;
}
.icon-failed{
  width: 14px;
  height: 14px;
  background-position:-39px -25px;
  margin-top: -2px;
  margin-right: 3px;
}
.icon-success{
  margin-right: 10px;
  height: 12px !important;
}
.icon-failure{
  width: 13px !important;
  height: 13px !important;
  margin-right: 10px;
}
.icon-success {
	height: 16px !important;
    background-position: -38px -47px;
}
.icon-failure{
  background-position: -29px -140px;
}
.successBox{
  background: #48D2A0;
}
.failBox{
  background: #fa5757;
}
.failedBox.wh124{
  width: 124px;
}
/*修改密码*/
.add-catalog-dialog .dialog-inner.dialog-changePwd{
  height: 355px;
  margin-top: -177px;
}
.sy-publish-dialog-content{
  padding-top: 10px;
  padding-bottom: 1px;
}
.rm-advanced-search-dd .userName{
  line-height: 34px;
  font-size: 14px;
  color: #57677e;
  margin-left: 15px;
}
/*启用*/
.dialog-wordTips{
  font-size: 16px;
  height: 145px;
  text-align: center;
  line-height: 145px;
}
.dialog-wordTips span{
  color: #29acdf;
  margin: 0 5px;
}
/*后台用户修改密码*/
.dialog-container {
  z-index: 1001;
}
.add-catalog-dialog .dialog-inner{
  width: 500px;
  margin-left: -250px;
  margin-top: -157px;
  height: 314px;
  border-radius: 2px;
}
.dialog-header {
  height: 44px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 2px;
  background: #29acdf;
}
.dialog-header-tit {
  font-size: 16px;
  color: #fff;
  line-height: 44px;
  margin-left: 15px;
}
.dialog-header-close {
  width: 22px !important;
  height: 22px !important;
  background-position: -20px 0px;
  margin-top: 12px !important;
  margin-right: 15px;
  cursor: pointer;
}
.dialog-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 736px;
  height: 416px;
  margin-left: -368px;
  margin-top: -208px;
  background: #fff;
}
.add-catalog-dialog .dialog-body {
  margin-top: 20px;
  margin-bottom: 25px;
}
.rm-advanced-search-dl {
  margin-bottom: 24px;
}
.rm-advanced-search-dt {
  width: 95px;
  float: left;
  font-size: 14px;
  color: #000;
  line-height: 30px;
}
.dialog-body .rm-advanced-search-dt {
  text-align: right;
  line-height: 34px;
  color: #7b8494;
  width: 136px;
}
.rm-advanced-search-dd {
  float: left;
  position: relative;
}
.error-tips-box{
  position: absolute;
  left: 15px;
  line-height: 22px;
  color: #FA5757;
}
.dialog-body .rm-advanced-search-inp {
  margin-left: 15px;
  height: 32px;
  line-height: 32px;
  color: #333;
  font-size: 14px;
  border: 1px solid #d5dde6;
  background: #fff;
  width: 288px;
  padding-left: 10px;
  border-radius: 2px;
}
.dialog-footer{
  text-align: right;
  padding: 20px 0;
  border-top: 1px solid #e4eaf0;
}
.btn-list {
  display: inline-block;
}
.btn-item {
  float: left;
  width: 98px;
  height: 32px;
  font-size: 14px;
  color: #000;
  line-height: 30px;
  background: #fff;
  border: 1px solid #bbb;
  cursor: pointer;
  text-align: center;
  margin-right: 20px;
  border-radius: 2px;
}
.btn-item-acvite {
  background: #15A1EF;
  color: #fff;
  border-color: #15A1EF;
}
.btn-item:hover {
  opacity: 0.7;
}
.textareaDivBox{
  text-align: center;
}
.textareaDivBox textarea{
  width: 455px;
  height: 150px;
  resize: none;
  background: #f4f4f4;
  border-radius: 2px;
  font-size: 14px;
  padding: 6px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
}
.textareaDivBox textarea:focus{
  border: 1px solid #29acdf;
}
/*修改密码、启用/停用成功与失败*/
/*修改密码*/
.add-catalog-dialog .dialog-inner.dialog-changePwd{
  height: 355px;
  margin-top: -177px;
}
.sy-publish-dialog-content{
  padding-top: 10px;
  padding-bottom: 1px;
}
.rm-advanced-search-dd .userName{
  line-height: 34px;
  font-size: 14px;
  color: #57677e;
  margin-left: 15px;
}
/*启用*/
.dialog-wordTips{
  font-size: 16px;
  height: 145px;
  text-align: center;
  line-height: 145px;
}
.dialog-wordTips span{
  color: #29acdf;
  margin: 0 5px;
}

/*修改源端监控*/
.add-catalog-dialog .dialog-sourceMon {
    width: 707px;
    margin-left: -353px;
    height: 500px;
    margin-top: -250px;
}
.btn-item .save, .btn-item .saveEnable {
    display: inline-block;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 14px;
}
.btn-item .save {
    color: #fff;
    border: 1px solid #15A1EF;
    background: #15A1EF;
    position: relative;
}
.btn-item.saveMenu {
    border: none;
    width: 120px;
}
.btn-item .saveEnable {
    width: 100px;
    color: #666;
    border: 1px solid #ddd;
    background: #fff;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
}
.rm-advanced-search-dd .dialog-downMenu {
    margin-left: 15px;
    height: 32px;
    line-height: 32px;
    color: #999;
    font-size: 14px;
    border: 1px solid #ddd;
    background: #fff;
    width: 288px;
    padding-left: 10px;
    border-radius: 2px;
    position: relative;
}
.dialog-sourceMon .dialog-body .rm-advanced-search-inp{
	width: 514px;
}
.downMenuShow {
    position: absolute;
    top: 32px;
    right: -1px;
    background: #fff;
    width: 298px;
    border-radius: 2px;
    border: 1px solid #ddd;
    padding: 12px 0;
    z-index: 1;
}
.downMenuShow ul li {
    line-height: 35px;
    cursor: pointer;
}
.downMenuShow ul li a{
	line-height: 35px;
	cursor: pointer;
	color: #333;
	font-size: 14px;
	padding-left: 15px;
}
.downMenuShow ul li:hover{
	background: #f6f6f6;
}
.downMenuShow ul li:hover a{
	color: #15a8f0;
}
.btn-item.saveMenu .header-user-icon{
	float: right;
  margin-top: 7px;
  margin-right: 6px;
}
/*修改服务模板*/
.add-catalog-dialog .publicAddModify {
    width: 800px;
    margin-left: -400px;
    height: 600px;
    margin-top: -300px;
}
.dialog-body .serviceTemplate .dl.el-form-item{
	float: left;
	width: 50%;
	margin: 0 0 30px 0;
}
.dialog-body .serviceTemplate .dl.el-form-item .el-form-item__content .el-input .el-input__inner{
    width: 228px;
}
/*修改密码*/
.dialog-modifyPwd{
	height: 354px !important;
	margin-top: -177px !important;
}
/*修改邮箱*/
.dialog-modifyMail{
	height: 295px !important;
	margin-top: -147px !important;
}
/*预警*/
.dialog-earlyWarn{
	height: 238px !important;
	margin-top: -119px !important;
}
/*停用启用提示*/
.dialog-stopStatus{
	height: 250px !important;
	margin-top: -125px !important;
}
.publicTipBox{
	padding: 50px;
  text-align: center;
}
.publicTipBox p{
  font-size: 16px;
  color: #666;
}

/*新增服务模板*/
.dialog-AddServiceTemplate{
	width: 800px!important;
  margin-left: -400px!important;
	height: 490px!important;
  margin-top: -245px!important;
}
.el-form-item{
	margin: 0 20px 20px;
}
/*邮箱绑定*/
.dialog-bindMail{
	height: 238px !important;
	margin-top: -119px !important;
}
.rm-advanced-search-inp:-ms-input-placeholder{
  color: #bfc0c1 !important;
}
.rm-advanced-search-inp::-webkit-input-placeholder{
  color: #bfc0c1 !important;
}

/*源端监控、服务模板监控-删除弹框-高度、关闭按钮*/
.add-catalog-dialog .dialog-inner.dialog-delete{
  height: auto;
}
/*后台用户管理*/
.add-catalog-dialog .dialog-inner.dialog-systemDelete{
	height: auto;
}
.dialog-systemDelete .dialog-body .dialog-wordTips{
	height: auto;
	line-height: normal;
	padding: 30px 0 25px;
}
/*新的开始2.0*/
.dialog-inner.dialog-ht350{
	height: 350px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}
.rm-advanced-search-dd .dialog-downMenu {
    margin-left: 15px;
    height: 32px;
    line-height: 32px;
    color: #999;
    font-size: 14px;
    border: 1px solid #ddd;
    background: #fff;
    width: 288px;
    padding-left: 10px;
    border-radius: 2px;
    margin-top: 0;
    position: relative;
}
.dialog-inner.dialog-ht290{
	height: 290px;
}
.dialog-downMenu .defaul_option{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 290px;
  display: inline-block;
}
.dialog-downMenu .icon-downMenu{
  margin-top:-31px;
}
