.center{
  text-align: center !important;
}
.rm-main-box{
  background: #fff;
  margin: 0 15px;
  padding: 0 15px 40px;
  border: 1px solid #e4eaf0;
}
.mainTable{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #E6E6E6;
  table-layout: fixed;
  word-wrap: break-word;
}

.mainTable th,.mainTable td{
  height: 43px;
  border-bottom: 1px solid #e4eaf0;
  padding: 0px 15px;
  font-size: 14px;
}
.mainTable th{
  text-align: left;
  background: #f4f8fb;
  font-size: 14px;
  color: #7b8494;
  font-weight: normal;
  border: 1px solid #e4eaf0;
}
.mainTable td{
  color: #7b8494;
  height: 70px;
  line-height: 26px;
}
.mainTable td.num{
  color: #57677e;
}
.mainTable td.font14{
  font-size: 14px;
}
.wh66{
  width: 36px;
}
.rm-main-item-tit{
  color: #000;
}
.addressBox{
  height: 50px;
  position: relative;
}
.addressBox .allShow{
  display: none;
  background: #fff;
  border: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  color: #333;
  -moz-box-shadow:0px 2px 3px #ddd;
  -webkit-box-shadow:0px 2px 3px #ddd;
  box-shadow:0px 2px 3px #ddd;
}
.addressBox:hover .allShow{
  position: absolute;
  top: -18px;
  display: inline-block;
}
.triangle_border_down{
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -3px;
  width: 0;
  height: 0;
  border-width: 5px 5px 0;
  border-style: solid;
  border-color: #fff transparent transparent;
}
.webAddress{
  float: left;
  color: #666;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.status{
  display: inline-block;
  border-radius: 30px;
  height: 20px;
  line-height: 20px;
  width: 55px;
  background: #E4FAF2;
  color: #0AA76C;
  text-align: center;
  font-size: 12px;
}
.status.abnormal{
  background: #FAE9EA;
  color: #FB4912;
}
.status.notEnabled{
  background: #e6e6e6;
  color: #666;
}
.mainTable .wh130{
  width: 130px;
}
.templateIDName{
  display: inline-block;
  color: #666;
  float: left;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mainTable td.corBlue{
  color: #15A1EF;
}
.mainTable td .templateID{
  color: #000;
}
.mainTable td .templateName{
  color: #666;
}

/*按钮*/
.rl-main-aside{
  padding: 20px 0;
}
.rl-operate-btn {
  box-sizing: border-box;
  padding: 0 16px;
  min-width: 80px;
  height: 34px;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 32px;
  color: #333;
  font-size: 14px;
  margin: 0px 0  0 5px;
  border-radius: 2px;
  cursor:pointer;
}
.rl-operate-btn:hover {
  opacity: 0.8;
}
.rl-operate-btn.active {
  background: #15A1EF;
  border-color: #15A1EF;
  color: #fff;
}
/*搜索框*/
.resource-sort-search-box{
  width: 244px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 2px;
  position: relative;
  margin-right: 10px;
}
.resource-sort-search-box .inner-search-inp{
	height: 32px;
  line-height: 32px;
  padding-left: 10px;
  width: 244px;
  font-size: 14px;
}
.resource-sort-search-box .inner-search-inp::-webkit-input-placeholder,
.resource-sort-search-box .inner-search-inp:-moz-placeholder,
.resource-sort-search-box .inner-search-inp::-moz-placeholder,
.resource-sort-search-box .inner-search-inp:-ms-input-placeholder{
  color: #b7bcc5;
}
/*下拉菜单*/
.downMenu {
  margin-right: 10px;
}
.select-box {
  position: relative;
  min-width: 100px;
  height: 32px;
  padding-left: 8px;
  border: 1px solid #d5dde6;
  line-height: 32px;
  color: #57677e;
  font-size: 14px;
  border-radius: 2px;
}
.result_select_text{
  line-height: 34px;
}
.select-box ul {
  position: absolute;
  top: 32px;
  left: -1px;
  z-index: 199;
  display: block;
  width: 108px;
  margin: 0;
  border: 1px solid #dddddd;
  background: #fff;
}
.select-box ul li {
  height: 30px;
  line-height: 30px;
  color: #828282;
  font-size: 14px;
  cursor: pointer;
  padding-left: 8px;
}
.select-box ul li:hover{
  background: #f6f6f6;
  color: #15A1EF;
}
/*404*/
.error404Box{
  text-align: center;
  position: fixed;
  width: 360px;
  height: 410px;
  top: 50%;
  left: 50%;
  margin-left: -180px;
  margin-top: -205px;

}
.error404Box .words{
  margin: 25px 0;
}
.error404Box .returnHome{
  display: inline-block;
  width: 102px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
  background: #15A1EF;
}
.error404Box .returnHome a{
  color: #fff;
}
.error404Box .returnHome a:hover{
  opacity: 0.7;
}

.perPageShow{
  position: relative;
}
.perPageShow ul{
  position: absolute;
  top: 22px;
  left: -1px;
  z-index: 200;
  display: block;
  width: 48px;
  border-radius: 2px;
  margin: 0;
  border: 1px solid #dddddd;
  background: #fff;
}
.perPageShow ul li{
  line-height: 20px;
  cursor: pointer;
}
.perPageShow ul li:hover{
  background: #f6f6f6;
  color: #15A1EF;
}



/*服务接入申请*/
.percentageWh11{
  width: 11%;
  white-space: normal;
  word-break: break-all;
}
/*申请记录详情*/
.font16{
  font-size: 16px;
}
.deleteCon{
  margin: 0 15px;
}
.deleteListCon{
  border-bottom: 1px dashed #d5dde6;
  padding-bottom: 20px;
}
.publicTitle{
  font-size: 16px;
  color: #333;
  line-height: 18px;
  padding-top: 30px;
  margin-bottom: 18px;
}
.publicTitle .lineBlue{
  display: inline-block;
  width: 4px;
  height: 18px;
  background: #00c3f5;
  float: left;
  margin-right: 10px;
}
.publicList{
  line-height: 52px;
  width: 100%;
  display: inline-block;
  position: relative;
}
.publicList label{
  display: inline-block;
  font-size: 14px;
  color: #7b8494;
  width: 197px;
  padding-left: 15px;
  vertical-align: top;
}
.publicList span{
  font-size: 14px;
  color: #57677e;
  width: 520px;
  display: inline-block;
  word-break: break-all;
}
.licenseBox img {
  max-width: 300px;
  max-height: 300px;
  margin: 10px 0;
}
.publicList span p em{
  display: inline-block;
  width: 64px;
  vertical-align: top;
}
.publicList span p.spacLast{
  line-height: 30px;
  margin-bottom: 16px;
}
.deleteListCon:nth-last-of-type(1){
  border-bottom: none;
}
.btnBgBox{
  border-top: 1px solid #e4eaf0;
  height: 80px;
  background: #fcfcfd;
  padding-top: 30px;
  padding-left: 228px;
}
.btnBgBox .btn-defalut{
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 2px;
  float: left;
  margin-right: 15px;
}
.btnBgBox .btn-defalut{
  cursor: pointer;
}
.btnBgBox .btn-defalut.btn-red{
  background: #fc4b6c;
}
.btnBgBox .btn-defalut.btn-blue {
  background: #00c3f5;
}
.btnBgBox .btn-defalut.btn-white {
  background: #ffffff;
  color: #666;
  border: 1px solid #e6e1e1;
}
.realName-textarea {
  width: 502px;
  height: 58px;
  color: #333;
  background: #fff4d3;
  border: 1px solid #f2d097;
  border-radius: 2px;
  resize: none;
  padding: 5px 10px;
}
.otherSpan .title{
  line-height: 52px;
  color: #57677e;
  font-size: 14px;
}
.otherSpan .tips{
  color: #b7bcc5;
  line-height: 24px;
  margin-top: -12px;
}
.hand{
  cursor: pointer;
}
.publicList span.serviceLogo img{
  max-width: 200px;
  max-height: 150px;
}
.publicList span.otherSpanLink p{
  line-height: 52px;
  color: #57677e;
  font-size: 14px;
}
/*审核状态*/
.publicList span.pendReview {
  color: #fda203;
}
.publicList span.certifiedStatus {
  font-size: 14px;
  color: #00c3f5;
}
.publicList span.certifiedStatus.not {
  color: #ff3c00;
}
/*审核图标*/
.icon-pendReview,
.icon-cancel,
.icon-passed,
.icon-notPassed{
  margin-right: 10px;
}
.icon-pendReview{
  background-position: -20px -50px;
}
.icon-cancel{
  background-position: -20px -100px;
}
.icon-passed{
  background-position: 0 -20px;
}
.icon-notPassed{
  background-position: 0 -40px;
}
.icon-word{
  margin-right:5px;
}
/*用户列表*/
.userList td{
  font-size: 14px;
}
.wh147{
  width: 147px;
}
.rm-main-icon-box{
  letter-spacing: -999px;
  text-align: center;
}
.rm-main-icon-box .rm-icon-btn{
  margin-right: 15px;
}
.rm-main-icon-box .rm-icon-btn:nth-last-of-type(1){
  margin-right: 0px;
}
/*操作*/
.icon-disable{
  background-position: 0 -110px;
}
.rm-main-icon-box .rm-icon-btn:hover .icon-disable,
.rm-main-icon-box .rm-icon-btn.active .icon-disable{
  background-position: -40px -110px;
}
.icon-enable{
  background-position: 0 -150px;
}
.rm-main-icon-box .rm-icon-btn:hover .icon-enable,
.rm-main-icon-box .rm-icon-btn.active .icon-enable{
  background-position: -40px -150px;
}
.icon-changePwd{
  background-position: 0 -190px;
}
.rm-main-icon-box .rm-icon-btn:hover .icon-changePwd,
.rm-main-icon-box .rm-icon-btn.active .icon-changePwd{
  background-position: -40px -190px;
}
.userList td.corBlue,
.userList td.corRed{
  padding-left: 32px;
}


/*新一批-V1-----新增部分*/
.percentageWh20{
  width: 20%;
  white-space: normal;
  word-break: break-all;
}
/*服务采购详情*/
.icon-sex{
  margin-top: -2px;
  margin-right: 10px;
  background-position: 0 -100px;
}
.icon-sex.active {
  background-position: 0 -120px;
}
/*用户详情*/
.maxWh{
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 30px;
}
/*.upload-ID:nth-of-type(1){
  margin-right: 70px;
}*/
.upload-ID h1{
  line-height: 52px;
  font-size: 14px;
  color: #57677e;
  font-weight: normal;
}
.upload-ID .uploadLogo img{
  max-width: 200px;
  max-height: 200px;
}

/*加载中...*/
.loading{
  padding: 120px 0;
  text-align: center;
}
.loadWord{
  font-size: 14px;
  color: #00c3f5;
  margin-top: 16px;
}
/*浮层加载中...*/
.floatLayer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 1000;
  background: #fff;
  width: 180px;
  height: 100px;
  padding: 20px 0 0;
  border-radius: 2px;
  opacity: 0.95;
}
/*还没有记录*/
.noRecordList{
  text-align: center;
  padding: 90px 0;
}
.noRecordPicBox img{
  width: 197px;
  height: 146px;
}
.noRecorWord{
  color: #999;
  padding-left: 30px;
  font-size: 13px;
  margin-top: 15px;
}

/*后台用户管理*/
.rl-operate-btn{
	background: #f4f8fb;
	border: 1px solid #d5dde6;
	color: #567384;
}
.wh198{
	width: 198px;
}
.spacL10{
	margin-left: 10px;
}
.icon-delete{
	background-position: 0px -310px;
	width: 16px;
	height: 16px;
	margin-right: 8px;
}
.icon-edit{
	background-position: 0 -230px;
}
.rm-main-icon-box .rm-icon-btn:hover .icon-edit,
.rm-main-icon-box .rm-icon-btn.active .icon-edit{
	background-position: -40px -230px;
}
.icon-sysDelete{
	background-position: 0 -270px;
}
.rm-main-icon-box .rm-icon-btn:hover .icon-sysDelete,
.rm-main-icon-box .rm-icon-btn.active .icon-sysDelete{
	background-position: -40px -270px;
}
.icon-check{
	background-position: 0 -60px;
}
.icon-check.checked{
	background-position: 0 -80px;
}
.minW56{
	min-width: 40px;
}
.minW78{
	min-width: 78px;
}
.percentageWh15{
	width: 15%;
}
.percentageWh11 .icon-check{
	margin-right: 10px;
}
/*添加用户*/
.systemUser .publicList{
	line-height: 62px;
}
.systemUser .publicList label{
	width: 80px;
}
.systemUser .publicList.sp-liclist label{
  height: 20px;
  padding-left:0;
  line-height: 17px;
}
.systemUser .publicList input {
    width: 512px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #d5dde6;
    border-radius: 2px;
    padding-left: 10px;
}
.systemUser .error-tips-box.other {
    left: 100px;
    top: 50px;
    font-size: 12px;
    position: absolute;
    margin-left: 0;
}
/*权限设置*/
.permissionSettings{
	width: 210px;
	height: 294px;
	background: #fbfdfe;
	border: 1px solid #d5dde6;
	border-radius: 2px;
}
.perTit{
	height: 30px;
	line-height: 30px;
	padding: 9px 0 9px 10px;
	border-bottom: 1px solid #d5dde6;
	background: #f3f8fb;
	position: relative;
	color: #57677e;
	font-size: 14px;
}
.systemUser .publicList .perTit input{
	width: 180px;
	height: 28px;
	border: 1px solid #d5dde6;
	background: #fff;
	font-size: 14px;
}
.icon-search{
	position: absolute;
	right: 19px;
	top: 18px;
	cursor: pointer;
}
.icon-search{
	background-position: -20px -120px;
}
.permissionBox{
	overflow-y: auto;
  overflow-x: hidden;
}
.permissionMenu{
	width: 193px;
	background: #fff;
	height: 245px;
}
.permissionMenu > ul{
	overflow: hidden;
	border-right: 1px solid #d5dde6;
	padding-bottom: 20px;
}
.permissionMenu ul li{
	margin-top: 8px;
}
.permissionMenu ul li a{
	color: #57677e;
	font-size: 14px;
}
.permissionMenu ul li ul li a{
	color: #7b8494;
	padding-left: 29px;
}
.permissionMenu ul li ul li{
	margin-top: 5px;
}
.permissionMenu ul li ul li a i{
	margin-right: 5px;
}
.permissionMenu ul li ul li a i.icon-downMenu-symbol{
	margin-top: 0;
	margin-right: -7px;
}
.permissionMenu ul li a i.emptyBox{
	display: inline-block;
	width: 34px;
	height: 20px;
}
.selectedService .permissionMenu{
	width: auto;
}
.selectedService .permissionMenu > ul{
	border: none;
}
.btn-permission{
	padding: 105px 36px 0 24px;
}
.btn-permission a{
	display: block;
	width: 68px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #d5dde6;
	background: #f3f8fb;
	border-radius: 2px;
	color: #57677e;
	font-size: 14px;
	text-align: center;
	margin-bottom: 10px;
}
.btn-permission a:hover{
	opacity: 0.7;
}

.wh30{
	width: 30px;
}
.wh140{
	width: 140px;
}
/*element-ui分页插件----start---*/
.el-pagination .btn-prev, .el-pagination .btn-next {
  border: 1px solid #e4eaf0;
  border-radius: 2px;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  margin-left: 10px;
  padding: 0 12px 0 13px;
  transition: all 0.2s ease 0s;
}

.el-pagination .btn-next:before {
  content: "下一页";
}

.el-pagination .btn-prev:before {
  content: "上一页";
}

.el-pager li {
  border: 1px solid #e4eaf0;
  border-radius: 2px;
  cursor: pointer;
  float: left;
  height: 32px;
  line-height: 32px;
  margin-left: 10px;
  padding: 0 12px 0 13px;
  transition: all 0.2s ease 0s;
}

.page-list .el-input__inner {
  border: 1px solid #e4eaf0;
  border-radius: 2px;
  box-sizing: border-box;
  height: 34px;
  margin: 0 10px;
  text-align: center;
  width: 34px;
}
.el-input__inner{
  border-radius: 2px;
}
.page-list .el-pagination__editor.el-input .el-input__inner {
  height: 30px;
}

.btn-next .el-icon-arrow-right:before {
  content: ""
}

.btn-prev .el-icon-arrow-left:before {
  content: ""
}

.el-pager li.active + li {
  border-left: 1px solid #e4eaf0;
}

.page-list .el-pager li {
  margin: 0 10px;
  height: 32px;
}

.page-list .el-pager li.active + li {
  border-left: 1px solid #e4eaf0;
}

.dialog-body .rm-advanced-search-inp {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #333;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  margin-left: 15px;
  padding-left: 10px;
}

.addressBox {
  max-width: 180px;
}

.webAddress {
  width: 100%;
}

/*element-ui分页插件---end---*/

/*截取两行*/
.clampHide{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	width: 100%;
}
.wh30px{
	width: 30px;
}
.wh56px{
	width: 56px;
}
.wh125px{
	width: 125px;
}
.wh90px{
	width: 90px;
}
.wh10{
	width: 10%;
}
.wh13{
	width: 13%;
}
.wh18{
	width: 18%;
}
/**/
.select-box.result_select.wh140 ul{
	width: 100%;
}
.search-serviceArea{
	width: 124px;
	margin: 8px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding-left: 5px;
}
.percent6{
	width: 6%;
}
.percent8{
	width: 8%;
}
.percent10{
	width: 10%;
}
.percent11{
	width: 11%;
}
.percent12{
	width: 12%;
}
.percent13{
	width: 13%;
}
.percent16{
	width: 16%;
}
.percent17{
	width: 17%;
}
.percent20{
	width: 20%;
}
.icon-addUser{
	background-position: -50px -310px;
	width: 16px;
	height: 16px;
	margin-right: 8px;
}
.wh150{
	width: 150px;
}
.mainTable.userList th i,
.mainTable.userList td .clampHide i{
	margin-right: 10px;
}
.el-checkbox__original{
	display: none;
	height: 0 !important;
	line-height: 0 !important;
}
.el-checkbox__inner{
	width: 14px !important;
}
.el-tree-node__expand-icon.el-icon-caret-right{
	width: 14px;
}
.el-tree-node__content{
	height: 24px;
	line-height: 24px;
}
.el-tree{
	padding: 10px 0;
}
/*解决谷歌和火狐百分比不兼容的问题*/
@media (min-width:1199px ) and (max-width:1366px ) {
	.fwcgTable th,.fwcgTable td{
		padding: 0 8px;
	}
	.fwcgTable .percent17{
		width: 126px;
	}
	.fwcgTable .percent17.minW140,
	.fwmbTable .percent17.minW140{
			width: 140px;
	}
	.fwcgTable .percent10{
		width: 80px;
	}
	.fwcgTable .percent11{
		width: 80px;
	}
	.fwcgTable .percent8{
		width: 60px;
	}
	.fwcgTable .percent12{
		width: 90px;
	}
	.mainTable.fwjr .percent10{
		width: 80px;
	}
	.mainTable.fwjr .percent8{
		width: 60px;
	}
	.mainTable.fwjr .percent17{
		width: 126px;
	}
	.mainTable.yhglTable .percent10{
		width: 120px;
	}
	.mainTable.yhglTable .percent8{
		width: 100px;
	}
}
@media (min-width:1367px ) and (max-width:1920px ){
	.yhglTable .minW12{
		width: 12%;
	}
	.yhglTable .minW10{
		width: 10%;
	}
}
/*新样式2.0*/
.deleteCon.applicForm .publicList{
	line-height: 62px;
}
.deleteCon.applicForm .publicList input{
	width: 512px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #d5dde6;
    border-radius: 2px;
    padding-left: 10px;
}
.deleteCon.applicForm .error-tips-box.other {
    left: 216px;
    top: 50px;
}
.downTxtDiv {
    position: relative;
    padding-left: 4px;
}
.downTxtDiv .error-tips-box{
	top: 50px;
    left: 8px;
}
.dialog-downMenu {
    height: 32px;
    line-height: 32px;
    border: 1px solid #d5dde6;
    width: 512px;
    padding-left: 10px;
    border-radius: 2px;
    position: relative;
    margin-top: 14px;
}
.dialog-downMenu ul li {
    height: 34px;
    line-height: 34px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    padding-left: 8px;
}
.dialog-downMenu .icon-arrow{
	margin-top: 8px;
    margin-right: 6px;
}
.publicList span.sexBox{
	margin-right: 40px;
}
.selectFile {
    display: inline-block;
    width: 120px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #00c3f5;
    color: #fff;
    margin-right: 15px;
}
.tipsWord {
    font-size: 12px;
    color: #999;
    line-height: 20px;
    margin-left: 5px;
}
.publicList .orgFile .error-tips-box.other{
	top: 45px;
    font-size: 12px;
}
/*服务列表*/
.percentageWh10{
	width: 10%;
}
.mainTable.userList .ctrRed{
	color: #ff3c00;
}
.mainTable.userList .ctrBlue{
	color: #259dcc;
}
/*新增服务*/
.serviceDescription {
    width: 502px;
    height: 58px;
    background: #f2f1f4;
    border: 1px solid #f2f1f4;
    resize: none;
    color: #999;
    padding: 5px 10px;
    line-height: 20px;
}
.publicList.publicListDownMenu{
	width: 740px;
	margin-bottom: 10px;
}
.publicList.publicListDownMenu .downTxtDiv .dialog-downMenu{
	width: 245px;
}
.publicList span.uploadLogo {
    display: inline-block;
    width: 200px;
    height: 150px;
    background: #f2f1f4;
    border-radius: 2px;
    text-align: center;
}
.upFileBox {
    height: 87px;
    display: inline-block;
    padding-top: 37px;
}
.applicForm .publicList span p {
    margin-bottom: 10px;
}
.applicForm .publicList span img{
	max-width: 200px;
	max-height: 150px;
}
.uploadLogo p {
    line-height: 16px;
    color: #666;
}
.publicList .downTxtDiv + p.tips{
	float: left;
    width: 524px;
    color: #999;
    padding-left: 10px;
    margin-top: 20px;
}
.permissionSettings.scopeTreeMenu{
	width: 522px;
    margin-left: 4px;
}
.publicList .permissionSettings.scopeTreeMenu .perTit input{
	width: 490px;
    background: #fff;
}
.permissionSettings.scopeTreeMenu .permissionBox .permissionMenu{
	width: 514px;
}
/*请选择服务模板*/
.dialog-inner.dialog-wh600{
	width: 600px;
	height: 480px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.serviceListBox{
	margin: 0 30px;
}
.serviceTableList{
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
.serviceTableList th,.serviceTableList td{
	padding: 0 10px;
	border: 1px solid #d1dadf;
	height: 32px;
}
.serviceTableList th{
	background: #f4f8fb;
	text-align: left;
}
.templateNameTd{
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	float: left;
}
.rm-advanced-search-dl.searchService .rm-advanced-search-dt{
	width: 121px;
}
.rm-advanced-search-dl.searchService .rm-advanced-search-dd .rm-advanced-search-inp{
	width: 422px;
}
/*服务分类*/
.navListTreeMenu{
	width: 224px;
	height: -webkit-calc(100% - 200px);
	height: -moz-calc(100% - 200px);
	height: calc(100% - 200px);
	float: left;
	border: 1px solid #e4eaf0;
}
.sortNavTit{
	font-size: 14px;
	color: #353f4c;
	height: 44px;
	line-height: 44px;
	padding-left: 14px;
	background: #f4f8fb;
	border-bottom: 1px solid #e4eaf0;
}
.treeMenuBox{
	padding: 0 10px 10px;
}
.sortList{
	float: right;
	width: -webkit-calc(100% - 236px);
	width: -moz-calc(100% - 236px);
	width: calc(100% - 236px);
}
/*服务发布*/
.percentageWh8{
	width: 8%;
}
.rm-main-icon-box .rm-icon-btn.marRtNot{
	margin-right: 0;
}
.publicList .permissionSettings .perTit input {
    width: 180px;
    height: 28px;
    border: 1px solid #d5dde6;
    background: #fff;
    font-size: 14px;
}
.releaseTreeMenu .permissionSettings .permissionBox .permissionMenu{
	width: auto;
}
.releaseTreeMenu .permissionSettings .permissionBox .permissionMenu > ul{
	border: none;
}
.releaseTreeMenu .permissionSettings .permissionBox .permissionMenu ul li a i{
	margin: 0 5px 0 10px;
}
/*服务上线*/
.percentageWh7{
	width: 7%;
}
.percentageWh18{
	width: 18%;
}
.percentageWh19{
	width: 19%;
}
.downTxtDiv.whDodnMenu .dialog-downMenu{
	width: 90px;
}
.sxqdSelect .downTxtDiv.whDodnMenu .dialog-downMenu{
	width: 90px;
    margin-top: 4px;
}
.deleteCon.applicForm .publicList .sxqdSelect .sxqdText{
	width: 405px;
    margin-left: 5px;
    float: left;
    margin-top: 4px;
}
.sxqdSelect i.icon-sxqdDelete{
	margin-left: 5px;
    float: left;
    margin-top: 13px;
    cursor: pointer;
}
.sxqdListBox{
	margin-bottom: 6px;
}
.btnAddsxqd{
	background: #00c3f5;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    float: left;
    padding: 0 15px;
    margin:14px 0 0 4px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.btnAddsxqd:hover{
	opacity: 0.8;
}
.wh164{
	width: 150px;
}
.rm-main-icon-box a.rm-icon-btn{
	letter-spacing: 0;
	font-size: 0;
}
.description {
    line-height: 25px;
    display: inline-block;
    margin-top: 13px;
}
.uploadLogoImg img {
    max-width: 200px;
    max-height: 150px;
}
/*弹框翻页*/
.page-box.dialog-pageBox{
	margin-top: 20px;
    padding-bottom: 0px;
    padding-right: 0px;
}
.downTxtDiv .dialog-downMenu .icon-arrow{
	position: absolute;
    right: 6px;
    top: 8px;
    margin-top: 0;
    margin-right: 0;
}
.publicList span.sexBox{
	width: auto;
}
.publicList span.sexBox:nth-last-of-type(1){
	margin-right: 0;
}
/*默认获取input字体颜色defalutColor*/
.defalutColor:-ms-input-placeholder{color: #57677e;}
.defalutColor::-webkit-input-placeholder{color: #57677e;}
.defalutColor::-moz-placeholder{color: #57677e;}
.defalutColor:-moz-placeholder{color: #57677e;}
.sxqdSelect .downTxtDiv.whDodnMenu .dialog-downMenu span.defaul_option{
	width: 100%;
}
