@charset "utf-8";

/* reset */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
form,
input,
textarea,
th,
td,
select,
button {
  margin: 0;
  padding: 0;
  font-family: Microsoft YaHei, simhei, simsun;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
}

html {
  height: 100%;
}

body {
  min-width: 1260px;
  background: #e9f2f7;
  height: 100%;
}

em,
i,
address {
  font-style: normal;
}

b,
strong {
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button {
  background: none;
  border: none;
  outline: none;
}

button {
  box-sizing: content-box;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

input:focus {
  border-color: #18c7c7;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.2s ease-in-out;
}

a:active,
a:hover {
  outline: none;
}


/* public */

.flt {
  float: left;
}

.frt {
  float: right;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.pub-box-shadow {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::-moz-placeholder {
  color: #bfc0c1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bfc0c1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bfc0c1;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}


/* 这是针对缺省样式 (必须的) */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin-right: 1px;
}


/* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}


/* 滑块颜色 */

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}


/* 滑轨两头的监听按钮颜色 */

::-webkit-scrollbar-button {
  background-color: #e0e0e0;
}


/* 横向滚动条和纵向滚动条相交处尖角的颜色 */

::-webkit-scrollbar-corner {
  background-color: black;
}

.icon,
.icon2,
.icon3 {
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

.icon {
  background-image: url("../img/icon.png");
  width: 18px;
  height: 18px;
}

.icon2 {
  background-image: url("../img/icon2.png");
  width: 26px;
  height: 26px;
}
.icon3 {
  background-image: url("../img/icon3.png");
  width: 16px;
  height: 16px;
}
.container {
  height: 100%;
}

.main {
  padding-top: 64px;
}

.content {
  min-height: 100%;
}

.header {
  height: 64px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  background: #15A1EF;
  width: 100%;
}
.leftLogo{
  height: 64px;
  width: 179px;
  background: #15A1EF;
  border-right: 1px solid #3fbaea;
}
.logo-box {
  width: 180px;
  text-align: center;
}

.logo-pic {
  margin-top: 15px;
  margin-left: 22px;
}

.header-switch-icon {
  cursor: pointer;
  width: 20px;
  height: 15px;
  margin: 25px 10px 0px 25px;
  background-position: 0px 0px;
}
.headerTitle{
  font-size: 18px;
  color: #fff;
  line-height: 62px;
  margin-left: 15px;
}
.header-user-box {
  padding-right: 22px;
  line-height: 45px;
}
.userMenu{
  position: absolute;
  top: 64px;
  right: 25px;
  background: #fff;
  width:134px;
  border-radius:2px;
  border:1px solid #d5dde6;
  padding: 12px 0;
}
.userMenu ul li{
  line-height: 30px;
  text-align: center;
}
.userMenu ul li a{
  color: #57677e;
  font-size: 14px;
}
.userMenu ul li:hover a{
  color: #259dcc;
}
.header-user-avator {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 12px 10px 0 0;
  background: #D8D8D8;
}

.header-user-name {
  color: #fff;
  font-size: 14px;
  line-height: 62px;
  margin-right: 10px;
}
.header-user-icon {
  background-position: 3px -205px;
  margin-top: 22px;
}
/*位置信息*/
.bread-crumbs {
  height: 50px;
  margin-bottom:15px;
  border-bottom: 1px solid #e4eaf0;
}
.bread-crumbs-content {
  background: #fdfdfd;
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 15px;
  color: #57677e;
}
.bread-crumbs-content span {
  font-size: 14px;

}
.bread-crumbs-content span.cor-pointer{
  cursor: pointer;
}
.bread-crumbs-content span.locationgLine{
  margin: 0 5px;
}
.bread-crumbs-content i.cor-0498e4 {
  margin: 0 2px 0 2px;
}
.corBlue{
  color: #15A1EF !important;
}
.corRed{
  color: #ff3c00 !important;
}
.icon-load{
  display: inline-block;
  width: 8px;
  height: 14px;
  background-position: 0px -62px;
  margin: 0 6px;
  padding-top: 4px;
  vertical-align: middle;
}
.footer {
  height: 39px;
  margin-top: 15px;
  background: #fff;
  margin-left: 180px;
  font-size: 14px;
  line-height: 39px;
  color: #7b8494;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e4eaf0;
  padding-left: 15px;
}

.footer span {
  margin: 0 45px;
}

.nav {
  width: 0px;
  position: fixed;
  left: 0;
  top: 64px;
  bottom: 0;
  background: #fff;
  border-right: 1px solid #c4d3db;
  z-index: 1;
  -webkit-transition: width ease .3s;
  -moz-transition: width ease .3s;
  transition: width ease .3s;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

/*.content {
	-webkit-transition: margin-left ease .3s;
	-moz-transition: margin-left ease .3s;
	transition: margin-left ease .3s;
}*/

.nav-fix-wdh {
  width: 180px;
}

.main.open .nav {
  width: 180px;
}

.main.open .content {
  margin-left: 180px;
  position: relative;
  margin-bottom: 56px;
}

.nav-user-box {
  border-bottom: 1px solid #151821;
  text-align: center;
  height: 132px;
  padding-top: 30px;
  margin-bottom: 6px;
}

.nav-user-avator {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.nav-user-role {
  font-size: 14px;
  line-height: 24px;
  color: #adbcdd;
  margin-top: 10px;
}

.nav-user-name {
  color: #6d768a;
  line-height: 20px;
}

.nav-user-role span {
  display: inline-block;
  vertical-align: middle;
}

.nav-user-role i {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  overflow: hidden;
  border-left: 5px dashed transparent;
  border-right: 5px dashed transparent;
  border-top: 6px solid #68728a;
  margin: 1px 0 0 6px;
}

/*.nav-item {
	margin-bottom: 10px;
}*/

.nav-link-box {
  height: 40px;
  box-sizing: border-box;
  padding: 0 15px;
  position: relative;
}
/*左侧图标*/
.icon-workbench{
  background-position: 0 0;
}
.icon-monitorManage{
  background-position: 0 -260px;
}
.icon-temManage{
  background-position: 0 -280px;
}
.icon-accessManage{
  background-position: 0 -20px;
}
.icon-purchaseManage{
  background-position: 0 -40px;
}
.icon-publicService{
  background-position: 0 -60px;
}
.icon-userManage{
  background-position: 0 -80px;
}
.icon-sysManage{
  background-position: 0 -100px;
}
.icon-developersManage{
  background-position: 0 -120px;
}
.icon-sysMonitorManage{
  background-position: 0 -140px;
}
.icon-arrow{
  float: right;
  margin-top: 12px;
  cursor: pointer;
}
.icon-arrow{
  background-position: 3px -165px;
}
.icon-arrow.active{
  background-position: 3px -185px;
}
.icon-defalutMenu{
  width: 4px;
  height: 4px;
  margin-right: 15px;
}
.icon-defalutMenu{
  background-position: 0px -250px;
}
.nav-sub-list .nav-sub-link:hover .icon-defalutMenu,
.nav-sub-list .nav-sub-link.active .icon-defalutMenu{
  background-position: -10px -250px;
}
.icon-exportAll{
  background-position: 0px -80px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.icon-downMenu-symbol{
  background-position: -16px -70px;
  margin-top: 4px;
  cursor: pointer;
}
/*操作图标*/
.icon-view{
  background-position: 0px 0px;
}
.rm-main-icon-box .rm-icon-btn:hover .icon-view{
  background-position: -40px 0px;
}
.icon-verify{
  background-position: 0px -40px;
}
.rm-main-icon-box .rm-icon-btn:hover .icon-verify{
  background-position: -40px -40px;
}


.nav-link {
  font-size: 14px;
  color: #57677e;
  line-height: 40px;
  margin-left: 4px;
}

.nav-arrow-icon {
  position: absolute;
  right: 10px;
  top: 18px;
  width: 8px;
  height: 5px;
  background-position: -30px 0px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.nav-sub-list {
  padding-bottom: 8px;
  display: none;
}

.nav-sub-link {
  display: block;
  line-height: 26px;
  padding-left: 40px;
  color: #57677e;
  font-size: 14px;
}

.nav-sub-link:hover,
.nav-sub-link.active {
  color: #259dcc;
}
.nav-item.active{
  border-left: 3px solid #29acdf;
  background: #f2f7fa;
}
.nav-item.active .nav-link-box {
  padding-left: 11px;
}

.nav-item.active .nav-icon {
  opacity: 1;
}

.nav-item.active .nav-link {
  color: #57677e;
}

.nav-item.open .nav-arrow-icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nav-item.open .nav-sub-list {
  display: block;
}
/*跳转*/
/*跳转*/
.page-box {
  margin-top: 30px;
  padding-bottom: 50px;
  padding-right: 15px;
}
.page-tips {
  color: #000;
  line-height: 30px;
}
.page-list {
  margin: 0 3px 0 10px;
  /*border: 1px solid #e4eaf0;*/
  border-right: none;
  border-radius: 2px;
}
.page-txt {
  line-height: 30px;
  color: #666;
  margin-left: 15px;
}
.perPageShow{
  display: inline-block;
  border: 1px solid #ddd;
  height: 22px;
  line-height: 22px;
  text-align: center;
  width: 48px;
  border-radius: 2px;
  margin: 5px 5px 0;
  color: #333;
}
.perPageShow .icon-downMenu{
  width: 13px;
  margin-top: 6px;
  cursor: pointer;
}
.page-item,
.page-btn {
  color: #666;
  border-right: 1px solid #e4eaf0;
  float: left;
  height: 28px;
  line-height: 28px;
  padding: 0px 15px;
  cursor: pointer;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
/*.page-jump{
	padding: 0 26px;
}
.page-jump.click{
	background: #eee;
	border: 1px solid #ccc;
}*/
.page-item.active,
.page-item.active:hover{
  background: #00c3f5;
  color: #fff;
  border-color: #00c3f5;
  margin: -1px;
  height: 30px;
}
.page-btn:hover{
  color: #00c3f5;
}
.page-item:hover {
  color: #15A1EF;
}
.page-item.disabled:hover {
  color: #333;
}
.page-item.disabled {
  cursor: not-allowed;
}
.page-ellipsis:hover {
  color: #333;
  border-color: #e4eaf0;
  background: none;
}
.page-item.active,
.page-ellipsis {
  cursor: text;
}
.page-btn {
  color: #333;
  padding: 0 15px;
  margin-left: 10px;
  border: 1px solid #e4eaf0;
}
.page-inp {
  width: 40px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #e4eaf0;
  margin-left:10px;
  margin-right: -5px;
  text-align: center;
  border-radius: 2px;
}

/*搜索*/
.icon4{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/icon4.png) no-repeat;
  vertical-align: middle;
}
.inner-search-icon{
  background-position: -1px -19px;
  margin-right: 10px;
  margin-top: 8px;
}
.icon-downMenu{
  background-position:0px -50px;
  float: right;
  margin-top: 12px;
  height: 8px;
}
.check-icon{
  background-position:0px -65px;
  margin-left: 15px;
}
.check-icon.checked{
  background-position:0px -84px;
}
.tr-selected .check-icon {
    background-position: 0 -84px;
}
.icon-defalut{
  background-position:-22px 0px;
  margin-top: 2px;
  margin-left: 5px;
}
.icon-top{
  background-position:-22px -15px;
  margin-top: 2px;
  margin-left: 5px;
}
.icon-bottom{
  background-position:-22px -30px;
  margin-top: 2px;
  margin-left: 5px;
}
/*tab筛选*/
.tabListTit ul li{
  cursor: pointer;
  font-size: 16px;
  color: #57677e;
  float: left;
  height: 56px;
  line-height: 56px;
  min-width: 34px;
  margin-right: 20px;
  padding: 0 30px;
  text-align: center;
}
.tabListTit ul li.active{
  margin-bottom: -1px;
  border-bottom: 2px solid #29acdf;
  color: #29acdf;
}
.tabListTit{
  border-bottom: 1px solid #e4eaf0;
  margin: 0 -15px;
}
/*下拉菜单*/
.downMenu {
  margin-right: 10px;
}
.downMenuTit{
  height: 34px;
  line-height: 34px;
  color: #7b8494;
  margin-right: 5px;
  font-size: 14px;
}
.select-box {
  position: relative;
  min-width: 100px;
  height: 32px;
  padding-left: 8px;
  border: 1px solid #dddddd;
  line-height: 32px;
  color: #333;
  font-size: 14px;
  border-radius: 2px;
}
.select-box .header-user-icon{
  margin-top: 12px;
  margin-left: 0px;
  margin-right: 8px;
}
.result_select_text{
  line-height: 34px;
}
.select-box ul {
  position: absolute;
  top: 32px;
  left: -1px;
  z-index: 199;
  display: block;
  width: 100%;
  margin: 0;
  border: 1px solid #dddddd;
  background: #fff;
  padding: 10px 0 7px;
  max-height: 230px;
  overflow-y: auto;
}
.select-box ul li {
  height: 34px;
  line-height: 34px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}
.select-box ul li:hover{
  color: #02bfff;
}
/*新的开始2.0*/
.icon-addNewCustomers{
	background-position: 0px -340px;
	width: 18px;
	height: 18px;
	margin-right: 5px;
}
.icon-addUser {
    background-position: -50px -310px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.icon-titEnable,.icon-titDisable{
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
.icon-titEnable{
	background-position: right -340px;
}
.icon-titDisable{
	background-position: right -360px;
}
.icon-sxqdDelete{
	background-position: 0 -40px;
}
.icon-release{
	background-position: 0 -390px;
}
.icon-release:hover{
	background-position: -40px -390px;
}
.icon-serviceSystem{
	background-position: 0px -300px;
}
.icon-customersSystem{
	background-position: 0px -330px;
}