<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>预约失败</title>
		<link rel="stylesheet" href="/css/news.css" />
		<link rel="stylesheet" href="/css/hospital/hospital.css"/>
		<link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
		<link rel="stylesheet" href="/css/NMGHospital/NMGHospital.css" />
		<script>
            var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                citySRC = "<%= cityInfo.citySRC %>",
                cityInfo = "<%= cityInfo %>",
                cityID = "<%= cityID %>",
                local_x = "<%= local_x %>"
                ,local_y = "<%= local_y %>",
                localFrom = "<%= locals.localFrom %>";
		</script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max" id="max" v-cloak>
			<!--banner图-->
			<div class="banner">
				<% include ../header.html %>
				<div class="userAvatarBox" @click="toUserCenter()" v-cloak>
					<a href="javascript:;">
						<p><img src="/images/hospital/userAvatar.png"></p>
						<p>个人中心</p>
					</a>
					<div class="dialog-userCenter NMGUser" v-show="userCenterFlag" v-cloak>
						<div class="triangle"></div>
						<ul>
							<li><a href="javascript:;" @click="goPersonCenter()">挂号信息</a></li>
							<li><a href="javascript:;" @click="goVisit()">就诊人管理</a></li>
							<li><a href="javascript:;" @click="goPersonInfo">个人信息</a></li>
							<li style="display:none;"><a href="javascript:;" >密码修改</a></li>
							<li><a href="javascript:;" @click="exitBtn($event)">退出登录</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--预约详情-->
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home regWH">
					<h1 class="p-q-tit"><img @click="back" v-cloak src="/images/icon-return.png" class="icon-return"/>预约详情</h1>
					<!--预约失败 start-->
					<div class="notFound" style="display: ;">
						<div class="img-box"><img src="/images/notFound.png"></div>
						<div class="notF-infor">预约失败，请稍后重新预约！</div>
					</div>
				</div>
			</div>
			<div class="mask" v-if="maskFlag" v-cloak></div>
			<!--退出弹框-->
			<div class="dialog-tel" v-if="exitFlag" v-cloak>
				<div class="titTel">您确定要退出登录吗？</div>
				<div class="btn-tel">
					<a href="javascript:;" @click="cancelExit()">取消</a>
					<a href="javascript:;" @click="exit()">确定</a>
				</div>
			</div>
			<div style="height: 1.3rem;"></div>
			<div class="masktime" id="masktime" v-if="masktime" ref="masktime" v-cloak>{{masktime}}</div>
			<div class="data-sources">服务来源：内蒙古卫生计生委统一预约诊疗应用系统</div>
		</div>
		<script src="/lib/vue.min.js"></script>
		<script src="/lib/axios.js"></script>
		<script src="/js/nmgHospital/appointmentFailed.js"></script>
        <script type="text/javascript" src="/js/all.js"></script>
	</body>
</html>
