<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>预约详情</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/sDHospital/sDHospital.css"/>
    <link rel="stylesheet" href="/css/NMGHospital/NMGHospital.css">
	<style>
		.reserve-title span:nth-of-type(1) {
			width: 36%!important;
		}
	</style>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityInfo = "<%= cityInfo %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
        var appointId=window.localStorage.getItem('appointId');
        var hosId=window.localStorage.getItem('hosId');
        var docId=window.localStorage.getItem('docId');
        var dateStr=window.localStorage.getItem('dateStr');
        var ampm=window.localStorage.getItem('ampm');
        var visitPhone=window.localStorage.getItem('visitPhone');
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max" v-cloak>
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox" @click="toUserCenter()" v-cloak>
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
				<div class="dialog-userCenter NMGUser" v-show="userCenterFlag" v-cloak>
					<div class="triangle"></div>
					<ul>
						<li><a href="javascript:;" @click="goPersonCenter()">挂号信息</a></li>
						<li><a href="javascript:;" @click="goVisit()">就诊人管理</a></li>
						<li><a href="javascript:;" @click="goPersonInfo">个人信息</a></li>
						<li style="display:none;"><a href="javascript:;" >密码修改</a></li>
						<li><a href="javascript:;" @click="exitBtn($event)">退出登录</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--科室挂号-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img v-cloak @click="back" src="/images/icon-return.png" class="icon-return"/>预约详情</h1>
				<div class="reserve-title successMsg-remind">
					<span>预约成功</span>
					<span v-cloak>短信已发送到手机 {{visitPhone}}</span>
				</div>
				<div class="reservationDetails">
					<ul>
						<li><em></em><label>就诊人：</label><span v-cloak>{{dataList.pationName}}</span></li>
						<li><em></em><label>订单号：</label><span v-cloak>{{dataList.orderId}}</span></li>
						<li><em></em><label>医院名称：</label><span v-cloak>{{dataList.hosName}}</span></li>
						<li><em></em><label>预约科室：</label><span v-cloak>{{dataList.depName}}</span></li>
						<li><em></em><label>预约医生：</label><span class="color0083e0" v-cloak>{{dataList.docName}}</span></li>
						<li><em></em><label>诊查费：</label><span><b v-cloak>￥{{dataList.money}}元</b></span></li>
						<li><em></em><label>就诊时间：</label><span v-cloak>{{dataList.time}}</span></li>
					</ul>
				</div>
				<div class="btn-box gSBtnBox clearfix">
					<input type="button" value="返回首页" @click="goHome"  class="btn-home fl" />
					<input type="button" value="个人中心" @click="getPersonCenter"  class="btn-userCen fr" />
				</div>
			</div>
			<!--默认提示-->
			<div class="login-tips XL-query">
				<p class="zjsxTit"><img src="/images/icon-tips.png">就诊须知：</p>
				<p>1、请于就诊当日所预约时间段提前30分钟到门诊大厅挂号窗口凭注册号和患者身份证取号（医保患者请携带医保本），逾期作废。</p>
				<p>2、请您珍惜网上预约的专家门诊资源，按时就诊，如预约成功后因故确定不能按时就诊，请务必于就诊日（工作日）前一天：14：00前及时取消预约</p>
				<p>3、挂号，否则按违约处理 ，累计三次。您将无法进行网上预约。</p>
				<p>4、如果您预约的专家临时请假，我们会提前通过短信告知取消就诊，请注意网上专家门诊停诊通知或进行电话咨询。</p>
			</div>
		</div>
		<div class="mask" v-if="maskFlag" v-cloak></div>
		<!--退出弹框-->
		<div class="dialog-tel" v-if="exitFlag" v-cloak>
			<div class="titTel">您确定要退出登录吗？</div>
			<div class="btn-tel">
				<a href="javascript:;" @click="cancelExit()">取消</a>
				<a href="javascript:;" @click="exit()">确定</a>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="masktime" id="masktime" v-if="masktime" ref="masktime" v-cloak>{{masktime}}</div>
		<div class="data-sources">服务来源：内蒙古卫生计生委统一预约诊疗应用系统</div>
	</div>
	<script src="/lib/vue.min.js"></script>
	<script src="/lib/axios.js"></script>
	<script src="/js/nmgHospital/appointmentDetails.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>