<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>医生简介</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/sDHospital/sDHospital.css"/>
    <link rel="stylesheet" href="/css/NMGHospital/NMGHospital.css"/>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityInfo = "<%= cityInfo %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
        var RHospitalId=window.localStorage.getItem('hosId');
        var RRegionId=window.localStorage.getItem('cityid');
        var hosName=window.localStorage.getItem('hosName');
        var hosGrade=window.localStorage.getItem('hosGrade');
        var deptId=window.localStorage.getItem('deptId');
        var deptName=window.localStorage.getItem('deptName');
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max" v-cloak>
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox" @click="toUserCenter()">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
				<div class="dialog-userCenter NMGUser" v-show="userCenterFlag" v-cloak>
					<div class="triangle"></div>
					<ul>
						<li><a href="javascript:;" @click="goPersonCenter()">挂号信息</a></li>
						<li><a href="javascript:;" @click="goVisit()">就诊人管理</a></li>
						<li><a href="javascript:;" @click="goPersonInfo">个人信息</a></li>
						<li style="display:none;"><a href="javascript:;" >密码修改</a></li>
						<li><a href="javascript:;" @click="exitBtn($event)">退出登录</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--科室挂号-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit">
					<img @click="back" v-cloak src="/images/icon-return.png" class="icon-return"/>
	                <span class="color0083e0" v-cloak>{{deptName}}</span>
				</h1>
			</div>
			<div v-for="item in dataList" v-cloak class="peccancyQuery userInfor onlyStyle clearfix">
				<dl class="hosList sDDlList NMGHosList">
					<dt><a href="javascript:;"><img v-cloak :src="'http://110.16.70.24:8080'+item.docImg" class="photo"></a></dt>
					<dd>
						<p class="nameOffice"><span v-cloak>{{item.docName}}</span>{{item.docGrade}}</p>
						<p class="title" v-cloak>{{hosName}}</p>
						<p class="introduce" v-cloak>擅长领域：{{item.goodAt}}</p>
					</dd>
				</dl>
				<div class="reservationDate sDTableDiv spacTop">
					<table class="reservationList sDTableData">
						<tr>
							<th>排班</th>
							<th v-for="(week,index) in weekList" v-cloak>{{weList[week]}}<br>{{dateList[index]}}</th>
						</tr>
						<tr>
							<td>上午</td>
							<td v-for="am in item.am"  v-cloak :class="{'byAppointment':am.sur=='预约','expiry':am.sur=='约满','stopZ':am.sur=='停诊','stopY':!am.sur}">
								<span v-cloak v-if="am.sur=='预约'" @click="checkLogin(am.href)">预约</span>
								<span v-cloak v-if="am.sur=='约满'">约满</span>
								<span v-cloak v-if="am.sur=='停诊'">停诊</span>
							</td>
						</tr>
						<tr>
							<td>下午</td>
							<td v-for="pm in item.pm" v-cloak :class="{'byAppointment':pm.sur=='预约','expiry':pm.sur=='约满','stopZ':pm.sur=='停诊','stopY':!pm.sur}">
								<span v-cloak v-if="pm.sur=='预约'" @click="checkLogin(am.href)">预约</span>
								<span v-cloak v-if="pm.sur=='约满'">约满</span>
								<span v-cloak v-if="pm.sur=='停诊'">停诊</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>


		<!-- ---------------------------------------查询动画提示开始--------------------------------------------- -->
		<div class="mask" style="opacity: 0;" id="dialogMask" v-if="this.dialogMask==true"></div>
		<div class="dialog-tel timeM" style="text-align: center;" id="dialog" v-if="this.dialogMask==true">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- ---------------------------------------查询动画提示结束--------------------------------------------- -->
		<div class="mask" v-if="maskFlag" v-cloak></div>
		<!--退出弹框-->
		<div class="dialog-tel" v-if="exitFlag" v-cloak>
			<div class="titTel">您确定要退出登录吗？</div>
			<div class="btn-tel">
				<a href="javascript:;" @click="cancelExit()">取消</a>
				<a href="javascript:;" @click="exit()">确定</a>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="masktime" id="masktime" v-if="masktime" ref="masktime" v-cloak>{{masktime}}</div>
		<div class="data-sources">服务来源：内蒙古卫生计生委统一预约诊疗应用系统</div>
	</div>
	<script src="/lib/vue.min.js"></script>
	<script src="/lib/axios.js"></script>
	<script src="/js/nmgHospital/department.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>