<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>登录</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/NMGHospital/NMGHospital.css" />
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityInfo = "<%= cityInfo %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>"
            ,comeForm = "<%= comeForm %>",
            localFrom = "<%= locals.localFrom %>";

	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max" v-cloak>
		<!--banner图-->
		<% include ../header.html %>
		<!--登录-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home heNanReg">
				<h1 class="p-q-tit"><img @click="back" src="/images/icon-return.png" class="icon-return" v-cloak/>登录</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>登录名</label>
					<input type="text" v-model="username" placeholder="请输入手机号" />
				</div>
				<div class="text-list-div">
					<label>密码</label>
					<input type="password" v-model="password" placeholder="请输入密码" />
				</div>
				<div class="btn-box">
					<input type="button" value="登录" @click="login"/>
				</div>
				<div class="goLoginBox clearfix">
					<a href="javascript:;" class="btn-fl" @click="forgetPass" v-cloak>忘记密码</a>
					<span class="goRegister">没有账户，去<a href="javascript:;" @click="goRes" v-cloak>注册</a></span>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="mask" v-if="maskFlag" ref="masktime" v-cloak></div>
		<div class="masktime" id="masktime" v-if="masktime" ref="masktime" v-cloak>{{masktime}}</div>
		<div class="data-sources">服务来源：内蒙古卫生计生委统一预约诊疗应用系统</div>
	</div>
	<script type="text/javascript">
		if(localFrom == "xinhuashe_app") {
			var USERNAME = sessionStorage.getItem('NMGHospital_USERNAME'),
					PASSWORD = sessionStorage.getItem('NMGHospital_PASSWORD');
//		document.getElementById('username').value = USERNAME;
//		document.getElementById('password').value = PASSWORD;
		}
	</script>
	<script src="/lib/vue.min.js"></script>
	<script src="/lib/axios.js"></script>
	<script src="/js/nmgHospital/login.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>