<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>内蒙古自治区预约挂号平台</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/NMGHospital/NMGHospital.css">
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	<script>
    var randomKey = "<%= randomKey %>"
        ,userID = "<%= userID%>"
        ,clientID = "<%= clientID %>",
        citySRC = "<%= cityInfo.citySRC %>",
        cityInfo = "<%= cityInfo %>",
        cityID = "<%= cityID %>",
        local_x = "<%= local_x %>"
        ,local_y = "<%= local_y %>"
			,USERNAME = "<%= locals.userName %>"
			,PASSWORD = "<%= locals.password %>",
        localFrom = "<%= locals.localFrom %>";
	if(USERNAME){
		sessionStorage.setItem('NMGHospital_USERNAME',USERNAME);
	}
	if(PASSWORD){
		sessionStorage.setItem('NMGHospital_PASSWORD',PASSWORD);
	}
</script>

</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max" v-cloak>
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox" @click="toUserCenter()">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
				<div class="dialog-userCenter NMGUser" v-show="userCenterFlag" v-cloak>
					<div class="triangle"></div>
					<ul>
						<li><a href="javascript:;" @click="goPersonCenter()">挂号信息</a></li>
						<li><a href="javascript:;" @click="goVisit()">就诊人管理</a></li>
						<li><a href="javascript:;" @click="goPersonInfo">个人信息</a></li>
						<li style="display:none;"><a href="javascript:;" >密码修改</a></li>
						<li><a href="javascript:;" @click="exitBtn($event)">退出登录</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--预约挂号-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit">内蒙古自治区预约挂号平台</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>医院名称</label>
					<input v-model="hosName" type="text" placeholder="请输入医院名称" />
				</div>
				<div class="btn-box">
					<input @click="search()" type="button" value="查询" />
				</div>
			</div>
			<!--查询无结果-->
			<div class="peccancyQuery userInfor onlyStyle" v-show="noResult">
				<h2 class="q-r-tit"><span></span>很抱歉，没有您所查询的医院</h2>
			</div>
			<div class="" v-if="JSON.stringify(dataList)!=='[]'" v-cloak>
				<div class="peccancyQuery userInfor onlyStyle">
					<h2 class="q-r-tit"><span></span>热门医院</h2>
				</div>
				<div  v-for="item in dataList" v-cloak class="peccancyQuery userInfor onlyStyle" @click="godep(item.RHospitalId.split('?')[1].split('=')[1],item.hosGrade,item.hosName)">
					<dl class="hosList hNHosList">
						<dt><a href="javascript:;"><img :src="'http://110.16.70.24:8080'+item.imgSrc"></a></dt>
						<dd>
							<p class="title" v-cloak>{{item.hosName}}</p>
							<p class="time" v-cloak><span>{{item.hosGrade}}</span></p>
							<p class="address" v-cloak><i class="icon-address"></i>{{item.address.substr(3).trim()}}</p>
							<p class="tel"><i class="icon-tel" v-cloak></i>{{item.tel.substr(3).trim()}}</p>
						</dd>
					</dl>
				</div>

			</div>
		</div>
		<div class="mask" v-if="maskFlag" v-cloak></div>
		<!--退出弹框-->
		<div class="dialog-tel" v-if="exitFlag" v-cloak>
			<div class="titTel">您确定要退出登录吗？</div>
			<div class="btn-tel">
				<a href="javascript:;" @click="cancelExit()">取消</a>
				<a href="javascript:;" @click="exit()">确定</a>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="masktime" id="masktime" v-if="masktime" ref="masktime" v-cloak>{{masktime}}</div>
		<div class="data-sources">服务来源：内蒙古卫生计生委统一预约诊疗应用系统</div>
	</div>
	<script src="/lib/vue.min.js"></script>
	<script src="/lib/axios.js"></script>
	<script src="/js/nmgHospital/index.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>