<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>无门诊信息</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/NMGHospital/NMGHospital.css"/>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
				<div class="dialog-userCenter NMGUser">
					<div class="triangle"></div>
					<ul>
						<li><a href="javascript:;">挂号信息</a></li>
						<li><a href="javascript:;">就诊人管理</a></li>
						<li><a href="javascript:;">个人信息</a></li>
						<li><a href="javascript:;">密码修改</a></li>
						<li><a href="javascript:;">退出登录</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--选择科室-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>口腔科门诊</h1>
				<hr class="hrLine">
				<div class="noInfo">
					<p><img src="/images/NMGHospital/noInfo.png"></p>
					<p class="tipsWords">暂无门诊信息~</p>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：内蒙古卫生计生委统一预约诊疗应用系统</div>
	</div>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>