<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>内蒙古自治区预约挂号平台</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/NMGHospital/NMGHospital.css">
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityInfo = "<%= cityInfo %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>"
            ,comeForm = "<%= locals.comeForm %>"||"nmgHospital",
            localFrom = "<%= locals.localFrom %>";

	</script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max" v-cloak>
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox" @click="toUserCenter()">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
				<div class="dialog-userCenter NMGUser" v-show="userCenterFlag" v-cloak>
					<div class="triangle"></div>
					<ul>
						<li><a href="javascript:;" @click="">挂号信息</a></li>
						<li><a href="javascript:;" @click="goVisit()">就诊人管理</a></li>
						<li><a href="javascript:;" @click="goPersonInfo">个人信息</a></li>
						<li style="display:none;"><a href="javascript:;" >密码修改</a></li>
						<li><a href="javascript:;" @click="exitBtn($event)">退出登录</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--预约挂号-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img @click="back" src="/images/icon-return.png" class="icon-return" v-cloak>挂号信息</h1>
				<hr class="hrLine">
				<ul class="gjj-tab clearfix">
					<li v-cloak :class="{'active':selectTab==0}"  @click="tab(0)"><a href="javascript:;">待就诊预约</a><span v-show="selectTab==0" v-cloak></span></li>
					<li v-cloak :class="{'active':selectTab==1}" @click="tab(1)"><a href="javascript:;">历史预约</a><span v-show="selectTab==1" v-cloak></span></li>
				</ul>
			</div>
			<!---待就诊预约 start-->
			<div v-show="selectTab==0" v-cloak>
				<div class="peccancyQuery userInfor onlyStyle">
					<h2 class="q-r-tit">
						<span></span>
						待就诊预约记录
						<label class="sameNameNum" v-cloak>共{{datalist.length}}条</label>
					</h2>
				</div>
				<div v-for="(item,index) in datalist" class="peccancyQuery userInfor onlyStyle" v-cloak>
					<h2 class="q-r-tit" @click="whChange(index)" v-cloak>
						<span></span>
						{{item.orderId}}
						<img :src="wh[index]?'/images/icon-downMenu.png':'/images/icon-upMenu.png'" class="icon-downMenu" v-cloak>
					</h2>
					<div class="regInfo" v-show="wh[index]" v-cloak>
						<dl class="hosList NMGHosList">
							<dt><a href="javascript:;"><img v-cloak :src="'http://110.16.70.24:8080'+item.docImg" class="photo"></a></dt>
							<dd>
								<p class="nameOffice"><span v-cloak>{{item.docName.split('：')[1]}}</span>{{item.docName.split('：')[0]}}</p>
								<p class="title" v-cloak>{{item.hosName}}</p>
								<p class="introduce" v-cloak>{{item.depName.trim()}}</p>
							</dd>
						</dl>
						<div class="reservationDetails NMGReserveDetails">
							<ul>
								<li>
									<em></em>
									<label>预约时间：</label>
									<span v-cloak>{{item.orderTime}}</span>
								</li>
								<li>
									<em></em>
									<label>就诊时间：</label>
									<span v-cloak>{{item.time}}</span>
								</li>
								<li>
									<em></em>
									<label>医院名称：</label>
									<span v-cloak>{{item.hosName}}</span>
								</li>
								<li>
									<em></em>
									<label>就诊人姓名：</label>
									<span v-cloak>{{item.patient}}</span>
								</li>
								<li>
									<em></em>
									<label>状态：</label>
									<span v-cloak class="color0083e0">{{item.status}}</span>
								</li>
							</ul>
						</div>
						<div class="btn-box">
							<input type="button" value="取消预约" @click="cancelOrderbtn(item.appoint)" v-cloak/>
						</div>
					</div>
				</div>
			</div>
			<!---待就诊预约 end-->
			<!---历史预约 start-->
			<div class="historyBox" v-show="selectTab==1" v-cloak>
				<div class="peccancyQuery userInfor onlyStyle">
					<h2 class="q-r-tit">
						<span></span>
						历史预约记录
						<label class="sameNameNum" v-cloak>共{{historyList.length}}条</label>
					</h2>
				</div>
				<div v-for="(item,index) in historyList" class="peccancyQuery userInfor onlyStyle">
					<h2 class="q-r-tit" @click="change(index)" v-cloak>
						<span></span>
						{{item.orderId}}
						<img :src="sh[index]?'/images/icon-downMenu.png':'/images/icon-upMenu.png'" class="icon-downMenu">
					</h2>
					<div class="regInfo" v-show="sh[index]">
						<dl class="hosList NMGHosList">
							<dt><a href="javascript:;"><img v-cloak :src="'http://110.16.70.24:8080'+item.docImg" class="photo"></a></dt>
							<dd>
								<p class="nameOffice"><span v-cloak>{{item.docName.split('：')[1]}}</span>{{item.docName.split('：')[0]}}</p>
								<p class="title" v-cloak>{{item.hosName}}</p>
								<p class="introduce" v-cloak>{{item.depName.trim()}}</p>
							</dd>
						</dl>
						<div class="reservationDetails NMGReserveDetails">
							<ul>
								<li>
									<em></em>
									<label>预约时间：</label>
									<span v-cloak>{{item.orderTime}}</span>
								</li>
								<li>
									<em></em>
									<label>就诊时间：</label>
									<span v-cloak>{{item.time}}</span>
								</li>
								<li>
									<em></em>
									<label>医院名称：</label>
									<span v-cloak>{{item.hosName}}</span>
								</li>
								<li>
									<em></em>
									<label>就诊人姓名：</label>
									<span v-cloak>{{item.patient}}</span>
								</li>
								<li>
									<em></em>
									<label>状态：</label>
									<span class="colorff0808" v-cloak>{{item.status}}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!---历史预约 end-->
		</div>
		<div class="mask" v-if="maskFlag" v-cloak></div>
		<!--取消弹框-->
		<div class="dialog-tel" v-if="cancelFlag" v-cloak>
			<div class="titTel">您确定要取消本次预约吗吗？</div>
			<div class="btn-tel">
				<a href="javascript:;" @click="cancelOrder()">取消</a>
				<a href="javascript:;" @click="cOrder()">确定</a>
			</div>
		</div>
		<!--退出弹框-->
		<div class="dialog-tel" v-if="exitFlag" v-cloak>
			<div class="titTel">您确定要退出登录吗？</div>
			<div class="btn-tel">
				<a href="javascript:;" @click="cancelExit()">取消</a>
				<a href="javascript:;" @click="exit()">确定</a>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="masktime" id="masktime" v-if="masktime" ref="masktime" v-cloak>{{masktime}}</div>
		<div class="data-sources">服务来源：内蒙古卫生计生委统一预约诊疗应用系统</div>
	</div>
	<script src="/lib/vue.min.js"></script>
	<script src="/lib/axios.js"></script>
	<script src="/js/nmgHospital/regInfo.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>