<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>注册</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/NMGHospital/NMGHospital.css"/>
	<link rel="stylesheet" href="/css/mobileSelect.css" />
	<style>
		.ccc{background:#ccc!important;}
	</style>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityInfo = "<%= cityInfo %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>"
            ,comeForm = "<%= comeForm %>",
            localFrom = "<%= locals.localFrom %>";

	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max" v-cloak>
		<!--banner图-->
        <% include ../header.html %>
		<!--注册-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH NMGReg">
				<h1 class="p-q-tit"><img @click="back" src="/images/icon-return.png" class="icon-return" v-cloak/>注册</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>手机号码</label>
					<input v-model="phone" type="text" placeholder="请输入手机号码" />
				</div>
				<div class="text-list-div phone-list-code">
					<label>短信验证码</label>
					<input v-model="code" type="text" placeholder="请输入验证码" />
					<a href="javascript:;" class="get-code" :class={"ccc":wait<60} @click="wait<60?'':getCode()" v-cloak>{{wait<60?"还剩"+wait+"秒":"获取验证码"}}</a>
				</div>
				<div class="text-list-div">
					<label>姓名</label>
					<input v-model="realname" type="text" placeholder="请输入您的真实姓名" v-cloak />
				</div>	
				<div class="text-list-div">
					<label>性别</label>
					<div class="accounts-all">
						<span><picture class="active" @click="selSex($event,1)" v-cloak></picture>男</span>
				    	<span><picture @click="selSex($event,2)" v-cloak></picture>女</span>
					</div>
				</div>
				<div class="text-list-div">
					<label>身份证号码</label>
					<input v-model="cardid" type="text" placeholder="请输入身份证号码" />
				</div>
				<div class="text-list-div">
					<label>设置密码</label>
					<input v-model="passWordOne"  type="password" placeholder="请输入密码" />
				</div>
				<div class="text-list-div">
					<label>确认密码</label>
					<input v-model="passWordTwo" type="password" placeholder="请再次输入密码" />
				</div>
				<div class="text-list-div regTime clearfix" id="proSele" @click="proSele()">
					<label>现居住地：</label>
					<span class="selectDownMenu" id="province" data_id="150000" ref="province">内蒙古自治区</span>
					<img src="/images/icon-downMenu.png" class="icon-downMenu" >
				</div>
				<div class="text-list-div regTime clearfix" id="city" @click="city()">
					<label></label>
					<span id="citySele" class="selectDownMenu" data_id="150100" ref="citySele">呼和浩特市</span>
					<img src="/images/icon-downMenu.png" class="icon-downMenu">
				</div>
				<div class="text-list-div regTime clearfix" id="county" @click="county()">
					<label></label>
					<span id="xianSele" class="selectDownMenu" data_id="150102" ref="xianSele">新城区</span>
					<img src="/images/icon-downMenu.png" class="icon-downMenu">
				</div>
				<div class="text-list-div">
					<label>详细地址</label>
					<input v-model="addressDetail" type="text" placeholder="如：新康家园1号楼2单元" />
				</div>
				<div class="btn-box">
					<input type="button" @click="res()" value="注册" />
				</div>
				<div class="goLoginBox clearfix">
					<span class="goRegister">已有账号？去<a href="javascript:;" @click="goLogin()" v-cloak>登录</a></span>
				</div>
			</div>
		</div>
		<div class="mask" v-if="maskFlag" ref="masktime" v-cloak></div>
		<div class="masktime" id="masktime" v-if="masktime" ref="masktime" v-cloak>{{masktime}}</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：内蒙古卫生计生委统一预约诊疗应用系统</div>
	</div>
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/hospital/mobileSelect.js"></script>
	<script src="/lib/vue.min.js"></script>
	<script src="/lib/axios.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" src="/js/nmgHospital/city.js"></script>
	<script src="/js/nmgHospital/register.js"></script>
</body>
</html>