<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>选择科室</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" href="/css/NMGHospital/NMGHospital.css"/>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityInfo = "<%= cityInfo %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
        var RHospitalId=window.localStorage.getItem('hosId');
        var RRegionId=window.localStorage.getItem('cityid') || cityID;
        var hosName=window.localStorage.getItem('hosName');
        var hosGrade=window.localStorage.getItem('hosGrade');
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max" v-cloak>
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="userAvatarBox" @click="toUserCenter()">
				<a href="javascript:;">
					<p><img src="/images/hospital/userAvatar.png"></p>
					<p>个人中心</p>
				</a>
				<div class="dialog-userCenter NMGUser" v-show="userCenterFlag" v-cloak>
					<div class="triangle"></div>
					<ul>
						<li><a href="javascript:;" @click="goPersonCenter()">挂号信息</a></li>
						<li><a href="javascript:;" @click="goVisit()">就诊人管理</a></li>
						<li><a href="javascript:;" @click="goPersonInfo">个人信息</a></li>
						<li style="display:none;"><a href="javascript:;" >密码修改</a></li>
						<li><a href="javascript:;" @click="exitBtn($event)">退出登录</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--选择科室-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit"><img @click="back" src="/images/icon-return.png" class="icon-return"/>选择科室</h1>
				<hr class="hrLine">
				<div class="peccancyQuery userInfor onlyStyle clearfix">
					<dl class="hosList NMGList">
						<dt><a href="javascript:;"><img  src="/images/heNanHospital/hospitalPic.jpg"></a></dt>
						<dd class="department">
							<p class="title" v-cloak>{{hosName}}</p>
							<p class="titSpan" v-cloak>{{hosGrade}}</p>
							<p class="address" v-cloak>地址：{{hosInfo.address}}</p>
							<p class="tel" v-cloak>电话：{{hosInfo.tel}}</p>
							<p>官网：<a :href="hosInfo.website" v-cloak>{{hosInfo.website}}</a></p>
							<p class="intro" v-cloak style="    line-height: 1.5em; height: 1.5em; ">简介：{{hosInfo.info}}<a href="javascript:;">【查看详情】</a></p>
						</dd>
					</dl>
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>门诊科室</h2>
			</div>
			<div class="peccancyQuery userInfor onlyStyle clearfix">
				<div class="tabTitle">
					<ul>
						<li v-for="(dept,index) in depinfo" v-cloak :class="{active:curChoose==index}" @click="showDeptfn(index)"><a href="javascript:;">{{dept.dep}}</a></li>

					</ul>
				</div>
				<div class="depar-tabCon departmentCon">
					<div class="tabConBox">
						<p v-for="(item,index) in showDept" v-cloak :dept="index" @click="jumpOrder(item.data.RDepartmentId,item.dep.substring(1))">
							{{item.dep.substring(1)}}
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mask" v-if="maskFlag" v-cloak></div>
		<!--退出弹框-->
		<div class="dialog-tel" v-if="exitFlag" v-cloak>
			<div class="titTel">您确定要退出登录吗？</div>
			<div class="btn-tel">
				<a href="javascript:;" @click="cancelExit()">取消</a>
				<a href="javascript:;" @click="exit()">确定</a>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="masktime" id="masktime" v-if="masktime" ref="masktime" v-cloak>{{masktime}}</div>
		<div class="data-sources">服务来源：内蒙古卫生计生委统一预约诊疗应用系统</div>
	</div>
	<script src="/lib/vue.min.js"></script>
	<script src="/lib/axios.js"></script>
	<script src="/js/nmgHospital/selectDepartment.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>