/*办理地点选择*/
.hnList .text-list-div span{
	line-height: 0.61rem;
    font-size: 0.388rem;
    color: #b2b2b2;
    display: inline-block;
    width: -webkit-calc(100% - 3.6rem);
    width: -moz-calc(100% - 3.6rem);
    width: calc(100% - 3.6rem);    
	text-align: right;
}
.hnList .text-list-div.listS span{
	color: #585858;
}
.hnList .text-list-div label{
	line-height: 0.61rem;
	vertical-align: top;
}
.hnList .text-list-div .icon-downMenu{
	right: 0;
}
.hnList .text-list-div span.color58{
	color: #585858;
}
.hnList .text-list-div .tips{
	color: #fb5a02;
    font-size: 0.3rem;
    padding: 0.2rem 0 0;
    text-align: right;
    line-height: 0.4rem;
    margin-right: 0.694rem;
}
/*业务类型*/
.businessList{
	border-bottom: 1px solid #edefee;
	margin: 0 0.55rem;
}
.businessList .q-r-tit{
	padding-top: 0.527rem;
	padding-bottom: 0.416rem;
}
.businessList .q-r-tit span{
	margin-left: 0;
}
.classList{
	margin-bottom: 0.45rem;
}
.classList label{
	width: 3rem;
	font-size: 0.3rem;
	color: #8d8d8d;
	float: left;
	line-height: 0.472rem;
}
.classList span{
	width: -webkit-calc(100% - 3rem);
	width: -moz-calc(100% - 3rem);
	width: calc(100% - 3rem);
	font-size: 0.3rem;
	color: #549dfb;
	float: left;
	line-height: 0.472rem;
}
/*预约须知*/
.intro {
    margin: 0.472rem 0.55rem 0.5rem;
}
.intro p {
    color: #8d8d8d;
    font-size: 0.277rem;
    line-height: 0.55rem;
}
.btn-box.btn-notice input{
	margin: 0;
	width: 100%;
}
/*办证类型*/
.peccancyQuery .q-r-tit span{
	margin-right: 0.138rem;
}
.peccancyQuery.userInfor .hnTypeList .text-list-div label{
	width: 3.25rem;
}
.peccancyQuery.userInfor .hnTypeList .text-list-div input{
	float: left;
	width: -webkit-calc(100% - 4rem);
    width: -moz-calc(100% - 4rem);
    width: calc(100% - 4rem);
    text-align: right;
}
.icon-check {
    display: inline-block;
    background: url(../../images/pointsSettled/icon-check-default.png) no-repeat;
    width: 0.444rem;
    height: 0.444rem;
    background-size: 0.444rem;
    margin-right: 0.2rem;
    vertical-align: middle;
    margin-top: -0.08rem;
}
.icon-check.active {
    background: url(../../images/pointsSettled/icon-check-select.png) no-repeat;
    background-size: 0.444rem;
}
.selectType{
	padding:0.37rem 0.55rem 0 0.694rem;
	border-top: 1px solid #edefee;
}
.selectType .title{
	font-size: 0.388rem;
	color: #474747;
	float: left;
	width: 2.5rem;
}
.selectType .ywList{
	float: left;
	color: #797979;
	font-size: 0.388rem;
	width: -webkit-calc(100% - 2.5rem);
    width: -moz-calc(100% - 2.5rem);
    width: calc(100% - 2.5rem);
}
.selectType .ywList div{
	border-bottom: 1px solid #edefee;
	padding-bottom: 0.22rem;
    margin-bottom: 0.6rem;
}
.selectType .ywList div:nth-last-of-type(1){
	border-bottom: none;
	margin-bottom: 0.2rem;
}
.hnList .text-list-div span.colorBlue{
	color: #549dfb;
}
.peccancyQuery.userInfor .hnTypeList .text-list-div.phone-list-code{
	border-bottom: 1px solid #edefee;
}
.peccancyQuery.userInfor .hnTypeList .text-list-div.phone-list-code input {
    width: -webkit-calc(100% - 5.7rem);
    width: -moz-calc(100% - 5.7rem);
    width: calc(100% - 5.7rem);
    text-align: left;
}
.peccancyQuery.userInfor .hnTypeList .text-list-div.phone-list-code .img-code{
	float: right;
	margin-top: -0.1rem;
}
.hnHeadList{
	border-top: 1px solid #edefee;
}
.hnHeadList .text-list-div:nth-last-of-type(1){
	border-bottom:none;
}
.hnHeadList .text-list-div label{
	width: 2.2rem;
}
.hnHeadList .text-list-div span{
	width: -webkit-calc(100% - 2.5rem);
    width: -moz-calc(100% - 2.5rem);
    width: calc(100% - 2.5rem);
}
.q-r-tit.otherTit{
	padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
/*基本信息填写表*/
.peccancyQuery.userInfor .hnTypeList .text-list-div.textShow input,
.peccancyQuery.userInfor .hnTypeList .text-list-div.spanAuto span{
	width: -webkit-calc(100% - 2.52rem);
	width: -moz-calc(100% - 2.52rem);
	width: calc(100% - 2.52rem);
	height: 0.75rem;
	line-height: 0.75rem;
	padding-left: 0.138rem;
	border: 1px solid #dddddd;
	border-radius: 2px;
	float: left;
    text-align: left;
}
.peccancyQuery.userInfor .hnTypeList .text-list-div.spanAuto .pymList span{
	border: none;
}
.peccancyQuery.userInfor .hnTypeList .text-list-div.spanAuto span{
	margin-right: 0;
}
.peccancyQuery.userInfor .hnTypeList .text-list-div.textShowMore input{
	height: 0.75rem;
	line-height: 0.75rem;
	padding-left: 0.138rem;
	border: 1px solid #dddddd;
	border-radius: 2px;
	float: left;
    text-align: left;
}
.peccancyQuery.userInfor .hnTypeList .text-list-div.textShowMore label{
	width: 2.5rem;
}
.peccancyQuery.userInfor .basicInfoForm .text-list-div label{
	line-height: 0.75rem;
}
.peccancyQuery.userInfor .basicInfoForm .text-list-div span{
    line-height: 0.75rem;
    margin-right: 0.75rem;
}
.peccancyQuery.userInfor .basicInfoForm .text-list-div .icon-downMenu{
	top: 0rem;
}
.peccancyQuery.userInfor .basicInfoForm .text-list-div input{
	line-height: 0.75rem;
}
.peccancyQuery.userInfor .basicInfoForm .text-list-div.pymAuto label{
	width: 2.5rem;
}
.peccancyQuery.userInfor .basicInfoForm .text-list-div .pymList{
	width: 2.7rem;
	height: 0.75rem;
	line-height: 0.75rem;
	padding-left: 0.138rem;
	border: 1px solid #dddddd;
	border-radius: 2px;
	float: left;
    text-align: left;
    position: relative;
}
.peccancyQuery.userInfor .basicInfoForm .text-list-div .pymList:nth-of-type(1){
	margin-right: 0.25rem;
}
.peccancyQuery.userInfor .basicInfoForm .text-list-div .pymList .icon-downMenu{
	top: 0;
}
.peccancyQuery.userInfor .hnOtherHeadList .text-list-div label{
	width: 2.1rem;
}
.peccancyQuery.userInfor .hnOtherHeadList .text-list-div span{
	width: -webkit-calc(100% - 2.95rem);
    width: -moz-calc(100% - 2.95rem);
    width: calc(100% - 2.95rem);
	margin-right: 0.7rem;
    color: #797979;
}
.peccancyQuery.XLQuery-home.spacBot{
	margin-bottom: -0.25rem;
    border-bottom: none;
}
.emergencyContact{
	border: 1px solid #dddddd;
	margin:0.416rem 0.55rem 0;
}
.peccancyQuery.userInfor .basicInfoForm .emergencyContact .text-list-div{
	margin: 0;
	padding:0.3rem 0.416rem;
}
.peccancyQuery.userInfor .basicInfoForm .emergencyContact .text-list-div input{
	width: -webkit-calc(100% - 3.25rem);
    width: -moz-calc(100% - 3.25rem);
    width: calc(100% - 3.25rem);
}
/*性别*/
.accounts-all {
    display: inline-block;
    float: left;
}
.peccancyQuery.userInfor .basicInfoForm .text-list-div .accounts-all span {
    font-size: 0.388rem;
    float: left;
    color: #b2b2b2;
    width: 1.3rem;
    margin-right: 0;
    text-align: left;
}
.peccancyQuery.userInfor .basicInfoForm .text-list-div .accounts-all span:nth-of-type(1) {
    margin-right: 0.7rem;
}
.accounts-all span picture {
    display: inline-block;
    vertical-align: middle;
    width: 0.34rem;
    height: 0.34rem;
    background: url(../../images/icon-checkBox-default.png) no-repeat;
    background-size: 0.34rem 0.34rem;
    margin: -0.03rem 0.2rem 0 0rem;
}
.accounts-all span picture.active {
    background: url(../../images/icon-yh-check.png) no-repeat;
    background-size: 0.34rem 0.34rem;
}
/*选择出生地*/
.dialog-project {
    background: #fff;
    border-radius: 3px;
    position: fixed;
    height: 8.972rem;
    top: 50%;
    margin-top: -4.4rem;
    left: 0.333rem;
    z-index: 100;
    width: -webkit-calc(100% - 0.666rem);
    width: -moz-calc(100% - 0.666rem);
    width: calc(100% - 0.666rem);
}
.dialog-project .title {
    height: 0.972rem;
    line-height: 0.972rem;
    color: #797979;
    font-size: 0.388rem;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.dialog-project .title i {
    display: inline-block;
    vertical-align: middle;
    width: 0.694rem;
    height: 0.694rem;
    background: url(../../images/close.png) no-repeat;
    background-size: 0.694rem;
    position: absolute;
    right: 0.3rem;
    top: 0.166rem;
}
.dialog-con{
	height: 7rem;
	overflow-y: auto;
	margin:0.277rem 0.55rem;
}
.dialog-con ul li{
	color: #666;
	font-size: 0.36rem;
	line-height: 1rem;
}
.dialog-con ul li.active{
	color: #0087e6;
}
.dialog-con ul li.active i{
	display: inline-block;
	vertical-align: middle;
	background: url(../../images/passport/iocn-selected.png) no-repeat;
	width: 0.3rem;
	height: 0.2rem;
	background-size: 0.3rem 0.2rem;
	margin-left: 0.138rem;
}
/*省市选择*/
.addressShowTit{
	border-bottom: 1px solid #e8e8e8;
	font-size: 0.36rem;
	padding: 0 0.55rem;
	height: 1.09rem;
	line-height: 1.09rem;
}
.addressShowTit span{
	display: inline-block;
	color: #333;
	font-size: 0.36rem;
	height: 1.03rem;
    line-height: 1rem;
    margin-right: 0.5rem;
}
.addressShowTit span.colorBlue{
	color: #0087e6;
    border-bottom: 4px solid #549dfb;

}
.dialog-otherCon{
	height: 6.2rem;
}
/*确认提交弹框*/
.dialog-confirm{
	height: auto;
}
.dialog-confirm .titTel{
	height: auto;
    line-height: 0.833rem;
    text-align: left;
    padding: 0.36rem 0.5rem 0.277rem;
}
/*申请成功提示*/
.successTips{
	margin:0 0.55rem;
	padding: 0.277rem 0 0.166rem;
	border-top: 1px solid #edefee;
}
.successTips p.applicationName{
	text-indent: 0;
}
.successTips p{
	font-size: 0.3rem;
	color: #8d8d8d;
	line-height: 0.77rem;
	text-indent: 0.61rem;
}
.successTips p span{
	color: #549dfb;
}
.notFound.applyTips{
	height: auto;
}
.notFound.applyTips .img-box img{
	width: 1.527rem;
	height: 1.527rem;
}
.notFound.applyTips .notF-infor{
	font-size: 0.388rem;
	color: #364555;
	margin-bottom: 0.55rem;
}
/*查询*/
.hnSearchList .text-list-div label{
	width: 4rem;
}
.peccancyQuery.XLQuery-home .hnSearchList .text-list-div input{
	text-align: right;
	float: right;
	width: -webkit-calc(100% - 4rem);
    width: -moz-calc(100% - 4rem);
    width: calc(100% - 4rem);
}
.searchResult{
	border-top: 1px solid #edefee;
	padding: 0.27rem 0 0.146rem;
}
.searchResult .text-list-div{
	border-bottom: none;
	padding: 0.2rem 0;
}
.peccancyQuery.userInfor .searchResult .text-list-div label{
	width: 2.2rem;
}
.peccancyQuery.userInfor .searchResult .text-list-div span{
	width: -webkit-calc(100% - 2.2rem);
    width: -moz-calc(100% - 2.2rem);
    width: calc(100% - 2.2rem);
    color: #797979;
}
.cancelYY{
	float:right;
	margin-right: 0.55rem;
}
/*办理地点选择*/
.dialog-selectList{
	top: 4.1rem;
	height: auto;
	max-height: 7rem;
	overflow-y: auto;
	margin-top: 0;
}
.selectList{
	padding: 0.15rem 0;
}
.selectList ul li{
	font-size: 0.388rem;
	color: #000;
	padding: 0.22rem 0.5rem;
	line-height: 0.6rem;
	border-bottom: 1px solid #ececec;
	text-align: center;
}
.selectList ul li:nth-last-of-type(1){
	border-bottom: none;
}
.selectList ul li:hover{
	color: #ff6600;
}
.titTeS{
	text-align: center;
	color: #329dfc;
	font-size: 0.416rem;
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #ececec;
}
/*拼音姓和拼音名*/
.peccancyQuery.userInfor .hnTypeList .text-list-div.spanAuto.pyPublicGet{
	line-height: 0;
}
.peccancyQuery.userInfor .hnTypeList .text-list-div.spanAuto.pyPublicGet .pyxBox{
	overflow: hidden;
	margin-bottom: -0.2rem;
	width: -webkit-calc(100% - 2.52rem);
	width: -moz-calc(100% - 2.52rem);
	width: calc(100% - 2.52rem);
}
.peccancyQuery.userInfor .hnTypeList .text-list-div.spanAuto.pyPublicGet .autoGetData{
	position: relative;
	display: inline-block;
	margin-right: 0.2rem;
	margin-bottom: 0.2rem;
}
.peccancyQuery.userInfor .hnTypeList .text-list-div.spanAuto.pyPublicGet label{
	width: 2.5rem;
	text-align: left;
}
.peccancyQuery.userInfor .hnTypeList .text-list-div.spanAuto.pyPublicGet .autoGetData span{
	width: auto;
	padding-right: 0.65rem;
	line-height: 0.63rem;
}
.peccancyQuery.userInfor .hnTypeList .text-list-div.spanAuto.pyPublicGet .autoGetData .icon-downMenu{
	top: 0.03rem;
}
/**/
.selectionBox{
	width: -webkit-calc(100% - 2.52rem);
	width: -moz-calc(100% - 2.52rem);
	width: calc(100% - 2.52rem);
    height: 0.75rem;
    line-height: 0.75rem;
    padding-left: 0.138rem;
    border: 1px solid #dddddd;
    border-radius: 2px;
    float: left;
    text-align: left;
    position: relative;
}
.peccancyQuery.userInfor .text-list-div .selectionBox span{
	width: -webkit-calc(100% - 0.65rem);
    width: -moz-calc(100% - 0.65rem);
    width: calc(100% - 0.65rem);
    line-height: 0.7rem;
    text-align: left;
    padding-left: 0.138rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#nationTrigger{
	border: none;
}
.peccancyQuery.userInfor .basicInfoForm .text-list-div .pyxBox.whOne .pymList{
	width: 100%;
}
#type,#getType{
	margin-right: 0.7rem;
}
