<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>中国高等教育学位证书查询结果</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
	</script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
			citySRC = "<%= cityInfo.citySRC %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
        $(function(){
            $(".icon-return").on("click",function(){
                window.location.href="/degree?page=degree&randomKey="+randomKey+"&userID="+userID+"&clientID="+clientID+"&cityID="+cityID+"&local_x="+local_x+"&local_y="+local_y;
                event.preventDefault();
            });
        });
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<div class="banner">
			<% include ../header.html %>
			<div class="title">中国高等教育学位证书查询结果</div>
		</div>
		<!--中国高等教育学位证书查询结果-->
		<div class="warpBox">
			<div class="peccancyQuery userInfor">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return"/>中国高等教育学位证书查询结果</h1>
				<hr class="hrLine">
				<div class="tab-content" id="tab-content-1">
					<div class="baseInfor clearfix">
						<div class="baseLeft textList-wh">
							<div class="text-list-div clearfix">
								<label>姓名：</label>
								<span><%= locals.name %></span>
							</div>
							<div class="text-list-div clearfix">
								<label>性别：</label>
								<span><%= locals.gender %></span>
							</div>
							<div class="text-list-div clearfix">
								<label>出生日期：</label>
								<span><%= locals.birthDay %></span>
							</div>
						</div>
						<div class="base-avatar">
							<img id="picUrl" src='<%= locals.picUrl%>'>
						</div>
					</div>
				</div>
			</div>
			<div class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit"><span></span>学位信息</h2>
				<hr class="hrLine">
				<div class="tab-content textList-wh">
					<div class="text-list-div clearfix">
						<label>学位授予单位:</label>
						<span><%= locals.awardedUnit %></span>
					</div>
					<div class="text-list-div clearfix">
						<label>培养单位：</label>
						<span><%= locals.schoolName %></span>
					</div>
					<div class="text-list-div clearfix">
						<label>学科专业：</label>
						<span><%= locals.major %></span>
					</div>
					<div class="text-list-div clearfix">
						<label>获学位名称</label>
						<span><%= locals.degreeName %></span>
					</div>
					<div class="text-list-div clearfix">
						<label>学位证书编号：</label>
						<span><%= locals.degreeNumber %></span>
					</div>
					<div class="text-list-div clearfix">
						<label>获学位日期：</label>
						<span><%= locals.degreeDate %></span>
					</div>
					<div class="text-list-div clearfix">
						<label>学位电子注册备案编号：</label>
						<span><%= locals.degreeRegisterNumber %></span>
					</div>
				</div>
			</div>
		</div>
		<div class="login-tips XL-query">
			<p>声明:</p>
			<p>1、上述信息仅用于核查学位证书内容参考。如需正式证明，建议向教育部学位与研究生教育发展中心申请办理学位认证。学位认证的具体事宜可咨询010-82379480（周一至周五8:30 - 12:00、13:30 - 17:00，法定节假日除外）。</p>
			<p>2、本查询结果服务来源于相关学位授予单位经所在省（自治区、直辖市）学位委员会办公室报全国学位与研究生教育数据中心备案的学位授予数据。如在查询过程中如发现查询结果与实际证书内容不一致，请与相关学位授予单位的学位管理部门联系核实。本网站无权修改任何数据。</p>
		</div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>