<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>最新学位信息上网情况</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link type="text/css" rel="stylesheet" href="/css/degree/degree.css" />
	<script type="text/javascript" src="/lib/jquery.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
    <script type="text/javascript" src="/js/degree/degreeInternetSituation.js"></script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--最新学位信息上网情况-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home">
				<h1 class="p-q-tit"><img id="back" src="/images/icon-return.png" class="icon-return"/>最新学位信息上网情况</h1>
				<div class="query-date-title">
					<span>省/市名称</span>
					<span>最新上网情况</span>
				</div>
				<div class="tab-content degreeTabList">
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitBJ.html?page=degreeOnlineProgress/unitBJ" class="clearfix" target="_self">
							<label style="float:left;height: 0.3rem;line-height: 0.3rem;">北京市</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitTJ.html?page=degreeOnlineProgress/unitTJ" class="clearfix"  target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">天津市</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitHB.html?page=degreeOnlineProgress/unitHB" class="clearfix" target="_self">
							<label style="float:left;height: 0.3rem;line-height: 0.3rem;">河北省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitSX.html?page=degreeOnlineProgress/unitSX" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">山西省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitNMG.html?page=degreeOnlineProgress/unitNMG" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">内蒙古自治区</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitLN.html?page=degreeOnlineProgress/unitLN" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">辽宁省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitJL.html?page=degreeOnlineProgress/unitJL" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">吉林省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitHLJ.html?page=degreeOnlineProgress/unitHLJ" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">黑龙江省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitSH.html?page=degreeOnlineProgress/unitSH" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">上海市</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitJS.html?page=degreeOnlineProgress/unitJS" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">江苏省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitZJ.html?page=degreeOnlineProgress/unitZJ" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">浙江省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitAH.html?page=degreeOnlineProgress/unitAH" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">安徽省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitFJ.html?page=degreeOnlineProgress/unitFJ" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">福建省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitJX.html?page=degreeOnlineProgress/unitJX" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">江西省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitSD.html?page=degreeOnlineProgress/unitSD" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">山东省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitHN.html?page=degreeOnlineProgress/unitHN" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">河南省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitHuB.html?page=degreeOnlineProgress/unitHuB" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">湖北省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitHuN.html?page=degreeOnlineProgress/unitHuN" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">湖南省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitGD.html?page=degreeOnlineProgress/unitGD" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">广东省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitGX.html?page=degreeOnlineProgress/unitGX" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">广西壮族自治区</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitHaiN.html?page=degreeOnlineProgress/unitHaiN" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">海南省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitCQ.html?page=degreeOnlineProgress/unitCQ" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">重庆省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitSC.html?page=degreeOnlineProgress/unitSC" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">四川省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitGZ.html?page=degreeOnlineProgress/unitGZ" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">贵州省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">云南省</label>
						<a href="/degree/degreeOnlineProgress/unitYN.html?page=degreeOnlineProgress/unitYN" class="clearfix" target="_self">
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitXZ.html?page=degreeOnlineProgress/unitXZ" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">西藏自治区</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitShanX.html?page=degreeOnlineProgress/unitShanX" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">陕西省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitGS.html?page=degreeOnlineProgress/unitGS" class="clearfix" target="_self">
							<label  style="float:left;height: 0.3rem;line-height: 0.3rem;">甘肃省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitQH.html?page=degreeOnlineProgress/unitQH" class="clearfix" target="_self">
							<label style="float:left;height: 0.3rem;line-height: 0.3rem;">青海省</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitNX.html?page=degreeOnlineProgress/unitNX" class="clearfix" target="_self">
							<label style="float:left;height: 0.3rem;line-height: 0.3rem;">宁夏回族自治区</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>
					<div class="text-list-div clearfix">
						<a href="/degree/degreeOnlineProgress/unitXJ.html?page=degreeOnlineProgress/unitXJ" class="clearfix" target="_self">
							<label style="float:left;height: 0.3rem;line-height: 0.3rem;">新疆维吾尔自治区</label>
							<img src="/images/icon-rightArrow.png" class="icon-rightArrow">
						</a>
					</div>					
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：中国学位与研究生教育信息网</div>
	</div>
</body>
</html>