<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>律师事务所查询</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<link rel="stylesheet" href="/css/news.css" />
		<link rel="stylesheet" href="/css/lawfirmEnquiries/lawfirmEnquiries.css" />
		<link rel="stylesheet" href="/css/mobileSelect.css">
	    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
		<script type="text/javascript" src="/lib/zepto.min.js"></script>
		<script type="text/javascript" src="/js/all.js"></script>
		<script type="text/javascript" src="/js/lawfirmEnquiries/mobileSelect.js"></script>
		<script>
			var randomKey = "<%= randomKey %>",
					userID = "<%= userID%>",
					clientID = "<%= clientID %>",
					cityID = "<%= cityID %>",
					local_x = "<%= local_x %>",
					citySRC = "<%= cityInfo.citySRC %>",
					cityName = "<%= cityInfo.cityName %>",
					local_y = "<%= local_y %>",
					localFrom = "<%= locals.localFrom %>";
		</script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max">
			<!--banner图-->
			<div class="banner">
				<img src="/images/lawfirmEnquiries/banner.png">
			</div>
			<div class="warpBox">
				<div class="peccancyQuery">
					<h1 class="p-q-tit">查询信息</h1>
					<div class="emergencyPhone">
						<div class="searchBox">
							<img src="/images/emergencyPhone/icon-search.png" class="icon-search" id="searchButton">
							<input type="text" placeholder="搜索您要找的律师事务所" class="textSearch"  id="textSearch"/>
						</div>
					</div>
					<div class="selectCity clearfix">
						<img src="/images/lawfirmEnquiries/cityPosi.png" class="cityPosi">
						<label>所在城市</label>
						<img src="/images/icon-rightArrow.png" class="icon-rightArrow" id="city_img">
						<span id="city_span" data_id="11">请选择</span>
					</div>
				</div>
				<div class="peccancyQuery userInfor onlyStyle" id="contents">
					<h2 class="q-r-tit"><span></span>北京市中洲律师事务所</h2>
					<div class="addListBox">
						<div class="addressList clearfix">
							<img src="/images/lawfirmEnquiries/cityPosi-gray.png" class="cityPosi-gray">
							<span>北京市海淀区知春路甲48号盈都大厦C座3单元11B正东国际大厦B11</span>
						</div>
						<div class="addressList bodNo clearfix">
							<img src="/images/lawfirmEnquiries/tel.png" class="tel">
							<span>010-84682129</span>
						</div>
					</div>
				</div>

				<div class="noDataBox" id="noDataBox">
					<img class="noData" src="/images/lawfirmEnquiries/noData.png">暂无数据
				</div>
			</div>

			<!-- -----------------------------------------------查询动画提示开始---------------------------------- -->
			<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
			<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
				<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
				<p>加载中</p>
			</div>
			<!-- -----------------------------------------------查询动画提示结束--------------------------------- -->

			<!-- ------------------------------提示语---------------------------------- -->
			<div class="masktime" id="masktime" style="display:none;"></div>
			<!-- ------------------------------提示语---------------------------------- -->
			<div style="height: 1.3rem;"></div>
			<!--下拉框显示-->
			<div class="mobileSelect">
				<div class="grayLayer"></div>
				<div class="content">
					<div class="btnBar">
						<div class="fixWidth">
							<div class="cancel">取消</div>
							<div class="title">验证方式</div>
							<div class="ensure">完成</div>
						</div>
					</div>
					<div class="panel">
						<div class="fixWidth">
							<div class="wheels">
								<div class="wheel" style="width: 100%;">
									<ul class="selectContainer"
										style="transform: translate3d(0px, 80px, 0px);">
										<li data-id="5">联名卡号</li>
										<li data-id="1">身份证</li>
									</ul>
								</div>
							</div>
							<div class="selectLine"></div>
							<div class="shadowMask"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="data-sources">服务来源：中华人民共和国司法部</div>

			<script type="text/javascript" src="/js/lawfirmEnquiries/lawfirmEnquiries.js"></script>
		</div>
	</body>
</html>
