<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>个人中心</title>
		<link type="text/css" rel="stylesheet" href="/css/news.css" />
	    <link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/heNanHospital/heNanHospital.css"/>
		<link rel="stylesheet" type="text/css" href="/css/mobileSelect.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/gSHospital/gSHospital.css">
		<link rel="stylesheet" href="/css/mobiscroll/mobiscroll.css">
		<link rel="stylesheet" href="/css/mobiscroll/mobiscroll_002.css">
		<link rel="stylesheet" href="/css/mobiscroll/mobiscroll_003.css">
		<script>
            var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                cityID = "<%= cityID %>",
                citySRC = "<%= cityInfo.citySRC %>",
                local_x = "<%= local_x %>"
                ,local_y = "<%= local_y %>"
                ,comeForm = "<%= comeForm %>",
                localFrom = "<%= locals.localFrom %>";
            var userKey=sessionStorage.getItem("userKey");
		</script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max" id="max" v-cloak>
			<!--banner图-->
			<div class="banner">
				<% include ../header.html %>
				<div class="userAvatarBox" @click="checkUser()">
					<a href="javascript:;">
						<p><img src="/images/hospital/userAvatar.png"></p>
						<p>个人中心</p>
					</a>
					<div class="dialog-userCenter gSUser" v-if="pesCenterFlag">
						<div class="triangle"></div>
						<ul>
							<li style="display:none;"><a href="javascript:;" @click="jumpPerson()">个人中心</a></li>
							<li><a href="javascript:;" @click="exitBtn()">退出</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--挂号记录-->
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home regWH">
					<h1 class="p-q-tit"><img @click="back()" src="/images/icon-return.png" class="icon-return"/>个人中心</h1>
					<div class="reserve-title successMsg-remind">
						<span>挂号记录</span>
					</div>
					<div class="text-list-div clearfix">
						<label>预约医院：</label>
						<input v-model="hosName" type="text" placeholder="请输入您预约的医院" />
					</div>
					<div class="text-list-div clearfix" @click="mobile()">
						<label>状态：</label>
						<span class="selectDownMenu">{{stateTxt?stateTxt:'全部'}}</span>
						<img id="start" src="/images/icon-downMenu.png" class="icon-downMenu">
					</div>
					<div class="text-list-div regTime clearfix" @click="startTimefn()">
						<label>预约时间：</label>
						<!--<span ref="startEl" class="selectDownMenu">请选择起始时间</span>-->
						<input ref="startEl" id="startDate" type="text" placeholder="请选择起始时间"  readonly>
						<!--<input type="text"  >-->
						<img src="/images/heNanHospital/calendar.png" class="icon-calendar">
					</div>
					<div class="text-list-div regTime clearfix" @click="endTimefn()">
						<label></label>
						<!--<span ref="endEl" class="selectDownMenu">请选择结束时间</span>-->
						<input ref="endEl" id="endDate" type="text" placeholder="请选择结束时间" readonly>
						<img src="/images/heNanHospital/calendar.png" class="icon-calendar">
					</div>
					<div class="btn-box">
						<input type="button" value="查询" @click="search()"/>
					</div>
				</div>
				<!--查询无数据--->
				<div class="peccancyQuery userInfor onlyStyle" v-if="noResult">
					<h2 class="q-r-tit"><span></span>查询无数据</h2>
				</div>
				<!--查询结果--->
				<div class="" v-if="dataList.length!=0">
					<div v-for="item in dataList" class="peccancyQuery userInfor onlyStyle">
						<h2 class="q-r-tit hospitalTitle sDTit">{{item.HOS_NAME}}<em class="alreadyReserved" :class="{'colorBlue':item.STATE=='1','colorRed':item.STATE=='3'}">{{item.STATE_NAME}}</em></h2>
						<hr class="hrLine">
						<div class="reservationDetails">
							<ul>
								<li><em></em><label>预约号：</label><span>{{item.ORDER_NUMBER}}</span></li>
								<li><em></em><label>就诊人：</label><span>{{item.PATIENT_NAME}}</span></li>
								<li><em></em><label>就诊时间：</label><span>{{item.START_TIME}}-{{item.END_TIME}} {{item.ORDER_WEEK}}     {{item.ORDER_DATE}}</span></li>
								<li><em></em><label>科室/医生：</label><span>{{item.DEPT_NAME}}/<b class="colorBlue">{{item.DOC_NAME}}</b></span></li>
								<li class="wh188" v-if="item.SC"><em></em><label>自动机取号密码：</label><span>{{item.SC}}</span></li>
							</ul>
						</div>
						<div class="btn-box" v-if="item.STATE=='1'">
							<input @click="cancelBtn(item.ORDER_NUMBER,item.CREATE_TIME,item.CARD_NO)" type="button" value="取消预约" />
						</div>
					</div>
				</div>
			</div>
			<!--取消预约弹框-->
			<div class="dialog-tel" v-if="cancelFlag">
				<div class="titTel">您确定要取消本次预约吗？</div>
				<div class="btn-tel">
					<a href="javascript:;" @click="noCancel()">取消</a>
					<a ref="cancel" href="javascript:;" @click="cancel()">确定</a>
				</div>
			</div>
			<div class="mask" v-if="maskFlag"></div>
			<!--退出弹框-->
			<div class="dialog-tel" v-if="exitFlag">
				<div class="titTel">您确定要退出登录吗？</div>
				<div class="btn-tel">
					<a href="javascript:;" @click="cancelExit()">取消</a>
					<a href="javascript:;" @click="exit()">确定</a>
				</div>
			</div>
			<div style="height: 1.3rem;"></div>
			<div class="data-sources">服务来源：健康甘肃</div>
			<div class="masktime" id="masktime" v-if="masktime" ref="masktime">{{masktime}}</div>
		</div>
		<script src="/lib/vue.min.js"></script>
		<script src="/lib/axios.js"></script>

		<script src="/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/lib/mobiscroll_002.js" ></script>
		<script type="text/javascript" src="/lib/mobiscroll.js" ></script>

		<!--<script language="javascript" type="text/javascript" src="/lib/My97DatePicker/WdatePicker.js"></script>-->
		<script src="/lib/mobileSelect.js"></script>
		<script src="/js/gsHospital/personalCenter.js"></script>
		<script>
			$(function(){
                var selectedDate={};
                var currYear = (new Date()).getFullYear();
                var opt={};
                opt.date = {preset : 'date'};
                opt.datetime = {preset : 'datetime'};
                opt.time = {preset : 'time'};
                opt.default = {
                    theme: 'android-ics light', //皮肤样式
                    display: 'modal', //显示方式
                    mode: 'scroller', //日期选择模式
                    dateFormat: 'yyyy-mm-dd',
                    lang: 'zh',
                    showNow: true,
                    nowText: "今天",
                    startYear: currYear - 10, //开始年份
                    endYear: currYear + 10, //结束年份
                    onBeforeShow:function(inst){//展示前的事件
                        document.activeElement.blur();
                        $('body').css("position","fixed");
                    },
                    onSelect: function (valueText, inst) {//选择时事件（点击确定后），valueText 为选择的时间，
                        valueText.match(/^\d{4}\-\d{2}\-\d{2}$/);
                        if(valueText.match(/^\d{4}\-\d{2}\-\d{2}$/)){
                            selectedDate["date"]=valueText;
                        }else{
                            selectedDate["time"]=valueText;
                        }
                        calltimes=selectedDate.date+" "+selectedDate.time;
                        $('body').css("position","static");
                    }
                };
                $("#startDate").mobiscroll($.extend(opt['date'], opt['default']));
                $("#endDate").mobiscroll($.extend(opt['date'], opt['default']));
			})
		</script>
        <script type="text/javascript" src="/js/all.js"></script>
	</body>
</html>
