<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>挂号</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/heNanHospital/heNanHospital.css"/>
    <link rel="stylesheet" type="text/css" href="/css/gSHospital/gSHospital.css"/>
    <style>
        .btnCon{position:relative;height:1.2rem;font-size:12px;}
        .btn{width:2.22rem;height:0.8rem;line-height:0.8rem;background:#4588f9;color:#fff;border-radius:3px;text-align:center;}
        .prev-btn{position:absolute;left:1.11rem;top:0.07rem}
        .next-btn{position:absolute;right:1.11rem;top:0.07rem}
        .noResult{
            height: 2.25rem;
            background: #fafafa;
            color: #afafaf;
            font-size: 0.25rem;
            margin: 0.32rem 0.33rem 0.32rem;
            border: 1px solid #e1e1e1;
            border-radius: 2px;
            text-align: center;
            line-height: 2.25rem;}
    </style>
    <script>
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
        var hoskey=sessionStorage.getItem("hos_key");
        var deptKey=sessionStorage.getItem("deptKey");
        var deptName=sessionStorage.getItem("deptName");
        var HOS_NAME=sessionStorage.getItem("HOS_NAME");
        var userkey=sessionStorage.getItem("userKey");
    </script>
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
<div class="max" id="max" v-cloak>
    <!--banner图-->
    <div class="banner">
        <% include ../header.html %>
        <div class="userAvatarBox" @click="checkUser()">
            <a href="javascript:;">
                <p><img src="/images/hospital/userAvatar.png"></p>
                <p>个人中心</p>
            </a>
            <div class="dialog-userCenter gSUser" v-if="pesCenterFlag">
                <div class="triangle"></div>
                <ul>
                    <li><a href="javascript:;" @click="jumpPerson()">个人中心</a></li>
                    <li><a href="javascript:;" @click="exitBtn()">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--科室挂号-->
    <div class="warpBox">
        <div class="peccancyQuery XLQuery-home regWH">
            <h1 class="p-q-tit">
                <img @click="back()" src="/images/icon-return.png" class="icon-return"/>
                {{HOS_NAME}}--<span class="color0083e0">{{deptName}}</span>
            </h1>
        </div>
        <div class="noResult" v-if="noResult">该科室暂时没有排班信息</div>
        <div v-for="(item,i) in dataList" class="peccancyQuery userInfor onlyStyle clearfix">
            <dl class="hosList hNHosList">
                <dt><a href="javascript:;"><img :src="item.imagId?item.imagId:'/images/gSHospital/gsDoc.png'" class="photo"></a></dt>
                <dd>
                    <p class="nameOffice"><span>{{item.doctorName}}</span>{{item.rankName}}</p>
                    <p class="introduce">擅长：{{item.spciality}}</p>
                </dd>
            </dl>

            <div class="reservationDate sDTableDiv"  style="position:relative;">
            	<div class="zhezhao-left" @click="prev(i)" ref="prev" style="display:none;"></div>
            	<div class="zhezhao-right" @click="next(i)" ref="next"></div>
                <table class="reservationList sDTableData">
                    <tr>
                        <th>排班</th>
                        <th v-for="(week,index) in item.weekList">{{weList[week]}}<br>{{item.dateList[index]}}</th>
                    </tr>
                    <tr>
                        <td>上午</td>
                        <td v-for="am in item.amList"  :class="{'expiry':!am.ENABLE_NUM,'expiry':(am.ENABLE_NUM && am.ENABLE_NUM<=am.CONSUME_NUM),'byAppointment':(am.ENABLE_NUM && am.ENABLE_NUM>am.CONSUME_NUM)}">
                            <span v-if="am.ENABLE_NUM && am.ENABLE_NUM>am.CONSUME_NUM" @click="jumpAppoint(am.DOCTOR_KEY,am.DEPT_KEY,am.ORDER_DATE,am.ORDER_SORT,item.doctorName,item.rankName,item.imagId)">有号</span>
                            <span v-else-if="am.ENABLE_NUM && am.ENABLE_NUM<=am.CONSUME_NUM">已满</span>
                            <span v-else="!am.ENABLE_NUM">无</span>
                            <p class="remainingNumber" v-if="am.ENABLE_NUM">{{am.CONSUME_NUM+'/'+am.ENABLE_NUM}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>下午</td>
                        <td v-for="pm in item.pmList"  :class="{'expiry':!pm.ENABLE_NUM,'expiry':(pm.ENABLE_NUM && pm.ENABLE_NUM<=pm.CONSUME_NUM),'byAppointment':(pm.ENABLE_NUM && pm.ENABLE_NUM>pm.CONSUME_NUM)}">
                            <span v-if="pm.ENABLE_NUM && pm.ENABLE_NUM>pm.CONSUME_NUM" @click="jumpAppoint(pm.DOCTOR_KEY,pm.DEPT_KEY,pm.ORDER_DATE,pm.ORDER_SORT,item.doctorName,item.rankName,item.imagId)">有号</span>
                            <span v-else-if="pm.ENABLE_NUM && pm.ENABLE_NUM<=pm.CONSUME_NUM">已满</span>
                            <span v-else="pm.ENABLE_NUM && pm.ENABLE_NUM>=pm.CONSUME_NUM">无</span>
                            <p class="remainingNumber" v-if="pm.ENABLE_NUM">{{pm.CONSUME_NUM+'/'+pm.ENABLE_NUM}}</p>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="mask" v-if="maskFlag" ref="masktime"></div>
    <!--退出弹框-->
    <div class="dialog-tel" v-if="exitFlag">
        <div class="titTel">您确定要退出登录吗？</div>
        <div class="btn-tel">
            <a href="javascript:;" @click="cancelExit()">取消</a>
            <a href="javascript:;" @click="exit()">确定</a>
        </div>
    </div>
    <div style="height: 1.3rem;"></div>
    <div class="data-sources">服务来源：健康甘肃</div>
</div>
<script>
    Date.prototype.format = function(format)
    {
        var o = {
            "M+" : this.getMonth()+1, //month
            "d+" : this.getDate(),    //day
            "h+" : this.getHours(),   //hour
            "m+" : this.getMinutes(), //minute
            "s+" : this.getSeconds(), //second
            "q+" : Math.floor((this.getMonth()+3)/3),  //quarter
            "S" : this.getMilliseconds() //millisecond
        }
        if(/(y+)/.test(format)) format=format.replace(RegExp.$1,
            (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        for(var k in o)if(new RegExp("("+ k +")").test(format))
            format = format.replace(RegExp.$1,
                RegExp.$1.length==1 ? o[k] :
                    ("00"+ o[k]).substr((""+ o[k]).length));
        return format;
    }
</script>
<script src="/lib/vue.min.js"></script>
<script src="/lib/axios.js"></script>
<script src="/js/gsHospital/registered.js"></script>
<script type="text/javascript" src="/js/all.js"></script>
</body>
</html>