<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>预约详情</title>
		<link type="text/css" rel="stylesheet" href="/css/news.css" />
	    <link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/heNanHospital/heNanHospital.css"/>
	    <link rel="stylesheet" href="/css/gSHospital/gSHospital.css" />
		<script>
            var randomKey = "<%= randomKey %>"
                ,userID = "<%= userID%>"
                ,clientID = "<%= clientID %>",
                cityID = "<%= cityID %>",
                citySRC = "<%= cityInfo.citySRC %>",
                local_x = "<%= local_x %>"
                ,local_y = "<%= local_y %>",
                localFrom = "<%= locals.localFrom %>";
            var patientKey=sessionStorage.getItem("patientKey");
            var orderNum=sessionStorage.getItem("orderNum");
            var scheduleId=sessionStorage.getItem("scheduleId");
            var userKey=sessionStorage.getItem("userKey");
            var successOrder=sessionStorage.getItem("successOrder");
		</script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
		<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max" id="max" v-cloak>
			<!--banner图-->
			<div class="banner">
				<% include ../header.html %>
				<div class="userAvatarBox" @click="checkUser()">
					<a href="javascript:;">
						<p><img src="/images/hospital/userAvatar.png"></p>
						<p>个人中心</p>
					</a>
					<div class="dialog-userCenter gSUser" v-if="pesCenterFlag">
						<div class="triangle"></div>
						<ul>
							<li><a href="javascript:;" @click="jumpPerson()">个人中心</a></li>
							<li><a href="javascript:;" @click="exitBtn()">退出</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--预约详情-->
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home regWH">
					<h1 class="p-q-tit"><img @click="back()" src="/images/icon-return.png" class="icon-return"/>预约详情</h1>
					<!--预约失败 start-->
					<div class="notFound" v-if="successOrder=='false'">
						<div class="img-box"><img src="/images/notFound.png"></div>
						<div class="notF-infor">预约失败，请稍后重新预约！</div>
					</div>
					<!--预约失败 end-->
					<div class="reserve-title successMsg-remind" v-if="successOrder=='true'">
						<span>预约成功</span>
						<span>短信已发送到手机 {{tel}}</span>
					</div>
					<div class="reservationDetails" v-if="successOrder=='true'">
						<ul>
							<li><em></em><label>就诊人：</label><span>{{name}}</span></li>
							<li><em></em><label>预约编号：</label><span>{{orderN}}</span></li>
							<li><em></em><label>预约医院：</label><span>{{hosName}}</span></li>
							<li><em></em><label>预约科室：</label><span>{{deptName}}</span></li>
							<li><em></em><label>预约专家：</label><span>{{docName}} ({{docType}})</li>
							<li><em></em><label>就诊时间：</label><span>{{orderDate}}    {{orderStart}}-{{orderEnd}}</span></li>
							<li><em></em><label>医院地址：</label><span>{{hosAdd}}</li>
							<li><em></em><label>取号地点：</label><span>{{getOrderAdd}}</li>
							<li><em></em><label>预约时间：</label><span>{{orderTime}}</li>
							<li><em></em><label>就医信息：</label><span>您已预约{{hosName}}{{deptName}}门诊，请持身份证证件，于{{startTime}}-{{startEnd}}到预约挂号服务窗口（医院门诊自助机）取号,爽约三次将暂停服务!</li>
							
							<li class="wh188" v-if="pass"><em></em><label>自助机取号密码：</label><span>{{pass}}</span></li>
						</ul>
					</div>
					<div class="reminder" v-if="successOrder=='true'">
						<p>注意事项：</p>
						<p>1.您可以在 我的挂号记录 查看订单详情；</p>
						<p>2.如果您预约成功，由于个人原因不能就诊，请及时 取消预约；</p>
						<p>3.如遇专家停诊，您的订单会被取消，我们会以短信通知到您，请保持手机畅通；</p>
						<p>4.每个账号每月下单和取消订单数量有上限，请按需预约，若超出上限当月将不能再次预约。</p>
					</div>
				</div>
				
				<div class="btn-box gSBtnBox" v-if="successOrder=='true'">
					<input type="button" value="返回首页" @click="goIndex()" class="btn-home fl" />
					<input type="button" value="个人中心" @click="getPersonCenter()" class="btn-userCen fr" />
				</div>
			</div>
			<div class="mask" v-if="maskFlag" ref="masktime"></div>
			<!--退出弹框-->
			<div class="dialog-tel" v-if="exitFlag">
				<div class="titTel">您确定要退出登录吗？</div>
				<div class="btn-tel">
					<a href="javascript:;" @click="cancelExit()">取消</a>
					<a href="javascript:;" @click="exit()">确定</a>
				</div>
			</div>
			<div style="height: 1.3rem;"></div>
			<div class="data-sources">服务来源：健康甘肃</div>
		</div>
		<script src="/lib/vue.min.js"></script>
		<script src="/lib/axios.js"></script>
		<script src="/js/gsHospital/reservationDetail.js"></script>
        <script type="text/javascript" src="/js/all.js"></script>
	</body>
</html>
