<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>北京市婚姻登记预约</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <style>
    	.img-list-box.marriageList{
    		border: none;
    		padding-bottom: 0.95rem;
    	}
    	.img-list-box.marriageList li{
    		width: 25%;
    		font-size: 0;
    		margin: 0.944rem 0 0;
    	}
    	.img-list-box.marriageList li a{
    		font-size: 0;
    	}
    	.img-list-box.marriageList li a img {
		    width: 0.75rem;
		    height: 0.486rem;
		}
    </style>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	<script>
		var randomKey = "<%=locals.randomKey%>",
				userID = "<%= locals.userID%>",
				clientID = "<%= locals.clientID %>",
				cityID = "<%= locals.cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				local_x = "<%= locals.local_x %>",
				local_y = "<%= locals.local_y %>",
				localFrom = "<%= locals.localFrom %>";
	</script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--北京市婚姻登记预约-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">北京市婚姻登记预约</h1>
				<hr class="hrLine">
				<div class="img-list-box marriageList clearfix">
					<ul>
						<li>
							<a href="http://bjhysy.bjmzj.gov.cn/weimarryout/marryout/marry/stepOne.do?method=wxStepOne&tag=1&opType=IA">
								<img src="/images/marriage/img-marriage1.png">
								<p>结婚登记</p>
							</a>
						</li>
						<li>
							<a href="http://bjhysy.bjmzj.gov.cn/weimarryout/marryout/marry/stepOne.do?method=wxStepOne&tag=1&opType=IB">
								<img src="/images/marriage/img-marriage2.png">
								<p>离婚登记</p>
							</a>
						</li>
						<li>
							<a href="http://bjhysy.bjmzj.gov.cn/weimarryout/marryout/marry/stepOne.do?method=wxStepOne&tag=1&opType=ICA">
								<img src="/images/marriage/img-marriage3.png">
								<p>补领结婚</p>
							</a>
						</li>
						<li>
							<a href="http://bjhysy.bjmzj.gov.cn/weimarryout/marryout/marry/stepOne.do?method=wxStepOne&tag=1&opType=ICB">
								<img src="/images/marriage/img-marriage4.png">
								<p>补领离婚</p>
							</a>
						</li>
						<li>
							<a href="http://bjhysy.bjmzj.gov.cn/weimarryout/marryout/cjzm/cjzmStepOne.do?method=wxStepOne">
								<img src="/images/marriage/img-marriage5.png">
								<p>出具证明</p>
							</a>
						</li>
						<li>
							<a href="http://bjhysy.bjmzj.gov.cn/weimarryout/marryout/marry/query.jsp">
								<img src="/images/marriage/img-marriage6.png">
								<p>预约查询</p>
							</a>
						</li>
						<li>
							<a href="http://bjhysy.bjmzj.gov.cn/weimarryout/marryout/marry/cancel.jsp">
								<img src="/images/marriage/img-marriage7.png">
								<p>预约撤销</p>
							</a>
						</li>
						<!--<li>
							<a href="javascript:;" onclick="check(); ">
								<img src="/images/marriage/img-marriage8.png">
								<p>查档预约</p>
							</a>
						</li>-->
					</ul>
				</div>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：北京民政局</div>
	</div>
	<script>
	/*查档预约不支付手机，只支持web端
		function check(){
			alert("手机端不提供查档预约，请使用网页版预约服务进行查档预约。网址 http://bjhysy.bjmzj.gov.cn/jhyy/marryout/marry/ ");
			return true;
		}*/
	</script>
    <script src="/js/all.js"></script>
</body>
</html>