.downMenu-style {
    position: relative;
}
.inquireTips {
    font-size: 0.28rem;
    color: #6e6e6e;
    margin: 0.416rem 0.55rem 0.55rem 1.175rem;
}
.inquireTips p:nth-of-type(1) {
    text-indent: -0.625rem;
}
.downMenu-style span {
    font-size: 0.37rem;
    color: #ababae;
    display: inline-block;
    height: 0.37rem;
    line-height: 0.37rem;
    width: -webkit-calc(100% - 3.5rem);
    width: -moz-calc(100% - 3.5rem);
    width: calc(100% - 3.5rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.inquireTips p {
    line-height: 0.6rem;
    color: #a1a9ac;
}
.disabled{
	background: #fff;
}
.notFound {
    font-size: 0.3rem;
    color: #6e6e6e;
    text-align: center;
    height: 3.33rem;
    padding-top: 0.83rem;
    border-bottom: 1px solid #edefee;
    margin: 0 0.55rem;
}
.notFound .img-box img {
    width: 0.75rem;
    height: 0.75rem;
    margin-bottom: 0.41rem;
}
.login-tips.XL-query.notF-tips {
    padding: 0 0.22rem;
    border: none;
    margin-bottom: 1rem;
}
.tab-content.inforConfirm .text-list-div label {
    width: 2.78rem;
}
.tab-content.inforConfirm .text-list-div span, .tab-content.inforConfirm .text-list-div input {
    width: -webkit-calc(100% - 2.78rem);
    width: -moz-calc(100% - 2.78rem);
    width: calc(100% - 2.78rem);
    text-align: left;
    float: left;
}
.resultsTitle{
	display: inline-block;
	color: #474747;
    font-size: 0.38rem;
    font-weight: normal;
}
.tab-content.inforConfirm .text-list-div label.resultsTitle span {
    display: inline-block;
    float: left;
    width: 0.083rem;
    height: 0.38rem;
    background: #549dfb;
    border-radius: 20px;
    margin-right: 0.27rem;
    margin-top: 3px;
}
.text-list-div.textListTit {
    margin: 0;
    padding: 0.61rem 0.55rem 0.25rem;
}