<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>全国行政区划信息查询结果</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/administrativeDivisions/administrativeDivisions.css" />
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" src="/lib/axios.js"></script>
	<script>
		var randomKey = "<%=locals.randomKey%>",
				userID = "<%= locals.userID%>",
				clientID = "<%= locals.clientID %>",
				cityID = "<%= locals.cityID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				local_x = "<%= locals.local_x %>",
				local_y = "<%= locals.local_y %>",
                shengji = "<%= locals.shengji %>",
                diji = "<%= locals.diji %>",
                xianji = "<%= locals.xianji %>",
            	localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="resultPage">
		<!--banner图-->
		<div class="banner">
			<img src="/images/administrativeDivisions/banner.png">
			<div class="bannerTitle">全国行政区划信息查询</div>
		</div>
		<!--全国行政区划信息查询结果-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" @click="back()"/>全国行政区划信息查询结果</h1>
			</div>
			<div v-if="province" class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit provinceTitle">{{provinceInfo.title}}</h2>
				<!--<div class="provinceCon">
					<div class="otherCon">
						<p>
							<span>{{provinceInfo.statistic}}</span>
						</p>
					</div>
				</div>-->
			</div>
			<div v-if="dataLength>0" v-for="(item,index) in dataList">
				<div v-if="item.cityInfo.statistic2=='xianji'">
					<!---区-->
					<div class="peccancyQuery userInfor onlyStyle">
						<h2 class="q-r-tit"><span></span>{{item.cityInfo.name}}</h2>
						<div class="cityCon cityAddress clearfix">
							<i class="icon-address"></i>
							<div class="cityArea">
								<p>
									<span>驻地：<b>{{item.cityInfo.zhudi}}</b></span>
								</p>
								<p>
									<span>人口(万)：<b>{{item.cityInfo.population}}</b></span>
									<span>面积(平方千米)：<b>{{item.cityInfo.area}}</b></span>
								</p>
								<p>
									<span>行政区划代码：<b>{{item.cityInfo.code}}</b></span>
								</p>
								<p>
									<span>区号：<b>{{item.cityInfo.areaCode}}</b></span>
									<span>邮编：<b>{{item.cityInfo.post}}</b></span>
								</p>
							</div>
						</div>
					</div>
					<!---区-->
				</div>
				<!---市-->
				<div class="peccancyQuery userInfor onlyStyle" v-else>
				<h2 class="q-r-tit provinceTitle">
				<label>{{item.cityInfo.name}}</label>
				<img v-if="item.countyList.length>0" :src="open == '-1'?'/images/icon-downMenu.png':'/images/icon-upMenu.png'" class="icon-upMenu" @click="openLower($event,index)" ref="downMenu" id="downMenu">
				</h2>
				<div class="provinceCon">
					<div class="cityCon">
						<p>
							<span>总计：<b>市辖区{{item.countyList.length}}</b></span>
							<span>驻地：<b>{{item.cityInfo.zhudi}}</b></span>
						</p>
						<p>
							<span>人口(万)：<b>{{item.cityInfo.population}}</b></span>
							<span>面积(平方千米)：<b>{{item.cityInfo.area}}</b></span>
						</p>
						<p>
							<span>行政区划代码：<b>{{item.cityInfo.code}}</b></span>
						</p>
						<p>
							<span>区号：<b>{{item.cityInfo.areaCode}}</b></span>
							<span>邮编：<b>{{item.cityInfo.post}}</b></span>
						</p>
					</div>
					<!---市-->
					<!---区-->
					<div v-if="open == index&&item.countyList.length>0" v-for="(countyItem,index1) in item.countyList">
					<div class="peccancyQuery userInfor onlyStyle">
						<h2 class="q-r-tit"><span></span>{{countyItem.diji}}</h2>
						<div class="cityCon cityAddress clearfix">
							<i class="icon-address"></i>
							<div class="cityArea">
								<p>
									<span>驻地：<b>{{countyItem.zhudi}}</b></span>
								</p>
								<p>
									<span>人口(万)：<b>{{countyItem.population}}</b></span>
									<span>面积(平方千米)：<b>{{countyItem.area}}</b></span>
								</p>
								<p>
									<span>行政区划代码：<b>{{countyItem.code}}</b></span>
								</p>
								<p>
									<span>区号：<b>{{countyItem.areaCode}}</b></span>
									<span>邮编：<b>{{countyItem.post}}</b></span>
								</p>
							</div>
						</div>
					</div>
					</div>
					<!---区-->
				</div>
			</div>

			</div>
			<div v-if="dataLength==0" class="peccancyQuery userInfor onlyStyle">
				<h2 class="q-r-tit provinceTitle">该地区没有信息</h2>
			</div>
		</div>
		<!-- 查询动画提示开始-->
		<div v-if="sendBefore" class="mask" style="opacity: 0;" id="dialogMask"></div>
		<div v-if="sendBefore" class="dialog-tel timeM" style="text-align: center;" id="dialog">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- 查询动画提示结束-->
		<!--提示-->
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：民政部全国行政区划信息查询平台</div>
	</div>
	<script type="text/javascript" src="/js/administrativeDivisions/resultPage.js"></script>
</body>
</html>