<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>国务院政务服务投诉举报</title>
		<link rel="stylesheet" href="/css/news.css" />
		<link rel="stylesheet" href="/css/hospital/hospital.css" />
		<link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css" />
		<link rel="stylesheet" href="/css/zwfwtsjb/zwfwtsjb.css" />
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max">
			<!--banner图-->
			<div class="banner">
				<img src="/images/zwfwtsjb/banner.png">
				<div class="userAvatarBox">
					<a href="javascript:;">
						<p><img src="/images/hospital/userAvatar.png"></p>
						<p>个人中心</p>
					</a>
					<div class="dialog-userCenter">
						<div class="triangle"></div>
						<ul>
							<li class="btmListNot"><a href="javascript:;"><i class="icon-anhuiQuit"></i>退出</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home">
					<h1 class="p-q-tit">
						<img src="/images/icon-return.png" class="icon-return">举报投诉留言
					</h1>
					<div class="pubListBox zwfwtsjbList">
						<div class="publicListText">
							<label>姓名</label>
							<input type="text" placeholder="" />
						</div>
						<div class="publicListText publicListCode">
							<label>验证码</label>
							<input type="text" />
							<img src="/images/code.png" class="img-code">
						</div>
						<div class="publicListText">
							<label>分类</label>
							<span>请选择</span>
							<img src="/images/icon-downMenu.png" class="icon-downMenu">
						</div>
						<div class="msgtipsWords">提示：如有相关凭据，请以附件形式发送至邮箱sjhlanmuzu@mail.gov.cn。邮件标题、附件命名格式均为“政务服务投诉+姓名+联系电话”（请与留言信息一，致），我们将妥善处理。</div>
						<div class="publicListText">
							<label>职业</label>
							<span>请选择</span>
							<img src="/images/icon-downMenu.png" class="icon-downMenu">
						</div>
						<div class="publicListText">
							<label>问题属地</label>
							<span>请选择省/市/区</span>
							<img src="/images/icon-downMenu.png" class="icon-downMenu">
						</div>
						<div class="publicListText">
							<label>详细地址</label>
							<input type="text" placeholder="必填" />
						</div>
						<div class="publicListText">
							<label>标题</label>
							<input type="text" placeholder="必填" />
						</div>
						<div class="publicListText textareaList textareaStyle">
							<label>留言内容</label>
							<textarea placeholder="为了你的留言得到及时有效处理和回应，请填写真实信息。我们将严格保护你的个人隐私。内容字数请保持在20至600字以内。"></textarea>
						</div>
					</div>
					<div class="btn-box publicBtnBox">
						<input type="button" value="提 交" class="btnDefault backHome" />
						<input type="button" value="重置信息" class="btnDefault btn-gray" />
					</div>
				</div>
			</div>
			<!--遮罩层-->
			<div class="mask"></div>
			<!--分类选择弹框-->
			<div class="dialog-examples" style="display: none;">
				<h1 class="gjj-tit">
					请选择
					<img src="/images/shgjj/dialog-close.png" class="dialog-close">
				</h1>
				<div class="typeSelectBox">
					<div class="radioList clearfix">
						<i class="icon-radio-default"></i>
						<span>涉企乱收费</span>
					</div>
					<div class="radioList active clearfix">
						<i class="icon-radio-default"></i>
						<span>涉企政策不落实</span>
					</div>
					<div class="radioList clearfix">
						<i class="icon-radio-default"></i>
						<span>未实现政务服务“一网通办”</span>
					</div>
					<div class="radioList clearfix">
						<i class="icon-radio-default"></i>
						<span>企业和群众办事不便利</span>
					</div>
					<div class="radioList clearfix">
						<i class="icon-radio-default"></i>
						<span>其他政务服务不到位</span>
					</div>
				</div>
			</div>
			<!--地区选择弹框-->
			<div class="dialog-examples dialog-wtsd">
				<h1 class="gjj-tit">
					问题属地
					<img src="/images/shgjj/dialog-close.png" class="dialog-close">
				</h1>
				<div class="selectAddressBox">
					<div class="addressSelect clearfix">
						<a href="javascript:;">北京</a>
						<a href="javascript:;">海淀</a>
						<a href="javascript:;" class="active">请选择</a>
					</div>
					<div class="addSelectList">
						<ul>
							<li>三环以内</li>
							<li>三环到四环之间</li>
							<li>四环到五环之间</li>
							<li>五环到六环之间</li>
							<li>六环以外</li>
							<li>西三旗</li>
						</ul>
					</div>
				</div>
			</div>
			<div style="height: 1.3rem;"></div>
			<div class="data-sources">服务来源：中国政府网</div>
		</div>
	</body>
</html>
