<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>国务院政务服务投诉举报</title>
		<link rel="stylesheet" href="/css/news.css" />
		<link rel="stylesheet" href="/css/hospital/hospital.css" />
		<link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css" />
		<link rel="stylesheet" href="/css/zwfwtsjb/zwfwtsjb.css" />
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max">
			<!--banner图-->
			<div class="banner">
				<img src="/images/zwfwtsjb/banner.png">
				<div class="userAvatarBox">
					<a href="javascript:;">
						<p><img src="/images/hospital/userAvatar.png"></p>
						<p>个人中心</p>
					</a>
					<div class="dialog-userCenter">
						<div class="triangle"></div>
						<ul>
							<li class="btmListNot"><a href="javascript:;"><i class="icon-anhuiQuit"></i>退出</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home">
					<h1 class="p-q-tit">
						<img src="/images/icon-return.png" class="icon-return">实名认证
					</h1>
					<div class="pubListBox zwfwtsjbList">
						<div class="userTipsCertif">您当前是未实名认证用户，本服务需要认证后才能使用</div>
						<div class="publicListText notBdr">
							<label>手机号码</label>
							<span>18610582498</span>
						</div>
						<div class="publicListText smsVerCode">
							<label>手机验证码</label>
							<input type="text" placeholder="" />
							<a href="javascript:;">获取验证码</a>
						</div>
						<div class="publicListText">
							<label>姓名</label>
							<input type="text" placeholder="" />
						</div>
						<div class="publicListText">
							<label>身份证号码</label>
							<input type="text" placeholder="" />
						</div>
					</div>
					<div class="btn-box">
						<input type="button" value="认 证" />
					</div>
				</div>
			</div>
			<div style="height: 1.3rem;"></div>
			<div class="data-sources">服务来源：中国政府网</div>
		</div>
	</body>
</html>
