<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>国务院政务服务投诉举报</title>
		<link rel="stylesheet" href="/css/news.css" />
		<link rel="stylesheet" href="/css/hospital/hospital.css" />
		<link rel="stylesheet" href="/css/heNanHospital/heNanHospital.css" />
		<link rel="stylesheet" href="/css/zwfwtsjb/zwfwtsjb.css" />
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max">
			<!--banner图-->
			<div class="banner">
				<img src="/images/zwfwtsjb/banner.png">
				<div class="userAvatarBox">
					<a href="javascript:;">
						<p><img src="/images/hospital/userAvatar.png"></p>
						<p>个人中心</p>
					</a>
					<div class="dialog-userCenter">
						<div class="triangle"></div>
						<ul>
							<li class="btmListNot"><a href="javascript:;"><i class="icon-anhuiQuit"></i>退出</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="warpBox">
				<div class="peccancyQuery XLQuery-home">
					<h1 class="p-q-tit">留言须知</h1>
					<div class="welcomeNotice">
						<p>找政府办事排队时间长、来回跑？企业投资经营门槛多、手续繁？为进一步推动解决企业和群众在办事中遇到的困难和问题，提升各级政府政务服务水平，即日起，中国政府网开展政务服务投诉专题征集活动，欢迎你反映政务服务“一网通办”落实不到位、企业和群众办事不便利、涉企政策措施不落实和涉企乱收费等方面的问题，并提出意见和建议。</p>
						<p>你的每一条意见，都将被认真对待。我们会将大家的意见建议汇总整理，进行专门研究，并督促有关地方和部门查清问题、查明原因、整改解决。为推动问题的核查解决，请你的留言保持真实、客观、明确。如果你希望保留个人隐私，请在留言的同时做出声明，我们将充分尊重你的意见并妥善处理。</p>
						<p>感谢你的支持和参与。</p>
					</div>
					<div class="btn-box">
						<input type="button" value="我要留言" />
					</div>
				</div>
			</div>
			<!--遮罩层-->
			<div class="mask"></div>
			<!--去登录-->
			<div class="goLoginComment">
				<div class="logoTipsTit">请登录后再留言</div>
				<div class="btn-goLogin"><input type="button" value="去登录"></div>
			</div>
			<div style="height: 1.3rem;"></div>
			<div class="data-sources">服务来源：中国政府网</div>
		</div>
	</body>
</html>
