/*首页-tab切换*/
.gjj-tab{
	font-size: 0;
	padding-bottom: 0.55rem;
	padding-top: 0.4rem;
}
.gjj-tab li{
	width: 50%;
	text-align: center;
	float: left;
	position: relative;
}
.gjj-tab li a{
	color: #364555;
	font-size: 0.388rem;
	display: inline-block;
}
.gjj-tab li.active a{
	color: #549dfb;
}
.gjj-tab li span{
	width: 0.388rem;
	height: 0.083rem;
	border-radius: 20px;
	display: inline-block;
	position: absolute;
	background: #549dfb;
	bottom: -0.2rem;
    left: 50%;
    margin-left: -0.194rem;
}
.spacTop{
	margin-top: 0;
	border-top: none;
}

/*列表*/
.guoWYTList{
	border-collapse: collapse;
	margin-bottom: 0.3rem;
	width: 100%;
}
.guoWYTList tr th{
	font-size: 0.36rem;
	color: #474747;
	height: 1.11rem;
	border-bottom: 1px solid #edefee;
}
.guoWYTList tr th:nth-of-type(1),
.guoWYTList tr td:nth-of-type(1){
	padding-left:0.55rem;
	width: 20%;
	text-align: left;
}
.guoWYTList tr td:nth-of-type(1){
	padding-left: 0.688rem;
}
.guoWYTList tr th:nth-last-of-type(1),
.guoWYTList tr td:nth-last-of-type(1){
	padding-right:0.55rem;
	width: 80%;
	text-align: left;
}
.guoWYTList tr td{
	padding: 0.388rem 0;
	font-size: 0.33rem;
	color: #777;
	border-bottom: 1px solid #edefee;
}
.sameNameNum {
    float: right;
    margin-right: 0.55rem;
}
.sameNameNum b {
    color: #0083e0;
    font-weight: normal;
}
.selectDepartment{
	width: 100%;
	height: 1.125rem;
	position: relative;
}
.selectDepartment .guoWYTitle{
	display: inline-block;
	width: 1.9rem;
	height: 1.125rem;
	line-height: 1.125rem;
	/*background: #549dfb;*/
	font-size: 0.388rem;
	text-align: center;
	float: left;
	border-right: 1px solid #edefee;
	
}
.selectDepartment .guoWYSelect{
	width: calc(100% - 1px - 2.9rem);
	display: inline-block;
	float: left;
	height: 1.125rem;
	line-height: 1.125rem;
	background: #fff;
	font-size: 0.388rem;
	color: #797979;
	padding-left: 0.5rem;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.selectDepartment  .icon-downMenu{
	width: 0.694rem;
	height: 0.694rem;
	position: absolute;
	top: 0.25rem;
	right: 0.097rem;
}
/*弹框*/
.dialog-project{
	background: #fff;
    border-radius: 3px;
    position: fixed;
    top: 7rem;
    left: 0.333rem;
    z-index: 100;
    width: -webkit-calc(100% - 0.666rem);
    width: -moz-calc(100% - 0.666rem);
    width: calc(100% - 0.666rem);
    padding-bottom: 0.416rem;
}
.dialog-project .title{
	height: 0.972rem;
	line-height: 0.972rem;
	color: #329dfc;
	font-size: 0.416rem;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.dialog-project .title i{
	display: inline-block;
	vertical-align: middle;
	width: 0.694rem;
	height: 0.694rem;
	background: url(../../images/close.png) no-repeat;
	background-size: 0.694rem;
	position: absolute;
	right: 0.3rem;
	top: 0.166rem;
}
.dialog-project .con .projectList{
	border-bottom: 1px solid #e5e5e5;
	padding: 0.277rem 0;
	margin: 0 0.55rem;
	font-size: 0.33rem;
}
.dialog-project .con .projectList label{
	color: #474747;
	font-size: 0.33rem;
	width: 1.88rem;
	float: left;
}
.dialog-project .con .projectList span{
	color: #616161;
	font-size: 0.33rem;
	width: -webkit-calc(100% - 1.88rem);
	width: -moz-calc(100% - 1.88rem);
	width: calc(100% - 1.88rem);
	float: left;
}
/*国务院已公布取消的职业资格许可和认定事项查询*/
.guoWYTList.addminCancel tr td.notDate{
	text-align: center;
	color: #777;	
}
.addminCancel tr td:nth-last-of-type(1){
	color: #265fa8;
}
.addminCancel tr th{
	text-align: left;
	font-weight: normal;
}
.addminCancel tr th:nth-of-type(1),
.addminCancel tr td:nth-of-type(1){
	width: 15%;
}
.addminCancel tr th:nth-of-type(2),
.addminCancel tr td:nth-of-type(2){
	width: 22%;
	padding-right: 0.1rem;
}
.addminCancel tr th:nth-of-type(3),
.addminCancel tr td:nth-of-type(3){
	width: 40%;
	padding-right: 0.2rem;
}