<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>韶关市公积金查询</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" type="text/css" href="/css/hospital/hospital.css"/>
    <link rel="stylesheet" href="/css/gdsgGJJ/gdsgGJJ.css">
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
    <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
    <script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script type="text/javascript" src="/js/gdsgGJJ/migrate.js"></script>
    <script type="text/javascript" src="/js/gdsgGJJ/security.js"></script>
    <script type="text/javascript" src="/js/gdsgGJJ/aes.js"></script>
    <script type="text/javascript" src="/js/gdsgGJJ/my-aes-crypto.js"></script>
    <script>
        var randomKey = "<%= randomKey %>",
            userID = "<%= userID%>",
            clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
    </script>
</head>
<body bgcolor="#f3f9f9">
<div class="max">
    <!--banner图-->
    <div class="banner">
        <% include ../header.html %>
        <!--<div id="userAvatarBox" class="userAvatarBox">
            <a href="javascript:;">
                <p><img src="/images/hospital/userAvatar.png"></p>
                <p>个人中心</p>
            </a>
            <div class="dialog-userCenter" style="display: none" id="userCenter">
                <div class="triangle"></div>
                <ul>
                    <li id="quit"><a href="javascript:void(0);"><i class="icon-anhuiQuit"></i>退出</a></li>
                </ul>
            </div>
        </div>-->
    </div>
    <div class="warpBox">
        <div class="peccancyQuery XLQuery-home">
            <h1 class="p-q-tit">韶关市公积金查询</h1></div>
        <!--举报人信息  start-->
        <div class="peccancyQuery userInfor onlyStyle">
            <h2 class="q-r-tit publicMainTit"><span></span>个人用户</h2>
            <div class="pubListBox">
                <div class="publicListText">
                    <label>用户名 :</label>
                    <input type="text" id="nameInfomant" placeholder="请输入身份证号">
                </div>
                <div class="publicListText">
                    <label>密码 :</label>
                    <input type="password" id="password" placeholder="请输入密码">
                </div>
                <div class="publicListText publicListCode">
                    <label>验证码 :</label>
                    <input type="text"  id="verifycode" placeholder="请输入验证码"/>
                    <img src="/images/yanzm.gif" class="img-code" id="imgVCode">
                </div>
                <div class="publicListCode noticeTip">
                    <span class="wgTipsPicBox"><img src="/images/wgrzhjl/tips.png"></span>
                    <span class="wgTipsWords">温馨提示：支持个人用户密码登录方式</span>
                </div>
            </div>
            <div class="btn-box">
                <input id="submit" type="button" value="登录" />
            </div>
        </div>
        <!--举报人信息  end-->
    </div>
    <!-- ------------------------------提示语---------------------------------- -->
    <div class="masktime" id="masktime" style="display:none;"></div>

    <!-- ---------------------------------------查询动画提示开始--------------------------------------------- -->
    <div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
    <div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
        <img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
        <p>加载中</p>
    </div>
    <!-- ---------------------------------------查询动画提示结束--------------------------------------------- -->
    <div style="height: 1.3rem;"></div>
    <div class="data-sources">服务来源：韶关市住房公积金管理中心</div>

    <script type="text/javascript" src="/js/gdsgGJJ/gdsgGJJ.js"></script>
</div>
</body>
</html>
