.login-tips.XL-query p.zjsxTit img{
	margin-left: 0rem !important;
}
.text-list-div.trainLate{
	height: 1.4rem;
}
.text-list-div.trainLate label{
	float: left;
    height: 0.5rem;
    line-height: 0.5rem;
}
.text-list-div.trainLate .trainRadioBox{
	display: inline-block;
	float: left;
	width: -webkit-calc(100% - 3rem);
    width: -moz-calc(100% - 3rem);
    width: calc(100% - 3rem);
    height: 0.6rem;
    line-height: 0.6rem;
}

.text-list-div.trainLate .trainRadioBox span{
	color: #6f7881;
	font-size: 0.416rem;
	font-weight: normal;
	float: left;
    margin-right: 0.5rem;
}.text-list-div.trainLate .trainRadioBox span b{
	font-weight: normal;
}
.wantLookCon {
    color: #515c68;
    font-size: 0.388rem;
    border-top: 1px solid #e6e6e6;
    padding: 0.416rem 0.55rem;
}
.wantLookCon span.colorBlue{
	color: #0083e0;
}
.icon-radio{
	display: inline-block;
	background: url(../../images/train/radio-default.png) no-repeat;
	width: 0.416rem;
	height: 0.416rem;
	background-size: 0.416rem;
	float: left;
    margin-top: 0.08rem;
    margin-right: 0.277rem;
}
.icon-radio.active{
	background:url(../../images/train/radio-select.png) no-repeat;
	background-size: 0.416rem;
}
/*验证码*/
#divCode{
	font-size: 0.416rem;
    float: right;
    background: #e5e5e5;
    width: 2.27rem;
    height: 0.833rem;
    line-height: 0.833rem;
    text-align: center;
    border: 1px solid #e5e5e5;
    margin-top: -0.15rem;
    font-weight: bold;
}
