<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>恢复中国国籍审批初审</title>
		<link rel="stylesheet" href="/css/news.css" />
    	<link rel="stylesheet" href="/css/wgrzhjl/wgrzhjl.css" />
		<link rel="stylesheet" href="/css/networkCrimeReport/networkCrimeReport.css" />
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
		<script type="text/javascript" src="/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="/js/all.js"></script>

		<script>
			var randomKey = "<%= randomKey %>"
					,userID = "<%= userID%>"
					,clientID = "<%= clientID %>",
					citySRC = "<%= cityInfo.citySRC %>",
					cityName = "<%= cityInfo.cityName %>",
					cityInfo = "<%= cityInfo %>",
					cityID = "<%= cityID %>",
					local_x = "<%= local_x %>"
					,local_y = "<%= local_y %>",
					localFrom = "<%= locals.localFrom %>";
		</script>
		<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<style>
		.calculatorBox.topBor{
			border-top: 1px solid #edefee;
		    padding: 0.347rem 0.55rem 0.12rem;
		    margin-top: 0.05rem;
		}
		.successAppCode.marBom{
			padding-bottom: 0.694rem;
		}
		.queryProcessing {
		    font-size: 0.36rem;
		    color: #888;
		}
	</style>
	</head>
	<body bgcolor="#f3f9f9">
		<div class="max">
			<!--banner图-->
			<% include ../header.html %>
			<div class="warpBox" id="calculatorBox">
				<div class="peccancyQuery XLQuery-home">
					<h1 class="p-q-tit"><img src="/images/icon-return.png" class="icon-return" id="back">预约结果</h1>
					<hr class="hrLine">
					<div class="successAppCode marBom">
						<i class="icon-semicircle semicircleLeft"></i>
						<i class="icon-semicircle semicircleRight"></i>
						<div class="successTitWord networdReport">
							<i class="icon-appSuccess"></i>预约成功！
						</div>
						<div class="successTitWord appCode zzbCode" >
							<div class="reportCode">返回给您的预约号为：</div>
							<div class="reportInquireCode"><span>${yyh}</span></div>
							<div class="queryProcessing">预约号用于查询预约结果时使用，请牢记！</div>
						</div>
					</div>
				</div>
				<div class="peccancyQuery queryResult userInfor">
					<h2 class="q-r-tit"><span></span>您的预约信息</h2>
					<div class="calculatorBox" >
						<div class="calculatorList appointment clearfix">
							<label>姓名：</label>
							<span>${name}</span>
						</div>
						<div class="calculatorList appointment clearfix">
							<label>证件号：</label>
							<span>${card}</span>
						</div>
						<div class="calculatorList appointment clearfix">
							<label>办理事项：</label>
							<span>${blsx}</span>
						</div>
						<div class="calculatorList appointment clearfix">
							<label>受理地点：</label>
							<span>${address}</span>
						</div>
						<div class="calculatorList appointment clearfix">
							<label>受理时间：</label>
							<span>${time}</span>
						</div>
					</div>
					<div class="btn-box">
						<input type="button" value="返回首页" id="agin"/>
					</div>
				</div>
			</div>
			<div style="height: 1.3rem;"></div>
			<div class="data-sources">服务来源：北京市公安局</div>
		</div>
		<script type="text/javascript" src="/js/hfzggjspcs/appointmentSuccess.js"></script>
	</body>
</html>
