.inquireTips {
    font-size: 0.28rem;
    color: #6e6e6e;
    margin: 0.416rem 0.55rem 0rem 1.175rem;
}
.inquireTips p {
    line-height: 0.6rem;
    color: #a1a9ac;
}
.inquireTips p:nth-of-type(1) {
    text-indent: -0.625rem;
}
.tab-content.inforConfirm .text-list-div label {
    width: 2.9rem;
}
.tab-content.inforConfirm .text-list-div span {
    width: -webkit-calc(100% - 3rem);
    width: -moz-calc(100% - 3rem);
    width: calc(100% - 3rem);
    text-align: left;
    float: left;
}
.tab-content.inforConfirm .text-list-div.iconList  span {
    width: -webkit-calc(100% - 3.5rem);
    width: -moz-calc(100% - 3.5rem);
    width: calc(100% - 3.5rem);
    color: #0083e0;
}
.sysMainten{
	text-align: center;
	margin: 2rem 0rem 4.652rem;
}
.MaintenCon{
	color: #b2b2b2;
	font-size: 0.3rem;
	margin-top: 0.444rem;
}
.maintenPic img{
	width: 3.222rem;
	height: 1.986rem;
}
#cityTrigger{
	color: #ababae;
}
