<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
  <title>信用中国</title>
  <link type="text/css" rel="stylesheet" href="/css/news.css" />
  <script type="text/javascript" src="/lib/zepto.min.js" ></script>
  <script type="text/javascript" src="/js/all.js"></script>
  <script>
      var randomKey = "<%= randomKey %>"
          ,userID = "<%= userID%>"
          ,clientID = "<%= clientID %>",
          cityID = "<%= cityID %>",
          citySRC = "<%= cityInfo.citySRC %>",
          cityName = "<%= cityInfo.cityName %>",
          local_x = "<%= local_x %>"
          ,local_y = "<%= local_y %>",
          localFrom = "<%= locals.localFrom %>";
  </script>
  <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
  <script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
<div class="max">
  <!--banner图-->
    <% include ../header.html %>
  <!--信用中国-->
  <div class="warpBox">
    <div class="peccancyQuery">
      <h1 class="p-q-tit">信用查询</h1>
      <hr class="hrLine">
      <div class="btn-box bj-insuranceSystem">
        <input type="button" value="统一社会信用代码查询" id="code"/>
        <input type="button" value="企业经营异常名录查询" id="enterprise"/>
        <input type="button" value="失信被执行人查询" id="lostTrust"/>
        <input type="button" value="重大税收违法案件当事人名单查询" id="taxIllegalIn"/>
        <input type="button" value="政府采购严重违法失信名单查询" id="government"/>
      </div>
    </div>
  </div>
  <div style="height: 1.3rem;"></div>
  <div class="data-sources">服务来源：信用中国</div>
</div>
<script>
    //根据当前城市显示banner图
    if (citySRC) {
        $("#credit_citySRC").attr("src", citySRC)
    } else {
        $("#credit_citySRC").attr("src", "/images/beijing.png")
    };
   $('#code').on("click",function(){
       var url="/credit?page=code&randomKey="+randomKey+"&userID="+userID.trim()+"&clientID="+clientID.trim()+"&cityID="+cityID.trim()+"&local_x="+local_x+"&local_y="+local_y;
       window.location.href=url;
   })
   $('#enterprise').on("click",function(){
       var url="/credit?page=enterprise&randomKey="+randomKey+"&userID="+userID.trim()+"&clientID="+clientID.trim()+"&cityID="+cityID.trim()+"&local_x="+local_x+"&local_y="+local_y;
       window.location.href=url;
   })
   $('#lostTrust').on("click",function(){
      var url="/credit?page=lostTrusteeInquiry&randomKey="+randomKey+"&userID="+userID.trim()+"&clientID="+clientID.trim()+"&cityID="+cityID.trim()+"&local_x="+local_x+"&local_y="+local_y;
      window.location.href=url;
   })
   $('#taxIllegalIn').on("click",function(){
      var url="/credit?page=taxIllegalInquiry&randomKey="+randomKey+"&userID="+userID.trim()+"&clientID="+clientID.trim()+"&cityID="+cityID.trim()+"&local_x="+local_x+"&local_y="+local_y;
      window.location.href=url;
   })
  $('#government').on("click",function(){
      var url="/credit?page=governmentProcurementInquiry&randomKey="+randomKey+"&userID="+userID.trim()+"&clientID="+clientID.trim()+"&cityID="+cityID.trim()+"&local_x="+local_x+"&local_y="+local_y;
      window.location.href=url;
  })
</script>
</body>
</html>