<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>重大税收违法案件当事人名单查询</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/credit/credit.css">
    <script type="text/javascript" src="/lib/zepto.min.js" ></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--重大税收违法案件当事人名单查询-->
		<div class="warpBox">
			<div class="peccancyQuery XLQuery-home regWH">
				<h1 class="p-q-tit">重大税收违法案件当事人名单查询</h1>
				<hr class="hrLine">
				<div class="text-list-div">
					<label>关键字</label>
					<input type="text" placeholder="请输入企业或个人信息" id="searchText"/>
				</div>
				<div class="lookBox">注：企业或个人信息（如名称、组织机构代码或身份证号）</div>
				<div class="btn-box">
					<input type="button" value="查询" id="search"/>
				</div>
			</div>
			<!--查询无结果-->
			<div class="peccancyQuery userInfor onlyStyle" style="display: none;" id="search_result">
				<h2 class="q-r-tit"><span></span><em class="new-credit" id="creditError">很抱歉，没有找到你要搜索的数据</em></h2>
			</div>

			<div class="numResult-box" id="personResult" style="display: none">
					<div class="peccancyQuery userInfor onlyStyle">
						<h2 class="q-r-tit"><span></span>根据当前检索条件共检测到<small class="success"><small id="total">2</small>&nbsp;条结果</small></h2>
						<hr class="hrLine">
						<div class="person-type" id="personType">
							<ul>
								<li class="active">主体类型/法人</li>
								<li>主体类型/自然人</li>
							</ul>
							<div class="under-line"></div>
						</div>
					</div>
					<!--主体类型/法人-->
					<div id="personList"></div>
					<!--<div class="tab-content font24">-->
						<!--<div class="text-list-div clearfix">-->
							<!--<label>主题类型/法人</label>-->
							<!--<span class="companyTitle">北京固本科技有限公司</span>-->
						<!--</div>-->
						<!--<div class="text-list-div clearfix">-->
							<!--<label>组织机构代码/身份证号</label>-->
							<!--<span>911110108697731101J</span>-->
						<!--</div>-->
						<!--<div class="text-list-div clearfix">-->
							<!--<label>记录类型（受惩黑名单）</label>-->
							<!--<span>3</span>-->
						<!--</div>-->
					<!--</div>-->
					<!--主体类型/自然人-->
					<!--<div class="tab-content font24" style="display: none;">-->
						<!--<div class="text-list-div clearfix">-->
							<!--<label>主题类型/自然人</label>-->
							<!--<span class="companyTitle">北京固本科技有限公司</span>-->
						<!--</div>-->
						<!--<div class="text-list-div clearfix">-->
							<!--<label>组织机构代码/身份证号</label>-->
							<!--<span>911110108697731101J</span>-->
						<!--</div>-->
						<!--<div class="text-list-div clearfix">-->
							<!--<label>记录类型（受惩黑名单）</label>-->
							<!--<span>3</span>-->
						<!--</div>-->
					<!--</div>-->
					<div id="personList2">
						<div class="tab-content"><p  id="personList3" style="text-align: center;font-size: .27rem; margin: .2rem 0.4rem;padding: .5rem 0;background: #fff">暂无自然法人数据</p></div>
					</div>


			</div>


		</div>
		<div style="height: 1.3rem;"></div>

		<div class="masktime" id="masktime" style="display: none">信用中国</div>

		<!--回到顶部开始
		<div id="backtop" class="backtop"></div>
		-->
		<!-- -----------------------------------------------查询动画提示开始---------------------------------- -->
		<div class="mask" style="opacity: 0;display: none" id="dialogMask"></div>
		<div class="dialog-tel timeM" style="text-align: center;display: none" id="dialog">
			<img src="/images/taxOffice/timg.gif" alt="" style="width: 40px">
			<p>加载中</p>
		</div>
		<!-- -----------------------------------------------查询动画提示结束--------------------------------- -->
		<div class="data-sources">服务来源：信用中国</div>
	</div>
	<script src="/js/credit/taxIllegalInquiry.js"></script>
</body>
</html>