<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>侵权盗版举报</title>
    <link type="text/css" rel="stylesheet" href="../../css/news.css" />
    <link rel="stylesheet" href="../../css/infringementPiracy/infringementPiracy.css" />
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" src="/lib/axios.js"></script>
	<script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max"  id="infringementMax">
		<!--banner图-->
		<div class="banner">
			<!--../../images/infringementPiracy/banner.png-->
			<img  :src="citySRC" src="../../images/infringementPiracy/banner.png">
			<div class="bannerTitle">侵权盗版举报</div>
		</div>
		<!--侵权盗版举报-->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">举报须知</h1>
				<hr class="hrLine">
				<div class="piracyTips">
					<p>感谢您对版权保护工作的支持，欢迎您举报有关 文字、影视、音乐、游戏、软件等作品以及互联网网站、网络销售平台、移动智能终端应用软件商店等领域涉及侵权盗版的违法行为。</p>
					<p>举报时最好能提供侵权盗版样品，提供样品时请写清样品来源。我们将按照“分级负责、属地管理，谁主管、谁负责，谁调查、谁答复”的原则，受理您反映的属于我们受理范围的举报。</p>
					<p>我们将对您的举报进行认真研究和处理，对您所提供的个人信息，我们将严格保密。对举报信息详实的案件，我们将优先受理。</p>
				</div>
				<div class="btn-box">
						<input type="button" value="去举报"  @click="report"/>
					</div>
			</div>
			
		</div>

        <!--提示语-->
        <div class="masktime" id="masktime" style="display:none;"></div>
        
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：国家广播电视总局</div>
	</div>
	<script src="/js/infringementPiracy/infringementPiracy.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>