/*首页-tab切换*/
.gjj-tab{
	font-size: 0;
	padding-bottom: 0.55rem;
	padding-top: 0.4rem;
}
.gjj-tab li{
	width: 50%;
	text-align: center;
	float: left;
	position: relative;
}
.gjj-tab li a{
	color: #364555;
	font-size: 0.388rem;
	display: inline-block;
}
.gjj-tab li.active a{
	color: #549dfb;
}
.gjj-tab li span{
	width: 0.388rem;
	height: 0.083rem;
	border-radius: 20px;
	display: inline-block;
	position: absolute;
	background: #549dfb;
	bottom: -0.2rem;
    left: 50%;
    margin-left: -0.194rem;
}
.spacTop{
	margin-top: 0;
	border-top: none;
}.rmbUnit{
	color: #797979;
	font-size: 0.388rem;
	font-weight: normal;
}
.spacTop .downMenu-style .selectDownMenu,.spacTop .downMenu-style input{
	-webkit-width: calc(100% - 3.8rem);
	-moz-width: calc(100% - 3.8rem);
	width: calc(100% - 3.8rem);
}
.calculationResult{
	border-top: 1px solid #eef0ef;
}
.peccancyQuery.userInfor .calculationResult .text-list-div label{
	width: 2.36rem;	
	padding-left: 0.388rem;
}
.peccancyQuery.userInfor .calculationResult .text-list-div .numberResults{
	min-width: 1.388rem;
	font-size: 0.388rem;
	color: #0083e0;
	width: auto;
	float: left;
	text-align: left;
}
.peccancyQuery.userInfor .calculationResult .text-list-div:nth-last-of-type(1){
	border-bottom: 1px solid #edefee;
}
.calculationResult .text-list-div .rmbUnit{
	float: left;
	line-height: 0.5rem;
}
/*说明*/
.promptCon{
	padding-bottom: 0.388rem;
}
.promptCon p{
	padding: 0 0.62rem 0 1.092rem;
	line-height: 0.472rem;
	color: #a1a9ac;
	font-size: 0.3rem;
}
.promptCon p span{
	color: #0083e0;
}
.promptCon p:nth-of-type(1),
.promptCon p:nth-of-type(2),
.promptCon p:nth-last-of-type(1){
	text-indent: -0.472rem;
}
