<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>房产税</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/taxCalculation/taxCalculation.css" />
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" src="/lib/axios.js"></script>
	<script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max" style="margin: 0 auto;">
		<!--房产税-->
		<div class="lvyou-title"><img src="/images/icon-return.png" @click="back" class="icon-return"/>房产税</div>
		<div class="ts-agreement">
			<p class="title">（一）纳税人</p>
			<p>房产税由产权所有人缴纳。产权属于全民所有的，由经营管理的单位缴纳。产权出典的，由承典人缴纳。产权所有人、承典人不在房产所在地的，或者产权未确定及租典纠纷未解决的，由房产代管人或者使用人缴纳。</p>
			<p class="title">（二）征税对象</p>
			<p>房产税以房产为征税对象。“房产”是以房屋形态表现的财产。房屋是指有屋面和围护结构（有墙或两边有柱），能够遮风避雨，可供人们在其中生产、工作、学习、娱乐、居住或储藏物资的场所。独立于房屋之外的建筑物，如围墙、烟囱、水塔、变电塔、油池油柜、酒窖菜窖、酒精池、糖蜜池、室外游泳池、玻璃暖房、砖瓦石灰窑以及各种油气罐等，不属于房产。对房地产开发企业建造的商品房，在售出前，不征收房产税；但对售出前房地产开发企业已使用或出租、出借的商品房应按规定征收房产税。</p>
			<p class="title">（三）税率</p>
			<p>房产税采用比例税率。依据房产原值或税务机关估值计税的，税率为1.2%</p>
			<p class="title">（四）纳税计算</p>
			<p>1、以房产原值为计税依据的，年应纳税额=房产原值*（1-30%）*1.2%</p>
			<p>2、以税务机关估值为计税依据的，年应纳税额=税务机关估值*1.2%</p>
			<p class="title">（五）举例说明</p>
			<p>某房地产开发企业房产售出前已使用部分房产作为办公用房，房产原值为1000万元，该房地产开发企业当年缴纳多少房产税？</p>
			<p>年应纳税额=1000*（1-30%）*1.2%=8.4万元</p>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/propertyTax/explain.js"></script>
<script type="text/javascript" src="/js/all.js"></script>
</html>