<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>房产税</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/taxCalculation/taxCalculation.css" />
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" src="/lib/axios.js"></script>
	<script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            citySRC = "<%= cityInfo.citySRC %>",
            cityName = "<%= cityInfo.cityName %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max">
		<!--banner图-->
		<% include ../header.html %>
		<!--房产税-->
		<div class="warpBox">
			<div class="peccancyQuery propertyTax">
				<h1 class="p-q-tit">房产税</h1>
				<div class="text-list-div">
					<label>有无房产原值</label>
					<div class="accounts-all">
				    	<span id="sexGirl"><picture @click="tab(0)" :class="{active:tabFlag==0}"></picture>无</span>
						<span id="sexBoy"><picture @click="tab(1)" :class="{active:tabFlag==1}"></picture>有</span>
					</div>
				</div>
				<div class="text-list-div">
					<label>房产原值或税务机关估值</label>
					<input v-model="propertyValue" type="number" placeholder="请输入数值" />
				</div>
				<div class="btn-box">
					<input @click="calc" type="button" value="计算" />
				</div>
				<div class="viewSample"><a @click="checkEg(true)">查看示例</a></div>
			</div>
			<!--计算结果-->
			<div class="peccancyQuery queryResult userInfor onlyStyle" v-if="calcResult">
				<h2 class="q-r-tit"><span></span>计算结果</h2>
				<div class="calculationResult">
					<div class="text-list-div clearfix">
						<label>应纳税额</label>
						<span class="numberResults">{{calcResult}}</span>
						<b class="rmbUnit">元</b>
					</div>
					<div class="noteResult">注：以上结果，仅供参考</div>
				</div>
			</div>
			<!--说明-->
			<div class="peccancyQuery queryResult userInfor onlyStyle">
				<div class="promptCon">
					<p>说明：</p>
					<p>1、<a href="javascript:;" class="basePage" @click="jump">房产税</a>基本说明</p>
					<p>2、税率：房产税采用比例税率。依据房产原值或税务机关估值计税的，税率为1.2%</p>
					<p class="taxTitle">纳税计算：</p>
					<p>1、以房产原值为计税依据的：年应纳税额=房产原值*（1-30%）*1.2%</p>
					<p>速算扣除数：</p>
					<p>2、以税务机关估值为计税依据的：年应纳税额=税务机关估值*1.2%</p>
				</div>
			</div>
		</div>
		<div style="height:1.5rem"></div>
		<div class="data-sources">服务来源：北京市地方税务局</div>
		<div class="masktime" id="masktime" v-if="masktime">{{masktime}}</div>
		<div class="mask" v-if="egFlag"></div>
		<div class="dialog-examples dialog-property" v-if="egFlag">
			<p>示例：某房地产开发企业房产售出前已使用部分房产作为办公用房，房产原值为1000万元，该房地产开发企业当年缴纳多少房产税？</p>
			<p>年应纳税额=1000*（1-30%）*1.2%=8.4万元</p>
			<div class="btn-close-box">
				<a @click="checkEg(false)" href="javascript:;">好的，我明白了</a>
			</div>
		</div>
	</div>
	<!--示例-->
</body>
<script type="text/javascript" src="/js/propertyTax/propertyTax.js"></script>
<script type="text/javascript" src="/js/all.js"></script>
</html>
