<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>退出中国国籍审批初审</title>
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/wgrzhjl/wgrzhjl.css" />
	<link rel="stylesheet" href="/css/mobileSelect.css" />
    <script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
	<script type="text/javascript" src="/js/hospital/mobileSelect.js" ></script>
	<script type="text/javascript" src="/lib/zepto.min.js" ></script>
	<script type="text/javascript" src="/js/all.js"></script>
	<script>
		var randomKey = "<%= randomKey %>"
				,userID = "<%= userID%>"
				,clientID = "<%= clientID %>",
				citySRC = "<%= cityInfo.citySRC %>",
				cityName = "<%= cityInfo.cityName %>",
				cityInfo = "<%= cityInfo %>",
				cityID = "<%= cityID %>",
				local_x = "<%= local_x %>"
				,local_y = "<%= local_y %>",
				localFrom = "<%= locals.localFrom %>";
	</script>
    <style>
    	.calculatorList span, .calculatorList input{
    		overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;
    	}
    </style>
	</head>
	<body bgcolor="#f3f9f9">
	<div class="max">
		<!--banner图-->
		<% include ../header.html %>
		<!---->
		<div class="warpBox">
			<div class="peccancyQuery">
				<h1 class="p-q-tit">
					<img src="/images/icon-return.png" class="icon-return" id="back">
					<div class="address"><span><%= cityInfo.cityName %></span></div>
					退出中国国籍审批初审预约
				</h1>
				<hr class="hrLine">
				<div class="calculatorBox">
					<div class="calculatorList appointment clearfix">
						<label>办理事项：</label>
						<em class="listTit">退出中国国籍审批初审</em>
					</div>
					<div class="calculatorList appointment clearfix">
						<label>姓名：</label>
						<span id="contactName">毛盼香</span>
					</div>
					<div class="calculatorList appointment clearfix">
						<label>手机号码：</label>
						<span id="telePhone">15510225145</span>
					</div>
					<div class="calculatorList appointment clearfix">
						<label>身份证号：</label>
						<span id="idNo">142226200003252304</span>
					</div>
					<div class="calculatorList appointment clearfix">
						<label>办事地点：</label>
						<span id="address">密云分局</span>
					</div>
					<div class="publicListText">
						<label>预约日期：</label>
						<span id="timeTrigger">请选择</span>
						<img src="/images/wgrzhjl/date.png" class="icon-date" id="time">
					</div>
					<div class="publicListText">
						<label>时间段：</label>
						<span id="timeDateTrigger">请选择</span>
						<img src="/images/icon-downMenu.png" class="icon-downMenu" id="timeDate">
					</div>
				</div>
				<div class="btn-box">
					<input type="button" value="提 交" id="submit"/>
				</div>
			</div>

				<div class="masktime" id="masktime" style="display:none;"></div>
			<!--默认提示-->
			<div class="login-tips wgrzhjl clearfix">
					<span class="wgTipsPicBox"><img src="/images/wgrzhjl/tips.png"></span>
					<span class="wgTipsWords">重要提示:目前该业务仅在北京市公安局出入境管理局接待大厅受理（地址：北京市东城区安定门东大街二号），请妥善确认您所选择的受理单位。如您仍需了解具体情况请拨打咨询电话:84020101。</span>
			</div>
		</div>
		<div style="height: 1.3rem;"></div>
		<div class="data-sources">服务来源：北京市公安局</div>
	</div>
		<script type="text/javascript" src="/js/exitChinaNation/appointment.js"></script>
	</div>
</body>
</html>
