.sameNameNum {
    float: right;
    margin-right: 0.55rem;
}
.sameNameNum b {
    color: #0083e0;
    font-weight: normal;
    margin: 0 0.16rem;
}
.peccancyQuery.userInfor .text-list-div .supervision-companyTitle {
    color: #056fb6;
}
.supervisionNotDate {
    text-align: center;
    color: #777;
    font-size: 0.33rem;
    line-height: 1.66rem;
}
/*联系方式弹框*/
.dialog-tel{
	background: #fff;
	margin:0 0.33rem;
	height: 3.853rem;
	position: fixed;
	top: 50%;
	margin-top: -1.9rem;
	z-index: 100;
	width: -webkit-calc(100% - 0.66rem);
	width: -moz-calc(100% - 0.66rem);
	width: calc(100% - 0.66rem);
	border-radius: 5px;
}
.dialog-tel .titTel{
	height: 2.77rem;
	line-height: 2.77rem;
	font-size: 0.416rem;
	color: #474747;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.dialog-tel .btn-tel{
	font-size: 0;
}
.dialog-tel .btn-tel a{
	display: inline-block;
	width: 50%;
	height: 1.083rem;
	line-height: 1.083rem;
	color: #329dfc;
	font-size: 0.416rem;
	text-align: center;
}
.dialog-tel .btn-tel a:nth-of-type(1){
	border-right: 1px solid #ececec;
	color: #383838;
}