<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>企业所得税</title>
    <link type="text/css" rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/taxCalculation/taxCalculation.css" />
	<script type="text/javascript" src="/lib/vue.min.js"></script>
	<script type="text/javascript" src="/lib/axios.js"></script>
    <script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" language="javascript">
        var randomKey = "<%= randomKey %>"
            ,userID = "<%= userID%>"
            ,clientID = "<%= clientID %>",
            cityID = "<%= cityID %>",
            local_x = "<%= local_x %>"
            ,local_y = "<%= local_y %>",
            localFrom = "<%= locals.localFrom %>";
	</script>
	<script language="JavaScript">var _trackDataType = 'web';var _trackData = _trackData || [];</script>
	<script type="text/javascript" charset="utf-8" id="kpyfx_js_id_10004615" src="//fxsjcj.kaipuyun.cn/count/10004615/10004615.js"></script>
</head>
<body bgcolor="#f3f9f9">
	<div class="max" id="max">
		<!--企业所得税-->
		<div class="lvyou-title"><img src="/images/icon-return.png" class="icon-return" @click="back" />企业所得税</div>
		<div class="ts-agreement">
			<p class="title">企业所得税的基本规定：</p>
			<p class="title">(一)纳税义务人：</p>
			<p>根据《中华人民共和国企业所得税暂行条例》规定，实行独立核算的企业或者组织，为企业所得税的纳税义务人。独立经济核算的企业或者组织，是指纳税人同时具备以下三个条件：</p>
			<p>1、在银行开设结算账户；</p>
			<p>2、独立建立账簿、编制财务会计报表；</p>
			<p>3、独立计算盈亏。</p>
			<p>下列实行独立经济核算的企业或者组织，为企业所得税的纳税义务人：国有企业；集体企业；私营企业；联营企业；股份制企业；有生产、经营所得和其他所得的其他组织。</p>
			<p>上述所称国有企业、集体企业、私营企业、联营企业、股份制企业，是指按国家有关规定注册、登记的上述各类企业。</p>
			<p>上述所称有生产、经营所得和其他所得的其他组织，是指经国家有关部门批准，依法注册、登记的事业单位、社会团体等组织。</p>
			<p class="title">(二) 征税范围：</p>
			<p>中华人民共和国境内的企业，除外商投资企业和外国企业外，应当就其生产、经营所得和其他所得，缴纳企业所得税。企业的生产、经营所得和其他所得，包括来源于中国境内、境外的所得。</p>
			<p>生产、经营所得，是指从事物质生产、交通运输、商品流通、劳务服务，以及经国务院财政部门确认的其他营利事业取得的所得。</p>
			<p>其他所得，是指股息、利息、租金、转让各类资产、特许权使用费以及营业外收益等所得。</p>
			<p class="title">（三）纳税计算：</p>
			<p>(一)企业所得税应纳税所得额：纳税人每一纳税年度的收入总额减去准予扣除项目后的余额为应纳税所得额。</p>
			<p>企业所得税应纳税所得额的计算公式：</p>
			<p>应纳税所得额＝收入总额－准予扣除项目金额</p>
			<p>(二)企业所得税应纳税额，按应纳税所得额计算，税率为25％。</p>
			<p>企业所得税应纳税额的计算公式：</p>
			<p>应纳税额＝应纳税所得额×25%</p>
		</div>
	</div>
	<script type="text/javascript" src="/js/corporateTax/explain.js"></script>
	
</body>
</html>